<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1539e-en-bul_17x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,11}</string>
                <key>spriteSourceSize</key>
                <string>{17,11}</string>
                <key>textureRect</key>
                <string>{{77,375},{17,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_20x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{77,338},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_25x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{45,730},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_25x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{25,51}</string>
                <key>textureRect</key>
                <string>{{66,811},{25,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_27x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,151}</string>
                <key>spriteSourceSize</key>
                <string>{27,151}</string>
                <key>textureRect</key>
                <string>{{71,460},{27,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_27x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,79}</string>
                <key>spriteSourceSize</key>
                <string>{27,79}</string>
                <key>textureRect</key>
                <string>{{72,730},{27,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_30x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,85}</string>
                <key>spriteSourceSize</key>
                <string>{30,85}</string>
                <key>textureRect</key>
                <string>{{2,772},{30,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_30x85_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,85}</string>
                <key>spriteSourceSize</key>
                <string>{30,85}</string>
                <key>textureRect</key>
                <string>{{34,772},{30,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_33x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{33,51}</string>
                <key>textureRect</key>
                <string>{{59,677},{33,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_35x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{59,658},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_36x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,43}</string>
                <key>textureRect</key>
                <string>{{62,613},{36,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_41x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{2,723},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_50x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,27}</string>
                <key>spriteSourceSize</key>
                <string>{50,27}</string>
                <key>textureRect</key>
                <string>{{2,694},{50,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_55x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{2,657},{55,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_58x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,33}</string>
                <key>textureRect</key>
                <string>{{2,622},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_58x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{58,39}</string>
                <key>textureRect</key>
                <string>{{2,581},{58,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_63x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{63,35}</string>
                <key>textureRect</key>
                <string>{{2,544},{63,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{2,522},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_67x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,60}</string>
                <key>spriteSourceSize</key>
                <string>{67,60}</string>
                <key>textureRect</key>
                <string>{{2,460},{67,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_73x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,59}</string>
                <key>spriteSourceSize</key>
                <string>{73,59}</string>
                <key>textureRect</key>
                <string>{{2,338},{73,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_73x59_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,59}</string>
                <key>spriteSourceSize</key>
                <string>{73,59}</string>
                <key>textureRect</key>
                <string>{{2,399},{73,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_81x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{2,250},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_83x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,59}</string>
                <key>spriteSourceSize</key>
                <string>{83,59}</string>
                <key>textureRect</key>
                <string>{{2,189},{83,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_83x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,61}</string>
                <key>spriteSourceSize</key>
                <string>{83,61}</string>
                <key>textureRect</key>
                <string>{{2,126},{83,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_96x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{96,61}</string>
                <key>textureRect</key>
                <string>{{2,63},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1539e-en-bul_97x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,59}</string>
                <key>textureRect</key>
                <string>{{2,2},{97,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1539e-en-bul.png</string>
            <key>size</key>
            <string>{101,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc17b16059a9749f7edc656e8ccc6cf0:83737165251db47c4f836bedfb3cbc1b:57fa103765f1b2c712bb2df3c6acca0a$</string>
            <key>textureFileName</key>
            <string>u1539e-en-bul.png</string>
        </dict>
    </dict>
</plist>
