<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u074e-hunt-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {12, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 117}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 118}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_18x18_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 100}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_19x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 36}</string>
			<key>spriteSourceSize</key>
			<string>{19, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{184, 35}, {19, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_20x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {14, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 85}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_20x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{118, 100}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_22x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 31}</string>
			<key>spriteSourceSize</key>
			<string>{22, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 85}, {22, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_26x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {20, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 39}</string>
			<key>spriteSourceSize</key>
			<string>{26, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 73}, {26, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_32x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {30, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 18}</string>
			<key>spriteSourceSize</key>
			<string>{32, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{38, 234}, {32, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_36x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {32, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 18}</string>
			<key>spriteSourceSize</key>
			<string>{36, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 234}, {36, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_37x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 35}</string>
			<key>spriteSourceSize</key>
			<string>{37, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{129, 63}, {37, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_43x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 38}</string>
			<key>spriteSourceSize</key>
			<string>{43, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 43}, {43, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_43x41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {33, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 0}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_53x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {49, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 26}</string>
			<key>spriteSourceSize</key>
			<string>{53, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{129, 35}, {53, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_55x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {29, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 55}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 28}, {55, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_59x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 33}</string>
			<key>spriteSourceSize</key>
			<string>{59, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 0}, {59, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_64x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {52, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{64, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 156}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_64x76_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {52, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{64, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_64x76_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {52, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{64, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 78}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u074e-hunt-body_70x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {60, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 26}</string>
			<key>spriteSourceSize</key>
			<string>{70, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 0}, {70, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u074e-hunt-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>