<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u39-cony-bul_71x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {67, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 56}</string>
			<key>spriteSourceSize</key>
			<string>{71, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{99, 0}, {71, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u39-cony-bul_97x83.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {95, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 83}</string>
			<key>spriteSourceSize</key>
			<string>{97, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {97, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>u39-cony-bul</string>
		<key>textureFileName</key>
		<string>u39-cony-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>