<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u9999e-test-bul2_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{126,378},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_100x100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{385,154},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_100x100_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{267,258},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_100x100_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{371,258},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_100x100_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{350,362},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_112x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,186}</string>
                <key>spriteSourceSize</key>
                <string>{112,186}</string>
                <key>textureRect</key>
                <string>{{4,198},{112,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{230,362},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_11x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,56}</string>
                <key>spriteSourceSize</key>
                <string>{11,56}</string>
                <key>textureRect</key>
                <string>{{111,388},{11,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_146x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{385,4},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_156x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{225,4},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{454,414},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_38x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,144}</string>
                <key>spriteSourceSize</key>
                <string>{38,144}</string>
                <key>textureRect</key>
                <string>{{489,200},{38,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{489,154},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_42x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{42,72}</string>
                <key>textureRect</key>
                <string>{{4,388},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_50x175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,175}</string>
                <key>spriteSourceSize</key>
                <string>{50,175}</string>
                <key>textureRect</key>
                <string>{{213,183},{50,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_57x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{50,388},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_61x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,186}</string>
                <key>spriteSourceSize</key>
                <string>{61,186}</string>
                <key>textureRect</key>
                <string>{{84,4},{61,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_72x175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,175}</string>
                <key>spriteSourceSize</key>
                <string>{72,175}</string>
                <key>textureRect</key>
                <string>{{149,4},{72,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_74x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{454,362},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_76x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,190}</string>
                <key>spriteSourceSize</key>
                <string>{76,190}</string>
                <key>textureRect</key>
                <string>{{4,4},{76,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_89x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,180}</string>
                <key>spriteSourceSize</key>
                <string>{89,180}</string>
                <key>textureRect</key>
                <string>{{120,194},{89,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-bul2_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{267,162},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u9999e-test-bul2.png</string>
            <key>size</key>
            <string>{535,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3774dc39e22de77c6da816f171960152:cc8b8d2f1263a961b5cab8ced9c3d564:67b3c2b95f939d9a7518774295d414ec$</string>
            <key>textureFileName</key>
            <string>u9999e-test-bul2.png</string>
        </dict>
    </dict>
</plist>
