<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u9999e-test-body_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{141,219},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_108x213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,213}</string>
                <key>spriteSourceSize</key>
                <string>{108,213}</string>
                <key>textureRect</key>
                <string>{{4,188},{108,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_119x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,135}</string>
                <key>spriteSourceSize</key>
                <string>{119,135}</string>
                <key>textureRect</key>
                <string>{{4,405},{119,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{4,702},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_12x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{4,702},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{4,544},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{4,638},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_141x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{334,68},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_147x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{183,68},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{116,333},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{202,522},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_175x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,180}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{4,4},{175,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_21x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,141}</string>
                <key>spriteSourceSize</key>
                <string>{21,141}</string>
                <key>textureRect</key>
                <string>{{116,188},{21,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{453,4},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_266x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,60}</string>
                <key>spriteSourceSize</key>
                <string>{266,60}</string>
                <key>textureRect</key>
                <string>{{183,4},{266,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{292,633},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_30x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{292,633},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_31x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{292,582},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_31x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{326,633},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{382,513},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_32x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{382,559},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_33x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{361,643},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_33x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{290,522},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{141,188},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{327,587},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_34x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{327,587},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_35x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{274,479},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{376,473},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{365,605},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_47x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{428,417},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_47x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{430,220},{47,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_50x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{418,518},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_50x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{418,555},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{430,306},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_50x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{430,306},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_51x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,25}</string>
                <key>textureRect</key>
                <string>{{327,558},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_51x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{327,518},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_52x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,67}</string>
                <key>textureRect</key>
                <string>{{428,346},{52,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_53x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{418,592},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_53x21_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{418,592},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_54x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,23}</string>
                <key>spriteSourceSize</key>
                <string>{54,23}</string>
                <key>textureRect</key>
                <string>{{292,696},{54,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_54x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{370,398},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_56x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{350,696},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_56x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{410,696},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_56x22_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{350,696},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_57x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{398,669},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_57x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{398,669},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_58x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{409,641},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_58x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{230,617},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_58x41_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{230,662},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_59x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{59,41}</string>
                <key>textureRect</key>
                <string>{{313,473},{59,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_60x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{226,582},{60,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_60x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{418,483},{60,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{226,522},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_61x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{61,71}</string>
                <key>textureRect</key>
                <string>{{305,398},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{409,617},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_68x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{202,479},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_68x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{202,479},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_71x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{127,479},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_82x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{140,537},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_82x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{144,621},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_84x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{217,396},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_85x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{245,219},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_86x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,78}</string>
                <key>spriteSourceSize</key>
                <string>{86,78}</string>
                <key>textureRect</key>
                <string>{{325,316},{86,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_86x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{127,396},{86,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_88x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{141,315},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_88x77_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{141,315},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_88x77_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{233,315},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{334,220},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u9999e-test-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{471,641},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u9999e-test-body.png</string>
            <key>size</key>
            <string>{484,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1873094d1d1d4e23dedc86c25d7f3595:0b39f97dbab23c4e27ba31079c8208f7:7ecf6f7a75d5695b8165b0bcc766dcab$</string>
            <key>textureFileName</key>
            <string>u9999e-test-body.png</string>
        </dict>
    </dict>
</plist>
