<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1222u-cony-bul_277x273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,273}</string>
                <key>spriteSourceSize</key>
                <string>{277,273}</string>
                <key>textureRect</key>
                <string>{{4,4},{277,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1222u-cony-bul_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{285,91},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1222u-cony-bul_36x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{285,133},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1222u-cony-bul_58x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,83}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{285,4},{58,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1222u-cony-bul.png</string>
            <key>size</key>
            <string>{347,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e49ce036178ac3e9238a893215e9bd:b2a40e77771e216fd5048f5d5656d871:6542932889f9a196ffe7048cad5cfbd6$</string>
            <key>textureFileName</key>
            <string>u1222u-cony-bul.png</string>
        </dict>
    </dict>
</plist>
