<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91067-mundo-bul_26x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{69,102},{26,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul_65x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,44}</string>
                <key>spriteSourceSize</key>
                <string>{65,44}</string>
                <key>textureRect</key>
                <string>{{2,102},{65,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul_98x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91067-mundo-bul.png</string>
            <key>size</key>
            <string>{102,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40697913424883be60755f5e8cc0553c:73a74d2c51aecc9e27ebc6c74d31b688:4e44cb6467ddf51edc54900f3e5116bf$</string>
            <key>textureFileName</key>
            <string>u91067-mundo-bul.png</string>
        </dict>
    </dict>
</plist>
