<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91067-mundo-bul2_108x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{2,110},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{172,131},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_26x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{144,136},{26,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{112,136},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_36x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{112,102},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_42x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{150,102},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_86x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91067-mundo-bul2_98x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{90,2},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91067-mundo-bul2.png</string>
            <key>size</key>
            <string>{194,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0f0d63f9bdc71f6b8c4d2cc72308dd:3806d73d5ac9834f2f5d7fccfba91cc0:e50d35df6efe7fa149e5569d9be539b3$</string>
            <key>textureFileName</key>
            <string>u91067-mundo-bul2.png</string>
        </dict>
    </dict>
</plist>
