<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2025e-ryu-bul2_110x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{110,124}</string>
                <key>textureRect</key>
                <string>{{296,4},{110,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_130x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,184}</string>
                <key>spriteSourceSize</key>
                <string>{130,184}</string>
                <key>textureRect</key>
                <string>{{4,4},{130,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_154x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,130}</string>
                <key>spriteSourceSize</key>
                <string>{154,130}</string>
                <key>textureRect</key>
                <string>{{138,4},{154,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_18x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{93,233},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_19x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,82}</string>
                <key>spriteSourceSize</key>
                <string>{19,82}</string>
                <key>textureRect</key>
                <string>{{595,93},{19,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_19x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,82}</string>
                <key>spriteSourceSize</key>
                <string>{19,82}</string>
                <key>textureRect</key>
                <string>{{618,93},{19,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_19x82_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,82}</string>
                <key>spriteSourceSize</key>
                <string>{19,82}</string>
                <key>textureRect</key>
                <string>{{635,4},{19,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_19x82_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,82}</string>
                <key>spriteSourceSize</key>
                <string>{19,82}</string>
                <key>textureRect</key>
                <string>{{641,90},{19,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{138,138},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_50x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,115}</string>
                <key>spriteSourceSize</key>
                <string>{50,115}</string>
                <key>textureRect</key>
                <string>{{368,132},{50,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_50x115_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,115}</string>
                <key>spriteSourceSize</key>
                <string>{50,115}</string>
                <key>textureRect</key>
                <string>{{410,4},{50,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_50x115_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,115}</string>
                <key>spriteSourceSize</key>
                <string>{50,115}</string>
                <key>textureRect</key>
                <string>{{422,123},{50,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_50x115_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,115}</string>
                <key>spriteSourceSize</key>
                <string>{50,115}</string>
                <key>textureRect</key>
                <string>{{464,4},{50,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_53x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{578,4},{53,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_54x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,99}</string>
                <key>spriteSourceSize</key>
                <string>{54,99}</string>
                <key>textureRect</key>
                <string>{{537,108},{54,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_56x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{56,100}</string>
                <key>textureRect</key>
                <string>{{518,4},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_57x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,100}</string>
                <key>spriteSourceSize</key>
                <string>{57,100}</string>
                <key>textureRect</key>
                <string>{{476,123},{57,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_61x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,105}</string>
                <key>spriteSourceSize</key>
                <string>{61,105}</string>
                <key>textureRect</key>
                <string>{{235,138},{61,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_62x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{169,138},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_64x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,117}</string>
                <key>spriteSourceSize</key>
                <string>{64,117}</string>
                <key>textureRect</key>
                <string>{{300,132},{64,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_64x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{595,179},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_72x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{93,192},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2025e-ryu-bul2_85x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,59}</string>
                <key>textureRect</key>
                <string>{{4,192},{85,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2025e-ryu-bul2.png</string>
            <key>size</key>
            <string>{664,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d960fc858956f2fd738037bb74bd3b2b:5f9e0c765441e0f2b77fd7525a3e0309:63e717283403a3df22ec9d0ad2999184$</string>
            <key>textureFileName</key>
            <string>u2025e-ryu-bul2.png</string>
        </dict>
    </dict>
</plist>
