<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1287u-sally-bul3_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{4,296},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1287u-sally-bul3_137x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{4,155},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1287u-sally-bul3_150x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,147}</string>
                <key>spriteSourceSize</key>
                <string>{150,147}</string>
                <key>textureRect</key>
                <string>{{4,4},{150,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1287u-sally-bul3_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{124,296},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1287u-sally-bul3.png</string>
            <key>size</key>
            <string>{162,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab908f1462d97a83c6427039c10369c:0335c0bb5f87a2639b4a90b42bd639b7:1e60ffe23bc7686372e386a6eea675c9$</string>
            <key>textureFileName</key>
            <string>u1287u-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
