<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1494u-as-e-bul_78x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{4,4},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1494u-as-e-bul.png</string>
            <key>size</key>
            <string>{86,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a84a2b1a0e4e6f1617fb1372601aa4d:abb49df163da352ee4588f95a09986a5:3e58ab4dc58bc696b1ced678af6d8fc4$</string>
            <key>textureFileName</key>
            <string>u1494u-as-e-bul.png</string>
        </dict>
    </dict>
</plist>
