<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u406e-cony-bul2_109x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,62}</string>
                <key>spriteSourceSize</key>
                <string>{109,62}</string>
                <key>textureRect</key>
                <string>{{1196,4},{109,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_111x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,95}</string>
                <key>spriteSourceSize</key>
                <string>{111,95}</string>
                <key>textureRect</key>
                <string>{{1033,130},{111,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_114x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,93}</string>
                <key>spriteSourceSize</key>
                <string>{114,93}</string>
                <key>textureRect</key>
                <string>{{1076,4},{114,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_121x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,108}</string>
                <key>spriteSourceSize</key>
                <string>{121,108}</string>
                <key>textureRect</key>
                <string>{{201,144},{121,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_124x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,100}</string>
                <key>textureRect</key>
                <string>{{903,135},{124,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_124x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{520,4},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_127x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,114}</string>
                <key>spriteSourceSize</key>
                <string>{127,114}</string>
                <key>textureRect</key>
                <string>{{623,138},{127,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_131x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,126}</string>
                <key>textureRect</key>
                <string>{{650,4},{131,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_134x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,125}</string>
                <key>spriteSourceSize</key>
                <string>{134,125}</string>
                <key>textureRect</key>
                <string>{{787,4},{134,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_136x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,90}</string>
                <key>spriteSourceSize</key>
                <string>{136,90}</string>
                <key>textureRect</key>
                <string>{{1150,103},{136,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_137x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{328,144},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_141x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,110}</string>
                <key>spriteSourceSize</key>
                <string>{141,110}</string>
                <key>textureRect</key>
                <string>{{756,136},{141,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_143x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,120}</string>
                <key>spriteSourceSize</key>
                <string>{143,120}</string>
                <key>textureRect</key>
                <string>{{927,4},{143,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_146x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,110}</string>
                <key>spriteSourceSize</key>
                <string>{146,110}</string>
                <key>textureRect</key>
                <string>{{471,139},{146,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_153x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,134}</string>
                <key>spriteSourceSize</key>
                <string>{153,134}</string>
                <key>textureRect</key>
                <string>{{201,4},{153,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_154x129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,129}</string>
                <key>spriteSourceSize</key>
                <string>{154,129}</string>
                <key>textureRect</key>
                <string>{{360,4},{154,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_191x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,200}</string>
                <key>spriteSourceSize</key>
                <string>{191,200}</string>
                <key>textureRect</key>
                <string>{{4,4},{191,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_19x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{73,210},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u406e-cony-bul2_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{4,210},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u406e-cony-bul2.png</string>
            <key>size</key>
            <string>{1309,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf44b62281842c7ad381c10d4772784d:1c0ef1370023e7b884778230465b6aca:36f73e29019d3caa1fbcab6edabe01c4$</string>
            <key>textureFileName</key>
            <string>u406e-cony-bul2.png</string>
        </dict>
    </dict>
</plist>
