<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1028h-sally-body_104x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,6}</string>
                <key>spriteSourceSize</key>
                <string>{104,6}</string>
                <key>textureRect</key>
                <string>{{71,473},{104,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{498,202},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{493,362},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{141,497},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_166x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{166,150}</string>
                <key>textureRect</key>
                <string>{{228,367},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{466,510},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{207,417},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{479,444},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x16_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{486,496},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x16_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{179,483},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{207,395},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{159,495},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{478,474},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{16,6}</string>
                <key>textureRect</key>
                <string>{{476,464},{16,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{157,483},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_188x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,186}</string>
                <key>textureRect</key>
                <string>{{228,177},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{490,146},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_199x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,38}</string>
                <key>spriteSourceSize</key>
                <string>{199,38}</string>
                <key>textureRect</key>
                <string>{{4,395},{199,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{470,106},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{488,4},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_20x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{488,28},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_20x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{488,396},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_220x214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,214}</string>
                <key>textureRect</key>
                <string>{{4,177},{220,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{479,420},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{462,146},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_25x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{167,437},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{468,202},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_26x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{196,463},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{196,437},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_30x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,12}</string>
                <key>spriteSourceSize</key>
                <string>{30,12}</string>
                <key>textureRect</key>
                <string>{{432,510},{30,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{398,409},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_30x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{398,447},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_30x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{398,485},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{468,172},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{398,367},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_38x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{470,84},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_38x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{470,58},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_398x169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,169}</string>
                <key>spriteSourceSize</key>
                <string>{398,169}</string>
                <key>textureRect</key>
                <string>{{4,4},{398,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_40x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{432,450},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{464,324},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{420,318},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{432,482},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{466,294},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{466,228},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{466,261},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{420,274},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{420,228},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{432,420},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_44x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{420,174},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{4,503},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_46x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{462,122},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_48x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{436,396},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{406,122},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{436,362},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{406,58},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_63x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{4,437},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_66x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{71,497},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_78x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{406,4},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_82x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,10}</string>
                <key>spriteSourceSize</key>
                <string>{82,10}</string>
                <key>textureRect</key>
                <string>{{71,483},{82,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_92x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,32}</string>
                <key>spriteSourceSize</key>
                <string>{92,32}</string>
                <key>textureRect</key>
                <string>{{71,437},{92,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1028h-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{499,444},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1028h-sally-body.png</string>
            <key>size</key>
            <string>{512,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35d421c13b423a01425c4ef4a3965bf:abca841f5787ab08b53319caa0537ddf:eeaa29b8cbf5450a8d5bc3c764429d9c$</string>
            <key>textureFileName</key>
            <string>u1028h-sally-body.png</string>
        </dict>
    </dict>
</plist>
