<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91125-mach-body_116x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,20}</string>
                <key>spriteSourceSize</key>
                <string>{116,20}</string>
                <key>textureRect</key>
                <string>{{128,190},{116,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_120x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,66}</string>
                <key>textureRect</key>
                <string>{{4,132},{120,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_152x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,124}</string>
                <key>spriteSourceSize</key>
                <string>{152,124}</string>
                <key>textureRect</key>
                <string>{{4,4},{152,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{104,240},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{212,238},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_20x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{104,202},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_20x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{220,82},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{40,246},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{212,214},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_32x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{4,244},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{170,214},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{128,214},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_40x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{206,4},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_42x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{160,4},{42,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{206,50},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{56,202},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{4,202},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{182,126},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_50x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{128,132},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91125-mach-body_56x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,38}</string>
                <key>textureRect</key>
                <string>{{160,84},{56,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91125-mach-body.png</string>
            <key>size</key>
            <string>{254,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d1756be6c8269afadf463af41164175:8088d0428d2595d43ba0346364e363c7:c66740b69fcf4f442ff1f91fd8c7a31c$</string>
            <key>textureFileName</key>
            <string>u91125-mach-body.png</string>
        </dict>
    </dict>
</plist>
