<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u50018-enemy03-bul_22x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {18, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 14}</string>
			<key>spriteSourceSize</key>
			<string>{22, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 16}, {22, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50018-enemy03-bul_24x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 14}</string>
			<key>spriteSourceSize</key>
			<string>{24, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 0}, {24, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50018-enemy03-bul_28x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {24, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 16}</string>
			<key>spriteSourceSize</key>
			<string>{28, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 38}, {28, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50018-enemy03-bul_30x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{30, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 64}</string>
		<key>name</key>
		<string>u50018-enemy03-bul</string>
		<key>textureFileName</key>
		<string>u50018-enemy03-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>