<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3003e-alice-body_100x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{288,747},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_101x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{101,42}</string>
                <key>textureRect</key>
                <string>{{308,654},{101,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_103x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,43}</string>
                <key>spriteSourceSize</key>
                <string>{103,43}</string>
                <key>textureRect</key>
                <string>{{198,700},{103,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_103x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,46}</string>
                <key>spriteSourceSize</key>
                <string>{103,46}</string>
                <key>textureRect</key>
                <string>{{181,747},{103,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_106x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,47}</string>
                <key>spriteSourceSize</key>
                <string>{106,47}</string>
                <key>textureRect</key>
                <string>{{198,649},{106,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_108x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{390,4},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_109x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,23}</string>
                <key>spriteSourceSize</key>
                <string>{109,23}</string>
                <key>textureRect</key>
                <string>{{4,816},{109,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_109x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,46}</string>
                <key>spriteSourceSize</key>
                <string>{109,46}</string>
                <key>textureRect</key>
                <string>{{198,599},{109,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_111x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,46}</string>
                <key>spriteSourceSize</key>
                <string>{111,46}</string>
                <key>textureRect</key>
                <string>{{198,549},{111,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_121x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,51}</string>
                <key>spriteSourceSize</key>
                <string>{121,51}</string>
                <key>textureRect</key>
                <string>{{197,450},{121,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_124x176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,176}</string>
                <key>spriteSourceSize</key>
                <string>{124,176}</string>
                <key>textureRect</key>
                <string>{{197,270},{124,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{148,816},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_173x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,40}</string>
                <key>spriteSourceSize</key>
                <string>{173,40}</string>
                <key>textureRect</key>
                <string>{{4,728},{173,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_173x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,40}</string>
                <key>spriteSourceSize</key>
                <string>{173,40}</string>
                <key>textureRect</key>
                <string>{{4,772},{173,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_173x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,40}</string>
                <key>spriteSourceSize</key>
                <string>{173,40}</string>
                <key>textureRect</key>
                <string>{{198,505},{173,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_189x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,262}</string>
                <key>spriteSourceSize</key>
                <string>{189,262}</string>
                <key>textureRect</key>
                <string>{{4,4},{189,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_189x262_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,262}</string>
                <key>spriteSourceSize</key>
                <string>{189,262}</string>
                <key>textureRect</key>
                <string>{{4,270},{189,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_189x262_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,262}</string>
                <key>spriteSourceSize</key>
                <string>{189,262}</string>
                <key>textureRect</key>
                <string>{{197,4},{189,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_190x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{190,188}</string>
                <key>textureRect</key>
                <string>{{4,536},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_21x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{386,629},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_27x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{117,816},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_29x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{238,797},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_30x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{468,791},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_31x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{453,654},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{392,747},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{470,397},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_33x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,83}</string>
                <key>spriteSourceSize</key>
                <string>{33,83}</string>
                <key>textureRect</key>
                <string>{{464,112},{33,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_34x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,78}</string>
                <key>spriteSourceSize</key>
                <string>{34,78}</string>
                <key>textureRect</key>
                <string>{{388,547},{34,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_35x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{470,199},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_36x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{413,654},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_38x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{384,791},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_38x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{426,791},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_38x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{465,338},{38,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_43x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{455,262},{43,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_47x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{47,33}</string>
                <key>textureRect</key>
                <string>{{426,617},{47,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_49x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{375,510},{49,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_49x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{426,580},{49,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{444,453},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{441,494},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{428,537},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{325,406},{53,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{428,746},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,42}</string>
                <key>textureRect</key>
                <string>{{407,700},{53,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{181,797},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_53x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{322,450},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_58x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,33}</string>
                <key>textureRect</key>
                <string>{{382,436},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_58x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,33}</string>
                <key>textureRect</key>
                <string>{{379,473},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_61x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,132}</string>
                <key>spriteSourceSize</key>
                <string>{61,132}</string>
                <key>textureRect</key>
                <string>{{325,270},{61,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_61x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,99}</string>
                <key>spriteSourceSize</key>
                <string>{61,99}</string>
                <key>textureRect</key>
                <string>{{390,246},{61,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_70x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{390,112},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_71x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,47}</string>
                <key>spriteSourceSize</key>
                <string>{71,47}</string>
                <key>textureRect</key>
                <string>{{313,549},{71,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_71x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{311,600},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_71x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{390,349},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_84x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,25}</string>
                <key>spriteSourceSize</key>
                <string>{84,25}</string>
                <key>textureRect</key>
                <string>{{382,407},{84,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_92x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,41}</string>
                <key>spriteSourceSize</key>
                <string>{92,41}</string>
                <key>textureRect</key>
                <string>{{288,791},{92,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_98x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,43}</string>
                <key>textureRect</key>
                <string>{{305,700},{98,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3003e-alice-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{428,510},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3003e-alice-body.png</string>
            <key>size</key>
            <string>{509,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b960f81588e35965b0c3de2bc4c5f4d:fc31c2e2043edb1695f1504a2c95bee2:9b60a708ca23b7b5a7a39b7595a35229$</string>
            <key>textureFileName</key>
            <string>u3003e-alice-body.png</string>
        </dict>
    </dict>
</plist>
