<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1303h-sally-bul_21x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{2,38},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1303h-sally-bul_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1303h-sally-bul.png</string>
            <key>size</key>
            <string>{38,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41a04a549b92ef30650bdce4042d5035:d2460aa81f10c591f2c85ba12ddf66e5:0c0427100969c5a612e6c7de350a109e$</string>
            <key>textureFileName</key>
            <string>u1303h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
