<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u420u-cony-bul3_14x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{394,116},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_386x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,160}</string>
                <key>spriteSourceSize</key>
                <string>{386,160}</string>
                <key>textureRect</key>
                <string>{{4,4},{386,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{394,62},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_54x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{394,4},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_68x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{364,168},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_80x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{194,168},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_82x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{278,168},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_90x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{100,168},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u420u-cony-bul3_92x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{4,168},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u420u-cony-bul3.png</string>
            <key>size</key>
            <string>{452,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05e3d10920ac8e306cdaa70e3cebfea7:79eec943bd84379cc978597b0784c811:375c1a8972ae8a15c6e197711691d93e$</string>
            <key>textureFileName</key>
            <string>u420u-cony-bul3.png</string>
        </dict>
    </dict>
</plist>
