<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81014-wink-bul_135x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,132}</string>
                <key>spriteSourceSize</key>
                <string>{135,132}</string>
                <key>textureRect</key>
                <string>{{2,455},{135,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{2,316},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{2,164},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{139,520},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{193,513},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{193,459},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_52x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{139,459},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_75x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{144,382},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_89x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{164,2},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_89x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{164,74},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_89x70_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{164,146},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_89x70_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{156,310},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81014-wink-bul_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{156,218},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81014-wink-bul.png</string>
            <key>size</key>
            <string>{255,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b2bd779f5b04f7426c84cdd55add8e8:ed55212e28ea659bf6a4be5ce5dc84c1:a6ef5d054169f455ccb1ecddece9fd33$</string>
            <key>textureFileName</key>
            <string>u81014-wink-bul.png</string>
        </dict>
    </dict>
</plist>
