<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2030e-jessica-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{286,212},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{296,192},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{300,136},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_12x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{300,110},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{276,192},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_20x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{186,214},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_20x14_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{210,214},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_22x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{160,214},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{234,208},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_22x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{260,208},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{132,208},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_26x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{268,146},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{286,48},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_26x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,44}</string>
                <key>textureRect</key>
                <string>{{54,180},{26,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{268,110},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{166,124},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_30x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{198,124},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{276,162},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{162,172},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_32x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{198,172},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{232,124},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{202,58},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{190,86},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_34x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{228,86},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{84,164},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{276,4},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_36x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{122,164},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{124,124},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_38x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{234,168},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{82,118},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_42x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{42,18}</string>
                <key>textureRect</key>
                <string>{{240,54},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{144,86},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_44x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{84,210},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{266,84},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_46x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{4,180},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_54x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{86,92},{54,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_54x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{144,58},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_54x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{86,28},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_54x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{86,60},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_56x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,20}</string>
                <key>spriteSourceSize</key>
                <string>{56,20}</string>
                <key>textureRect</key>
                <string>{{156,4},{56,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_56x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,20}</string>
                <key>spriteSourceSize</key>
                <string>{56,20}</string>
                <key>textureRect</key>
                <string>{{216,4},{56,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_56x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{204,28},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_56x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{144,28},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{86,4},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{4,102},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_78x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{4,4},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2030e-jessica-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{302,212},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2030e-jessica-body.png</string>
            <key>size</key>
            <string>{316,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bea1ac0463192753bb42dc00ce757c9:e9d1d2f555067b722c13be8a3a8e551a:1a9e94aacb2bb5f515915a6128a9054a$</string>
            <key>textureFileName</key>
            <string>u2030e-jessica-body.png</string>
        </dict>
    </dict>
</plist>
