<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1342e-bd-body_106x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{370,4},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_108x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,142}</string>
                <key>spriteSourceSize</key>
                <string>{108,142}</string>
                <key>textureRect</key>
                <string>{{258,4},{108,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_12x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,142}</string>
                <key>spriteSourceSize</key>
                <string>{12,142}</string>
                <key>textureRect</key>
                <string>{{618,212},{12,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_12x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,178}</string>
                <key>spriteSourceSize</key>
                <string>{12,178}</string>
                <key>textureRect</key>
                <string>{{176,174},{12,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_140x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,23}</string>
                <key>spriteSourceSize</key>
                <string>{140,23}</string>
                <key>textureRect</key>
                <string>{{276,248},{140,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{258,150},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_168x242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,242}</string>
                <key>spriteSourceSize</key>
                <string>{168,242}</string>
                <key>textureRect</key>
                <string>{{4,174},{168,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{404,368},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_20x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{594,314},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{496,492},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{616,430},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{616,396},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{616,358},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{552,460},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x14_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{552,478},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x14_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{524,488},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x14_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{580,486},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x14_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{608,492},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{496,464},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{524,460},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{614,458},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_250x166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,166}</string>
                <key>spriteSourceSize</key>
                <string>{250,166}</string>
                <key>textureRect</key>
                <string>{{4,4},{250,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{420,242},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{432,420},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{276,275},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{582,448},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{400,383},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{550,420},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{584,378},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{432,368},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{464,412},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{464,438},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{582,420},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{424,452},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{550,378},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{464,368},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{560,314},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_30x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{390,423},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,116}</string>
                <key>spriteSourceSize</key>
                <string>{32,116}</string>
                <key>textureRect</key>
                <string>{{232,368},{32,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{388,487},{32,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{424,486},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{460,480},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{414,198},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{414,282},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_32x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{272,310},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_34x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,102}</string>
                <key>spriteSourceSize</key>
                <string>{34,102}</string>
                <key>textureRect</key>
                <string>{{268,368},{34,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_34x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{458,464},{34,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_34x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{352,423},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_34x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{142,420},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_34x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,88}</string>
                <key>spriteSourceSize</key>
                <string>{34,88}</string>
                <key>textureRect</key>
                <string>{{104,420},{34,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_36x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,12}</string>
                <key>spriteSourceSize</key>
                <string>{36,12}</string>
                <key>textureRect</key>
                <string>{{46,496},{36,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_38x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{4,496},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_40x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,98}</string>
                <key>spriteSourceSize</key>
                <string>{40,98}</string>
                <key>textureRect</key>
                <string>{{574,212},{40,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{354,383},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{306,423},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{308,327},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_44x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{306,371},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_44x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{356,331},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{338,483},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_46x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{364,275},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,106}</string>
                <key>spriteSourceSize</key>
                <string>{48,106}</string>
                <key>textureRect</key>
                <string>{{180,368},{48,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{508,310},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{404,338},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{456,338},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{508,340},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{498,370},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{498,400},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x26_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{498,430},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{286,474},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_48x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{362,200},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_50x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,106}</string>
                <key>spriteSourceSize</key>
                <string>{50,106}</string>
                <key>textureRect</key>
                <string>{{512,102},{50,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{308,275},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_54x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{450,298},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_58x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{58,94}</string>
                <key>textureRect</key>
                <string>{{450,102},{58,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_58x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{58,94}</string>
                <key>textureRect</key>
                <string>{{566,114},{58,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_58x94_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{58,94}</string>
                <key>textureRect</key>
                <string>{{450,200},{58,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_58x94_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{58,94}</string>
                <key>textureRect</key>
                <string>{{512,212},{58,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_60x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,14}</string>
                <key>spriteSourceSize</key>
                <string>{60,14}</string>
                <key>textureRect</key>
                <string>{{142,494},{60,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_62x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{568,4},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_76x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,20}</string>
                <key>spriteSourceSize</key>
                <string>{76,20}</string>
                <key>textureRect</key>
                <string>{{206,488},{76,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_76x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{192,288},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_76x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,94}</string>
                <key>spriteSourceSize</key>
                <string>{76,94}</string>
                <key>textureRect</key>
                <string>{{370,100},{76,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_80x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,110}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{192,174},{80,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_82x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{82,94}</string>
                <key>textureRect</key>
                <string>{{276,150},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_84x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{84,94}</string>
                <key>textureRect</key>
                <string>{{480,4},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{268,474},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{180,478},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_96x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,72}</string>
                <key>textureRect</key>
                <string>{{4,420},{96,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1342e-bd-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{86,496},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1342e-bd-body.png</string>
            <key>size</key>
            <string>{642,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41a38de2bf7943fd1faf78723cb1da7:56509f174905a5a557f5acce81734fb4:0adf2a2ca42a1b918af36216387cfb53$</string>
            <key>textureFileName</key>
            <string>u1342e-bd-body.png</string>
        </dict>
    </dict>
</plist>
