<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u83004-carter-bul_64x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{106,4},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83004-carter-bul_98x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{4,4},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u83004-carter-bul.png</string>
            <key>size</key>
            <string>{174,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:807749e270a822ac3cf23574edb83f3e:d5d3737917d2fb4395382498f42d1ac1:e1106415cf5537cdeb24bf748250d785$</string>
            <key>textureFileName</key>
            <string>u83004-carter-bul.png</string>
        </dict>
    </dict>
</plist>
