<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1501h-cony-bul2_108x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{78,2},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1501h-cony-bul2_148x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,145}</string>
                <key>spriteSourceSize</key>
                <string>{148,145}</string>
                <key>textureRect</key>
                <string>{{2,254},{148,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1501h-cony-bul2_214x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,140}</string>
                <key>spriteSourceSize</key>
                <string>{214,140}</string>
                <key>textureRect</key>
                <string>{{2,112},{214,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1501h-cony-bul2_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1501h-cony-bul2.png</string>
            <key>size</key>
            <string>{218,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d89d7b59d1bd627d6ec56f1de0e729a:87eb763153c482acbe80aa10bd6b4f7e:e3eaa97809de46eedfc34906810687f3$</string>
            <key>textureFileName</key>
            <string>u1501h-cony-bul2.png</string>
        </dict>
    </dict>
</plist>
