<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1145u-brown-bul_48x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{4,4},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1145u-brown-bul.png</string>
            <key>size</key>
            <string>{56,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5d54136b0e135d5bf7be06596e5ac1:c56921de73168fc021063fb7410908a8:dc25f027fc1194be541cba255aa7d32b$</string>
            <key>textureFileName</key>
            <string>u1145u-brown-bul.png</string>
        </dict>
    </dict>
</plist>
