<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40016sk-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{48,141},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_10x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{104,38},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_10x10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{104,50},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_18x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,10}</string>
                <key>textureRect</key>
                <string>{{28,141},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{91,112},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_20x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{91,134},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_20x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{91,112},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{2,141},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{91,94},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{62,136},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{62,107},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{74,38},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{80,68},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{74,2},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{2,107},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_70x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_70x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{2,40},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40016sk-sally-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{2,78},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40016sk-sally-body.png</string>
            <key>size</key>
            <string>{117,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a7805e72896001a3b37b24b51847f8:11dd5bfccbab0b09487ed63d1e83c673:8c32cb19aa619cdc62af0b61da9115af$</string>
            <key>textureFileName</key>
            <string>u40016sk-sally-body.png</string>
        </dict>
    </dict>
</plist>
