<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u85017-crush-bul2_104x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{143,216},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_105x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{425,211},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_106x273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,273}</string>
                <key>spriteSourceSize</key>
                <string>{106,273}</string>
                <key>textureRect</key>
                <string>{{4,4},{106,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_107x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{107,60}</string>
                <key>textureRect</key>
                <string>{{251,216},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{355,91},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_11x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{646,380},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{532,304},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_132x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{220,281},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_14x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,72}</string>
                <key>spriteSourceSize</key>
                <string>{14,72}</string>
                <key>textureRect</key>
                <string>{{640,112},{14,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_15x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,116}</string>
                <key>spriteSourceSize</key>
                <string>{15,116}</string>
                <key>textureRect</key>
                <string>{{475,91},{15,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{640,91},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_162x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,153}</string>
                <key>spriteSourceSize</key>
                <string>{162,153}</string>
                <key>textureRect</key>
                <string>{{4,281},{162,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_165x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,46}</string>
                <key>spriteSourceSize</key>
                <string>{165,46}</string>
                <key>textureRect</key>
                <string>{{491,4},{165,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_18x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,59}</string>
                <key>spriteSourceSize</key>
                <string>{18,59}</string>
                <key>textureRect</key>
                <string>{{403,211},{18,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{396,59},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_208x208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{143,4},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{589,366},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{430,57},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{476,375},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_25x259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,259}</string>
                <key>spriteSourceSize</key>
                <string>{25,259}</string>
                <key>textureRect</key>
                <string>{{114,4},{25,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_27x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{502,373},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{616,346},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{191,430},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_34x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{623,188},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{355,59},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{362,211},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_39x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,18}</string>
                <key>textureRect</key>
                <string>{{491,273},{39,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_40x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,112}</string>
                <key>spriteSourceSize</key>
                <string>{40,112}</string>
                <key>textureRect</key>
                <string>{{494,91},{40,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{617,273},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_41x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{487,295},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{430,375},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{70,438},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_45x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{567,304},{45,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_46x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{170,281},{46,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_52x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{533,373},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{430,273},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_56x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{430,4},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_60x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{362,4},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{4,438},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{419,417},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_70x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,133}</string>
                <key>spriteSourceSize</key>
                <string>{70,133}</string>
                <key>textureRect</key>
                <string>{{356,280},{70,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_71x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{116,438},{71,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_73x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,56}</string>
                <key>textureRect</key>
                <string>{{491,414},{73,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_74x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{568,408},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_76x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{487,321},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_79x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{534,244},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_81x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{538,187},{81,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_87x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{328,419},{87,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{538,91},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85017-crush-bul2_99x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,60}</string>
                <key>spriteSourceSize</key>
                <string>{99,60}</string>
                <key>textureRect</key>
                <string>{{225,419},{99,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u85017-crush-bul2.png</string>
            <key>size</key>
            <string>{661,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d77a58a8e3e9229effb7271f271e504:5f84c2a466434e4c61a36709ad8b9b93:5b810345a34d2c26208e871348079e54$</string>
            <key>textureFileName</key>
            <string>u85017-crush-bul2.png</string>
        </dict>
    </dict>
</plist>
