<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91134-wink-body_100x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{4,292},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_104x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,65}</string>
                <key>textureRect</key>
                <string>{{398,123},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_107x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,83}</string>
                <key>spriteSourceSize</key>
                <string>{107,83}</string>
                <key>textureRect</key>
                <string>{{444,4},{107,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_108x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,83}</string>
                <key>spriteSourceSize</key>
                <string>{108,83}</string>
                <key>textureRect</key>
                <string>{{286,78},{108,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_132x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{4,166},{132,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_136x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,158}</string>
                <key>spriteSourceSize</key>
                <string>{136,158}</string>
                <key>textureRect</key>
                <string>{{4,4},{136,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_138x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{144,4},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_14x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{601,62},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_14x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{601,41},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_154x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,70}</string>
                <key>spriteSourceSize</key>
                <string>{154,70}</string>
                <key>textureRect</key>
                <string>{{286,4},{154,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_15x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{250,257},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{468,461},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_172x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,28}</string>
                <key>spriteSourceSize</key>
                <string>{172,28}</string>
                <key>textureRect</key>
                <string>{{398,91},{172,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_19x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{354,229},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_19x19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{595,416},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_19x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{227,257},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_21x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{329,229},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{582,167},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_27x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,62}</string>
                <key>spriteSourceSize</key>
                <string>{27,62}</string>
                <key>textureRect</key>
                <string>{{564,270},{27,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_27x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,76}</string>
                <key>spriteSourceSize</key>
                <string>{27,76}</string>
                <key>textureRect</key>
                <string>{{571,336},{27,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_27x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,76}</string>
                <key>spriteSourceSize</key>
                <string>{27,76}</string>
                <key>textureRect</key>
                <string>{{582,87},{27,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_32x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{32,57}</string>
                <key>textureRect</key>
                <string>{{432,411},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{555,416},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_40x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{444,266},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{555,41},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_52x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{439,348},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_60x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,33}</string>
                <key>spriteSourceSize</key>
                <string>{60,33}</string>
                <key>textureRect</key>
                <string>{{555,4},{60,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_62x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{329,165},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_68x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{144,158},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_72x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{506,123},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_72x69_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{488,270},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_72x69_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{356,400},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_72x69_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{495,343},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_75x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{360,346},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_78x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{278,337},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_78x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{78,98}</string>
                <key>textureRect</key>
                <string>{{108,292},{78,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_79x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{4,398},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_79x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{87,398},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_79x76_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{278,257},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_79x76_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{361,266},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_83x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,41}</string>
                <key>spriteSourceSize</key>
                <string>{83,41}</string>
                <key>textureRect</key>
                <string>{{468,416},{83,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_83x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{140,196},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_84x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{190,292},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_89x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{170,404},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_89x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{263,404},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_89x70_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{395,192},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_89x70_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{488,196},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{377,229},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_98x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{227,165},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91134-wink-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{398,78},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91134-wink-body.png</string>
            <key>size</key>
            <string>{619,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5564a6b7d249b0550c1dbb1adeb2531:87b60fe277299262329d648911ecf886:c3605e70ad9cd51b9d9790e5aec01701$</string>
            <key>textureFileName</key>
            <string>u91134-wink-body.png</string>
        </dict>
    </dict>
</plist>
