<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u354e-mari-bul_111x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 31}</string>
			<key>spriteSourceSize</key>
			<string>{111, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 274}, {111, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_120x159.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 159}</string>
			<key>spriteSourceSize</key>
			<string>{120, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 274}, {120, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_121x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{121, 28}</string>
			<key>spriteSourceSize</key>
			<string>{121, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 435}, {121, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_123x177.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{123, 177}</string>
			<key>spriteSourceSize</key>
			<string>{123, 177}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 197}, {123, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_125x193.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 193}</string>
			<key>spriteSourceSize</key>
			<string>{125, 193}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 0}, {125, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_131x195.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 195}</string>
			<key>spriteSourceSize</key>
			<string>{131, 195}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 0}, {131, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_132x182.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 182}</string>
			<key>spriteSourceSize</key>
			<string>{132, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 278}, {132, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_136x158.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 158}</string>
			<key>spriteSourceSize</key>
			<string>{136, 158}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{748, 0}, {136, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_151x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 33}</string>
			<key>spriteSourceSize</key>
			<string>{151, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{579, 394}, {151, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_154x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {154, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{154, 34}</string>
			<key>spriteSourceSize</key>
			<string>{154, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 358}, {154, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_156x181.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {140, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 181}</string>
			<key>spriteSourceSize</key>
			<string>{156, 181}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 0}, {156, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_158x173.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {140, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 173}</string>
			<key>spriteSourceSize</key>
			<string>{158, 173}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{615, 183}, {158, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_15x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {11, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 35}</string>
			<key>spriteSourceSize</key>
			<string>{15, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 236}, {15, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_182x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 70}</string>
			<key>spriteSourceSize</key>
			<string>{182, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 202}, {182, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_19x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {17, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 32}</string>
			<key>spriteSourceSize</key>
			<string>{19, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 202}, {19, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_206x200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {204, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{206, 200}</string>
			<key>spriteSourceSize</key>
			<string>{206, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 0}, {206, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_230x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {228, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 77}</string>
			<key>spriteSourceSize</key>
			<string>{230, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 195}, {230, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_23x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 18}</string>
			<key>spriteSourceSize</key>
			<string>{23, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 307}, {23, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_26x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 39}</string>
			<key>spriteSourceSize</key>
			<string>{26, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 274}, {26, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_32x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 46}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 462}, {32, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_33x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {31, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 57}</string>
			<key>spriteSourceSize</key>
			<string>{33, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 454}, {33, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_34x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{34, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{775, 160}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_36x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{535, 450}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_37x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {35, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 64}</string>
			<key>spriteSourceSize</key>
			<string>{37, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{575, 429}, {37, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_39x62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 62}</string>
			<key>spriteSourceSize</key>
			<string>{39, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{494, 450}, {39, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_40x276.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {38, 272}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 276}</string>
			<key>spriteSourceSize</key>
			<string>{40, 276}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {40, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_48x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 39}</string>
			<key>spriteSourceSize</key>
			<string>{48, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 465}, {48, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_48x80.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {46, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 80}</string>
			<key>spriteSourceSize</key>
			<string>{48, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 358}, {48, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_52x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {50, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 36}</string>
			<key>spriteSourceSize</key>
			<string>{52, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 454}, {52, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_58x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{71, 462}, {58, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_58x63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 63}</string>
			<key>spriteSourceSize</key>
			<string>{58, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{614, 429}, {58, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_62x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {60, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 32}</string>
			<key>spriteSourceSize</key>
			<string>{62, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 429}, {62, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_63x108.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {61, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 108}</string>
			<key>spriteSourceSize</key>
			<string>{63, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 376}, {63, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_69x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 49}</string>
			<key>spriteSourceSize</key>
			<string>{69, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 462}, {69, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_76x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 38}</string>
			<key>spriteSourceSize</key>
			<string>{76, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{497, 410}, {76, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_76x91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 91}</string>
			<key>spriteSourceSize</key>
			<string>{76, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{510, 71}, {76, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_78x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {72, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{510, 0}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_80x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 29}</string>
			<key>spriteSourceSize</key>
			<string>{80, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{497, 379}, {80, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_80x84.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 84}</string>
			<key>spriteSourceSize</key>
			<string>{80, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 376}, {80, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_85x103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {83, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 103}</string>
			<key>spriteSourceSize</key>
			<string>{85, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{497, 274}, {85, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u354e-mari-bul_88x145.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {86, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 145}</string>
			<key>spriteSourceSize</key>
			<string>{88, 145}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 307}, {88, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u354e-mari-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>