<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81013-p7-body_100x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{532,258},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_108x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{214,903},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_112x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,50}</string>
                <key>textureRect</key>
                <string>{{375,764},{112,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_114x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,138}</string>
                <key>spriteSourceSize</key>
                <string>{114,138}</string>
                <key>textureRect</key>
                <string>{{538,2},{114,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_126x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,12}</string>
                <key>spriteSourceSize</key>
                <string>{126,12}</string>
                <key>textureRect</key>
                <string>{{214,500},{126,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_126x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,30}</string>
                <key>spriteSourceSize</key>
                <string>{126,30}</string>
                <key>textureRect</key>
                <string>{{535,470},{126,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_126x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,64}</string>
                <key>textureRect</key>
                <string>{{378,816},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_126x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,80}</string>
                <key>spriteSourceSize</key>
                <string>{126,80}</string>
                <key>textureRect</key>
                <string>{{2,936},{126,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_12x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,80}</string>
                <key>spriteSourceSize</key>
                <string>{12,80}</string>
                <key>textureRect</key>
                <string>{{654,2},{12,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_131x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{131,114}</string>
                <key>textureRect</key>
                <string>{{538,142},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_134x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{134,112}</string>
                <key>textureRect</key>
                <string>{{535,356},{134,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{360,638},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_140x204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,204}</string>
                <key>spriteSourceSize</key>
                <string>{140,204}</string>
                <key>textureRect</key>
                <string>{{214,294},{140,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_144x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{144,30}</string>
                <key>textureRect</key>
                <string>{{210,871},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_148x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{210,520},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_154x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,124}</string>
                <key>spriteSourceSize</key>
                <string>{154,124}</string>
                <key>textureRect</key>
                <string>{{375,638},{154,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_15x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{634,340},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_163x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,145}</string>
                <key>spriteSourceSize</key>
                <string>{163,145}</string>
                <key>textureRect</key>
                <string>{{210,670},{163,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_166x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{210,817},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_167x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,134}</string>
                <key>spriteSourceSize</key>
                <string>{167,134}</string>
                <key>textureRect</key>
                <string>{{360,502},{167,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{654,84},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_174x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,147}</string>
                <key>textureRect</key>
                <string>{{356,210},{174,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_177x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,141}</string>
                <key>spriteSourceSize</key>
                <string>{177,141}</string>
                <key>textureRect</key>
                <string>{{356,359},{177,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_18x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,80}</string>
                <key>spriteSourceSize</key>
                <string>{18,80}</string>
                <key>textureRect</key>
                <string>{{330,210},{18,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_206x206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{330,2},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_206x206_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{2,520},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_206x206_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{2,728},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_20x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{582,867},{20,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_210x224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,224}</string>
                <key>spriteSourceSize</key>
                <string>{210,224}</string>
                <key>textureRect</key>
                <string>{{2,294},{210,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_23x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{540,961},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_26x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,80}</string>
                <key>spriteSourceSize</key>
                <string>{26,80}</string>
                <key>textureRect</key>
                <string>{{634,258},{26,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_27x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{639,911},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{540,927},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{356,882},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_30x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{30,64}</string>
                <key>textureRect</key>
                <string>{{506,816},{30,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_326x290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,290}</string>
                <key>spriteSourceSize</key>
                <string>{326,290}</string>
                <key>textureRect</key>
                <string>{{2,2},{326,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{604,911},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_38x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{489,764},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_40x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{629,558},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_40x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{629,502},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_40x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{130,936},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_40x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{172,936},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{214,987},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{258,987},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_42x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{538,867},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_43x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{626,658},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_44x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{626,614},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{604,879},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_62x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{608,807},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_62x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{608,843},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{470,882},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_66x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{472,950},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_68x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{538,807},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_70x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,104}</string>
                <key>spriteSourceSize</key>
                <string>{70,104}</string>
                <key>textureRect</key>
                <string>{{324,903},{70,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_72x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{396,882},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_74x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{396,952},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_86x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,48}</string>
                <key>textureRect</key>
                <string>{{531,757},{86,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{662,258},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_90x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{531,705},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_93x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{531,614},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_98x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{529,502},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81013-p7-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{356,871},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u81013-p7-body.png</string>
            <key>size</key>
            <string>{672,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aae936e7f6d953b50269915ebcffd6d:a85985a5a823b30dfda721d1f5eff77d:fc5bb3ae9139da96ebc257934941d502$</string>
            <key>textureFileName</key>
            <string>u81013-p7-body.png</string>
        </dict>
    </dict>
</plist>
