<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1055u-shadow-bul2_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{741,333},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_102x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{102,118}</string>
                <key>textureRect</key>
                <string>{{661,569},{102,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_104x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,81}</string>
                <key>textureRect</key>
                <string>{{792,245},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_105x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{767,566},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_126x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{126,108}</string>
                <key>textureRect</key>
                <string>{{664,691},{126,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_127x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,80}</string>
                <key>spriteSourceSize</key>
                <string>{127,80}</string>
                <key>textureRect</key>
                <string>{{243,753},{127,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_128x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,150}</string>
                <key>spriteSourceSize</key>
                <string>{128,150}</string>
                <key>textureRect</key>
                <string>{{385,606},{128,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{281,286},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_136x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,118}</string>
                <key>textureRect</key>
                <string>{{524,703},{136,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_140x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{517,569},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_141x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,127}</string>
                <key>spriteSourceSize</key>
                <string>{141,127}</string>
                <key>textureRect</key>
                <string>{{850,4},{141,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_146x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,91}</string>
                <key>textureRect</key>
                <string>{{374,760},{146,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{767,660},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_14x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{494,569},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_14x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,72}</string>
                <key>spriteSourceSize</key>
                <string>{14,72}</string>
                <key>textureRect</key>
                <string>{{995,4},{14,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_167x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,98}</string>
                <key>spriteSourceSize</key>
                <string>{167,98}</string>
                <key>textureRect</key>
                <string>{{840,135},{167,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{191,578},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{4,578},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_190x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,143}</string>
                <key>spriteSourceSize</key>
                <string>{190,143}</string>
                <key>textureRect</key>
                <string>{{191,606},{190,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_190x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,71}</string>
                <key>spriteSourceSize</key>
                <string>{190,71}</string>
                <key>textureRect</key>
                <string>{{494,494},{190,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_199x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,61}</string>
                <key>spriteSourceSize</key>
                <string>{199,61}</string>
                <key>textureRect</key>
                <string>{{731,439},{199,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_202x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,58}</string>
                <key>spriteSourceSize</key>
                <string>{202,58}</string>
                <key>textureRect</key>
                <string>{{688,504},{202,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_218x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,62}</string>
                <key>spriteSourceSize</key>
                <string>{218,62}</string>
                <key>textureRect</key>
                <string>{{509,428},{218,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_220x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,130}</string>
                <key>spriteSourceSize</key>
                <string>{220,130}</string>
                <key>textureRect</key>
                <string>{{270,472},{220,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_224x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,91}</string>
                <key>spriteSourceSize</key>
                <string>{224,91}</string>
                <key>textureRect</key>
                <string>{{513,333},{224,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_226x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,82}</string>
                <key>spriteSourceSize</key>
                <string>{226,82}</string>
                <key>textureRect</key>
                <string>{{279,386},{226,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_228x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,75}</string>
                <key>spriteSourceSize</key>
                <string>{228,75}</string>
                <key>textureRect</key>
                <string>{{281,307},{228,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_233x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,84}</string>
                <key>spriteSourceSize</key>
                <string>{233,84}</string>
                <key>textureRect</key>
                <string>{{555,245},{233,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_235x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,92}</string>
                <key>spriteSourceSize</key>
                <string>{235,92}</string>
                <key>textureRect</key>
                <string>{{4,764},{235,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_239x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,112}</string>
                <key>spriteSourceSize</key>
                <string>{239,112}</string>
                <key>textureRect</key>
                <string>{{312,191},{239,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_242x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,114}</string>
                <key>spriteSourceSize</key>
                <string>{242,114}</string>
                <key>textureRect</key>
                <string>{{594,127},{242,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{243,837},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{513,307},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{969,609},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{920,796},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{969,545},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_24x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,63}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{913,729},{24,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_257x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,119}</string>
                <key>spriteSourceSize</key>
                <string>{257,119}</string>
                <key>textureRect</key>
                <string>{{589,4},{257,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_262x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,108}</string>
                <key>spriteSourceSize</key>
                <string>{262,108}</string>
                <key>textureRect</key>
                <string>{{4,466},{262,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{982,825},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{825,823},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{982,391},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_26x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,64}</string>
                <key>spriteSourceSize</key>
                <string>{26,64}</string>
                <key>textureRect</key>
                <string>{{281,218},{26,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_271x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,118}</string>
                <key>spriteSourceSize</key>
                <string>{271,118}</string>
                <key>textureRect</key>
                <string>{{4,344},{271,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_273x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,121}</string>
                <key>spriteSourceSize</key>
                <string>{273,121}</string>
                <key>textureRect</key>
                <string>{{312,4},{273,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_273x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,122}</string>
                <key>spriteSourceSize</key>
                <string>{273,122}</string>
                <key>textureRect</key>
                <string>{{4,218},{273,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_278x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,58}</string>
                <key>spriteSourceSize</key>
                <string>{278,58}</string>
                <key>textureRect</key>
                <string>{{312,129},{278,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{979,723},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_304x210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,210}</string>
                <key>spriteSourceSize</key>
                <string>{304,210}</string>
                <key>textureRect</key>
                <string>{{4,4},{304,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{948,825},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{791,823},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{979,683},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_32x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{941,729},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_33x230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,230}</string>
                <key>spriteSourceSize</key>
                <string>{33,230}</string>
                <key>textureRect</key>
                <string>{{876,566},{33,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_33x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,92}</string>
                <key>spriteSourceSize</key>
                <string>{33,92}</string>
                <key>textureRect</key>
                <string>{{972,439},{33,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_34x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,102}</string>
                <key>spriteSourceSize</key>
                <string>{34,102}</string>
                <key>textureRect</key>
                <string>{{934,439},{34,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{555,191},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{894,504},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{749,803},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{614,825},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{876,800},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{971,641},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_50x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{948,787},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{913,595},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_52x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{913,545},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_54x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{913,641},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_61x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,44}</string>
                <key>spriteSourceSize</key>
                <string>{61,44}</string>
                <key>textureRect</key>
                <string>{{917,391},{61,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_62x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{913,685},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_66x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{847,330},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_75x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{75,91}</string>
                <key>textureRect</key>
                <string>{{794,660},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_78x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{794,755},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_81x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,46}</string>
                <key>spriteSourceSize</key>
                <string>{81,46}</string>
                <key>textureRect</key>
                <string>{{664,803},{81,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_86x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,26}</string>
                <key>spriteSourceSize</key>
                <string>{86,26}</string>
                <key>textureRect</key>
                <string>{{524,825},{86,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{494,472},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_92x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{917,315},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1055u-shadow-bul2_96x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,74}</string>
                <key>textureRect</key>
                <string>{{900,237},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1055u-shadow-bul2.png</string>
            <key>size</key>
            <string>{1015,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd86d11dd3a9add21eada3dc0205b5c4:7cf09875d7b1f1781335aeb0cc051536:02e401ebb12d5afee467378454ddd3c4$</string>
            <key>textureFileName</key>
            <string>u1055u-shadow-bul2.png</string>
        </dict>
    </dict>
</plist>
