<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1533e-sally-bul3_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{82,116},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_14x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,36}</string>
                <key>spriteSourceSize</key>
                <string>{14,36}</string>
                <key>textureRect</key>
                <string>{{100,88},{14,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_16x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{82,88},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_32x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{32,84}</string>
                <key>textureRect</key>
                <string>{{86,2},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_48x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,14}</string>
                <key>spriteSourceSize</key>
                <string>{48,14}</string>
                <key>textureRect</key>
                <string>{{2,296},{48,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_50x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{72,172},{50,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{62,274},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_58x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,14}</string>
                <key>spriteSourceSize</key>
                <string>{58,14}</string>
                <key>textureRect</key>
                <string>{{62,258},{58,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_58x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{2,246},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_60x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2,218},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_68x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,44}</string>
                <key>textureRect</key>
                <string>{{2,172},{68,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_78x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{78,84}</string>
                <key>textureRect</key>
                <string>{{2,86},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_82x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_8x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{98,126},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_8x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{82,138},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1533e-sally-bul3_8x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{108,126},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1533e-sally-bul3.png</string>
            <key>size</key>
            <string>{124,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81fbe0aadb949cac7220666b1e909448:322ac424d53b909ea6bbc2acd7998c7d:f28bd14f894c3e327a56130ef523f5f3$</string>
            <key>textureFileName</key>
            <string>u1533e-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
