<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1214e-elle-bul3_166x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{166,150}</string>
                <key>textureRect</key>
                <string>{{4,222},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1214e-elle-bul3_220x214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,214}</string>
                <key>textureRect</key>
                <string>{{4,4},{220,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1214e-elle-bul3.png</string>
            <key>size</key>
            <string>{228,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b22b2ab35c4fd43de620d90455f7424:82d3a133e849cf773a90e954ef451049:3101b6710d9c685228f21989ee8c6019$</string>
            <key>textureFileName</key>
            <string>u1214e-elle-bul3.png</string>
        </dict>
    </dict>
</plist>
