<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1094u-tamama-bul3_118x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{226,134},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_126x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{178,4},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{22,4},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{308,4},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{308,52},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{172,158},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{116,158},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1094u-tamama-bul3_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{22,158},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1094u-tamama-bul3.png</string>
            <key>size</key>
            <string>{354,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7e81000ddf9767bfe01609abbc8e33c:b20cbf4a8a7db610ccea44aa8c19c9eb:46653efee79cb883275e4b908cdee0e6$</string>
            <key>textureFileName</key>
            <string>u1094u-tamama-bul3.png</string>
        </dict>
    </dict>
</plist>
