<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91128-bb-body_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{529,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_100x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{34,124},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{425,2},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_119x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{119,88}</string>
                <key>textureRect</key>
                <string>{{631,2},{119,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_126x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{156,2},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_139x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{284,2},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_152x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,120}</string>
                <key>spriteSourceSize</key>
                <string>{152,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{800,91},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_171x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,87}</string>
                <key>spriteSourceSize</key>
                <string>{171,87}</string>
                <key>textureRect</key>
                <string>{{752,2},{171,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{344,115},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{344,135},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{292,115},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_24x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{318,115},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_28x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{262,116},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{2,124},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_31x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{136,124},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_31x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{925,2},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_31x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{961,57},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_36x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,53}</string>
                <key>spriteSourceSize</key>
                <string>{36,53}</string>
                <key>textureRect</key>
                <string>{{961,2},{36,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_43x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{217,116},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_46x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{169,116},{46,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_54x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{562,104},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_54x53_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{618,104},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_54x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{744,92},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_63x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,50}</string>
                <key>spriteSourceSize</key>
                <string>{63,50}</string>
                <key>textureRect</key>
                <string>{{497,105},{63,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_68x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{674,92},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91128-bb-body_70x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{425,105},{70,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u91128-bb-body.png</string>
            <key>size</key>
            <string>{999,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2003a8c62773aac9ed9c948cd58264e:7eb0efaa341240731e0288d87191d80b:84a6b67d0ed3c6ca8cba87163c540b33$</string>
            <key>textureFileName</key>
            <string>u91128-bb-body.png</string>
        </dict>
    </dict>
</plist>
