<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1611u-cony-bul_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{4,4},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1611u-cony-bul.png</string>
            <key>size</key>
            <string>{60,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7a093d29b9a699eebc9b9ba682f88a:d82da32054bdae3e2a2347133e54296e:bf07c8c959c8fe44d1585e901837dfe5$</string>
            <key>textureFileName</key>
            <string>u1611u-cony-bul.png</string>
        </dict>
    </dict>
</plist>
