<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1611u-cony-body_106x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{106,114}</string>
                <key>textureRect</key>
                <string>{{119,349},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_106x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,143}</string>
                <key>textureRect</key>
                <string>{{379,4},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_106x143_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,143}</string>
                <key>textureRect</key>
                <string>{{489,4},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_106x143_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,143}</string>
                <key>textureRect</key>
                <string>{{163,190},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_106x143_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,143}</string>
                <key>textureRect</key>
                <string>{{273,190},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_106x143_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,143}</string>
                <key>textureRect</key>
                <string>{{383,151},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{4,349},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_12x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{163,337},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_140x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{235,4},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_155x155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{4,190},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{4,464},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{531,405},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_20x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{431,330},{20,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{4,4},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{353,146},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{535,425},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_26x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{561,227},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{381,391},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{351,337},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{495,405},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{497,433},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{373,429},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{293,455},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{455,352},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{551,377},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{455,390},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{333,429},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{551,329},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_36x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{455,298},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{283,419},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{549,289},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{455,434},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{413,386},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{411,430},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{599,96},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{599,138},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{309,146},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{599,52},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{599,4},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{289,383},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{591,380},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_42x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{335,391},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{591,338},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{385,330},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{591,260},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{591,296},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{577,180},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{591,222},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{495,289},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_50x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{229,395},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_52x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{495,329},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_52x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{495,367},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_56x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{229,337},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_58x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{58,42}</string>
                <key>textureRect</key>
                <string>{{289,337},{58,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_60x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{229,455},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_64x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{493,227},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_68x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{383,298},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_70x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{235,146},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_80x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{493,151},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{577,151},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_8x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{627,180},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_8x10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{24,464},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1611u-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{535,455},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1611u-cony-body.png</string>
            <key>size</key>
            <string>{643,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723e106aadb6961e0d6108d94a939f0b:a2380542bb3b819959ae154ac287ea1c:d59e62004b14c08b1c76a11d0718279d$</string>
            <key>textureFileName</key>
            <string>u1611u-cony-body.png</string>
        </dict>
    </dict>
</plist>
