<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1299e-hn-bul_104x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{104,112}</string>
                <key>textureRect</key>
                <string>{{66,2},{104,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_121x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,20}</string>
                <key>spriteSourceSize</key>
                <string>{121,20}</string>
                <key>textureRect</key>
                <string>{{417,105},{121,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_122x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1467,2},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_12x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{172,110},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_141x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,106}</string>
                <key>spriteSourceSize</key>
                <string>{141,106}</string>
                <key>textureRect</key>
                <string>{{172,2},{141,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_151x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,100}</string>
                <key>spriteSourceSize</key>
                <string>{151,100}</string>
                <key>textureRect</key>
                <string>{{453,2},{151,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_18x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,52}</string>
                <key>spriteSourceSize</key>
                <string>{18,52}</string>
                <key>textureRect</key>
                <string>{{1605,56},{18,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_22x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,93}</string>
                <key>spriteSourceSize</key>
                <string>{22,93}</string>
                <key>textureRect</key>
                <string>{{660,2},{22,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_24x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,56}</string>
                <key>spriteSourceSize</key>
                <string>{24,56}</string>
                <key>textureRect</key>
                <string>{{1501,65},{24,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_26x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{916,81},{26,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{888,81},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_26x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,62}</string>
                <key>spriteSourceSize</key>
                <string>{26,62}</string>
                <key>textureRect</key>
                <string>{{1439,2},{26,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{944,81},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_29x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,67}</string>
                <key>spriteSourceSize</key>
                <string>{29,67}</string>
                <key>textureRect</key>
                <string>{{1372,2},{29,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_30x123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,123}</string>
                <key>spriteSourceSize</key>
                <string>{30,123}</string>
                <key>textureRect</key>
                <string>{{2,2},{30,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_30x123_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,123}</string>
                <key>spriteSourceSize</key>
                <string>{30,123}</string>
                <key>textureRect</key>
                <string>{{34,2},{30,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{660,97},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_34x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{1403,2},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_35x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,23}</string>
                <key>spriteSourceSize</key>
                <string>{35,23}</string>
                <key>textureRect</key>
                <string>{{606,103},{35,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_35x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{1591,30},{35,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_36x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{1337,71},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_37x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,84}</string>
                <key>spriteSourceSize</key>
                <string>{37,84}</string>
                <key>textureRect</key>
                <string>{{748,2},{37,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_38x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{377,105},{38,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_39x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{1460,66},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{1591,2},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_40x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,77}</string>
                <key>spriteSourceSize</key>
                <string>{40,77}</string>
                <key>textureRect</key>
                <string>{{926,2},{40,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_41x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,76}</string>
                <key>spriteSourceSize</key>
                <string>{41,76}</string>
                <key>textureRect</key>
                <string>{{968,2},{41,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_45x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,73}</string>
                <key>spriteSourceSize</key>
                <string>{45,73}</string>
                <key>textureRect</key>
                <string>{{1166,2},{45,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{753,88},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_47x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{1210,77},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_49x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{49,71}</string>
                <key>textureRect</key>
                <string>{{1213,2},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_52x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,67}</string>
                <key>textureRect</key>
                <string>{{1318,2},{52,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_52x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1264,2},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_52x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,99}</string>
                <key>spriteSourceSize</key>
                <string>{52,99}</string>
                <key>textureRect</key>
                <string>{{606,2},{52,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_53x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{871,2},{53,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_55x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{55,36}</string>
                <key>textureRect</key>
                <string>{{696,89},{55,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_60x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,106}</string>
                <key>spriteSourceSize</key>
                <string>{60,106}</string>
                <key>textureRect</key>
                <string>{{315,2},{60,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_62x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{62,85}</string>
                <key>textureRect</key>
                <string>{{684,2},{62,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_72x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{1136,77},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_72x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{1011,2},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_74x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,101}</string>
                <key>spriteSourceSize</key>
                <string>{74,101}</string>
                <key>textureRect</key>
                <string>{{377,2},{74,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{1259,75},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_76x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{974,80},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_76x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,53}</string>
                <key>spriteSourceSize</key>
                <string>{76,53}</string>
                <key>textureRect</key>
                <string>{{1527,65},{76,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_79x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{79,73}</string>
                <key>textureRect</key>
                <string>{{1085,2},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_82x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,47}</string>
                <key>spriteSourceSize</key>
                <string>{82,47}</string>
                <key>textureRect</key>
                <string>{{1052,79},{82,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_82x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{787,2},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_83x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{1375,71},{83,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1299e-hn-bul_85x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,44}</string>
                <key>spriteSourceSize</key>
                <string>{85,44}</string>
                <key>textureRect</key>
                <string>{{801,82},{85,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1299e-hn-bul.png</string>
            <key>size</key>
            <string>{1633,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f6175a92e2a77ac10f9da7fd7f9841:0c22905074de5ffd13b9482d07266e1c:afe6b03cd4785bdf7610dc7d8c90cf39$</string>
            <key>textureFileName</key>
            <string>u1299e-hn-bul.png</string>
        </dict>
    </dict>
</plist>
