<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91009-vincent-bul2_104x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,64}</string>
                <key>spriteSourceSize</key>
                <string>{104,64}</string>
                <key>textureRect</key>
                <string>{{4,358},{104,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-bul2_122x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{4,134},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-bul2_128x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{4,4},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-bul2_96x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{4,258},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91009-vincent-bul2.png</string>
            <key>size</key>
            <string>{136,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743c88efd7b2eaf402f449ddc92d8fcb:2bb49a4890a4cd13447829af41744e0c:edd396e39632a86d9fad9b9d950116b3$</string>
            <key>textureFileName</key>
            <string>u91009-vincent-bul2.png</string>
        </dict>
    </dict>
</plist>
