<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91009-vincent-body_118x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,30}</string>
                <key>spriteSourceSize</key>
                <string>{118,30}</string>
                <key>textureRect</key>
                <string>{{4,210},{118,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_11x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{301,200},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{279,200},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{279,222},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_18x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{354,70},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_21x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,16}</string>
                <key>spriteSourceSize</key>
                <string>{21,16}</string>
                <key>textureRect</key>
                <string>{{426,157},{21,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_23x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{389,229},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{370,157},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_24x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{398,157},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_25x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,12}</string>
                <key>spriteSourceSize</key>
                <string>{25,12}</string>
                <key>textureRect</key>
                <string>{{294,184},{25,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_29x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{212,200},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{245,200},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{389,177},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{423,177},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_39x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{126,208},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_39x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{169,208},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_62x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{323,184},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_72x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{202,4},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_72x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{278,4},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_72x86_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{294,94},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_79x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{376,70},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_90x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,62}</string>
                <key>textureRect</key>
                <string>{{354,4},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_90x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{4,110},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_94x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{98,110},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_94x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{104,4},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_94x94_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{196,102},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91009-vincent-body_96x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,102}</string>
                <key>textureRect</key>
                <string>{{4,4},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91009-vincent-body.png</string>
            <key>size</key>
            <string>{459,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b742f157b9345ac29eea718590364938:9f162d65e6f4a3b45328bcfef133a504:634ccaa3ea5cb7d06b827d342269cc0f$</string>
            <key>textureFileName</key>
            <string>u91009-vincent-body.png</string>
        </dict>
    </dict>
</plist>
