<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91058-hanabi-body_128x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,80}</string>
                <key>textureRect</key>
                <string>{{4,560},{128,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{764,452},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_16x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,46}</string>
                <key>spriteSourceSize</key>
                <string>{16,46}</string>
                <key>textureRect</key>
                <string>{{764,402},{16,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_190x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{190,160}</string>
                <key>textureRect</key>
                <string>{{4,192},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_190x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,184}</string>
                <key>spriteSourceSize</key>
                <string>{190,184}</string>
                <key>textureRect</key>
                <string>{{4,4},{190,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_194x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,98}</string>
                <key>spriteSourceSize</key>
                <string>{194,98}</string>
                <key>textureRect</key>
                <string>{{4,356},{194,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_194x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,98}</string>
                <key>spriteSourceSize</key>
                <string>{194,98}</string>
                <key>textureRect</key>
                <string>{{4,458},{194,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_196x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,90}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{202,392},{196,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_196x90_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,90}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{202,486},{196,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_206x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,92}</string>
                <key>spriteSourceSize</key>
                <string>{206,92}</string>
                <key>textureRect</key>
                <string>{{198,200},{206,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_206x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,92}</string>
                <key>spriteSourceSize</key>
                <string>{206,92}</string>
                <key>textureRect</key>
                <string>{{202,296},{206,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_210x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,94}</string>
                <key>textureRect</key>
                <string>{{198,4},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_210x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,94}</string>
                <key>textureRect</key>
                <string>{{198,102},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_214x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,88}</string>
                <key>spriteSourceSize</key>
                <string>{214,88}</string>
                <key>textureRect</key>
                <string>{{634,4},{214,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_214x88_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,88}</string>
                <key>spriteSourceSize</key>
                <string>{214,88}</string>
                <key>textureRect</key>
                <string>{{634,96},{214,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_218x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,86}</string>
                <key>spriteSourceSize</key>
                <string>{218,86}</string>
                <key>textureRect</key>
                <string>{{412,4},{218,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_218x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,86}</string>
                <key>spriteSourceSize</key>
                <string>{218,86}</string>
                <key>textureRect</key>
                <string>{{412,94},{218,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{214,624},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{186,624},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{360,618},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_30x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{812,562},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{812,486},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_32x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{812,524},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{602,360},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_32x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{638,360},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_32x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{136,628},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{360,580},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_38x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{760,608},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{714,596},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{760,572},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{652,524},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{714,558},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{488,594},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{534,594},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_42x54_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{738,344},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_46x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{136,560},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_46x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{680,276},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_46x64_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{730,276},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{760,530},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{662,606},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{760,486},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{662,562},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{780,272},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{650,400},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_48x58_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{650,462},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{702,454},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_54x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{702,506},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{680,344},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_54x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{784,334},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_58x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{702,402},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_60x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{784,390},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_60x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{784,438},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_70x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{764,188},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_72x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{612,188},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_72x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{688,188},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_72x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{72,90}</string>
                <key>textureRect</key>
                <string>{{488,500},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_74x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{572,400},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_74x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{572,476},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_74x72_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{602,284},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_78x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{278,580},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_78x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{580,582},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_80x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{488,400},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_82x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{82,106}</string>
                <key>textureRect</key>
                <string>{{402,510},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_82x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{82,114}</string>
                <key>textureRect</key>
                <string>{{402,392},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_84x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,26}</string>
                <key>spriteSourceSize</key>
                <string>{84,26}</string>
                <key>textureRect</key>
                <string>{{564,552},{84,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_86x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,112}</string>
                <key>spriteSourceSize</key>
                <string>{86,112}</string>
                <key>textureRect</key>
                <string>{{512,284},{86,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_88x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{186,580},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_96x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{412,184},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_96x96_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{512,184},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_96x96_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{412,284},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91058-hanabi-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{186,560},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91058-hanabi-body.png</string>
            <key>size</key>
            <string>{852,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8fbac28b2bfa612a2ca3096c3dd2e3:8fa295fa6b8b05ade92760bfb9b1fd11:c4a7c38a631a642f3857564a37701fd2$</string>
            <key>textureFileName</key>
            <string>u91058-hanabi-body.png</string>
        </dict>
    </dict>
</plist>
