<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1256e-boss-body_103x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,48}</string>
                <key>spriteSourceSize</key>
                <string>{103,48}</string>
                <key>textureRect</key>
                <string>{{1091,110},{103,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_104x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{300,113},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_10x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{20,242},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_110x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{92,132},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_110x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,52}</string>
                <key>textureRect</key>
                <string>{{909,163},{110,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_128x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,46}</string>
                <key>textureRect</key>
                <string>{{204,206},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_131x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,49}</string>
                <key>spriteSourceSize</key>
                <string>{131,49}</string>
                <key>textureRect</key>
                <string>{{1021,162},{131,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_131x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,52}</string>
                <key>textureRect</key>
                <string>{{776,163},{131,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_14x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{1238,86},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_152x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,58}</string>
                <key>spriteSourceSize</key>
                <string>{152,58}</string>
                <key>textureRect</key>
                <string>{{334,195},{152,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{2,242},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_16x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{70,132},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_180x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,52}</string>
                <key>spriteSourceSize</key>
                <string>{180,52}</string>
                <key>textureRect</key>
                <string>{{744,109},{180,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_18x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{1238,63},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1228,131},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_218x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,31}</string>
                <key>spriteSourceSize</key>
                <string>{218,31}</string>
                <key>textureRect</key>
                <string>{{605,76},{218,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_24x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{825,76},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_24x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{1065,118},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{996,118},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{1190,160},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_25x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{221,89},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_25x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{412,83},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_27x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{305,89},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_27x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{967,118},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_280x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,34}</string>
                <key>spriteSourceSize</key>
                <string>{280,34}</string>
                <key>textureRect</key>
                <string>{{876,40},{280,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_29x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{1071,76},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_29x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{1040,76},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_29x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{1205,63},{29,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_30x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{1196,131},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_30x25_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{1216,158},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{862,217},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{976,76},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_30x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{1008,76},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_31x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{761,222},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{794,217},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_32x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{828,217},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_32x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,69}</string>
                <key>spriteSourceSize</key>
                <string>{32,69}</string>
                <key>textureRect</key>
                <string>{{488,183},{32,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_342x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,35}</string>
                <key>spriteSourceSize</key>
                <string>{342,35}</string>
                <key>textureRect</key>
                <string>{{894,217},{342,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_34x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,25}</string>
                <key>textureRect</key>
                <string>{{1102,76},{34,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_34x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1154,160},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_34x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,55}</string>
                <key>spriteSourceSize</key>
                <string>{34,55}</string>
                <key>textureRect</key>
                <string>{{708,109},{34,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_36x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{723,222},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{938,76},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_377x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,36}</string>
                <key>spriteSourceSize</key>
                <string>{377,36}</string>
                <key>textureRect</key>
                <string>{{876,2},{377,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_37x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{204,114},{37,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_38x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{898,76},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_38x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{593,183},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_39x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,19}</string>
                <key>textureRect</key>
                <string>{{1196,110},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_39x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{926,118},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_41x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{1022,118},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_44x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{439,81},{44,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_45x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,30}</string>
                <key>spriteSourceSize</key>
                <string>{45,30}</string>
                <key>textureRect</key>
                <string>{{851,76},{45,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_45x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1158,63},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_51x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{723,166},{51,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_52x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{551,77},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_55x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{248,89},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_55x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{243,114},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_58x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,110}</string>
                <key>spriteSourceSize</key>
                <string>{58,110}</string>
                <key>textureRect</key>
                <string>{{161,2},{58,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_64x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,26}</string>
                <key>spriteSourceSize</key>
                <string>{64,26}</string>
                <key>textureRect</key>
                <string>{{485,81},{64,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_66x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,144}</string>
                <key>spriteSourceSize</key>
                <string>{66,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{66,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_69x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{522,183},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_71x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{635,109},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{580,2},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{561,109},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_72x72_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{654,2},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_72x72_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{728,2},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_72x72_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{802,2},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_73x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{486,109},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{334,83},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_76x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{502,2},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_78x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{406,112},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_85x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{415,2},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_88x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{633,183},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_88x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{2,148},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_89x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{70,2},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_92x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,85}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{221,2},{92,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_94x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,21}</string>
                <key>textureRect</key>
                <string>{{1158,40},{94,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_98x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,79}</string>
                <key>spriteSourceSize</key>
                <string>{98,79}</string>
                <key>textureRect</key>
                <string>{{315,2},{98,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1256e-boss-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{32,242},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1256e-boss-body.png</string>
            <key>size</key>
            <string>{1258,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc92e150c0f857e7267a66d1066884f:a1b3be5be3791f4bcf177fd6b21ae1f6:1af27544ac043d9f0b26410917b47a3d$</string>
            <key>textureFileName</key>
            <string>u1256e-boss-body.png</string>
        </dict>
    </dict>
</plist>
