<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1060u-haruka-bul_66x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{4,4},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1060u-haruka-bul.png</string>
            <key>size</key>
            <string>{74,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c18c2021924ae50f94fc21b286fdb2f:8f4d9b90cfeaed1b2d55ff2436c37a69:38839c9be195173993749f0c173393a6$</string>
            <key>textureFileName</key>
            <string>u1060u-haruka-bul.png</string>
        </dict>
    </dict>
</plist>
