<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91044-akira-body_101x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{371,221},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{380,4},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_106x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{378,109},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_116x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{116,106}</string>
                <key>textureRect</key>
                <string>{{360,513},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_116x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,54}</string>
                <key>spriteSourceSize</key>
                <string>{116,54}</string>
                <key>textureRect</key>
                <string>{{355,623},{116,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_120x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,138}</string>
                <key>textureRect</key>
                <string>{{364,326},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_120x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,41}</string>
                <key>spriteSourceSize</key>
                <string>{120,41}</string>
                <key>textureRect</key>
                <string>{{360,468},{120,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_126x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{149,441},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_141x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,127}</string>
                <key>spriteSourceSize</key>
                <string>{141,127}</string>
                <key>textureRect</key>
                <string>{{4,387},{141,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_146x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,132}</string>
                <key>spriteSourceSize</key>
                <string>{146,132}</string>
                <key>textureRect</key>
                <string>{{154,305},{146,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_146x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,134}</string>
                <key>spriteSourceSize</key>
                <string>{146,134}</string>
                <key>textureRect</key>
                <string>{{4,249},{146,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_156x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,132}</string>
                <key>spriteSourceSize</key>
                <string>{156,132}</string>
                <key>textureRect</key>
                <string>{{165,169},{156,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_157x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,134}</string>
                <key>spriteSourceSize</key>
                <string>{157,134}</string>
                <key>textureRect</key>
                <string>{{4,111},{157,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{178,103},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_170x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,48}</string>
                <key>spriteSourceSize</key>
                <string>{170,48}</string>
                <key>textureRect</key>
                <string>{{4,59},{170,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_178x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,52}</string>
                <key>spriteSourceSize</key>
                <string>{178,52}</string>
                <key>textureRect</key>
                <string>{{192,47},{178,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_184x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,39}</string>
                <key>spriteSourceSize</key>
                <string>{184,39}</string>
                <key>textureRect</key>
                <string>{{192,4},{184,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_184x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,51}</string>
                <key>spriteSourceSize</key>
                <string>{184,51}</string>
                <key>textureRect</key>
                <string>{{4,4},{184,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{279,441},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{104,546},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_23x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{4,646},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{104,518},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_29x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{341,136},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_33x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{341,103},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{325,240},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_36x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{325,274},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_42x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{325,186},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_52x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{304,386},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_56x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{304,308},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_66x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{66,86}</string>
                <key>textureRect</key>
                <string>{{190,557},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_69x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{31,634},{69,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_72x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{279,548},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_77x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{279,463},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_82x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{82,106}</string>
                <key>textureRect</key>
                <string>{{104,568},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91044-akira-body_84x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{4,518},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91044-akira-body.png</string>
            <key>size</key>
            <string>{488,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd1f8eb428e5894f51669ee9c5ff9c8c:88db6cc442a50064e08d4af57b8d3725:acb65dd07884552710541bf7051eb57e$</string>
            <key>textureFileName</key>
            <string>u91044-akira-body.png</string>
        </dict>
    </dict>
</plist>
