<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u212e-glenn-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 102}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 44}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_24x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{24, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 162}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 26}</string>
			<key>spriteSourceSize</key>
			<string>{26, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 194}, {26, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_27x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {25, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{27, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{113, 222}, {27, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_28x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 26}</string>
			<key>spriteSourceSize</key>
			<string>{28, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 194}, {28, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_28x62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {26, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 62}</string>
			<key>spriteSourceSize</key>
			<string>{28, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 0}, {28, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_30x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{142, 222}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 162}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_30x47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 47}</string>
			<key>spriteSourceSize</key>
			<string>{30, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 0}, {30, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_32x99.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {14, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 99}</string>
			<key>spriteSourceSize</key>
			<string>{32, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 128}, {32, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_34x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {32, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 16}</string>
			<key>spriteSourceSize</key>
			<string>{34, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 83}, {34, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_34x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 17}</string>
			<key>spriteSourceSize</key>
			<string>{34, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 64}, {34, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_34x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{34, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 32}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_34x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{34, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 0}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_36x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 64}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_42x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 48}</string>
			<key>spriteSourceSize</key>
			<string>{42, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 64}, {42, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_43x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {41, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 46}</string>
			<key>spriteSourceSize</key>
			<string>{43, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 114}, {43, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_46x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 222}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_54x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {52, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 18}</string>
			<key>spriteSourceSize</key>
			<string>{54, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 44}, {54, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_63x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {57, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 26}</string>
			<key>spriteSourceSize</key>
			<string>{63, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 229}, {63, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_68x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 92}</string>
			<key>spriteSourceSize</key>
			<string>{68, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 128}, {68, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_75x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {73, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 42}</string>
			<key>spriteSourceSize</key>
			<string>{75, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 0}, {75, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u212e-glenn-body_80x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 126}</string>
			<key>spriteSourceSize</key>
			<string>{80, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {80, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u212e-glenn-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>