<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90161-camcam-body_110x113.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {108, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 113}</string>
			<key>spriteSourceSize</key>
			<string>{110, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{657, 362}, {110, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_127x103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {125, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 103}</string>
			<key>spriteSourceSize</key>
			<string>{127, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{769, 362}, {127, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_133x95.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {131, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{133, 95}</string>
			<key>spriteSourceSize</key>
			<string>{133, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{615, 481}, {133, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_13x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {13, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{13, 8}</string>
			<key>spriteSourceSize</key>
			<string>{13, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{583, 238}, {13, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_159x82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 82}</string>
			<key>spriteSourceSize</key>
			<string>{159, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{422, 159}, {159, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_164x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {162, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{164, 77}</string>
			<key>spriteSourceSize</key>
			<string>{164, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{583, 159}, {164, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_164x77_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {162, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{164, 77}</string>
			<key>spriteSourceSize</key>
			<string>{164, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{749, 159}, {164, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {119, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 657}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 1}, {121, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 692}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 0}, {117, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 679}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 0}, {109, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{842, 467}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 0}, {77, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 832}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 1}, {75, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{531, 694}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 8}, {19, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{585, 578}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 17}, {141, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 588}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {151, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 588}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 7}, {137, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 796}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 5}, {129, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 484}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 6}, {129, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 484}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 5}, {129, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{408, 539}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 5}, {133, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{708, 783}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_175x102_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 2}, {121, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 102}</string>
			<key>spriteSourceSize</key>
			<string>{175, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 692}, {175, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_185x140.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {185, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 249}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_185x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {185, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 28}</string>
			<key>spriteSourceSize</key>
			<string>{185, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 454}, {185, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_187x122.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {187, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{187, 122}</string>
			<key>spriteSourceSize</key>
			<string>{187, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{598, 238}, {187, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_188x112.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {184, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 112}</string>
			<key>spriteSourceSize</key>
			<string>{188, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{816, 0}, {188, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 462}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{325, 462}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_200x200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 252}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_203x146.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 146}</string>
			<key>spriteSourceSize</key>
			<string>{203, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 391}, {203, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_206x166.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {204, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{206, 166}</string>
			<key>spriteSourceSize</key>
			<string>{206, 166}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 252}, {206, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_22x10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 10}</string>
			<key>spriteSourceSize</key>
			<string>{22, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{187, 471}, {22, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_22x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 14}</string>
			<key>spriteSourceSize</key>
			<string>{22, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{621, 362}, {22, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_22x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {22, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 15}</string>
			<key>spriteSourceSize</key>
			<string>{22, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 465}, {22, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_22x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{597, 362}, {22, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_250x250.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 250}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_25x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 49}</string>
			<key>spriteSourceSize</key>
			<string>{25, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{531, 643}, {25, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_28x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 19}</string>
			<key>spriteSourceSize</key>
			<string>{28, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 444}, {28, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_39x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {39, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 33}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{912, 114}, {39, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_40x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {38, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 114}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_40x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 92}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{615, 387}, {40, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_44x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {44, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 16}</string>
			<key>spriteSourceSize</key>
			<string>{44, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 444}, {44, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_49x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {47, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 45}</string>
			<key>spriteSourceSize</key>
			<string>{49, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 610}, {49, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_52x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {52, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 40}</string>
			<key>spriteSourceSize</key>
			<string>{52, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{816, 114}, {52, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_52x94.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 94}</string>
			<key>spriteSourceSize</key>
			<string>{52, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 514}, {52, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_54x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 92}</string>
			<key>spriteSourceSize</key>
			<string>{54, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 420}, {54, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_63x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {63, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{63, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{609, 798}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_65x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 69}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 761}, {65, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_69x88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 88}</string>
			<key>spriteSourceSize</key>
			<string>{69, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{351, 159}, {69, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_71x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 49}</string>
			<key>spriteSourceSize</key>
			<string>{71, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 420}, {71, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_72x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 22}</string>
			<key>spriteSourceSize</key>
			<string>{72, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 420}, {72, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_72x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 77}</string>
			<key>spriteSourceSize</key>
			<string>{72, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{915, 149}, {72, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_76x96.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 96}</string>
			<key>spriteSourceSize</key>
			<string>{76, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 761}, {76, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_78x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {76, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 48}</string>
			<key>spriteSourceSize</key>
			<string>{78, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{938, 571}, {78, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_80x96.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 96}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{856, 571}, {80, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_90x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 348}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_90x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 98}</string>
			<key>spriteSourceSize</key>
			<string>{90, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 477}, {90, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 100}</string>
			<key>spriteSourceSize</key>
			<string>{92, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 577}, {92, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {64, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {70, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{722, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {74, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {66, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 9}, {56, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_92x157_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {50, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 157}</string>
			<key>spriteSourceSize</key>
			<string>{92, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{628, 0}, {92, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_95x112.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 112}</string>
			<key>spriteSourceSize</key>
			<string>{95, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 238}, {95, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_97x108.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 108}</string>
			<key>spriteSourceSize</key>
			<string>{97, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 238}, {97, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90161-camcam-body_97x91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {97, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 91}</string>
			<key>spriteSourceSize</key>
			<string>{97, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 159}, {97, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u90161-camcam-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>