<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1465u-moon-bul2_172x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,150}</string>
                <key>spriteSourceSize</key>
                <string>{172,150}</string>
                <key>textureRect</key>
                <string>{{568,2},{172,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1465u-moon-bul2_180x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{198,2},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1465u-moon-bul2_186x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,152}</string>
                <key>spriteSourceSize</key>
                <string>{186,152}</string>
                <key>textureRect</key>
                <string>{{380,2},{186,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1465u-moon-bul2_194x194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{2,2},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1465u-moon-bul2.png</string>
            <key>size</key>
            <string>{742,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0bae7c1da45d98add9a9cc0d5f7bf9:a1712d68f14fc41618d92952ff77ccf1:c3a9a2ce6a4d8bfc9fd27c844b4e5499$</string>
            <key>textureFileName</key>
            <string>u1465u-moon-bul2.png</string>
        </dict>
    </dict>
</plist>
