<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2002e-alice-bul_128x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,85}</string>
                <key>textureRect</key>
                <string>{{157,4},{128,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2002e-alice-bul_149x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,90}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{4,4},{149,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2002e-alice-bul_27x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,51}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{449,4},{27,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2002e-alice-bul_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{377,56},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2002e-alice-bul_68x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{377,4},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2002e-alice-bul_84x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{289,4},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2002e-alice-bul.png</string>
            <key>size</key>
            <string>{480,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996c39c754d7327c0920aa272e1c1764:766b46ee855f2e5d90bfccd40f85d1cf:b35a204b2d4c3396955f5a419a6e3b74$</string>
            <key>textureFileName</key>
            <string>u2002e-alice-bul.png</string>
        </dict>
    </dict>
</plist>
