<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92003-bomby-body_105x93.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,93}</string>
			<key>spriteSourceSize</key>
			<string>{105,93}</string>
			<key>textureRect</key>
			<string>{{606,0},{105,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_105x93_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,93}</string>
			<key>spriteSourceSize</key>
			<string>{105,93}</string>
			<key>textureRect</key>
			<string>{{712,0},{105,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_105x93_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,93}</string>
			<key>spriteSourceSize</key>
			<string>{105,93}</string>
			<key>textureRect</key>
			<string>{{606,94},{105,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_135x132.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{135,132}</string>
			<key>spriteSourceSize</key>
			<string>{135,132}</string>
			<key>textureRect</key>
			<string>{{470,0},{135,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_140x137.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,137}</string>
			<key>spriteSourceSize</key>
			<string>{140,137}</string>
			<key>textureRect</key>
			<string>{{329,0},{140,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_14x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,18}</string>
			<key>spriteSourceSize</key>
			<string>{14,18}</string>
			<key>textureRect</key>
			<string>{{443,181},{14,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_14x234.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,234}</string>
			<key>spriteSourceSize</key>
			<string>{14,234}</string>
			<key>textureRect</key>
			<string>{{0,0},{14,234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_152x150.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,150}</string>
			<key>spriteSourceSize</key>
			<string>{152,150}</string>
			<key>textureRect</key>
			<string>{{176,0},{152,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_160x160.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{15,0},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{206,182},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{225,182},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_19x27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,27}</string>
			<key>spriteSourceSize</key>
			<string>{19,27}</string>
			<key>textureRect</key>
			<string>{{295,151},{19,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_20x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{422,181},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{64,161},{26,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_29x37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,37}</string>
			<key>spriteSourceSize</key>
			<string>{29,37}</string>
			<key>textureRect</key>
			<string>{{176,151},{29,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_33x23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,23}</string>
			<key>spriteSourceSize</key>
			<string>{33,23}</string>
			<key>textureRect</key>
			<string>{{295,179},{33,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_37x23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,23}</string>
			<key>spriteSourceSize</key>
			<string>{37,23}</string>
			<key>textureRect</key>
			<string>{{246,181},{37,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_39x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,30}</string>
			<key>spriteSourceSize</key>
			<string>{39,30}</string>
			<key>textureRect</key>
			<string>{{206,151},{39,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_39x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,41}</string>
			<key>spriteSourceSize</key>
			<string>{39,41}</string>
			<key>textureRect</key>
			<string>{{803,149},{39,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_39x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,54}</string>
			<key>spriteSourceSize</key>
			<string>{39,54}</string>
			<key>textureRect</key>
			<string>{{803,94},{39,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_40x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,44}</string>
			<key>spriteSourceSize</key>
			<string>{40,44}</string>
			<key>textureRect</key>
			<string>{{329,138},{40,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{422,138},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_48x29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,29}</string>
			<key>spriteSourceSize</key>
			<string>{48,29}</string>
			<key>textureRect</key>
			<string>{{246,151},{48,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_48x29_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,29}</string>
			<key>spriteSourceSize</key>
			<string>{48,29}</string>
			<key>textureRect</key>
			<string>{{15,161},{48,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_51x43.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,43}</string>
			<key>spriteSourceSize</key>
			<string>{51,43}</string>
			<key>textureRect</key>
			<string>{{370,138},{51,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_52x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,52}</string>
			<key>spriteSourceSize</key>
			<string>{52,52}</string>
			<key>textureRect</key>
			<string>{{546,133},{52,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_74x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,24}</string>
			<key>spriteSourceSize</key>
			<string>{74,24}</string>
			<key>textureRect</key>
			<string>{{91,161},{74,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_75x75.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{470,133},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92003-bomby-body_90x90.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{712,94},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92003-bomby-body.png</string>
		<key>size</key>
		<string>{842,234}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92003-bomby-body.png</string>
	</dict>
</dict>
</plist>
