<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91117-diablo-bul2_74x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{74,96}</string>
                <key>textureRect</key>
                <string>{{83,4},{74,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91117-diablo-bul2_75x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,99}</string>
                <key>spriteSourceSize</key>
                <string>{75,99}</string>
                <key>textureRect</key>
                <string>{{4,4},{75,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91117-diablo-bul2_85x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,53}</string>
                <key>spriteSourceSize</key>
                <string>{85,53}</string>
                <key>textureRect</key>
                <string>{{161,4},{85,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91117-diablo-bul2.png</string>
            <key>size</key>
            <string>{250,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19d8b02505bf0f158a1b79c2d010792:94b5123a7f09d65d0de444dec9acb08f:4d6e10f2efa7b4b8299a8a73b8f8395b$</string>
            <key>textureFileName</key>
            <string>u91117-diablo-bul2.png</string>
        </dict>
    </dict>
</plist>
