<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1515e-sally-body_10x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{470,228},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_10x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,80}</string>
                <key>spriteSourceSize</key>
                <string>{10,80}</string>
                <key>textureRect</key>
                <string>{{470,146},{10,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{284,229},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{752,190},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{380,229},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{268,229},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_14x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{426,244},{14,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_160x157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,157}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{232,2},{160,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{192,238},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{210,238},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{174,238},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{494,78},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{326,229},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{344,229},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{344,229},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{362,229},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x16_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{232,229},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{752,170},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{726,224},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{250,229},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{562,226},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_16x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{734,170},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_18x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{154,238},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{748,150},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_20x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{96,238},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_228x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,234}</string>
                <key>spriteSourceSize</key>
                <string>{228,234}</string>
                <key>textureRect</key>
                <string>{{2,2},{228,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{702,232},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_22x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,76}</string>
                <key>spriteSourceSize</key>
                <string>{22,76}</string>
                <key>textureRect</key>
                <string>{{542,78},{22,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_22x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,80}</string>
                <key>spriteSourceSize</key>
                <string>{22,80}</string>
                <key>textureRect</key>
                <string>{{754,68},{22,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{706,170},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_26x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{298,221},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_28x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,106}</string>
                <key>spriteSourceSize</key>
                <string>{28,106}</string>
                <key>textureRect</key>
                <string>{{396,146},{28,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_28x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,146}</string>
                <key>spriteSourceSize</key>
                <string>{28,146}</string>
                <key>textureRect</key>
                <string>{{482,96},{28,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_28x146_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,146}</string>
                <key>spriteSourceSize</key>
                <string>{28,146}</string>
                <key>textureRect</key>
                <string>{{512,78},{28,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_34x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{118,238},{34,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_36x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,14}</string>
                <key>textureRect</key>
                <string>{{58,238},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{664,232},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_36x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{542,156},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{620,236},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_38x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{580,224},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_38x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{708,194},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_38x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,68}</string>
                <key>spriteSourceSize</key>
                <string>{38,68}</string>
                <key>textureRect</key>
                <string>{{580,154},{38,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{706,134},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{620,156},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_40x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{712,68},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{620,198},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_42x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{662,156},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_42x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{664,194},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_42x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{42,96}</string>
                <key>textureRect</key>
                <string>{{426,146},{42,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_48x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{512,226},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{658,70},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_54x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,14}</string>
                <key>spriteSourceSize</key>
                <string>{54,14}</string>
                <key>textureRect</key>
                <string>{{2,238},{54,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_54x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,30}</string>
                <key>textureRect</key>
                <string>{{646,124},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_64x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,6}</string>
                <key>spriteSourceSize</key>
                <string>{64,6}</string>
                <key>textureRect</key>
                <string>{{232,221},{64,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{710,2},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_66x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{710,24},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_66x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{710,46},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_68x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{570,2},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_68x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{640,2},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_68x66_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{326,161},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{494,2},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_78x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{566,112},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_84x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{394,96},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_86x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,40}</string>
                <key>textureRect</key>
                <string>{{570,70},{86,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_92x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{232,161},{92,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{394,2},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1515e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{646,112},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1515e-sally-body.png</string>
            <key>size</key>
            <string>{778,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a7ee0b249c6f9f53ec2188aa272dc4:68c10b2f9e1971d7be1997690514dbb8:b9d13bd2c668b44688ef2804fe9db785$</string>
            <key>textureFileName</key>
            <string>u1515e-sally-body.png</string>
        </dict>
    </dict>
</plist>
