<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1596h-moon-bul3_100x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{592,771},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_115x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,103}</string>
                <key>textureRect</key>
                <string>{{778,436},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_116x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{778,214},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_117x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,34}</string>
                <key>spriteSourceSize</key>
                <string>{117,34}</string>
                <key>textureRect</key>
                <string>{{696,747},{117,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_119x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,104}</string>
                <key>spriteSourceSize</key>
                <string>{119,104}</string>
                <key>textureRect</key>
                <string>{{778,328},{119,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_120x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{778,4},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_120x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{778,114},{120,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_121x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,100}</string>
                <key>spriteSourceSize</key>
                <string>{121,100}</string>
                <key>textureRect</key>
                <string>{{772,543},{121,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_122x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,96}</string>
                <key>spriteSourceSize</key>
                <string>{122,96}</string>
                <key>textureRect</key>
                <string>{{722,647},{122,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{754,608},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_161x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,79}</string>
                <key>spriteSourceSize</key>
                <string>{161,79}</string>
                <key>textureRect</key>
                <string>{{520,688},{161,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_162x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{162,160}</string>
                <key>textureRect</key>
                <string>{{520,524},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{736,850},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_192x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{4,784},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_192x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{200,784},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_192x80_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{396,784},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{806,785},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{817,747},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{780,785},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{792,807},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{4,4},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{4,264},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{262,4},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{4,524},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{262,264},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{520,4},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{262,524},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_254x256_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{520,264},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{841,747},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{685,722},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{722,608},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{848,697},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_32x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,110}</string>
                <key>spriteSourceSize</key>
                <string>{32,110}</string>
                <key>textureRect</key>
                <string>{{686,608},{32,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{848,647},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_36x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{696,808},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_52x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{736,808},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_80x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,19}</string>
                <key>spriteSourceSize</key>
                <string>{80,19}</string>
                <key>textureRect</key>
                <string>{{696,785},{80,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_82x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{686,524},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1596h-moon-bul3_88x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,24}</string>
                <key>spriteSourceSize</key>
                <string>{88,24}</string>
                <key>textureRect</key>
                <string>{{592,833},{88,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1596h-moon-bul3.png</string>
            <key>size</key>
            <string>{902,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fedd09e49266f5d92fe75bf9d04e132:bc55e89064acddfa5cbcbb1586481055:07dfbfc20836ba00ea7373d99cb71086$</string>
            <key>textureFileName</key>
            <string>u1596h-moon-bul3.png</string>
        </dict>
    </dict>
</plist>
