<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80038-dice-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{375,113},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_107x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,95}</string>
                <key>spriteSourceSize</key>
                <string>{107,95}</string>
                <key>textureRect</key>
                <string>{{92,422},{107,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_111x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,105}</string>
                <key>spriteSourceSize</key>
                <string>{111,105}</string>
                <key>textureRect</key>
                <string>{{375,4},{111,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{310,239},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{86,524},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{310,377},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{144,239},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{382,553},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{203,502},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_21x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{443,347},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{144,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,4},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_25x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{472,347},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{467,762},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_37x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{443,219},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_45x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{443,266},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_46x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{443,312},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{92,4},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_49x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{414,762},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{404,515},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_68x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{382,585},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_68x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{312,620},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_68x67_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{312,691},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{230,502},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_71x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,68}</string>
                <key>spriteSourceSize</key>
                <string>{71,68}</string>
                <key>textureRect</key>
                <string>{{230,581},{71,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_73x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{305,553},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{4,542},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_78x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{230,653},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_78x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{230,725},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_8x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,13}</string>
                <key>spriteSourceSize</key>
                <string>{8,13}</string>
                <key>textureRect</key>
                <string>{{230,797},{8,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_8x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,14}</string>
                <key>spriteSourceSize</key>
                <string>{8,14}</string>
                <key>textureRect</key>
                <string>{{66,524},{8,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_94x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{203,410},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{302,515},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{312,762},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{384,610},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{384,648},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{384,686},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80038-dice-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{384,724},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80038-dice-body.png</string>
            <key>size</key>
            <string>{501,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5450ea04a282e840cc767528ba3bc497:d765d7f384ea81d409d3901f74646ad3:1df8464cc484cc459d259321f2c5f1d0$</string>
            <key>textureFileName</key>
            <string>u80038-dice-body.png</string>
        </dict>
    </dict>
</plist>
