<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92025-jerome-body_100x63.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,63}</string>
			<key>spriteSourceSize</key>
			<string>{100,63}</string>
			<key>textureRect</key>
			<string>{{1027,69},{100,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_102x47.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,47}</string>
			<key>spriteSourceSize</key>
			<string>{102,47}</string>
			<key>textureRect</key>
			<string>{{84,184},{102,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_102x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,50}</string>
			<key>spriteSourceSize</key>
			<string>{102,50}</string>
			<key>textureRect</key>
			<string>{{849,137},{102,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_103x61.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{103,61}</string>
			<key>spriteSourceSize</key>
			<string>{103,61}</string>
			<key>textureRect</key>
			<string>{{745,77},{103,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_107x67.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{107,67}</string>
			<key>spriteSourceSize</key>
			<string>{107,67}</string>
			<key>textureRect</key>
			<string>{{919,69},{107,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_108x48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,48}</string>
			<key>spriteSourceSize</key>
			<string>{108,48}</string>
			<key>textureRect</key>
			<string>{{460,142},{108,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_109x49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,49}</string>
			<key>spriteSourceSize</key>
			<string>{109,49}</string>
			<key>textureRect</key>
			<string>{{585,138},{109,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_10x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,24}</string>
			<key>spriteSourceSize</key>
			<string>{10,24}</string>
			<key>textureRect</key>
			<string>{{69,185},{10,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_112x76.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,76}</string>
			<key>spriteSourceSize</key>
			<string>{112,76}</string>
			<key>textureRect</key>
			<string>{{745,0},{112,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_112x77.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,77}</string>
			<key>spriteSourceSize</key>
			<string>{112,77}</string>
			<key>textureRect</key>
			<string>{{632,0},{112,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_115x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,41}</string>
			<key>spriteSourceSize</key>
			<string>{115,41}</string>
			<key>textureRect</key>
			<string>{{667,189},{115,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_117x45.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{117,45}</string>
			<key>spriteSourceSize</key>
			<string>{117,45}</string>
			<key>textureRect</key>
			<string>{{837,188},{117,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_118x104.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,104}</string>
			<key>spriteSourceSize</key>
			<string>{118,104}</string>
			<key>textureRect</key>
			<string>{{262,0},{118,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_12x12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,12}</string>
			<key>spriteSourceSize</key>
			<string>{12,12}</string>
			<key>textureRect</key>
			<string>{{368,230},{12,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_130x130.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,130}</string>
			<key>spriteSourceSize</key>
			<string>{130,130}</string>
			<key>textureRect</key>
			<string>{{0,0},{130,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_130x130_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,130}</string>
			<key>spriteSourceSize</key>
			<string>{130,130}</string>
			<key>textureRect</key>
			<string>{{131,0},{130,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_16x16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{210,228},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_16x22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,22}</string>
			<key>spriteSourceSize</key>
			<string>{16,22}</string>
			<key>textureRect</key>
			<string>{{991,188},{16,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{818,189},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{818,208},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_22x21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,21}</string>
			<key>textureRect</key>
			<string>{{187,228},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_24x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,18}</string>
			<key>spriteSourceSize</key>
			<string>{24,18}</string>
			<key>textureRect</key>
			<string>{{425,229},{24,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_250x85.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,85}</string>
			<key>spriteSourceSize</key>
			<string>{250,85}</string>
			<key>textureRect</key>
			<string>{{381,0},{250,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_26x10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,10}</string>
			<key>spriteSourceSize</key>
			<string>{26,10}</string>
			<key>textureRect</key>
			<string>{{1027,232},{26,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_26x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,36}</string>
			<key>spriteSourceSize</key>
			<string>{26,36}</string>
			<key>textureRect</key>
			<string>{{304,206},{26,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_27x37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,37}</string>
			<key>spriteSourceSize</key>
			<string>{27,37}</string>
			<key>textureRect</key>
			<string>{{368,192},{27,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_28x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,20}</string>
			<key>spriteSourceSize</key>
			<string>{28,20}</string>
			<key>textureRect</key>
			<string>{{396,229},{28,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_29x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,14}</string>
			<key>spriteSourceSize</key>
			<string>{29,14}</string>
			<key>textureRect</key>
			<string>{{65,232},{29,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_34x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,38}</string>
			<key>spriteSourceSize</key>
			<string>{34,38}</string>
			<key>textureRect</key>
			<string>{{460,191},{34,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_34x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,40}</string>
			<key>spriteSourceSize</key>
			<string>{34,40}</string>
			<key>textureRect</key>
			<string>{{783,189},{34,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_35x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>textureRect</key>
			<string>{{532,191},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_35x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,41}</string>
			<key>spriteSourceSize</key>
			<string>{35,41}</string>
			<key>textureRect</key>
			<string>{{955,188},{35,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_36x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{331,206},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_36x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,38}</string>
			<key>spriteSourceSize</key>
			<string>{36,38}</string>
			<key>textureRect</key>
			<string>{{495,191},{36,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_37x35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,35}</string>
			<key>spriteSourceSize</key>
			<string>{37,35}</string>
			<key>textureRect</key>
			<string>{{1107,226},{37,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_38x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{1107,184},{38,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_42x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,44}</string>
			<key>spriteSourceSize</key>
			<string>{42,44}</string>
			<key>textureRect</key>
			<string>{{187,183},{42,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_46x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,36}</string>
			<key>spriteSourceSize</key>
			<string>{46,36}</string>
			<key>textureRect</key>
			<string>{{396,192},{46,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_46x49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{695,138},{46,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_46x49_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{742,139},{46,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_47x49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,49}</string>
			<key>spriteSourceSize</key>
			<string>{47,49}</string>
			<key>textureRect</key>
			<string>{{789,139},{47,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_51x11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,11}</string>
			<key>spriteSourceSize</key>
			<string>{51,11}</string>
			<key>textureRect</key>
			<string>{{95,232},{51,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_53x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{53,54}</string>
			<key>textureRect</key>
			<string>{{323,105},{53,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_54x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,50}</string>
			<key>spriteSourceSize</key>
			<string>{54,50}</string>
			<key>textureRect</key>
			<string>{{1027,133},{54,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_55x55.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{381,86},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_570x10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{570,10}</string>
			<key>spriteSourceSize</key>
			<string>{570,10}</string>
			<key>textureRect</key>
			<string>{{0,252},{570,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_576x16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{576,16}</string>
			<key>spriteSourceSize</key>
			<string>{576,16}</string>
			<key>textureRect</key>
			<string>{{450,235},{576,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_57x55.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,55}</string>
			<key>spriteSourceSize</key>
			<string>{57,55}</string>
			<key>textureRect</key>
			<string>{{437,86},{57,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_58x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,50}</string>
			<key>spriteSourceSize</key>
			<string>{58,50}</string>
			<key>textureRect</key>
			<string>{{1082,133},{58,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_59x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,50}</string>
			<key>spriteSourceSize</key>
			<string>{59,50}</string>
			<key>textureRect</key>
			<string>{{952,137},{59,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_59x59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,59}</string>
			<key>spriteSourceSize</key>
			<string>{59,59}</string>
			<key>textureRect</key>
			<string>{{858,74},{59,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_60x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,54}</string>
			<key>spriteSourceSize</key>
			<string>{60,54}</string>
			<key>textureRect</key>
			<string>{{262,105},{60,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_60x73.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,73}</string>
			<key>spriteSourceSize</key>
			<string>{60,73}</string>
			<key>textureRect</key>
			<string>{{858,0},{60,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_63x45.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,45}</string>
			<key>spriteSourceSize</key>
			<string>{63,45}</string>
			<key>textureRect</key>
			<string>{{304,160},{63,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_63x48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,48}</string>
			<key>spriteSourceSize</key>
			<string>{63,48}</string>
			<key>textureRect</key>
			<string>{{240,160},{63,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_64x22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,22}</string>
			<key>spriteSourceSize</key>
			<string>{64,22}</string>
			<key>textureRect</key>
			<string>{{0,229},{64,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_64x37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,37}</string>
			<key>spriteSourceSize</key>
			<string>{64,37}</string>
			<key>textureRect</key>
			<string>{{230,209},{64,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_68x43.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,43}</string>
			<key>spriteSourceSize</key>
			<string>{68,43}</string>
			<key>textureRect</key>
			<string>{{0,185},{68,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_68x68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,68}</string>
			<key>spriteSourceSize</key>
			<string>{68,68}</string>
			<key>textureRect</key>
			<string>{{919,0},{68,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_70x68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,68}</string>
			<key>spriteSourceSize</key>
			<string>{70,68}</string>
			<key>textureRect</key>
			<string>{{988,0},{70,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_76x51.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,51}</string>
			<key>spriteSourceSize</key>
			<string>{76,51}</string>
			<key>textureRect</key>
			<string>{{163,131},{76,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_78x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,52}</string>
			<key>spriteSourceSize</key>
			<string>{78,52}</string>
			<key>textureRect</key>
			<string>{{84,131},{78,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_82x49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,49}</string>
			<key>spriteSourceSize</key>
			<string>{82,49}</string>
			<key>textureRect</key>
			<string>{{377,142},{82,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_83x53.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,53}</string>
			<key>spriteSourceSize</key>
			<string>{83,53}</string>
			<key>textureRect</key>
			<string>{{0,131},{83,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_89x55.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,55}</string>
			<key>spriteSourceSize</key>
			<string>{89,55}</string>
			<key>textureRect</key>
			<string>{{495,86},{89,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_92x59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,59}</string>
			<key>spriteSourceSize</key>
			<string>{92,59}</string>
			<key>textureRect</key>
			<string>{{632,78},{92,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_94x47.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,47}</string>
			<key>spriteSourceSize</key>
			<string>{94,47}</string>
			<key>textureRect</key>
			<string>{{1012,184},{94,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92025-jerome-body_97x46.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,46}</string>
			<key>spriteSourceSize</key>
			<string>{97,46}</string>
			<key>textureRect</key>
			<string>{{569,188},{97,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92025-jerome-body.png</string>
		<key>size</key>
		<string>{1145,262}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92025-jerome-body.png</string>
	</dict>
</dict>
</plist>
