<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1534e-brown-bul2_102x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{381,37},{102,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_114x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,33}</string>
                <key>spriteSourceSize</key>
                <string>{114,33}</string>
                <key>textureRect</key>
                <string>{{371,2},{114,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_61x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{154,2},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_64x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{88,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_66x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{217,2},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_84x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{285,2},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_84x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1534e-brown-bul2_94x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,21}</string>
                <key>textureRect</key>
                <string>{{285,46},{94,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1534e-brown-bul2.png</string>
            <key>size</key>
            <string>{487,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b88971c7e37c11769d9b706c9172afef:bb4de120115b0b932e8016de22ece971:9dc88c1b1662983706df7763fff35b44$</string>
            <key>textureFileName</key>
            <string>u1534e-brown-bul2.png</string>
        </dict>
    </dict>
</plist>
