<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1414e-yang-body_100x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{552,2},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_108x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{344,2},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_10x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{441,108},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_10x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{441,118},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{231,2},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_118x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,64}</string>
                <key>spriteSourceSize</key>
                <string>{118,64}</string>
                <key>textureRect</key>
                <string>{{2,186},{118,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{594,204},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_12x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,54}</string>
                <key>spriteSourceSize</key>
                <string>{12,54}</string>
                <key>textureRect</key>
                <string>{{424,164},{12,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_12x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,62}</string>
                <key>spriteSourceSize</key>
                <string>{12,62}</string>
                <key>textureRect</key>
                <string>{{218,186},{12,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{122,244},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_14x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{138,244},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{945,246},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{896,228},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{945,212},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_20x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{967,232},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_20x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{989,232},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{874,228},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{94,252},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_22x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{796,224},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_22x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{478,178},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_22x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{772,224},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{848,228},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_24x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{746,224},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_24x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{919,212},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_24x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{542,204},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_24x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{568,204},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{820,228},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{354,241},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{320,241},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_32x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{32,56}</string>
                <key>textureRect</key>
                <string>{{316,183},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{674,224},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{674,224},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{710,224},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{280,183},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{350,179},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_34x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{350,179},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_36x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{386,216},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_36x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{504,224},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_36x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{594,224},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_36x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{386,164},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{438,178},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_38x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{438,178},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_38x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{502,180},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_38x42_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{424,222},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_38x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{464,224},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{278,243},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{632,224},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{980,144},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{980,90},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{232,241},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_46x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{503,128},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_46x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{871,170},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_46x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{232,183},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_48x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{771,170},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_48x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{821,170},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_48x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{919,154},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{969,180},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{609,170},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_52x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{663,170},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_52x52_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{717,170},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_54x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{385,108},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_56x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{551,158},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_60x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{441,128},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_66x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{912,90},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_66x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{317,115},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_70x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{552,80},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_70x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{624,86},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_70x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{696,86},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_70x82_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{768,86},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_70x82_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{840,86},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_80x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{942,2},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_84x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{231,115},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_90x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,22}</string>
                <key>spriteSourceSize</key>
                <string>{90,22}</string>
                <key>textureRect</key>
                <string>{{2,252},{90,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_94x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{122,186},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_94x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{654,2},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_94x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{750,2},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_94x82_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{846,2},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1414e-yang-body_96x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,124}</string>
                <key>spriteSourceSize</key>
                <string>{96,124}</string>
                <key>textureRect</key>
                <string>{{454,2},{96,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1414e-yang-body.png</string>
            <key>size</key>
            <string>{1024,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e3334cc191d24a20c1b3b8d3a142162:810d6cc51483c3219a65178ed8658312:41b04bc642e43e3b9cc980fe7e649525$</string>
            <key>textureFileName</key>
            <string>u1414e-yang-body.png</string>
        </dict>
    </dict>
</plist>
