<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1337u-leonard-bul_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1337u-leonard-bul.png</string>
            <key>size</key>
            <string>{54,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ead39b5fd909db2eb180422a87d4317:9f595987cb90e462a5e054f8495db710:3281c9d3a45a8474d958610a07c07a34$</string>
            <key>textureFileName</key>
            <string>u1337u-leonard-bul.png</string>
        </dict>
    </dict>
</plist>
