<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u398e-toti-bul_108x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{146,66},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_130x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,150}</string>
                <key>spriteSourceSize</key>
                <string>{130,150}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_130x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,62}</string>
                <key>spriteSourceSize</key>
                <string>{130,62}</string>
                <key>textureRect</key>
                <string>{{134,2},{130,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{134,116},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_70x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{2,154},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_70x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{74,154},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u398e-toti-bul_86x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{146,138},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u398e-toti-bul.png</string>
            <key>size</key>
            <string>{266,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58b62b2de1611259419f4551da66c2b4:6ffef34a120c97b11e2ce68a06a8f0f4:b24091f6b92c3f6050c81ee72165f57b$</string>
            <key>textureFileName</key>
            <string>u398e-toti-bul.png</string>
        </dict>
    </dict>
</plist>
