<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1510e-kc-body_100x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,26}</string>
                <key>textureRect</key>
                <string>{{254,226},{100,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_120x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{688,142},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_136x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,134}</string>
                <key>spriteSourceSize</key>
                <string>{136,134}</string>
                <key>textureRect</key>
                <string>{{688,4},{136,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{818,290},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{549,432},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_206x206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{478,4},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_220x218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,218}</string>
                <key>spriteSourceSize</key>
                <string>{220,218}</string>
                <key>textureRect</key>
                <string>{{254,4},{220,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_236x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{236,236}</string>
                <key>textureRect</key>
                <string>{{4,256},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_246x248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{246,248}</string>
                <key>textureRect</key>
                <string>{{4,4},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{768,448},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{704,428},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{447,484},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{479,484},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{751,370},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{736,438},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{812,194},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{812,242},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{812,142},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{525,458},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{699,450},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_32x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,68}</string>
                <key>spriteSourceSize</key>
                <string>{32,68}</string>
                <key>textureRect</key>
                <string>{{782,290},{32,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_32x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,70}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{446,226},{32,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{783,362},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{407,484},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{782,408},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_36x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{290,460},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_38x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{483,458},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{651,478},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_40x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{40,82}</string>
                <key>textureRect</key>
                <string>{{538,292},{40,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{736,402},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{244,460},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{605,449},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{480,374},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{559,449},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{42,80}</string>
                <key>textureRect</key>
                <string>{{674,286},{42,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{582,288},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_42x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{628,288},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{651,442},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{693,484},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_48x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,10}</string>
                <key>spriteSourceSize</key>
                <string>{48,10}</string>
                <key>textureRect</key>
                <string>{{652,428},{48,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_48x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{526,378},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_48x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{188,496},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_50x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,8}</string>
                <key>spriteSourceSize</key>
                <string>{50,8}</string>
                <key>textureRect</key>
                <string>{{134,496},{50,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_52x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{482,292},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_52x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,8}</string>
                <key>spriteSourceSize</key>
                <string>{52,8}</string>
                <key>textureRect</key>
                <string>{{78,496},{52,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_58x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,14}</string>
                <key>spriteSourceSize</key>
                <string>{58,14}</string>
                <key>textureRect</key>
                <string>{{720,352},{58,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_58x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{720,286},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_58x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{482,214},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_60x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{419,448},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_60x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{610,214},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_62x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{483,432},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_62x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{544,214},{62,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_64x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{414,300},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_64x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{412,374},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_66x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{344,300},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_66x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{342,374},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_68x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,14}</string>
                <key>spriteSourceSize</key>
                <string>{68,14}</string>
                <key>textureRect</key>
                <string>{{578,431},{68,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_70x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{578,403},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_70x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,8}</string>
                <key>spriteSourceSize</key>
                <string>{70,8}</string>
                <key>textureRect</key>
                <string>{{4,496},{70,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_73x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{342,448},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_73x25_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{330,477},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_73x25_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{582,374},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_73x25_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{674,370},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_73x25_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{659,399},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{358,226},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_8x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,38}</string>
                <key>spriteSourceSize</key>
                <string>{8,38}</string>
                <key>textureRect</key>
                <string>{{828,4},{8,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_94x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{244,358},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_96x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{244,256},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1510e-kc-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{344,256},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1510e-kc-body.png</string>
            <key>size</key>
            <string>{844,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b1e3b979cc81470fc32aae9e034164b:907593c8a5422cb04b9d68a75e4231d7:c008de1da17cf99d32db8df3814b0e43$</string>
            <key>textureFileName</key>
            <string>u1510e-kc-body.png</string>
        </dict>
    </dict>
</plist>
