<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81018-gabriel-body_100x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{740,120},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_100x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{740,4},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_102x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,142}</string>
                <key>spriteSourceSize</key>
                <string>{102,142}</string>
                <key>textureRect</key>
                <string>{{272,384},{102,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_104x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{632,164},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_104x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{104,54}</string>
                <key>textureRect</key>
                <string>{{4,562},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_104x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{632,276},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_108x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{108,114}</string>
                <key>textureRect</key>
                <string>{{536,42},{108,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_110x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,115}</string>
                <key>spriteSourceSize</key>
                <string>{110,115}</string>
                <key>textureRect</key>
                <string>{{422,42},{110,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_110x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,148}</string>
                <key>spriteSourceSize</key>
                <string>{110,148}</string>
                <key>textureRect</key>
                <string>{{140,120},{110,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_110x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,68}</string>
                <key>textureRect</key>
                <string>{{740,230},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_112x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,146}</string>
                <key>spriteSourceSize</key>
                <string>{112,146}</string>
                <key>textureRect</key>
                <string>{{136,272},{112,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_124x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{124,144}</string>
                <key>textureRect</key>
                <string>{{4,414},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_128x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,142}</string>
                <key>textureRect</key>
                <string>{{4,268},{128,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_12x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{192,596},{10,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_132x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{4,120},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_136x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{132,422},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_140x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,34}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{546,4},{140,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{872,170},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_154x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{254,115},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_154x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,92}</string>
                <key>textureRect</key>
                <string>{{254,225},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_161x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,59}</string>
                <key>spriteSourceSize</key>
                <string>{161,59}</string>
                <key>textureRect</key>
                <string>{{252,321},{161,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{252,404},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_16x233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,233}</string>
                <key>spriteSourceSize</key>
                <string>{16,233}</string>
                <key>textureRect</key>
                <string>{{512,161},{16,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_174x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,69}</string>
                <key>spriteSourceSize</key>
                <string>{174,69}</string>
                <key>textureRect</key>
                <string>{{244,42},{174,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{252,384},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_238x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,112}</string>
                <key>spriteSourceSize</key>
                <string>{238,114}</string>
                <key>textureRect</key>
                <string>{{4,4},{236,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{824,574},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{852,560},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_26x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,46}</string>
                <key>textureRect</key>
                <string>{{844,170},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_28x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{452,381},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_28x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,14}</string>
                <key>textureRect</key>
                <string>{{482,381},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_298x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,34}</string>
                <key>spriteSourceSize</key>
                <string>{298,34}</string>
                <key>textureRect</key>
                <string>{{244,4},{298,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_30x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{30,12}</string>
                <key>textureRect</key>
                <string>{{732,602},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_34x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{328,604},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_34x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{844,118},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_34x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{844,4},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{784,574},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_36x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{784,574},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{838,484},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_38x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{844,522},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{844,66},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{482,576},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_44x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{690,4},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_50x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{732,552},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{678,552},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_52x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{272,530},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_56x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{828,362},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_56x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{482,518},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_58x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,26}</string>
                <key>textureRect</key>
                <string>{{784,546},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{828,302},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_60x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{616,547},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_66x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{770,486},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{820,392},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_66x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{630,479},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_70x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,138}</string>
                <key>spriteSourceSize</key>
                <string>{70,138}</string>
                <key>textureRect</key>
                <string>{{378,384},{70,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_70x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,20}</string>
                <key>spriteSourceSize</key>
                <string>{70,20}</string>
                <key>textureRect</key>
                <string>{{723,462},{70,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_72x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{698,486},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_72x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{723,394},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_73x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{646,374},{73,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_74x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{72,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,32}</string>
                <key>textureRect</key>
                <string>{{540,545},{72,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_74x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{404,526},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_74x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{328,530},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_78x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{192,562},{74,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_78x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{110,562},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_78x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{548,479},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_80x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,22}</string>
                <key>textureRect</key>
                <string>{{528,579},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_80x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,22}</string>
                <key>textureRect</key>
                <string>{{738,370},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_80x22_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,22}</string>
                <key>textureRect</key>
                <string>{{797,460},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_88x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,66}</string>
                <key>textureRect</key>
                <string>{{738,302},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_90x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{648,42},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_90x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{417,311},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_94x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{94,118}</string>
                <key>textureRect</key>
                <string>{{452,398},{92,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_94x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{548,381},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_96x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,102}</string>
                <key>textureRect</key>
                <string>{{532,275},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_96x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,146}</string>
                <key>spriteSourceSize</key>
                <string>{96,146}</string>
                <key>textureRect</key>
                <string>{{412,161},{96,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81018-gabriel-body_98x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,112}</string>
                <key>textureRect</key>
                <string>{{532,161},{96,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81018-gabriel-body.png</string>
            <key>size</key>
            <string>{888,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e00d42c0e3b733ee51ba42cc1301da:6356ce6f4a2ad2a0a0370c3f5dfac201:dddafce269d11a01ee0d38bed82552f7$</string>
            <key>textureFileName</key>
            <string>u81018-gabriel-body.png</string>
        </dict>
    </dict>
</plist>
