<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91110-harper-bul2_69x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{4,4},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91110-harper-bul2_69x77_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{77,4},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91110-harper-bul2.png</string>
            <key>size</key>
            <string>{150,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37aa640ca4c8d6d72b6e3d4d9c5ae976:4ec81c13fddb2bb1d15247c730dd89c5:a337ebdd2837a28947e17e6cf00897e9$</string>
            <key>textureFileName</key>
            <string>u91110-harper-bul2.png</string>
        </dict>
    </dict>
</plist>
