<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91110-harper-bul_69x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{4,4},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91110-harper-bul.png</string>
            <key>size</key>
            <string>{77,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dda517f7cbccc6542835e9e018c6265e:908514ac6f553194323984f666890e46:5df376dabce1eb0b5d9e26fd79d59b46$</string>
            <key>textureFileName</key>
            <string>u91110-harper-bul.png</string>
        </dict>
    </dict>
</plist>
