<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u82002-yoyo-body_110x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,42}</string>
                <key>spriteSourceSize</key>
                <string>{110,42}</string>
                <key>textureRect</key>
                <string>{{4,386},{110,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_136x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{136,92}</string>
                <key>textureRect</key>
                <string>{{4,120},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_184x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,112}</string>
                <key>spriteSourceSize</key>
                <string>{184,112}</string>
                <key>textureRect</key>
                <string>{{4,4},{184,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{80,432},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{192,342},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{226,204},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_27x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{217,342},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_31x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{173,404},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_31x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{208,404},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_33x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{183,255},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_39x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{183,204},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_39x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{192,291},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_51x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,25}</string>
                <key>textureRect</key>
                <string>{{118,404},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_53x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{192,4},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_53x53_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{192,61},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_72x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{4,432},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_82x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{144,120},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_83x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{83,75}</string>
                <key>textureRect</key>
                <string>{{96,216},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_88x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{4,216},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_90x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,75}</string>
                <key>spriteSourceSize</key>
                <string>{90,75}</string>
                <key>textureRect</key>
                <string>{{4,307},{90,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_90x75_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,75}</string>
                <key>spriteSourceSize</key>
                <string>{90,75}</string>
                <key>textureRect</key>
                <string>{{98,295},{90,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82002-yoyo-body_95x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,26}</string>
                <key>spriteSourceSize</key>
                <string>{95,26}</string>
                <key>textureRect</key>
                <string>{{118,374},{95,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u82002-yoyo-body.png</string>
            <key>size</key>
            <string>{250,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e80b6e9b5b86177868c436f59b7e4e9:50e94678aac94b302da3ce75dfc904ff:9dad06f9f68baedfe17bc25650073835$</string>
            <key>textureFileName</key>
            <string>u82002-yoyo-body.png</string>
        </dict>
    </dict>
</plist>
