<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u427e-brown-body_102x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,143}</string>
                <key>spriteSourceSize</key>
                <string>{102,143}</string>
                <key>textureRect</key>
                <string>{{343,766},{102,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_104x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{828,282},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_104x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{830,390},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_106x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,26}</string>
                <key>spriteSourceSize</key>
                <string>{106,26}</string>
                <key>textureRect</key>
                <string>{{220,902},{106,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_113x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,141}</string>
                <key>spriteSourceSize</key>
                <string>{113,141}</string>
                <key>textureRect</key>
                <string>{{428,392},{113,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_114x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,92}</string>
                <key>spriteSourceSize</key>
                <string>{114,92}</string>
                <key>textureRect</key>
                <string>{{569,837},{114,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_120x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,18}</string>
                <key>textureRect</key>
                <string>{{4,919},{120,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_120x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,18}</string>
                <key>textureRect</key>
                <string>{{679,521},{120,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_120x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{4,835},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_121x166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,166}</string>
                <key>spriteSourceSize</key>
                <string>{121,166}</string>
                <key>textureRect</key>
                <string>{{68,665},{121,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_121x171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,171}</string>
                <key>spriteSourceSize</key>
                <string>{121,171}</string>
                <key>textureRect</key>
                <string>{{68,490},{121,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_122x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{122,116}</string>
                <key>textureRect</key>
                <string>{{702,282},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_124x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,184}</string>
                <key>spriteSourceSize</key>
                <string>{124,184}</string>
                <key>textureRect</key>
                <string>{{32,302},{124,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_124x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,39}</string>
                <key>spriteSourceSize</key>
                <string>{124,39}</string>
                <key>textureRect</key>
                <string>{{702,402},{124,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_126x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{542,549},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_126x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,72}</string>
                <key>spriteSourceSize</key>
                <string>{126,72}</string>
                <key>textureRect</key>
                <string>{{679,445},{126,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_128x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{735,248},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_130x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{130,116}</string>
                <key>textureRect</key>
                <string>{{735,128},{130,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_130x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,137}</string>
                <key>spriteSourceSize</key>
                <string>{130,137}</string>
                <key>textureRect</key>
                <string>{{545,408},{130,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_130x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,150}</string>
                <key>spriteSourceSize</key>
                <string>{130,150}</string>
                <key>textureRect</key>
                <string>{{193,464},{130,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_134x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,22}</string>
                <key>spriteSourceSize</key>
                <string>{134,22}</string>
                <key>textureRect</key>
                <string>{{747,102},{134,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_142x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{142,158}</string>
                <key>textureRect</key>
                <string>{{160,302},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_143x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{143,146}</string>
                <key>textureRect</key>
                <string>{{193,618},{143,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_146x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{146,130}</string>
                <key>textureRect</key>
                <string>{{193,768},{146,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_146x130_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{146,130}</string>
                <key>textureRect</key>
                <string>{{552,274},{146,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_150x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{398,248},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_152x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{152,146}</string>
                <key>textureRect</key>
                <string>{{579,124},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_160x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{396,4},{160,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_160x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,46}</string>
                <key>textureRect</key>
                <string>{{224,238},{160,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_168x230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,230}</string>
                <key>spriteSourceSize</key>
                <string>{168,230}</string>
                <key>textureRect</key>
                <string>{{224,4},{168,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_179x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,86}</string>
                <key>spriteSourceSize</key>
                <string>{179,86}</string>
                <key>textureRect</key>
                <string>{{396,158},{179,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_181x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,94}</string>
                <key>spriteSourceSize</key>
                <string>{181,94}</string>
                <key>textureRect</key>
                <string>{{747,4},{181,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_183x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,116}</string>
                <key>spriteSourceSize</key>
                <string>{183,116}</string>
                <key>textureRect</key>
                <string>{{560,4},{183,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_188x294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,294}</string>
                <key>spriteSourceSize</key>
                <string>{188,294}</string>
                <key>textureRect</key>
                <string>{{32,4},{188,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{672,657},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{694,657},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{398,392},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_24x486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,486}</string>
                <key>spriteSourceSize</key>
                <string>{24,486}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{947,867},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_34x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{34,54}</string>
                <key>textureRect</key>
                <string>{{949,220},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{910,677},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{936,352},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_42x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{904,605},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_42x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{950,605},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_44x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,12}</string>
                <key>textureRect</key>
                <string>{{932,84},{44,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{910,643},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_46x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{938,450},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_50x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{938,390},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_50x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{936,282},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_52x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{128,835},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_54x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{511,853},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_58x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{58,84}</string>
                <key>textureRect</key>
                <string>{{449,853},{58,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_60x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,328}</string>
                <key>spriteSourceSize</key>
                <string>{60,328}</string>
                <key>textureRect</key>
                <string>{{4,494},{60,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_60x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{932,4},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_62x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{840,721},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_62x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{789,837},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_62x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{911,481},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_64x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{758,581},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_66x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{840,655},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_74x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,30}</string>
                <key>textureRect</key>
                <string>{{906,757},{74,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{826,575},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_76x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{869,220},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_82x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{672,581},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_84x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{84,62}</string>
                <key>textureRect</key>
                <string>{{752,667},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_84x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{84,62}</string>
                <key>textureRect</key>
                <string>{{752,733},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_86x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{86,32}</string>
                <key>textureRect</key>
                <string>{{906,721},{86,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_88x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,158}</string>
                <key>spriteSourceSize</key>
                <string>{88,158}</string>
                <key>textureRect</key>
                <string>{{306,288},{88,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_88x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,22}</string>
                <key>textureRect</key>
                <string>{{128,915},{88,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_88x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{855,867},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_88x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{904,575},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_89x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{869,128},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{327,450},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{340,608},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{441,537},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{449,695},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{550,679},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_97x154_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,154}</string>
                <key>spriteSourceSize</key>
                <string>{97,154}</string>
                <key>textureRect</key>
                <string>{{651,679},{97,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{679,543},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{752,799},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{789,903},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{854,791},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{855,829},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{891,897},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{98,90}</string>
                <key>textureRect</key>
                <string>{{809,481},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u427e-brown-body_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{687,837},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u427e-brown-body.png</string>
            <key>size</key>
            <string>{996,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aabbff96470ac0f7a22d5b1c9473e02e:2f239ed989d46f120d8df6e3ee94c21b:a49900beba6407d2b4ab0274d80afdd7$</string>
            <key>textureFileName</key>
            <string>u427e-brown-body.png</string>
        </dict>
    </dict>
</plist>
