<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1417e-chichi-body_100x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{192,333},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_102x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{102,140}</string>
                <key>textureRect</key>
                <string>{{4,190},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_102x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{102,140}</string>
                <key>textureRect</key>
                <string>{{235,4},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_106x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,78}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{235,146},{104,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_10x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,46}</string>
                <key>spriteSourceSize</key>
                <string>{10,48}</string>
                <key>textureRect</key>
                <string>{{454,396},{8,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{208,228},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{386,616},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{372,616},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{220,635},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_16x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{208,190},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_18x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{446,536},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{4,4},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{446,620},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{444,492},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_24x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{420,542},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_24x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,84}</string>
                <key>spriteSourceSize</key>
                <string>{24,86}</string>
                <key>textureRect</key>
                <string>{{242,507},{22,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{314,626},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_26x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{240,595},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_26x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{26,68}</string>
                <key>textureRect</key>
                <string>{{272,435},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{384,502},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{414,498},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{414,452},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{444,446},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{346,528},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x44_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{342,584},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{384,452},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_28x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{424,396},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{352,468},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{352,410},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_30x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{268,507},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_30x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{268,567},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{418,586},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{148,616},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{437,192},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{410,620},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{182,635},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{384,402},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_38x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,88}</string>
                <key>textureRect</key>
                <string>{{437,102},{36,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{300,584},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_40x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{435,4},{38,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{376,544},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{420,332},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{300,528},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{268,627},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_44x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{372,578},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{4,616},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_44x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{50,616},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{420,372},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_46x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{372,326},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_50x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{421,310},{48,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{96,616},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{188,583},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{300,474},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{300,410},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_52x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,104}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{311,228},{50,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_52x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{188,507},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_54x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,98}</string>
                <key>spriteSourceSize</key>
                <string>{54,100}</string>
                <key>textureRect</key>
                <string>{{365,224},{52,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{421,224},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{421,278},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{342,630},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_76x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{294,336},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_78x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{192,435},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_86x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{104,332},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_86x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{100,474},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{464,345},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_92x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,76}</string>
                <key>textureRect</key>
                <string>{{343,146},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_94x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{339,4},{92,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_94x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{4,474},{92,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_98x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{4,332},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_98x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{108,190},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1417e-chichi-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{464,332},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1417e-chichi-body.png</string>
            <key>size</key>
            <string>{477,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a6c6795dd97611d7e70cdd9b0d6d6c:3787c2453e438257ca16729feacd8842:a5c7818b67806aeebaf791100ee1fa42$</string>
            <key>textureFileName</key>
            <string>u1417e-chichi-body.png</string>
        </dict>
    </dict>
</plist>
