<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u428e-brown-body_100x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{139,4},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_106x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{106,60}</string>
                <key>textureRect</key>
                <string>{{321,4},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_120x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,46}</string>
                <key>textureRect</key>
                <string>{{140,76},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{627,92},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_12x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,32}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{583,88},{12,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_136x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,38}</string>
                <key>spriteSourceSize</key>
                <string>{136,38}</string>
                <key>textureRect</key>
                <string>{{499,4},{136,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{416,112},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_16x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,2}</string>
                <key>spriteSourceSize</key>
                <string>{16,2}</string>
                <key>textureRect</key>
                <string>{{75,82},{16,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_16x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,3}</string>
                <key>spriteSourceSize</key>
                <string>{16,3}</string>
                <key>textureRect</key>
                <string>{{55,82},{16,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{326,116},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{477,34},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{559,88},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{533,88},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_22x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{390,68},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_24x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{599,92},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{499,46},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{362,68},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_26x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{599,74},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{467,4},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{499,90},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{563,46},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{431,4},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_32x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{527,46},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{104,82},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{326,68},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_40x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{597,46},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_42x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{42,18}</string>
                <key>textureRect</key>
                <string>{{431,46},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_47x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{4,4},{47,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_58x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{264,76},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_74x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{243,4},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_79x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{79,40}</string>
                <key>textureRect</key>
                <string>{{416,68},{79,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{55,4},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_96x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,30}</string>
                <key>spriteSourceSize</key>
                <string>{96,30}</string>
                <key>textureRect</key>
                <string>{{4,93},{96,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u428e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{390,114},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u428e-brown-body.png</string>
            <key>size</key>
            <string>{643,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e346e321d8109ad43516d65a08423c:602769f47254d2d4ee04fa8b8ced0955:c422b97a128bddf12f2a19e8d9638d94$</string>
            <key>textureFileName</key>
            <string>u428e-brown-body.png</string>
        </dict>
    </dict>
</plist>
