<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1035u-dane-bul_132x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{2,542},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1035u-dane-bul_156x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,54}</string>
                <key>spriteSourceSize</key>
                <string>{156,54}</string>
                <key>textureRect</key>
                <string>{{2,746},{156,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1035u-dane-bul_174x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{174,178}</string>
                <key>textureRect</key>
                <string>{{2,362},{174,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1035u-dane-bul_176x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{2,2},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1035u-dane-bul_176x178_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{2,182},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1035u-dane-bul_68x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{2,676},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1035u-dane-bul.png</string>
            <key>size</key>
            <string>{180,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b637d664baa6fd34490a07d89e218495:ce790ee7f902720032d5db7388765307:e1400b2dde0e9f9e121ea0e1e8e5ab9a$</string>
            <key>textureFileName</key>
            <string>u1035u-dane-bul.png</string>
        </dict>
    </dict>
</plist>
