<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u82010-hide-bul_115x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,78}</string>
                <key>spriteSourceSize</key>
                <string>{115,78}</string>
                <key>textureRect</key>
                <string>{{133,4},{115,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82010-hide-bul_125x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,80}</string>
                <key>textureRect</key>
                <string>{{4,4},{125,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u82010-hide-bul.png</string>
            <key>size</key>
            <string>{252,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654270993f80336bcd57bd7696cd194a:b184b7458a008a8de42259c23f479adb:36e4818da187253a2c76d086dcf1de82$</string>
            <key>textureFileName</key>
            <string>u82010-hide-bul.png</string>
        </dict>
    </dict>
</plist>
