<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1298e-vt-bul2_81x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{4,4},{81,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1298e-vt-bul2.png</string>
            <key>size</key>
            <string>{89,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d5c1ff315c27c8741c8e3b4caf2216:4abe6a276b08d2eaabdb271e92cc3f52:07d2eb8915b31a896c20f2762f25a6de$</string>
            <key>textureFileName</key>
            <string>u1298e-vt-bul2.png</string>
        </dict>
    </dict>
</plist>
