<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91054-judy-body_126x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{4,4},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_13x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{308,213},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{473,148},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_17x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,14}</string>
                <key>spriteSourceSize</key>
                <string>{17,14}</string>
                <key>textureRect</key>
                <string>{{287,221},{17,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_17x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{473,109},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{473,130},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{389,201},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_24x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{389,201},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_25x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{417,218},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{359,201},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_27x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,57}</string>
                <key>spriteSourceSize</key>
                <string>{27,57}</string>
                <key>textureRect</key>
                <string>{{442,109},{27,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{429,170},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{461,197},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_31x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{461,170},{31,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_35x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,21}</string>
                <key>spriteSourceSize</key>
                <string>{35,21}</string>
                <key>textureRect</key>
                <string>{{182,179},{35,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_42x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{441,64},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_43x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{186,204},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_48x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{307,160},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_49x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{182,124},{49,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_50x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,13}</string>
                <key>spriteSourceSize</key>
                <string>{50,13}</string>
                <key>textureRect</key>
                <string>{{233,221},{50,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_50x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{441,4},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_51x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,152}</string>
                <key>spriteSourceSize</key>
                <string>{51,152}</string>
                <key>textureRect</key>
                <string>{{321,4},{51,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_61x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,108}</string>
                <key>spriteSourceSize</key>
                <string>{61,108}</string>
                <key>textureRect</key>
                <string>{{376,4},{61,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_62x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,45}</string>
                <key>textureRect</key>
                <string>{{376,116},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_66x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{359,165},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_68x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{235,155},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_80x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{98,128},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_81x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,147}</string>
                <key>spriteSourceSize</key>
                <string>{81,147}</string>
                <key>textureRect</key>
                <string>{{236,4},{81,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_84x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{98,204},{84,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_84x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{98,204},{84,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_90x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{4,128},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_98x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{134,4},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91054-judy-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{221,179},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91054-judy-body.png</string>
            <key>size</key>
            <string>{496,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d76d7815bb728d56c6e714799ff7fd:fde2600dc40eed0cbe25606e528d98a5:b03f2aeb48079eb1d2b2352560a94fdb$</string>
            <key>textureFileName</key>
            <string>u91054-judy-body.png</string>
        </dict>
    </dict>
</plist>
