<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90131-yeso-body_115x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {113, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 53}</string>
			<key>spriteSourceSize</key>
			<string>{115, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 348}, {115, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_120x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {118, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 54}, {120, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_122x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {122, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 37}</string>
			<key>spriteSourceSize</key>
			<string>{122, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{359, 81}, {122, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_165x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {165, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 28}</string>
			<key>spriteSourceSize</key>
			<string>{165, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 51}, {165, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_178x105.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {178, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 105}</string>
			<key>spriteSourceSize</key>
			<string>{178, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 249}, {178, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_178x113.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {178, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 113}</string>
			<key>spriteSourceSize</key>
			<string>{178, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 233}, {178, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_178x114.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {178, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 114}</string>
			<key>spriteSourceSize</key>
			<string>{178, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{183, 133}, {178, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_181x115.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {179, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{181, 115}</string>
			<key>spriteSourceSize</key>
			<string>{181, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 116}, {181, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 376}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 396}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_18x18_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 403}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_18x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 19}</string>
			<key>spriteSourceSize</key>
			<string>{18, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{363, 222}, {18, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_196x114.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {194, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{196, 114}</string>
			<key>spriteSourceSize</key>
			<string>{196, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {196, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_19x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {19, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 11}</string>
			<key>spriteSourceSize</key>
			<string>{19, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{439, 37}, {19, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_19x5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {19, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 5}</string>
			<key>spriteSourceSize</key>
			<string>{19, 5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{359, 120}, {19, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_25x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 24}</string>
			<key>spriteSourceSize</key>
			<string>{25, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{487, 37}, {25, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_25x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 8}</string>
			<key>spriteSourceSize</key>
			<string>{25, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{460, 37}, {25, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 26}</string>
			<key>spriteSourceSize</key>
			<string>{26, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 81}, {26, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_30x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {30, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 23}</string>
			<key>spriteSourceSize</key>
			<string>{30, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{429, 215}, {30, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_30x23_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 23}</string>
			<key>spriteSourceSize</key>
			<string>{30, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{397, 221}, {30, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_30x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {30, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{460, 148}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{429, 183}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_30x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {30, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{30, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{397, 183}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_31x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 26}</string>
			<key>spriteSourceSize</key>
			<string>{31, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{460, 120}, {31, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_32x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 37}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{363, 183}, {32, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_37x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 44}</string>
			<key>spriteSourceSize</key>
			<string>{37, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 81}, {37, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_38x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {36, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 49}</string>
			<key>spriteSourceSize</key>
			<string>{38, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{297, 0}, {38, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_38x49_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {36, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 49}</string>
			<key>spriteSourceSize</key>
			<string>{38, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 0}, {38, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_44x51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {44, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 51}</string>
			<key>spriteSourceSize</key>
			<string>{44, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{251, 0}, {44, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_51x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {51, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 52}</string>
			<key>spriteSourceSize</key>
			<string>{51, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 0}, {51, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_53x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {53, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 26}</string>
			<key>spriteSourceSize</key>
			<string>{53, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{117, 348}, {53, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_60x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{377, 0}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_68x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {66, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 35}</string>
			<key>spriteSourceSize</key>
			<string>{68, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{439, 0}, {68, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_75x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 356}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_76x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {74, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 69}</string>
			<key>spriteSourceSize</key>
			<string>{76, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 312}, {76, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_76x69_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 69}</string>
			<key>spriteSourceSize</key>
			<string>{76, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 356}, {76, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_78x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {76, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 61}</string>
			<key>spriteSourceSize</key>
			<string>{78, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 249}, {78, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90131-yeso-body_78x61_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {78, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 61}</string>
			<key>spriteSourceSize</key>
			<string>{78, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 120}, {78, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u90131-yeso-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>