<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u181e-mully-bul_149x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{149, 75}</string>
			<key>spriteSourceSize</key>
			<string>{149, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 78}, {149, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u181e-mully-bul_178x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 76}</string>
			<key>spriteSourceSize</key>
			<string>{178, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {178, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u181e-mully-bul_21x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 23}</string>
			<key>spriteSourceSize</key>
			<string>{21, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{223, 0}, {21, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u181e-mully-bul_41x59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 59}</string>
			<key>spriteSourceSize</key>
			<string>{41, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 0}, {41, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u181e-mully-bul_65x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 54}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 61}, {65, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u181e-mully-bul_95x115.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {93, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 117}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u181e-mully-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>