<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1014u-cony-bul2_104x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{179,298},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_105x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{179,427},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_107x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{107,60}</string>
                <key>textureRect</key>
                <string>{{179,363},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_11x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{352,684},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_15x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,116}</string>
                <key>spriteSourceSize</key>
                <string>{15,116}</string>
                <key>textureRect</key>
                <string>{{290,361},{15,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{249,690},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_162x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,153}</string>
                <key>spriteSourceSize</key>
                <string>{162,153}</string>
                <key>textureRect</key>
                <string>{{179,4},{162,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_171x615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,615}</string>
                <key>spriteSourceSize</key>
                <string>{171,615}</string>
                <key>textureRect</key>
                <string>{{4,4},{171,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_18x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,59}</string>
                <key>spriteSourceSize</key>
                <string>{18,59}</string>
                <key>textureRect</key>
                <string>{{287,298},{18,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{226,690},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{4,623},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{360,547},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_27x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{360,586},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{355,623},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{342,493},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_34x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{271,615},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{309,658},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{319,547},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_39x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,18}</string>
                <key>textureRect</key>
                <string>{{309,690},{39,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{227,617},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_41x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{350,658},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{309,616},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_45x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{270,553},{45,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_46x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{345,4},{46,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_52x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{253,263},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{253,161},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_56x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{282,493},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_60x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{162,657},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{309,447},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{309,383},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_70x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,133}</string>
                <key>spriteSourceSize</key>
                <string>{70,133}</string>
                <key>textureRect</key>
                <string>{{179,161},{70,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_71x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{309,338},{71,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_73x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,56}</string>
                <key>textureRect</key>
                <string>{{309,278},{73,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_74x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{4,657},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_76x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{82,657},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_79x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{310,218},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_81x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{310,161},{81,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_87x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{179,553},{87,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014u-cony-bul2_99x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,60}</string>
                <key>spriteSourceSize</key>
                <string>{99,60}</string>
                <key>textureRect</key>
                <string>{{179,489},{99,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1014u-cony-bul2.png</string>
            <key>size</key>
            <string>{395,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58be9323d7c212b320ca5f9c50e78dbd:747f13fc81f64c6487ac43d80cdd5cc8:6df0f48e612749221eac8367d0c4e541$</string>
            <key>textureFileName</key>
            <string>u1014u-cony-bul2.png</string>
        </dict>
    </dict>
</plist>
