<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u85019-jacob-body_141x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{361,2},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_15x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,12}</string>
                <key>spriteSourceSize</key>
                <string>{15,12}</string>
                <key>textureRect</key>
                <string>{{487,258},{15,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{288,490},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{265,176},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_16x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,46}</string>
                <key>spriteSourceSize</key>
                <string>{16,46}</string>
                <key>textureRect</key>
                <string>{{487,210},{16,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_172x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{187,2},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_175x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,180}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{2,186},{175,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_18x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{268,490},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_20x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,58}</string>
                <key>spriteSourceSize</key>
                <string>{20,58}</string>
                <key>textureRect</key>
                <string>{{446,330},{20,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{361,152},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_22x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{385,152},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{478,415},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_22x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{478,447},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_23x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{474,382},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_24x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{468,330},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_26x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{65,478},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{446,390},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_28x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,6}</string>
                <key>spriteSourceSize</key>
                <string>{28,6}</string>
                <key>textureRect</key>
                <string>{{187,176},{28,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{400,471},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_30x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{406,425},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{438,466},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_36x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{230,434},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{360,471},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{438,428},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_38x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{320,432},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{360,425},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_50x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{268,432},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{427,210},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_58x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{427,270},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_61x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{2,478},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_62x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{427,152},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_66x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{94,430},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_66x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{162,434},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{94,368},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_7x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{427,330},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_84x246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,246}</string>
                <key>spriteSourceSize</key>
                <string>{84,246}</string>
                <key>textureRect</key>
                <string>{{179,186},{84,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_85x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{359,338},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{164,368},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_8x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,22}</string>
                <key>spriteSourceSize</key>
                <string>{8,22}</string>
                <key>textureRect</key>
                <string>{{409,152},{8,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_90x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{2,368},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85019-jacob-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{265,338},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u85019-jacob-body.png</string>
            <key>size</key>
            <string>{505,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60d835b8851200b2771cbcda37c2e89:e505d2fddcb53bc72e77c9e83f62d1a5:fce6bbf0691a2dfbfb8cae6902f558e5$</string>
            <key>textureFileName</key>
            <string>u85019-jacob-body.png</string>
        </dict>
    </dict>
</plist>
