<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1104h-tiga-bul3_104x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{4,478},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_105x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{134,436},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_107x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{107,60}</string>
                <key>textureRect</key>
                <string>{{134,372},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_11x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{134,348},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_126x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{4,348},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_141x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,126}</string>
                <key>spriteSourceSize</key>
                <string>{141,126}</string>
                <key>textureRect</key>
                <string>{{4,218},{141,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_15x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,116}</string>
                <key>spriteSourceSize</key>
                <string>{15,116}</string>
                <key>textureRect</key>
                <string>{{112,541},{15,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{82,568},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_18x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,59}</string>
                <key>spriteSourceSize</key>
                <string>{18,59}</string>
                <key>textureRect</key>
                <string>{{112,478},{18,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_193x176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,176}</string>
                <key>spriteSourceSize</key>
                <string>{193,176}</string>
                <key>textureRect</key>
                <string>{{4,38},{193,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{82,543},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{4,4},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{227,4},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_27x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{81,601},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{219,552},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{219,498},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_34x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{214,586},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{200,671},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{144,786},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_39x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,18}</string>
                <key>textureRect</key>
                <string>{{106,855},{39,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{78,723},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_41x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{149,218},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{4,843},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_45x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{79,661},{45,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_46x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{201,95},{46,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_48x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{201,43},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_52x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{50,843},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{186,784},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_56x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{186,731},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_60x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{122,731},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{78,796},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{128,667},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_70x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,133}</string>
                <key>spriteSourceSize</key>
                <string>{70,133}</string>
                <key>textureRect</key>
                <string>{{4,706},{70,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_71x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{4,661},{71,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_73x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,56}</string>
                <key>textureRect</key>
                <string>{{4,601},{73,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_74x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{4,543},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_76x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{131,615},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_79x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{131,555},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_81x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{134,498},{81,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_87x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{149,308},{87,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1104h-tiga-bul3_99x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,60}</string>
                <key>spriteSourceSize</key>
                <string>{99,60}</string>
                <key>textureRect</key>
                <string>{{149,244},{99,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1104h-tiga-bul3.png</string>
            <key>size</key>
            <string>{253,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b65300defe6aec62ad326e05d036a5d7:60d1aa45ba4122a8156baeeabe2cdfcf:c2208525d22f42a65e944a1efe85175c$</string>
            <key>textureFileName</key>
            <string>u1104h-tiga-bul3.png</string>
        </dict>
    </dict>
</plist>
