<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1181e-sally-bul_16x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,92}</string>
                <key>spriteSourceSize</key>
                <string>{16,92}</string>
                <key>textureRect</key>
                <string>{{80,4},{16,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181e-sally-bul_20x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,92}</string>
                <key>spriteSourceSize</key>
                <string>{20,92}</string>
                <key>textureRect</key>
                <string>{{32,4},{20,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181e-sally-bul_20x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,92}</string>
                <key>spriteSourceSize</key>
                <string>{20,92}</string>
                <key>textureRect</key>
                <string>{{56,4},{20,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181e-sally-bul_24x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,92}</string>
                <key>spriteSourceSize</key>
                <string>{24,92}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1181e-sally-bul.png</string>
            <key>size</key>
            <string>{100,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdffecada930a8be097900191143f710:2c8536e28cf23a71c61e58771cbf3e98:f7bf1a01593a6943a8265ee79e4f3645$</string>
            <key>textureFileName</key>
            <string>u1181e-sally-bul.png</string>
        </dict>
    </dict>
</plist>
