<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1142h-sengoku-bul3_101x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,76}</string>
                <key>spriteSourceSize</key>
                <string>{101,76}</string>
                <key>textureRect</key>
                <string>{{427,68},{101,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_196x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,69}</string>
                <key>spriteSourceSize</key>
                <string>{196,69}</string>
                <key>textureRect</key>
                <string>{{530,68},{196,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_204x204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{221,2},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_208x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,68}</string>
                <key>spriteSourceSize</key>
                <string>{208,68}</string>
                <key>textureRect</key>
                <string>{{427,146},{208,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{695,27},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_217x213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,213}</string>
                <key>spriteSourceSize</key>
                <string>{217,213}</string>
                <key>textureRect</key>
                <string>{{2,2},{217,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_24x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{695,2},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1142h-sengoku-bul3_266x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,64}</string>
                <key>spriteSourceSize</key>
                <string>{266,64}</string>
                <key>textureRect</key>
                <string>{{427,2},{266,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1142h-sengoku-bul3.png</string>
            <key>size</key>
            <string>{728,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9050c8850760f55b6923659b7178bfc:488fabf904f41f67456aaccbeddecb9d:62e46283edacd8600cbc5bad03dbb2ee$</string>
            <key>textureFileName</key>
            <string>u1142h-sengoku-bul3.png</string>
        </dict>
    </dict>
</plist>
