<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1180e-cony-body_12x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{391,493},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_133x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,47}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{283,104},{133,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_133x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,47}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{283,155},{133,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_133x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,62}</string>
                <key>spriteSourceSize</key>
                <string>{133,62}</string>
                <key>textureRect</key>
                <string>{{146,104},{133,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_133x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,62}</string>
                <key>spriteSourceSize</key>
                <string>{133,62}</string>
                <key>textureRect</key>
                <string>{{302,38},{133,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_136x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,62}</string>
                <key>spriteSourceSize</key>
                <string>{136,62}</string>
                <key>textureRect</key>
                <string>{{162,38},{136,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_138x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,64}</string>
                <key>spriteSourceSize</key>
                <string>{138,64}</string>
                <key>textureRect</key>
                <string>{{4,104},{138,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{389,366},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_154x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,96}</string>
                <key>spriteSourceSize</key>
                <string>{154,96}</string>
                <key>textureRect</key>
                <string>{{4,4},{154,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_15x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{427,227},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_15x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{423,24},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{427,206},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{391,478},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{423,4},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_17x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,13}</string>
                <key>textureRect</key>
                <string>{{420,189},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_18x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{200,467},{18,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_19x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{222,475},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_19x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{245,475},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_19x31_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{268,475},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_19x31_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{291,475},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_20x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{283,433},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_20x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{420,143},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{162,4},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_21x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{354,453},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{416,449},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{420,104},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_26x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{337,301},{26,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{413,418},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_29x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{413,248},{29,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{343,419},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_30x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{412,296},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{285,370},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_31x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{165,467},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_31x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{354,370},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_31x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,45}</string>
                <key>textureRect</key>
                <string>{{319,370},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_31x45_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,45}</string>
                <key>textureRect</key>
                <string>{{411,341},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{377,418},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{307,424},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{328,326},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_33x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,22}</string>
                <key>spriteSourceSize</key>
                <string>{33,22}</string>
                <key>textureRect</key>
                <string>{{379,452},{33,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_33x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{354,483},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_33x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{354,483},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_34x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{385,4},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_36x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{314,466},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{61,477},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{61,408},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_39x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,71}</string>
                <key>spriteSourceSize</key>
                <string>{39,71}</string>
                <key>textureRect</key>
                <string>{{226,170},{39,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_40x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{241,387},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{226,245},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,24}</string>
                <key>spriteSourceSize</key>
                <string>{41,24}</string>
                <key>textureRect</key>
                <string>{{389,390},{41,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{224,318},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x27_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{224,318},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x27_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{224,318},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{367,293},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_41x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{283,326},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_43x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{364,335},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{235,433},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{233,349},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{172,308},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_50x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{93,172},{50,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{4,408},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_57x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{172,350},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_57x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{174,430},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_59x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{59,52}</string>
                <key>textureRect</key>
                <string>{{102,454},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_62x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{93,250},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_63x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{270,301},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_63x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,39}</string>
                <key>spriteSourceSize</key>
                <string>{63,39}</string>
                <key>textureRect</key>
                <string>{{174,387},{63,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_63x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{346,248},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_63x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{159,240},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{102,390},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_72x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{270,237},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_74x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{349,206},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_75x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{147,170},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_75x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{147,170},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_75x66_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{147,170},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_75x66_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{147,170},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_75x66_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{93,320},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{269,206},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_85x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,114}</string>
                <key>textureRect</key>
                <string>{{4,172},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_85x114_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,114}</string>
                <key>textureRect</key>
                <string>{{4,290},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1180e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{269,170},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1180e-cony-body.png</string>
            <key>size</key>
            <string>{446,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a76d028b775c6b12fa0ec7ad7d09239:c6d5994d43b751bdac34b277fb022b05:a2a4d54a33dac266ec3a84586e3362e1$</string>
            <key>textureFileName</key>
            <string>u1180e-cony-body.png</string>
        </dict>
    </dict>
</plist>
