<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u023u-sindy-body_101x119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 119}</string>
			<key>spriteSourceSize</key>
			<string>{101, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 175}, {101, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_104x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 865}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_104x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 87}</string>
			<key>spriteSourceSize</key>
			<string>{104, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 175}, {104, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_108x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {104, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 32}</string>
			<key>spriteSourceSize</key>
			<string>{108, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 967}, {104, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_108x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {104, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{104, 88}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 875}, {104, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_111x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 87}</string>
			<key>spriteSourceSize</key>
			<string>{111, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 875}, {111, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_115x115.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {113, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 113}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 659}, {113, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_117x149.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 149}</string>
			<key>spriteSourceSize</key>
			<string>{117, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 175}, {117, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_119x119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {117, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 117}</string>
			<key>spriteSourceSize</key>
			<string>{119, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 370}, {117, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_124x99.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{124, 99}</string>
			<key>spriteSourceSize</key>
			<string>{124, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 774}, {124, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_128x103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {126, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 101}</string>
			<key>spriteSourceSize</key>
			<string>{128, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 770}, {126, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_130x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {126, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 56}</string>
			<key>spriteSourceSize</key>
			<string>{130, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 964}, {126, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_132x112.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 112}</string>
			<key>spriteSourceSize</key>
			<string>{132, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 656}, {132, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_133x115.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 115}</string>
			<key>spriteSourceSize</key>
			<string>{133, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 539}, {133, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_13x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {13, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{13, 15}</string>
			<key>spriteSourceSize</key>
			<string>{13, 17}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 466}, {13, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {128, 68}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{128, 68}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 715}, {128, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {138, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{138, 64}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 605}, {138, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {130, 42}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{130, 42}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 671}, {130, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {126, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{126, 66}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 785}, {126, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {132, 42}}</string>
			<key>spriteOffset</key>
			<string>{-2, -10}</string>
			<key>spriteSize</key>
			<string>{132, 42}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403, 326}, {132, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_140x80_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {138, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{138, 64}</string>
			<key>spriteSourceSize</key>
			<string>{140, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 539}, {138, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_14x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{611, 534}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_154x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {154, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{154, 68}</string>
			<key>spriteSourceSize</key>
			<string>{154, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 886}, {154, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_155x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{155, 69}</string>
			<key>spriteSourceSize</key>
			<string>{155, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 815}, {155, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_15x113.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {15, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{15, 109}</string>
			<key>spriteSourceSize</key>
			<string>{15, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 372}, {15, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_167x167.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 167}</string>
			<key>spriteSourceSize</key>
			<string>{167, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 370}, {167, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_177x157.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {175, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{175, 143}</string>
			<key>spriteSourceSize</key>
			<string>{177, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{499, 0}, {175, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_182x184.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 184}</string>
			<key>spriteSourceSize</key>
			<string>{182, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {182, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_183x182.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 182}</string>
			<key>spriteSourceSize</key>
			<string>{183, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 186}, {183, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 434}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{603, 637}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_192x173.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 173}</string>
			<key>spriteSourceSize</key>
			<string>{192, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 197}, {192, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_194x195.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 195}</string>
			<key>spriteSourceSize</key>
			<string>{194, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 0}, {194, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_199x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 100}</string>
			<key>spriteSourceSize</key>
			<string>{199, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 713}, {199, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_23x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 28}</string>
			<key>spriteSourceSize</key>
			<string>{23, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 296}, {21, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_23x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 32}</string>
			<key>spriteSourceSize</key>
			<string>{23, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 812}, {21, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_240x227.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 227}</string>
			<key>spriteSourceSize</key>
			<string>{240, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 484}, {240, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_24x486.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 482}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 175}, {20, 482}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_24x486_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 482}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {20, 482}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_25x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 32}</string>
			<key>spriteSourceSize</key>
			<string>{25, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 370}, {23, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_27x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 37}</string>
			<key>spriteSourceSize</key>
			<string>{27, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{603, 598}, {25, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_28x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 33}</string>
			<key>spriteSourceSize</key>
			<string>{28, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{586, 746}, {26, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_28x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{28, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 708}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_28x38_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{28, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 777}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_28x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 40}</string>
			<key>spriteSourceSize</key>
			<string>{28, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 770}, {26, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_28x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 41}</string>
			<key>spriteSourceSize</key>
			<string>{28, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 598}, {26, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 404}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_34x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{34, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 538}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_34x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 66}</string>
			<key>spriteSourceSize</key>
			<string>{34, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 466}, {32, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_36x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{36, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 455}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_36x24_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{36, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 574}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_40x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 745}, {38, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_40x32_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 713}, {38, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_44x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 21}</string>
			<key>spriteSourceSize</key>
			<string>{44, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 466}, {42, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_4x4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 4}</string>
			<key>spriteSourceSize</key>
			<string>{4, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 175}, {4, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_50x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 656}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_60x328.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 324}</string>
			<key>spriteSourceSize</key>
			<string>{60, 328}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 539}, {56, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_64x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 18}</string>
			<key>spriteSourceSize</key>
			<string>{64, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 994}, {64, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_66x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {64, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 55}</string>
			<key>spriteSourceSize</key>
			<string>{66, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 965}, {64, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_66x57_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {64, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 55}</string>
			<key>spriteSourceSize</key>
			<string>{66, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 956}, {64, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_69x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{69, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 489}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_74x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_74x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 72}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{676, 0}, {70, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_77x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {75, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 47}</string>
			<key>spriteSourceSize</key>
			<string>{77, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 970}, {75, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_77x49_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {75, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 47}</string>
			<key>spriteSourceSize</key>
			<string>{77, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 965}, {75, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_77x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 66}</string>
			<key>spriteSourceSize</key>
			<string>{77, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 72}, {77, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_80x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 296}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_81x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 68}</string>
			<key>spriteSourceSize</key>
			<string>{81, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 956}, {79, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_81x70_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 68}</string>
			<key>spriteSourceSize</key>
			<string>{81, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 924}, {79, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_81x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{81, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 853}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_82x72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {80, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{82, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 898}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_85x83.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {83, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{83, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 372}, {83, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_85x83_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {83, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{83, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 815}, {83, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_87x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {85, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 102}</string>
			<key>spriteSourceSize</key>
			<string>{87, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 372}, {85, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_95x173.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 173}</string>
			<key>spriteSourceSize</key>
			<string>{95, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {95, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_95x94.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 94}</string>
			<key>spriteSourceSize</key>
			<string>{95, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 873}, {95, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_96x47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 47}</string>
			<key>spriteSourceSize</key>
			<string>{96, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 489}, {96, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 26}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 455}, {78, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 264}, {94, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 434}, {96, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{676, 140}, {96, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 28}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{499, 145}, {86, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{90, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 905}, {90, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 969}, {94, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 402}, {96, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 370}, {96, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 26}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 937}, {78, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 28}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{587, 145}, {86, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_98x34_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{90, 30}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 873}, {90, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u023u-sindy-body_99x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 61}</string>
			<key>spriteSourceSize</key>
			<string>{99, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 0}, {99, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u023u-sindy-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>