<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1024.0,512.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>u418e-sally-body.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>u418e-sally-body_100x92.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{95.0,87.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{100.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{95.0,87.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{335.0,2.0},{95.0,87.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_104x104.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,104.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{99.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{234.0,2.0},{99.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_104x87.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,87.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,87.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{104.0,87.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{281.0,179.0},{104.0,87.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_115x115.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{115.0,115.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{115.0,115.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{115.0,115.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{164.0,182.0},{115.0,115.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_140x86.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{135.0,82.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{140.0,86.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{135.0,82.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{309.0,331.0},{135.0,82.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_150x48.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{147.0,45.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,48.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{147.0,45.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{133.0,435.0},{147.0,45.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_164x166.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,162.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{164.0,166.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{160.0,162.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,182.0},{160.0,162.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_166x166.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{129.0,135.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{166.0,166.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{17.0,14.0},{129.0,135.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,346.0},{129.0,135.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_16x11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{11.0,11.0}</string>
            <key>spriteOffset</key>
            <string>{2.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,11.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,0.0},{11.0,11.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{164.0,331.0},{11.0,11.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_18x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,22.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{18.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{16.0,22.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{267.0,482.0},{16.0,22.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_18x26_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,20.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{18.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,4.0},{16.0,20.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{518.0,275.0},{16.0,20.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_203x92.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{174.0,87.0}</string>
            <key>spriteOffset</key>
            <string>{14.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{203.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{29.0,2.0},{174.0,87.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{133.0,346.0},{174.0,87.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_20x15.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,15.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,15.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,15.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{309.0,415.0},{20.0,15.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_20x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,23.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{16.0,23.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{249.0,482.0},{16.0,23.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_232x182.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{230.0,178.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{232.0,182.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{230.0,178.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{230.0,178.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_24x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{19.0,23.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{24.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{19.0,23.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{228.0,482.0},{19.0,23.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_24x486.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{19.0,481.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{24.0,486.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{19.0,481.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{850.0,2.0},{19.0,481.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_30x19.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{30.0,19.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{30.0,19.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{30.0,19.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{116.0,483.0},{30.0,19.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_33x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{33.0,26.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{33.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{33.0,26.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{193.0,482.0},{33.0,26.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_34x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{32.0,23.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{32.0,23.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{82.0,483.0},{32.0,23.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_36x44.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{33.0,41.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{36.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{33.0,41.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{452.0,244.0},{33.0,41.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_42x29.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{42.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{42.0,29.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{42.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{487.0,244.0},{42.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_42x29_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{42.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{42.0,29.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{42.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{474.0,287.0},{42.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_43x26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{43.0,26.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{43.0,26.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{43.0,26.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{148.0,482.0},{43.0,26.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_45x346.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{31.0,332.0}</string>
            <key>spriteOffset</key>
            <string>{3.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{45.0,346.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,11.0},{31.0,332.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{817.0,2.0},{31.0,332.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_45x356.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,347.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{45.0,356.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,8.0},{34.0,347.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{645.0,2.0},{34.0,347.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_48x366.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,345.0}</string>
            <key>spriteOffset</key>
            <string>{2.0,-6.5}</string>
            <key>spriteSourceSize</key>
            <string>{48.0,366.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,17.0},{34.0,345.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{681.0,2.0},{34.0,345.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_48x54.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{45.0,51.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{48.0,54.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{45.0,51.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{517.0,125.0},{45.0,51.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_48x80.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{46.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{48.0,80.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{46.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{446.0,325.0},{46.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_49x341.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{32.0,335.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{49.0,341.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,5.0},{32.0,335.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{717.0,2.0},{32.0,335.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_50x322.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{28.0,315.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,322.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{12.0,2.0},{28.0,315.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{871.0,2.0},{28.0,315.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_50x347.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{31.0,333.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,347.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,10.0},{31.0,333.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{784.0,2.0},{31.0,333.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_52x346.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{31.0,333.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,346.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,9.0},{31.0,333.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{751.0,2.0},{31.0,333.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_52x56.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{49.0,53.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{49.0,53.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{564.0,2.0},{49.0,53.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_53x30.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{53.0,30.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{53.0,30.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{53.0,30.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{397.0,263.0},{53.0,30.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_56x29.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{56.0,29.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{56.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{339.0,268.0},{56.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_56x29_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{56.0,29.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{56.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{358.0,299.0},{56.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_58x30.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{58.0,30.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{56.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{416.0,295.0},{56.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_58x60.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{55.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{58.0,60.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{55.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{437.0,415.0},{55.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_60x32.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{60.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{56.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{281.0,268.0},{56.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_60x328.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,323.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{60.0,328.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{56.0,323.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{587.0,57.0},{56.0,323.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_60x56.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{56.0,52.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{60.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{56.0,52.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{517.0,71.0},{56.0,52.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_66x70.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{64.0,67.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,70.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{64.0,67.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{451.0,83.0},{64.0,67.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_66x70_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{64.0,67.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,70.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{64.0,67.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{498.0,2.0},{64.0,67.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_66x92.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{63.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{63.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{387.0,171.0},{63.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_66x94.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{63.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,94.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{63.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{452.0,152.0},{63.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_68x80.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,78.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{68.0,80.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{66.0,78.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{383.0,91.0},{66.0,78.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_68x82.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{64.0,79.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{68.0,82.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{64.0,79.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{432.0,2.0},{64.0,79.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_70x60.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{68.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,60.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{68.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{367.0,415.0},{68.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_71x278.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{36.0,231.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{71.0,278.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,26.0},{36.0,231.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{549.0,178.0},{36.0,231.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_74x76.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{69.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{74.0,76.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{69.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{312.0,103.0},{69.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_78x78.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{78.0,78.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{76.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{234.0,103.0},{76.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_82x148.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{53.0,144.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{82.0,148.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{14.0,1.0},{53.0,144.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{494.0,318.0},{53.0,144.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_86x40.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,37.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{86.0,40.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{83.0,37.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{282.0,435.0},{83.0,37.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{78.0,25.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,5.0},{78.0,25.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,483.0},{78.0,25.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{86.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,3.0},{86.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{475.0,474.0},{86.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,29.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,3.0},{90.0,29.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{383.0,474.0},{90.0,29.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{94.0,30.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{94.0,30.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{262.0,299.0},{94.0,30.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,30.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{96.0,30.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{285.0,474.0},{96.0,30.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_98x34_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,30.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,2.0},{96.0,30.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{164.0,299.0},{96.0,30.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u418e-sally-body_9x9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{9.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{9.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{9.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{177.0,331.0},{9.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
