<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u400u-mike-body_11x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{181,467},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_131x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{131,114}</string>
                <key>textureRect</key>
                <string>{{337,280},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{497,453},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_154x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,124}</string>
                <key>spriteSourceSize</key>
                <string>{154,124}</string>
                <key>textureRect</key>
                <string>{{181,280},{154,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_15x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{295,622},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_167x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,134}</string>
                <key>spriteSourceSize</key>
                <string>{167,134}</string>
                <key>textureRect</key>
                <string>{{404,139},{167,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{619,2},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_174x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,147}</string>
                <key>textureRect</key>
                <string>{{2,186},{174,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_177x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,141}</string>
                <key>spriteSourceSize</key>
                <string>{177,141}</string>
                <key>textureRect</key>
                <string>{{2,335},{177,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_19x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{383,617},{19,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_20x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{491,478},{20,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_212x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,135}</string>
                <key>spriteSourceSize</key>
                <string>{212,135}</string>
                <key>textureRect</key>
                <string>{{2,478},{212,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_212x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,139}</string>
                <key>spriteSourceSize</key>
                <string>{212,139}</string>
                <key>textureRect</key>
                <string>{{187,2},{212,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_215x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,135}</string>
                <key>spriteSourceSize</key>
                <string>{215,135}</string>
                <key>textureRect</key>
                <string>{{187,143},{215,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_216x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,135}</string>
                <key>spriteSourceSize</key>
                <string>{216,135}</string>
                <key>textureRect</key>
                <string>{{401,2},{216,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{608,577},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_22x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{614,536},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_23x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{613,226},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_23x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{613,251},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_25x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{581,564},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_25x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{611,183},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_25x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{611,139},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_26x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{610,320},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_27x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{544,366},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_27x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{582,604},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_27x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{351,568},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_28x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,55}</string>
                <key>spriteSourceSize</key>
                <string>{28,55}</string>
                <key>textureRect</key>
                <string>{{431,572},{28,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_28x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,57}</string>
                <key>spriteSourceSize</key>
                <string>{28,57}</string>
                <key>textureRect</key>
                <string>{{534,394},{28,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_29x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{29,54}</string>
                <key>textureRect</key>
                <string>{{607,378},{29,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{351,617},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{513,509},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{461,558},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_30x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{513,453},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{564,394},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{573,362},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{545,501},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{545,453},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{579,536},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{493,541},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_34x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,92}</string>
                <key>spriteSourceSize</key>
                <string>{34,92}</string>
                <key>textureRect</key>
                <string>{{417,478},{34,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_35x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{497,394},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_35x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{380,478},{35,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_36x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,78}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{453,478},{36,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_36x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,93}</string>
                <key>spriteSourceSize</key>
                <string>{36,93}</string>
                <key>textureRect</key>
                <string>{{573,139},{36,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_37x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,20}</string>
                <key>spriteSourceSize</key>
                <string>{37,20}</string>
                <key>textureRect</key>
                <string>{{68,615},{37,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_38x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{573,234},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_40x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{596,434},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_41x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{579,495},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{493,587},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{537,576},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{537,607},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_43x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{43,33}</string>
                <key>textureRect</key>
                <string>{{529,541},{43,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_43x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{565,320},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_49x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{380,573},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_51x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{565,277},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{579,463},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{295,568},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{2,615},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{470,366},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_74x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{181,406},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_76x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{76,80}</string>
                <key>textureRect</key>
                <string>{{419,396},{76,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_77x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,54}</string>
                <key>spriteSourceSize</key>
                <string>{77,54}</string>
                <key>textureRect</key>
                <string>{{216,568},{77,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_79x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{257,406},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_79x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{338,396},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_7x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{178,186},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_80x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{216,487},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_80x79_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{298,487},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_8x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{107,615},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_8x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{8,7}</string>
                <key>textureRect</key>
                <string>{{338,478},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{461,614},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_93x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{470,275},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u400u-mike-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{596,394},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u400u-mike-body.png</string>
            <key>size</key>
            <string>{638,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe1e5838a831a10c3708d0ca321a322:286525e293681476bed9ed8c7891964a:9f7ced602b01d1d066f6bcd28f4d5708$</string>
            <key>textureFileName</key>
            <string>u400u-mike-body.png</string>
        </dict>
    </dict>
</plist>
