<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1463u-crush-bul_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{2,2},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1463u-crush-bul.png</string>
            <key>size</key>
            <string>{56,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064728a84dfea9b0ecf98e28c013687f:26b36bb159f991d3819fa773ddb1d482:ff2161e51026193e701eb9737845b9fe$</string>
            <key>textureFileName</key>
            <string>u1463u-crush-bul.png</string>
        </dict>
    </dict>
</plist>
