<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90198-gord-body_12x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {12, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{12, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 193}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_12x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {10, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 9}</string>
			<key>spriteSourceSize</key>
			<string>{12, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 193}, {12, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_144x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {140, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 61}</string>
			<key>spriteSourceSize</key>
			<string>{144, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 87}, {144, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_15x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 75}</string>
			<key>spriteSourceSize</key>
			<string>{15, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 166}, {15, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{14, 193}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_20x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 15}</string>
			<key>spriteSourceSize</key>
			<string>{20, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{283, 207}, {20, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_20x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {18, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 22}</string>
			<key>spriteSourceSize</key>
			<string>{20, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 150}, {20, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_23x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 27}</string>
			<key>spriteSourceSize</key>
			<string>{23, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{121, 221}, {23, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_24x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 18}</string>
			<key>spriteSourceSize</key>
			<string>{24, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 230}, {24, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_25x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 22}</string>
			<key>spriteSourceSize</key>
			<string>{25, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 207}, {25, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_26x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 25}</string>
			<key>spriteSourceSize</key>
			<string>{26, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{388, 174}, {26, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_28x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 17}</string>
			<key>spriteSourceSize</key>
			<string>{28, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 207}, {28, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_28x17_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 17}</string>
			<key>spriteSourceSize</key>
			<string>{28, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{388, 201}, {28, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_33x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {31, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 21}</string>
			<key>spriteSourceSize</key>
			<string>{33, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 221}, {33, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_34x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 58}</string>
			<key>spriteSourceSize</key>
			<string>{34, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 18}, {34, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_34x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 78}</string>
			<key>spriteSourceSize</key>
			<string>{34, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 78}, {34, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_35x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 16}</string>
			<key>spriteSourceSize</key>
			<string>{35, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 0}, {35, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_35x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 111}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_36x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 38}</string>
			<key>spriteSourceSize</key>
			<string>{36, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{63, 209}, {36, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_39x144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 144}</string>
			<key>spriteSourceSize</key>
			<string>{39, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 0}, {39, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_40x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 24}</string>
			<key>spriteSourceSize</key>
			<string>{40, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 183}, {40, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_41x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {41, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 78}</string>
			<key>spriteSourceSize</key>
			<string>{41, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{183, 150}, {41, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_43x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {41, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 76}</string>
			<key>spriteSourceSize</key>
			<string>{43, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 87}, {43, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_45x109.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 109}</string>
			<key>spriteSourceSize</key>
			<string>{45, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 0}, {45, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_45x181.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 181}</string>
			<key>spriteSourceSize</key>
			<string>{45, 181}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 0}, {45, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_49x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {47, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 20}</string>
			<key>spriteSourceSize</key>
			<string>{49, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{121, 199}, {49, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_50x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {48, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 31}</string>
			<key>spriteSourceSize</key>
			<string>{50, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{121, 166}, {50, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_55x191.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {53, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 191}</string>
			<key>spriteSourceSize</key>
			<string>{55, 191}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {55, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_61x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {59, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 43}</string>
			<key>spriteSourceSize</key>
			<string>{61, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 209}, {61, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_71x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 37}</string>
			<key>spriteSourceSize</key>
			<string>{71, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 174}, {71, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_75x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 49}</string>
			<key>spriteSourceSize</key>
			<string>{75, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 165}, {75, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_77x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 18}</string>
			<key>spriteSourceSize</key>
			<string>{77, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 146}, {77, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_87x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {85, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 55}</string>
			<key>spriteSourceSize</key>
			<string>{87, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 150}, {87, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_93x85.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {91, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 85}</string>
			<key>spriteSourceSize</key>
			<string>{93, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 0}, {93, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_93x85_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {91, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 85}</string>
			<key>spriteSourceSize</key>
			<string>{93, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 87}, {93, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_93x85_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {91, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 85}</string>
			<key>spriteSourceSize</key>
			<string>{93, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{382, 0}, {93, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_93x85_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {91, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 85}</string>
			<key>spriteSourceSize</key>
			<string>{93, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 0}, {93, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90198-gord-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 193}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u90198-gord-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>