<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1089u-boyakki-bul_12x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{222,36},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1089u-boyakki-bul_134x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{134,52}</string>
                <key>textureRect</key>
                <string>{{4,4},{134,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1089u-boyakki-bul_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{222,4},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1089u-boyakki-bul_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{182,4},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1089u-boyakki-bul_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{142,4},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1089u-boyakki-bul.png</string>
            <key>size</key>
            <string>{244,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f3273dd7d59ead31a4d4cd6f15fa12:482d494b17ddf4b1ace61b0481221e83:7e628d85c3f600251d4145365b7d440e$</string>
            <key>textureFileName</key>
            <string>u1089u-boyakki-bul.png</string>
        </dict>
    </dict>
</plist>
