<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u85022-naraku-bul2_100x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,39}</string>
                <key>spriteSourceSize</key>
                <string>{100,39}</string>
                <key>textureRect</key>
                <string>{{205,444},{100,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_100x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{122,280},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_101x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,91}</string>
                <key>spriteSourceSize</key>
                <string>{101,91}</string>
                <key>textureRect</key>
                <string>{{226,280},{101,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_104x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,65}</string>
                <key>textureRect</key>
                <string>{{237,375},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_111x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,44}</string>
                <key>spriteSourceSize</key>
                <string>{111,44}</string>
                <key>textureRect</key>
                <string>{{122,377},{111,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_119x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{366,240},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_11x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{337,246},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_136x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,102}</string>
                <key>spriteSourceSize</key>
                <string>{136,102}</string>
                <key>textureRect</key>
                <string>{{226,85},{136,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_136x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,51}</string>
                <key>spriteSourceSize</key>
                <string>{136,51}</string>
                <key>textureRect</key>
                <string>{{226,191},{136,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_157x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,93}</string>
                <key>spriteSourceSize</key>
                <string>{157,93}</string>
                <key>textureRect</key>
                <string>{{417,4},{157,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{4,470},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_160x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{366,171},{160,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_168x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{366,101},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_187x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,77}</string>
                <key>spriteSourceSize</key>
                <string>{187,77}</string>
                <key>textureRect</key>
                <string>{{226,4},{187,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{80,246},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{309,444},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_27x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{547,435},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{303,246},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{538,101},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{446,383},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{446,314},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_40x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,172}</string>
                <key>spriteSourceSize</key>
                <string>{40,172}</string>
                <key>textureRect</key>
                <string>{{4,294},{40,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{439,415},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{489,240},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_60x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{483,435},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_64x238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,238}</string>
                <key>spriteSourceSize</key>
                <string>{64,238}</string>
                <key>textureRect</key>
                <string>{{158,4},{64,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{487,342},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_69x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,25}</string>
                <key>spriteSourceSize</key>
                <string>{69,25}</string>
                <key>textureRect</key>
                <string>{{487,406},{69,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_70x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,133}</string>
                <key>spriteSourceSize</key>
                <string>{70,133}</string>
                <key>textureRect</key>
                <string>{{48,294},{70,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_72x286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,286}</string>
                <key>spriteSourceSize</key>
                <string>{72,286}</string>
                <key>textureRect</key>
                <string>{{4,4},{72,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_74x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,234}</string>
                <key>spriteSourceSize</key>
                <string>{74,234}</string>
                <key>textureRect</key>
                <string>{{80,4},{74,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_74x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{48,431},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_75x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{126,425},{75,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_90x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,77}</string>
                <key>spriteSourceSize</key>
                <string>{90,77}</string>
                <key>textureRect</key>
                <string>{{345,402},{90,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u85022-naraku-bul2_97x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,84}</string>
                <key>textureRect</key>
                <string>{{345,314},{97,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u85022-naraku-bul2.png</string>
            <key>size</key>
            <string>{578,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5121d8ea384e508a7d5935653c606173:e586757f2c2121df8a729bc8350b68ee:bc76bf1259c32d432e82a6a464b23211$</string>
            <key>textureFileName</key>
            <string>u85022-naraku-bul2.png</string>
        </dict>
    </dict>
</plist>
