<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90006-izac-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 108}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{87, 108}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_25x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {19, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 88}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {18, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 14}</string>
			<key>spriteSourceSize</key>
			<string>{26, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 107}, {26, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {20, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 19}</string>
			<key>spriteSourceSize</key>
			<string>{26, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 105}, {26, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 26}</string>
			<key>spriteSourceSize</key>
			<string>{26, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 99}, {26, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {18, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 43}</string>
			<key>spriteSourceSize</key>
			<string>{26, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{39, 72}, {26, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x43_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {18, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 43}</string>
			<key>spriteSourceSize</key>
			<string>{26, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 60}, {26, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_26x43_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {18, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 43}</string>
			<key>spriteSourceSize</key>
			<string>{26, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 73}, {26, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_32x13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {24, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 13}</string>
			<key>spriteSourceSize</key>
			<string>{32, 13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 73}, {32, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_37x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 37}</string>
			<key>spriteSourceSize</key>
			<string>{37, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 60}, {37, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_37x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {25, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 44}</string>
			<key>spriteSourceSize</key>
			<string>{37, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 72}, {37, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_38x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 46}</string>
			<key>spriteSourceSize</key>
			<string>{38, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 60}, {38, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_49x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {39, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{49, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 22}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_55x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {51, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 20}</string>
			<key>spriteSourceSize</key>
			<string>{55, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 0}, {55, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_58x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {40, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{58, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 0}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_58x58_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {44, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{58, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 0}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_70x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {60, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90006-izac-body_8x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{243, 22}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>hd_izac_body</string>
		<key>textureFileName</key>
		<string>u90006-izac-body.16.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>