<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1015u-sally-bul_154x246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,246}</string>
                <key>spriteSourceSize</key>
                <string>{154,246}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_201x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,148}</string>
                <key>spriteSourceSize</key>
                <string>{201,148}</string>
                <key>textureRect</key>
                <string>{{2,250},{201,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_77x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,105}</string>
                <key>spriteSourceSize</key>
                <string>{77,105}</string>
                <key>textureRect</key>
                <string>{{324,2},{77,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_78x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{78,106}</string>
                <key>textureRect</key>
                <string>{{323,109},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_79x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{243,2},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_80x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{241,112},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_80x108_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{287,222},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_80x109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,109}</string>
                <key>spriteSourceSize</key>
                <string>{80,109}</string>
                <key>textureRect</key>
                <string>{{205,223},{80,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_81x109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,109}</string>
                <key>spriteSourceSize</key>
                <string>{81,109}</string>
                <key>textureRect</key>
                <string>{{158,112},{81,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1015u-sally-bul_83x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,108}</string>
                <key>spriteSourceSize</key>
                <string>{83,108}</string>
                <key>textureRect</key>
                <string>{{158,2},{83,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1015u-sally-bul.png</string>
            <key>size</key>
            <string>{403,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b3487e44c32c678e6ea0f9b0d02209:90241459788dedaab6bee4288e3d4efd:55912adf7c9544db45d66c7f27398e60$</string>
            <key>textureFileName</key>
            <string>u1015u-sally-bul.png</string>
        </dict>
    </dict>
</plist>
