<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80039-marvin-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{56,548},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{232,295},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{235,4},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{4,410},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{4,239},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{4,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{232,433},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{138,692},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_30x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{336,877},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_34x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{298,877},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_36x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{258,877},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{324,831},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{324,783},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_38x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{324,733},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{326,681},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_40x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{326,623},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{4,548},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{170,239},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_62x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{258,683},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_62x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{258,743},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_62x56_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{258,803},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_64x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{258,623},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{138,853},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_76x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,26}</string>
                <key>textureRect</key>
                <string>{{138,823},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{56,692},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_82x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,42}</string>
                <key>textureRect</key>
                <string>{{138,777},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{56,654},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{258,433},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{258,471},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{258,509},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{258,547},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80039-marvin-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{258,585},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80039-marvin-body.png</string>
            <key>size</key>
            <string>{379,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb32d5d9a36414db3432d95a0a7f942b:1385b2bc47b42768ac30a1f53b091c7a:f63155567e577f1136ee384f9751b3f0$</string>
            <key>textureFileName</key>
            <string>u80039-marvin-body.png</string>
        </dict>
    </dict>
</plist>
