<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3024e-sally-body_100x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{501,492},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_102x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{501,609},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_103x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,43}</string>
                <key>spriteSourceSize</key>
                <string>{103,43}</string>
                <key>textureRect</key>
                <string>{{689,720},{103,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_106x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{106,116}</string>
                <key>textureRect</key>
                <string>{{348,655},{106,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_107x123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,123}</string>
                <key>spriteSourceSize</key>
                <string>{107,123}</string>
                <key>textureRect</key>
                <string>{{589,354},{107,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_108x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{108,117}</string>
                <key>textureRect</key>
                <string>{{698,333},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_109x109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{904,265},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{489,492},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_110x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{904,152},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_114x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{138,706},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_114x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,72}</string>
                <key>spriteSourceSize</key>
                <string>{114,72}</string>
                <key>textureRect</key>
                <string>{{703,572},{114,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_114x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,72}</string>
                <key>spriteSourceSize</key>
                <string>{114,72}</string>
                <key>textureRect</key>
                <string>{{456,697},{114,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_114x72_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,72}</string>
                <key>spriteSourceSize</key>
                <string>{114,72}</string>
                <key>textureRect</key>
                <string>{{703,646},{114,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_115x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,54}</string>
                <key>spriteSourceSize</key>
                <string>{115,54}</string>
                <key>textureRect</key>
                <string>{{348,773},{115,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_119x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,57}</string>
                <key>spriteSourceSize</key>
                <string>{119,57}</string>
                <key>textureRect</key>
                <string>{{465,771},{119,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_134x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,98}</string>
                <key>spriteSourceSize</key>
                <string>{134,98}</string>
                <key>textureRect</key>
                <string>{{2,706},{134,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_136x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,143}</string>
                <key>spriteSourceSize</key>
                <string>{136,143}</string>
                <key>textureRect</key>
                <string>{{337,510},{136,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_150x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{337,354},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_151x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,153}</string>
                <key>spriteSourceSize</key>
                <string>{151,153}</string>
                <key>textureRect</key>
                <string>{{690,178},{151,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_15x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{996,376},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{712,803},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_17x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{670,737},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_17x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{456,655},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_17x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{475,649},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_19x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{572,697},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_20x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{648,737},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_210x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,174}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{690,2},{210,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_24x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,137}</string>
                <key>spriteSourceSize</key>
                <string>{24,137}</string>
                <key>textureRect</key>
                <string>{{475,510},{24,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_29x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{822,551},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_333x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,174}</string>
                <key>spriteSourceSize</key>
                <string>{333,174}</string>
                <key>textureRect</key>
                <string>{{355,2},{333,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_333x174_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,174}</string>
                <key>spriteSourceSize</key>
                <string>{333,174}</string>
                <key>textureRect</key>
                <string>{{2,354},{333,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_333x174_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,174}</string>
                <key>spriteSourceSize</key>
                <string>{333,174}</string>
                <key>textureRect</key>
                <string>{{355,178},{333,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_333x174_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,174}</string>
                <key>spriteSourceSize</key>
                <string>{333,174}</string>
                <key>textureRect</key>
                <string>{{2,530},{333,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_33x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{808,333},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_351x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,174}</string>
                <key>spriteSourceSize</key>
                <string>{351,174}</string>
                <key>textureRect</key>
                <string>{{2,2},{351,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_351x174_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,174}</string>
                <key>spriteSourceSize</key>
                <string>{351,174}</string>
                <key>textureRect</key>
                <string>{{2,178},{351,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_44x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,118}</string>
                <key>spriteSourceSize</key>
                <string>{44,118}</string>
                <key>textureRect</key>
                <string>{{776,452},{44,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{2,806},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_57x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{712,765},{57,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_58x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{945,442},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_58x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{819,572},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_59x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{822,449},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_59x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,188}</string>
                <key>spriteSourceSize</key>
                <string>{59,188}</string>
                <key>textureRect</key>
                <string>{{843,178},{59,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{819,666},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{881,645},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{586,737},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{879,551},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{941,547},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{943,641},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{858,730},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x92_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{920,735},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_60x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{883,449},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_62x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{648,765},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_62x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,79}</string>
                <key>spriteSourceSize</key>
                <string>{62,79}</string>
                <key>textureRect</key>
                <string>{{794,728},{62,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_75x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,118}</string>
                <key>spriteSourceSize</key>
                <string>{75,118}</string>
                <key>textureRect</key>
                <string>{{699,452},{75,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_82x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,61}</string>
                <key>textureRect</key>
                <string>{{605,674},{82,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_92x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{254,706},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_92x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{902,376},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_92x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{92,79}</string>
                <key>textureRect</key>
                <string>{{808,368},{92,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_94x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,108}</string>
                <key>spriteSourceSize</key>
                <string>{94,108}</string>
                <key>textureRect</key>
                <string>{{603,479},{94,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_96x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,83}</string>
                <key>spriteSourceSize</key>
                <string>{96,83}</string>
                <key>textureRect</key>
                <string>{{605,589},{96,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_98x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,136}</string>
                <key>spriteSourceSize</key>
                <string>{98,136}</string>
                <key>textureRect</key>
                <string>{{489,354},{98,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_99x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,148}</string>
                <key>spriteSourceSize</key>
                <string>{99,148}</string>
                <key>textureRect</key>
                <string>{{902,2},{99,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3024e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{337,655},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3024e-sally-body.png</string>
            <key>size</key>
            <string>{1016,831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:057c63fabdab1dbaaed6539d18a28358:4a4de45a674510bad6595166e9463a0a:b8f7e4f5c0e443a8a94a30792fb54a7c$</string>
            <key>textureFileName</key>
            <string>u3024e-sally-body.png</string>
        </dict>
    </dict>
</plist>
