<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u414e-roy-body_104x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 330}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_104x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 87}</string>
			<key>spriteSourceSize</key>
			<string>{104, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 0}, {104, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_13x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {9, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{13, 16}</string>
			<key>spriteSourceSize</key>
			<string>{13, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 496}, {13, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 496}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_17x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {13, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 42}</string>
			<key>spriteSourceSize</key>
			<string>{17, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 37}, {17, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_18x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 44}</string>
			<key>spriteSourceSize</key>
			<string>{18, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{319, 87}, {18, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_20x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 27}</string>
			<key>spriteSourceSize</key>
			<string>{20, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 89}, {20, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_24x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {20, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 25}</string>
			<key>spriteSourceSize</key>
			<string>{24, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 401}, {24, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_24x486.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 486}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {24, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_25x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 15}</string>
			<key>spriteSourceSize</key>
			<string>{25, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 496}, {25, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_26x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {22, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 35}</string>
			<key>spriteSourceSize</key>
			<string>{26, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 0}, {26, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_28x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 89}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_28x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 40}</string>
			<key>spriteSourceSize</key>
			<string>{28, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{285, 47}, {28, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_30x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 19}</string>
			<key>spriteSourceSize</key>
			<string>{30, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 488}, {30, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_31x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {27, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 55}</string>
			<key>spriteSourceSize</key>
			<string>{31, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 243}, {31, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_31x55_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {27, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 55}</string>
			<key>spriteSourceSize</key>
			<string>{31, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 243}, {31, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_31x93.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {21, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 93}</string>
			<key>spriteSourceSize</key>
			<string>{31, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 146}, {31, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_32x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 43}</string>
			<key>spriteSourceSize</key>
			<string>{32, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{475, 81}, {32, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_32x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {28, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 45}</string>
			<key>spriteSourceSize</key>
			<string>{32, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{285, 0}, {32, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_33x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 26}</string>
			<key>spriteSourceSize</key>
			<string>{33, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 89}, {33, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_33x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {31, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 57}</string>
			<key>spriteSourceSize</key>
			<string>{33, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{157, 247}, {33, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_34x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{34, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{339, 87}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_34x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{34, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 114}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_36x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {32, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 45}</string>
			<key>spriteSourceSize</key>
			<string>{36, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 67}, {36, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_36x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {32, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 58}</string>
			<key>spriteSourceSize</key>
			<string>{36, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 59}, {36, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_37x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {35, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 34}</string>
			<key>spriteSourceSize</key>
			<string>{37, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 31}, {37, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_42x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 29}</string>
			<key>spriteSourceSize</key>
			<string>{42, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 28}, {42, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_42x29_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 29}</string>
			<key>spriteSourceSize</key>
			<string>{42, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 0}, {42, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_43x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 26}</string>
			<key>spriteSourceSize</key>
			<string>{43, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 0}, {43, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_53x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 30}</string>
			<key>spriteSourceSize</key>
			<string>{53, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 119}, {53, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_58x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {54, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 38}</string>
			<key>spriteSourceSize</key>
			<string>{58, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 47}, {58, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_60x328.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 328}</string>
			<key>spriteSourceSize</key>
			<string>{60, 328}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 0}, {60, 328}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_60x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 44}</string>
			<key>spriteSourceSize</key>
			<string>{60, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{319, 0}, {60, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_60x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 55}</string>
			<key>spriteSourceSize</key>
			<string>{60, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 89}, {60, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_62x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {58, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{62, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 436}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_67x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 57}</string>
			<key>spriteSourceSize</key>
			<string>{67, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 247}, {67, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_74x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 436}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_76x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {74, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 27}</string>
			<key>spriteSourceSize</key>
			<string>{76, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 119}, {76, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_92x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {88, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 54}</string>
			<key>spriteSourceSize</key>
			<string>{92, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 243}, {92, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_94x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {92, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 216}, {94, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 108}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 72}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 36}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{321, 180}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x34_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 144}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x93.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{98, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 152}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x93_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {94, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{98, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 306}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x93_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {94, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{98, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 300}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x93_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{98, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 148}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_98x93_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {96, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{98, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 401}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u414e-roy-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 496}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u414e-roy-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>