<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1095u-giroro-bul_61x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{4,82},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1095u-giroro-bul_61x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{4,4},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1095u-giroro-bul.png</string>
            <key>size</key>
            <string>{69,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a7d5cc27d51692c18718beaee5ed03:b186a666da205bcba65fb416ef7c31c8:127efe19a6e5c130bf214b503dfbe7b4$</string>
            <key>textureFileName</key>
            <string>u1095u-giroro-bul.png</string>
        </dict>
    </dict>
</plist>
