<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1100h-james-bul_28x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{4,132},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1100h-james-bul_32x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{4,70},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1100h-james-bul_54x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{4,4},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1100h-james-bul.png</string>
            <key>size</key>
            <string>{62,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c534b6405e7855f1619a4a6d982df379:f9ba79e0fd3e104381d5fa397da3c3bf:3d5b8fbad4c186241998b280ea4312d8$</string>
            <key>textureFileName</key>
            <string>u1100h-james-bul.png</string>
        </dict>
    </dict>
</plist>
