<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u027e-renee-bul_10x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {6, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 34}</string>
			<key>spriteSourceSize</key>
			<string>{10, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 38}, {10, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_12x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{12, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 112}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_12x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {8, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 16}</string>
			<key>spriteSourceSize</key>
			<string>{12, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{18, 112}, {12, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_16x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 112}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_16x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {12, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 18}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 28}, {16, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_16x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {12, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 18}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{142, 28}, {16, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_20x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 28}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_46x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {42, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 76}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_46x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {42, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 38}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_56x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 36}</string>
			<key>spriteSourceSize</key>
			<string>{56, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {56, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 56}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 102}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{118, 0}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 28}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 0}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_58x26_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 26}</string>
			<key>spriteSourceSize</key>
			<string>{58, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 74}, {58, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u027e-renee-bul_8x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 112}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u027e-renee-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>