<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90174-ppippo-bul_10x6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {8, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 6}</string>
			<key>spriteSourceSize</key>
			<string>{10, 6}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{239, 40}, {10, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_12x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {10, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{12, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{243, 20}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_12x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {10, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{12, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{243, 0}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_131x41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 41}</string>
			<key>spriteSourceSize</key>
			<string>{131, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 175}, {131, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_157x122.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 122}</string>
			<key>spriteSourceSize</key>
			<string>{157, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 51}, {157, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 211}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_191x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 49}</string>
			<key>spriteSourceSize</key>
			<string>{191, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {191, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_20x6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {18, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 6}</string>
			<key>spriteSourceSize</key>
			<string>{20, 6}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 203}, {20, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_22x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 26}</string>
			<key>spriteSourceSize</key>
			<string>{22, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 175}, {22, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_28x10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 10}</string>
			<key>spriteSourceSize</key>
			<string>{28, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119, 260}, {28, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_28x10_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 10}</string>
			<key>spriteSourceSize</key>
			<string>{28, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 65}, {28, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_32x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {32, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 12}</string>
			<key>spriteSourceSize</key>
			<string>{32, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 51}, {32, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_36x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 12}</string>
			<key>spriteSourceSize</key>
			<string>{36, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 260}, {36, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_42x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 40}</string>
			<key>spriteSourceSize</key>
			<string>{42, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 218}, {42, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_44x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 24}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_48x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 22}</string>
			<key>spriteSourceSize</key>
			<string>{48, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 0}, {48, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 23}, {29, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 289}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 431}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {73, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 290}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 290}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {41, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 148}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 18}, {41, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 218}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {55, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 361}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 360}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {65, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{153, 219}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {77, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 432}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 361}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90174-ppippo-bul_79x69_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {77, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 69}</string>
			<key>spriteSourceSize</key>
			<string>{79, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 77}, {79, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>u90174-ppippo-bul</string>
		<key>textureFileName</key>
		<string>u90174-ppippo-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>