<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2014e-sisi-body_108x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,33}</string>
                <key>spriteSourceSize</key>
                <string>{108,33}</string>
                <key>textureRect</key>
                <string>{{567,2},{108,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{658,197},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_12x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{658,211},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_12x12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{672,197},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_14x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,72}</string>
                <key>spriteSourceSize</key>
                <string>{14,72}</string>
                <key>textureRect</key>
                <string>{{651,37},{14,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{373,142},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_16x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,9}</string>
                <key>spriteSourceSize</key>
                <string>{16,9}</string>
                <key>textureRect</key>
                <string>{{494,245},{16,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_182x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,200}</string>
                <key>spriteSourceSize</key>
                <string>{182,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{182,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_18x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{677,2},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_19x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,6}</string>
                <key>spriteSourceSize</key>
                <string>{19,6}</string>
                <key>textureRect</key>
                <string>{{602,233},{19,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{602,213},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_21x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{619,173},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{504,223},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{595,177},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_22x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{22,8}</string>
                <key>textureRect</key>
                <string>{{470,243},{22,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_26x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{667,88},{26,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_278x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,58}</string>
                <key>spriteSourceSize</key>
                <string>{278,58}</string>
                <key>textureRect</key>
                <string>{{186,2},{278,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{667,66},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{667,42},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_32x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{470,223},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{568,213},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{436,214},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{624,201},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{532,213},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_34x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{34,54}</string>
                <key>textureRect</key>
                <string>{{615,62},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{398,214},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{609,123},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_38x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{649,147},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{651,111},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_46x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{46,90}</string>
                <key>textureRect</key>
                <string>{{350,160},{46,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_56x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{537,177},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_60x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,36}</string>
                <key>textureRect</key>
                <string>{{470,185},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_62x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{473,137},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_64x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{473,61},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_66x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{398,142},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_66x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,90}</string>
                <key>spriteSourceSize</key>
                <string>{66,90}</string>
                <key>textureRect</key>
                <string>{{282,160},{66,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_68x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{539,123},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_74x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{539,62},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_76x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,23}</string>
                <key>spriteSourceSize</key>
                <string>{76,23}</string>
                <key>textureRect</key>
                <string>{{567,37},{76,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_80x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,43}</string>
                <key>textureRect</key>
                <string>{{92,204},{80,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_88x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,50}</string>
                <key>textureRect</key>
                <string>{{2,204},{88,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_89x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,96}</string>
                <key>spriteSourceSize</key>
                <string>{89,96}</string>
                <key>textureRect</key>
                <string>{{282,62},{89,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_94x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,190}</string>
                <key>spriteSourceSize</key>
                <string>{94,190}</string>
                <key>textureRect</key>
                <string>{{186,62},{94,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_98x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{98,78}</string>
                <key>textureRect</key>
                <string>{{373,62},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_99x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,57}</string>
                <key>spriteSourceSize</key>
                <string>{99,57}</string>
                <key>textureRect</key>
                <string>{{466,2},{99,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2014e-sisi-body_9x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,13}</string>
                <key>spriteSourceSize</key>
                <string>{9,13}</string>
                <key>textureRect</key>
                <string>{{602,241},{9,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2014e-sisi-body.png</string>
            <key>size</key>
            <string>{697,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d679fc44ea49970ecaba97b2e8760e:0d9973f10c3051181687f7ebac920e41:aac278a3a6fada9a4b90ebdfa03413c5$</string>
            <key>textureFileName</key>
            <string>u2014e-sisi-body.png</string>
        </dict>
    </dict>
</plist>
