<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1131e-king-bul_409x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,120}</string>
                <key>spriteSourceSize</key>
                <string>{409,120}</string>
                <key>textureRect</key>
                <string>{{4,4},{409,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1131e-king-bul.png</string>
            <key>size</key>
            <string>{417,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e8203465a8f2c6c2476073a1eb0a26d:2c5495f589299351c3121946c0b0d9c2:f4b47879643616f3eee5c946a7ce3292$</string>
            <key>textureFileName</key>
            <string>u1131e-king-bul.png</string>
        </dict>
    </dict>
</plist>
