<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40011-sally-body_105x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,142}</string>
                <key>spriteSourceSize</key>
                <string>{105,142}</string>
                <key>textureRect</key>
                <string>{{565,84},{105,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{651,341},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_10x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{651,321},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_116x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,70}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{377,228},{116,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_11x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{629,459},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_12x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{547,295},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_134x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{513,321},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_140x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{421,84},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_140x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{202,387},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_140x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,66}</string>
                <key>textureRect</key>
                <string>{{4,413},{140,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_140x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,68}</string>
                <key>textureRect</key>
                <string>{{657,4},{140,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_140x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,82}</string>
                <key>textureRect</key>
                <string>{{202,301},{140,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_144x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,101}</string>
                <key>spriteSourceSize</key>
                <string>{144,101}</string>
                <key>textureRect</key>
                <string>{{229,196},{144,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{611,459},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{499,450},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{778,451},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{592,459},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{386,466},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{170,463},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{190,463},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{244,460},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{782,373},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_188x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{229,4},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_18x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,10}</string>
                <key>textureRect</key>
                <string>{{408,434},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{148,463},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{202,279},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_18x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{364,466},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_194x194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{4,215},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_221x207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{4,4},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{566,454},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{752,451},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{202,249},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{202,215},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_232x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,76}</string>
                <key>spriteSourceSize</key>
                <string>{232,76}</string>
                <key>textureRect</key>
                <string>{{421,4},{232,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_28x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{634,431},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{210,460},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{488,426},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{513,295},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{768,174},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{566,426},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x24_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{600,431},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{768,110},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{768,142},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{768,76},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_30x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,8}</string>
                <key>spriteSourceSize</key>
                <string>{30,8}</string>
                <key>textureRect</key>
                <string>{{330,466},{30,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_34x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{761,202},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_36x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{761,243},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{710,418},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_38x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{752,411},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_39x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{408,450},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_40x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{377,196},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{666,418},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_40x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{522,426},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{747,327},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_42x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{148,413},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_43x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{747,280},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{451,450},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{734,373},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{438,416},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_52x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{274,429},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_59x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{603,370},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_63x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{497,228},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_64x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{666,368},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_71x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{438,302},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_74x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{330,434},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{194,429},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_78x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{78,84}</string>
                <key>textureRect</key>
                <string>{{665,280},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_7x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{782,397},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_83x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,78}</string>
                <key>textureRect</key>
                <string>{{674,198},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_86x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{513,370},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_88x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{346,404},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_88x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{346,302},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_90x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,118}</string>
                <key>textureRect</key>
                <string>{{674,76},{90,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_97x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{564,230},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{499,470},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40011-sally-body.png</string>
            <key>size</key>
            <string>{802,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df4b72aff0413c1478bfefd9311697d:644a4620a3d10110d27c99e17af1f662:0976afd0394a40dc4df62c2d643a8445$</string>
            <key>textureFileName</key>
            <string>u40011-sally-body.png</string>
        </dict>
    </dict>
</plist>
