<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40011-sally-bul_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{40,4},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40011-sally-bul_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40011-sally-bul.png</string>
            <key>size</key>
            <string>{66,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bc00566f4c384375aa5d3a4da16aca:56c0aa6cd1ee6756d870e1bb3281d677:a2b2f509ad66572b8a9a66129b9a6699$</string>
            <key>textureFileName</key>
            <string>u40011-sally-bul.png</string>
        </dict>
    </dict>
</plist>
