<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u70016-zipp-bul_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{165,24},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_17x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{74,91},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_19x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{74,146},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_19x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{95,146},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_29x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{74,116},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_69x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{94,24},{69,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_70x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,89}</string>
                <key>spriteSourceSize</key>
                <string>{70,89}</string>
                <key>textureRect</key>
                <string>{{2,91},{70,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_71x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,20}</string>
                <key>spriteSourceSize</key>
                <string>{71,20}</string>
                <key>textureRect</key>
                <string>{{94,2},{71,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u70016-zipp-bul_90x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{90,87}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u70016-zipp-bul.png</string>
            <key>size</key>
            <string>{182,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f406045c5ae07327e5c1601c522256e:58020467daf2aface9c8b9eeb9abd34e:7be3eb6c88ebeb6c1637d46249f3b0d6$</string>
            <key>textureFileName</key>
            <string>u70016-zipp-bul.png</string>
        </dict>
    </dict>
</plist>
