<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3014e-jessica-bul_112x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,62}</string>
                <key>textureRect</key>
                <string>{{2,2},{112,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3014e-jessica-bul_28x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{2,66},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u3014e-jessica-bul.png</string>
            <key>size</key>
            <string>{116,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38d1e561f700ac9ab8a9f9d8ed798c4:b3558455b3369fa51ae899bced49d27b:27d837c4d4c091b4687c9c963fe76968$</string>
            <key>textureFileName</key>
            <string>u3014e-jessica-bul.png</string>
        </dict>
    </dict>
</plist>
