<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1394e-brown-body_100x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{143,92},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_100x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{405,2},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_100x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{507,2},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_106x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{275,78},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_106x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{709,92},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_106x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,44}</string>
                <key>textureRect</key>
                <string>{{2,154},{106,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_128x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{275,2},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_130x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{143,2},{130,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_139x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,150}</string>
                <key>spriteSourceSize</key>
                <string>{139,150}</string>
                <key>textureRect</key>
                <string>{{2,2},{139,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{799,78},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{383,78},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{807,185},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{929,178},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{957,134},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{957,162},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{841,181},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{875,145},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{677,161},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{929,144},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{901,144},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{245,92},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_28x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{245,134},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_28x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{477,90},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,104}</string>
                <key>spriteSourceSize</key>
                <string>{30,104}</string>
                <key>textureRect</key>
                <string>{{275,104},{30,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,130}</string>
                <key>spriteSourceSize</key>
                <string>{30,130}</string>
                <key>textureRect</key>
                <string>{{967,2},{30,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{110,154},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{389,159},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{469,132},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x46_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{645,161},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{142,160},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{238,176},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{841,145},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{807,145},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{739,167},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{773,167},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{355,166},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{469,180},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{572,94},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{703,167},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{501,148},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{505,180},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_45x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{704,128},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_45x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{751,128},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_45x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{559,132},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_45x37_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{551,171},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_45x37_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{598,171},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{421,156},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_46x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{608,121},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_46x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{656,121},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{307,166},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_46x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{369,104},{46,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_50x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{417,124},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_50x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{507,116},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_56x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{890,74},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_58x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{58,10}</string>
                <key>textureRect</key>
                <string>{{174,196},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{417,90},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{307,104},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_62x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{174,160},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{507,94},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{817,78},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{799,2},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{881,2},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_88x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{709,2},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_92x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,20}</string>
                <key>textureRect</key>
                <string>{{143,138},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_98x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{609,2},{98,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{421,196},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1394e-brown-body.png</string>
            <key>size</key>
            <string>{999,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30b83cd662776436ff74e63ac86bb2e0:4ab8cb771ef504b07f8743793752db5b:38cc937a40b4ff36a499c4ca0014cfd2$</string>
            <key>textureFileName</key>
            <string>u1394e-brown-body.png</string>
        </dict>
    </dict>
</plist>
