<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1437u-iz-e-bul_106x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{2,118},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_110x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_110x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,20}</string>
                <key>spriteSourceSize</key>
                <string>{110,20}</string>
                <key>textureRect</key>
                <string>{{2,226},{110,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_110x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{228,94},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_110x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{114,116},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_112x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{114,2},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{462,224},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_20x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{318,130},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_20x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{516,70},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_24x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{24,58}</string>
                <key>textureRect</key>
                <string>{{340,196},{24,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{304,224},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{512,192},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_26x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{488,84},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{274,224},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{396,218},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_28x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{310,166},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_28x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{366,196},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{196,218},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_30x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{30,64}</string>
                <key>textureRect</key>
                <string>{{396,152},{30,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{426,224},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{476,192},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_42x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{496,2},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{228,224},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{476,144},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_46x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{428,196},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_46x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{428,144},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_46x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{186,152},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_54x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{340,152},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{234,202},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_66x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{420,84},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_74x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{234,166},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_74x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{110,152},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_78x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{340,88},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_78x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{416,2},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_80x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{114,222},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_82x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,34}</string>
                <key>textureRect</key>
                <string>{{234,130},{82,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_88x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{326,2},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1437u-iz-e-bul_96x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{228,2},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1437u-iz-e-bul.png</string>
            <key>size</key>
            <string>{540,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a965263f3d1dd4ee8b27b4182ff2c6b8:279960ff775cf467cd98114f1406e7c0:46b5e03eae44b71b8080769823129db4$</string>
            <key>textureFileName</key>
            <string>u1437u-iz-e-bul.png</string>
        </dict>
    </dict>
</plist>
