<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u029e-renee-body_104x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 286}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_108x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {104, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 90}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 392}, {108, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_12x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {8, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 8}</string>
			<key>spriteSourceSize</key>
			<string>{12, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 500}, {12, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_130x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {126, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 14}</string>
			<key>spriteSourceSize</key>
			<string>{130, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 484}, {130, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_14x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {8, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 142}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_14x14_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {6, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 240}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_16x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {12, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 12}</string>
			<key>spriteSourceSize</key>
			<string>{16, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80, 500}, {16, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 12}</string>
			<key>spriteSourceSize</key>
			<string>{18, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 500}, {18, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x12_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {18, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 12}</string>
			<key>spriteSourceSize</key>
			<string>{18, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{20, 500}, {18, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x12_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 12}</string>
			<key>spriteSourceSize</key>
			<string>{18, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40, 500}, {18, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x12_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {18, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 12}</string>
			<key>spriteSourceSize</key>
			<string>{18, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 500}, {18, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{227, 142}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{212, 248}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_24x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {22, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 20}</string>
			<key>spriteSourceSize</key>
			<string>{24, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 248}, {24, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_24x486.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 486}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 0}, {24, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_28x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {26, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 46}</string>
			<key>spriteSourceSize</key>
			<string>{28, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{351, 128}, {28, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_28x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {26, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 240}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_30x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{30, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{272, 482}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_30x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{30, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 128}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_30x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 38}</string>
			<key>spriteSourceSize</key>
			<string>{30, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 194}, {30, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_30x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {26, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 44}</string>
			<key>spriteSourceSize</key>
			<string>{30, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 240}, {30, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_32x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 484}, {32, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_32x28_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 484}, {32, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_32x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{238, 482}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_34x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{34, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 340}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_36x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {32, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 24}</string>
			<key>spriteSourceSize</key>
			<string>{36, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 484}, {36, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_36x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 40}</string>
			<key>spriteSourceSize</key>
			<string>{36, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 298}, {36, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_44x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {40, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 36}</string>
			<key>spriteSourceSize</key>
			<string>{44, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{417, 48}, {44, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_52x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {48, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 18}</string>
			<key>spriteSourceSize</key>
			<string>{52, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 248}, {52, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_54x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 54}</string>
			<key>spriteSourceSize</key>
			<string>{54, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{427, 86}, {54, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_58x284.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {54, 280}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 284}</string>
			<key>spriteSourceSize</key>
			<string>{58, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {58, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_64x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {60, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 46}</string>
			<key>spriteSourceSize</key>
			<string>{64, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{417, 0}, {64, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_64x88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {60, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 88}</string>
			<key>spriteSourceSize</key>
			<string>{64, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 0}, {64, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_70x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {66, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 212}, {70, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_74x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 90}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {81, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 378}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {79, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 0}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {85, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 0}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {75, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 106}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {85, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 272}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {79, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 270}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_89x104_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {81, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 104}</string>
			<key>spriteSourceSize</key>
			<string>{89, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 376}, {89, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_8x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {4, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{217, 16}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_8x14_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {4, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{217, 0}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_92x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 90}</string>
			<key>spriteSourceSize</key>
			<string>{92, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 0}, {92, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{251, 158}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{227, 106}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 204}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 212}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{327, 92}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u029e-renee-body_98x34_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 168}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u029e-renee-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>