<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u99001-tuto-mephisto-bul_46x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{4,4},{46,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u99001-tuto-mephisto-bul.png</string>
            <key>size</key>
            <string>{54,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ff49d75b52f711df779df6895f0336:75db287f5479fada325a7807cbeb5106:20b3171fb84d2eed412be8e8d2e4174e$</string>
            <key>textureFileName</key>
            <string>u99001-tuto-mephisto-bul.png</string>
        </dict>
    </dict>
</plist>
