<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3009e-moon-body_10x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{225,250},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_14x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{70,126},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{62,336},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{54,316},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{126,296},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_20x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{173,256},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{204,286},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{220,66},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{138,328},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{112,328},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{207,102},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{178,288},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_22x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{192,324},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_24x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{145,256},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{197,250},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_24x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{84,322},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_24x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{150,288},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_24x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{164,324},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{94,296},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_34x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{70,76},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_36x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{105,212},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_36x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{54,280},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{204,136},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_36x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{204,174},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_36x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{204,212},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_40x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{48,262},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_40x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{4,216},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{160,96},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{58,142},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{58,182},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{48,222},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{105,132},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_43x36_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{105,172},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_46x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{95,238},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_46x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{94,266},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_46x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{4,286},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{168,66},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{152,136},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{152,166},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{152,196},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x26_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{145,226},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{108,94},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_50x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{4,142},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_54x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,20}</string>
                <key>spriteSourceSize</key>
                <string>{54,20}</string>
                <key>textureRect</key>
                <string>{{4,336},{54,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{108,60},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{172,4},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_62x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{4,76},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_66x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{102,4},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3009e-moon-body_94x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,68}</string>
                <key>textureRect</key>
                <string>{{4,4},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3009e-moon-body.png</string>
            <key>size</key>
            <string>{244,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cfbe537c73e96e6f5a4987e6359639d:e2c33e22fc473163d6c45e64ca893082:d35de7550c5072a84d9c73f40bea02a3$</string>
            <key>textureFileName</key>
            <string>u3009e-moon-body.png</string>
        </dict>
    </dict>
</plist>
