<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u90245-rooney-bul2_126x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{126,92}</string>
                <key>textureRect</key>
                <string>{{4,4},{126,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u90245-rooney-bul2.png</string>
            <key>size</key>
            <string>{134,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6040a6f6ff273ad3eddd378e3039c8:c7b4529b015f3287570c264f260eb24a:7b30be871e60d098638fa64055d830de$</string>
            <key>textureFileName</key>
            <string>u90245-rooney-bul2.png</string>
        </dict>
    </dict>
</plist>
