<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1272e-dwight-body_100x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{136,52},{100,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_102x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,44}</string>
                <key>spriteSourceSize</key>
                <string>{102,44}</string>
                <key>textureRect</key>
                <string>{{136,4},{102,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_122x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{4,212},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_124x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{4,152},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_124x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,66}</string>
                <key>spriteSourceSize</key>
                <string>{124,66}</string>
                <key>textureRect</key>
                <string>{{4,82},{124,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_128x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{4,4},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{240,52},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{236,696},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{226,174},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{226,150},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{226,120},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_26x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{226,98},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{222,216},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_28x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{96,794},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{222,190},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_32x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{4,940},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{48,928},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{84,928},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_32x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{136,824},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_34x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{92,348},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_34x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{172,840},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_34x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{218,306},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_34x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{92,294},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_34x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{218,250},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_36x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{172,790},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{212,820},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{170,738},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_38x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{212,768},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_38x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{120,908},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{128,794},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{212,738},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{48,852},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{92,832},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,84}</string>
                <key>spriteSourceSize</key>
                <string>{40,84}</string>
                <key>textureRect</key>
                <string>{{212,360},{40,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_40x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,84}</string>
                <key>spriteSourceSize</key>
                <string>{40,84}</string>
                <key>textureRect</key>
                <string>{{4,852},{40,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{208,906},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{50,786},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{210,860},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{162,890},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{42,84}</string>
                <key>textureRect</key>
                <string>{{84,398},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{42,84}</string>
                <key>textureRect</key>
                <string>{{84,486},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_42x84_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{42,84}</string>
                <key>textureRect</key>
                <string>{{4,764},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{72,738},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_44x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{122,726},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_44x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,84}</string>
                <key>textureRect</key>
                <string>{{208,448},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{72,696},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_46x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{186,696},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{206,536},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_48x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{74,646},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_48x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,68}</string>
                <key>textureRect</key>
                <string>{{76,574},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_52x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{198,654},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_52x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{198,582},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{126,692},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{126,656},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_64x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{4,686},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_66x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{128,618},{66,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_66x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,36}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{128,578},{66,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_66x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{66,44}</string>
                <key>textureRect</key>
                <string>{{4,638},{66,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_66x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{4,580},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_68x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,16}</string>
                <key>spriteSourceSize</key>
                <string>{68,16}</string>
                <key>textureRect</key>
                <string>{{4,560},{68,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{4,506},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_72x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,44}</string>
                <key>textureRect</key>
                <string>{{130,530},{72,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_72x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{130,460},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_74x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{130,418},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_76x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{4,442},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_76x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{4,368},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_78x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{130,364},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_78x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{130,308},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{4,294},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_84x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{130,222},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_86x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,40}</string>
                <key>textureRect</key>
                <string>{{132,178},{86,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_90x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,34}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{132,140},{90,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_90x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{132,98},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1272e-dwight-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{242,4},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1272e-dwight-body.png</string>
            <key>size</key>
            <string>{256,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e87b6fcbbb93a080f07ccd98652c4cdd:2116571d39817784791445d03688dda5:6d55baa92280440c3f0fb89ffa75e27d$</string>
            <key>textureFileName</key>
            <string>u1272e-dwight-body.png</string>
        </dict>
    </dict>
</plist>
