<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1379u-au-body_100x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{4,734},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_104x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{4,642},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_106x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{292,344},{106,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_110x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,36}</string>
                <key>textureRect</key>
                <string>{{292,396},{110,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_110x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,36}</string>
                <key>textureRect</key>
                <string>{{288,436},{110,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_134x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{4,504},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_136x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,48}</string>
                <key>spriteSourceSize</key>
                <string>{136,48}</string>
                <key>textureRect</key>
                <string>{{258,214},{136,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{118,896},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_208x206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,206}</string>
                <key>textureRect</key>
                <string>{{258,4},{208,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_218x244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,244}</string>
                <key>spriteSourceSize</key>
                <string>{218,244}</string>
                <key>textureRect</key>
                <string>{{4,256},{218,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_22x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{380,896},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_22x17_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{406,896},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_22x17_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{391,917},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{386,804},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_22x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,58}</string>
                <key>spriteSourceSize</key>
                <string>{22,58}</string>
                <key>textureRect</key>
                <string>{{360,804},{22,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_250x248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,248}</string>
                <key>textureRect</key>
                <string>{{4,4},{250,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_28x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{360,866},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{320,770},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{254,498},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{296,890},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_32x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,68}</string>
                <key>spriteSourceSize</key>
                <string>{32,68}</string>
                <key>textureRect</key>
                <string>{{470,110},{32,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{470,182},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{470,62},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_36x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{470,4},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{414,788},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{414,736},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_38x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{138,896},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_40x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{112,728},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_40x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{40,82}</string>
                <key>textureRect</key>
                <string>{{112,642},{40,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{450,844},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{449,877},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_42x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{464,724},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{464,668},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_42x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{208,504},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{296,936},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{343,924},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{332,888},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{462,450},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{462,378},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{462,298},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_44x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,80}</string>
                <key>spriteSourceSize</key>
                <string>{44,80}</string>
                <key>textureRect</key>
                <string>{{462,214},{44,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_46x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{156,710},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_46x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{352,666},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_46x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{156,626},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_48x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{308,820},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{456,778},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_52x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,100}</string>
                <key>spriteSourceSize</key>
                <string>{52,100}</string>
                <key>textureRect</key>
                <string>{{62,828},{52,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_52x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{52,62}</string>
                <key>textureRect</key>
                <string>{{406,392},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_52x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{180,894},{52,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{392,862},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_54x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,118}</string>
                <key>spriteSourceSize</key>
                <string>{54,118}</string>
                <key>textureRect</key>
                <string>{{4,828},{54,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_56x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{402,458},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_56x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{236,894},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_56x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{402,322},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{376,596},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{438,600},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x64_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{402,668},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x64_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{352,736},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{226,422},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_58x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{118,820},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{386,838},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{288,736},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{398,214},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{254,522},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{318,522},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{382,526},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x66_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{244,820},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x66_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{288,666},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{446,526},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{180,820},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_60x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{316,266},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_62x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,118}</string>
                <key>spriteSourceSize</key>
                <string>{62,118}</string>
                <key>textureRect</key>
                <string>{{142,504},{62,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_62x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{226,344},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_70x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,30}</string>
                <key>textureRect</key>
                <string>{{302,592},{70,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_72x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,32}</string>
                <key>spriteSourceSize</key>
                <string>{72,32}</string>
                <key>textureRect</key>
                <string>{{62,932},{72,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{380,282},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{208,620},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{206,660},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{206,700},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{206,740},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{156,780},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{238,780},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_78x36_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{290,626},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_86x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,74}</string>
                <key>textureRect</key>
                <string>{{226,266},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_90x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,26}</string>
                <key>textureRect</key>
                <string>{{208,590},{90,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_94x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,42}</string>
                <key>spriteSourceSize</key>
                <string>{94,42}</string>
                <key>textureRect</key>
                <string>{{288,476},{94,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1379u-au-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{4,950},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1379u-au-body.png</string>
            <key>size</key>
            <string>{510,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8efacf076c4665d2852ae6ed051949cb:5430918ecb9cbb53e01fc66efd3badc1:f1209fc6be99f34979dc4dc7b9694339$</string>
            <key>textureFileName</key>
            <string>u1379u-au-body.png</string>
        </dict>
    </dict>
</plist>
