<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1416e-chichi-body_102x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{4,4},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_10x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{8,48}</string>
                <key>spriteSourceSize</key>
                <string>{10,50}</string>
                <key>textureRect</key>
                <string>{{146,222},{8,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_116x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{116,88}</string>
                <key>textureRect</key>
                <string>{{108,4},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{224,498},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{236,381},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{236,366},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{216,434},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{186,316},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_24x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{224,454},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_24x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,84}</string>
                <key>spriteSourceSize</key>
                <string>{24,86}</string>
                <key>textureRect</key>
                <string>{{226,4},{22,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{192,232},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_26x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{192,164},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_26x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{26,68}</string>
                <key>textureRect</key>
                <string>{{192,94},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{186,434},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{164,472},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{212,322},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{156,426},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{156,324},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{160,370},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x44_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{194,462},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{152,274},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_28x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{182,266},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{154,168},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{220,214},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_30x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{220,94},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_30x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{220,154},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{158,218},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{212,272},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{122,472},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_40x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{58,278},{38,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{190,400},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{190,366},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{110,426},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_46x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{60,376},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_48x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{4,488},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_50x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{60,452},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{108,372},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{100,276},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_52x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,104}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{4,278},{50,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{92,222},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_54x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,98}</string>
                <key>spriteSourceSize</key>
                <string>{54,100}</string>
                <key>textureRect</key>
                <string>{{4,386},{52,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{98,168},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{100,340},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{54,492},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_82x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{108,94},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_86x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{86,80}</string>
                <key>textureRect</key>
                <string>{{4,196},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_94x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{4,110},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416e-chichi-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{238,498},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1416e-chichi-body.png</string>
            <key>size</key>
            <string>{252,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d133d8b8d68133a4995b380d77995986:4998495bc7497e0c99f39f6ca6cfb72e:fc8942c5f60c8d91fc69a905747f9497$</string>
            <key>textureFileName</key>
            <string>u1416e-chichi-body.png</string>
        </dict>
    </dict>
</plist>
