<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1486e-moon-body_102x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,79}</string>
                <key>spriteSourceSize</key>
                <string>{102,79}</string>
                <key>textureRect</key>
                <string>{{78,126},{102,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_106x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{293,130},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_106x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{293,158},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_10x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{59,208},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_10x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,32}</string>
                <key>spriteSourceSize</key>
                <string>{10,32}</string>
                <key>textureRect</key>
                <string>{{59,172},{10,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_142x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,122}</string>
                <key>textureRect</key>
                <string>{{298,4},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{58,238},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{97,291},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{97,261},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{340,422},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_20x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{278,400},{20,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_20x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,96}</string>
                <key>spriteSourceSize</key>
                <string>{20,96}</string>
                <key>textureRect</key>
                <string>{{419,302},{20,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,100}</string>
                <key>spriteSourceSize</key>
                <string>{22,100}</string>
                <key>textureRect</key>
                <string>{{110,355},{22,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,118}</string>
                <key>spriteSourceSize</key>
                <string>{22,118}</string>
                <key>textureRect</key>
                <string>{{84,355},{22,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,122}</string>
                <key>spriteSourceSize</key>
                <string>{22,122}</string>
                <key>textureRect</key>
                <string>{{138,351},{22,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,162}</string>
                <key>spriteSourceSize</key>
                <string>{22,162}</string>
                <key>textureRect</key>
                <string>{{58,311},{22,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,190}</string>
                <key>spriteSourceSize</key>
                <string>{22,190}</string>
                <key>textureRect</key>
                <string>{{32,214},{22,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_22x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,72}</string>
                <key>spriteSourceSize</key>
                <string>{22,72}</string>
                <key>textureRect</key>
                <string>{{32,408},{22,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_237x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,37}</string>
                <key>spriteSourceSize</key>
                <string>{237,37}</string>
                <key>textureRect</key>
                <string>{{4,85},{237,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{110,459},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_24x268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,268}</string>
                <key>spriteSourceSize</key>
                <string>{24,268}</string>
                <key>textureRect</key>
                <string>{{4,214},{24,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{220,355},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_24x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{24,68}</string>
                <key>textureRect</key>
                <string>{{250,402},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{236,476},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_26x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,70}</string>
                <key>spriteSourceSize</key>
                <string>{26,70}</string>
                <key>textureRect</key>
                <string>{{220,402},{26,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{278,456},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{310,450},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_28x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{342,458},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_290x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,77}</string>
                <key>spriteSourceSize</key>
                <string>{290,77}</string>
                <key>textureRect</key>
                <string>{{4,4},{290,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{400,443},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{364,418},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_32x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{400,402},{32,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{84,311},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_32x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{84,209},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{366,186},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_33x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{4,126},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_33x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{41,126},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{302,422},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_35x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{58,261},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{403,182},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_36x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{403,130},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_38x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{358,402},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{243,300},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_38x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{243,242},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_39x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{243,203},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{74,477},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{120,477},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{243,173},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{245,125},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_46x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{245,85},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_50x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,135}</string>
                <key>spriteSourceSize</key>
                <string>{50,135}</string>
                <key>textureRect</key>
                <string>{{166,351},{50,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{184,311},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_51x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{51,34}</string>
                <key>textureRect</key>
                <string>{{358,355},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_51x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{51,34}</string>
                <key>textureRect</key>
                <string>{{303,384},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_51x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{303,345},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_51x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{4,173},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_51x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{248,348},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_52x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{120,321},{52,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_55x181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,181}</string>
                <key>spriteSourceSize</key>
                <string>{55,181}</string>
                <key>textureRect</key>
                <string>{{184,126},{55,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_55x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{360,302},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_60x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,108}</string>
                <key>spriteSourceSize</key>
                <string>{60,108}</string>
                <key>textureRect</key>
                <string>{{120,209},{60,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_66x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,16}</string>
                <key>spriteSourceSize</key>
                <string>{66,16}</string>
                <key>textureRect</key>
                <string>{{166,490},{66,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{4,486},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{285,276},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_72x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{366,216},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_72x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{290,186},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1486e-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{220,476},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1486e-moon-body.png</string>
            <key>size</key>
            <string>{444,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f9493dfd476fbf4fb701ecac6d2204:0062af483b889628663041e0e83eba3d:c31895ab4449d80be73cde199bd05646$</string>
            <key>textureFileName</key>
            <string>u1486e-moon-body.png</string>
        </dict>
    </dict>
</plist>
