<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u1602e-sh-body_104x100.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,100}</string>
			<key>textureRect</key>
			<string>{{342,112},{104,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_108x104.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,104}</string>
			<key>spriteSourceSize</key>
			<string>{108,104}</string>
			<key>textureRect</key>
			<string>{{454,0},{108,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_111x111.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,111}</string>
			<key>spriteSourceSize</key>
			<string>{111,111}</string>
			<key>textureRect</key>
			<string>{{342,0},{111,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_113x170.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{113,170}</string>
			<key>spriteSourceSize</key>
			<string>{113,170}</string>
			<key>textureRect</key>
			<string>{{228,0},{113,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_114x100.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,100}</string>
			<key>spriteSourceSize</key>
			<string>{114,100}</string>
			<key>textureRect</key>
			<string>{{0,183},{114,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_114x104.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,104}</string>
			<key>spriteSourceSize</key>
			<string>{114,104}</string>
			<key>textureRect</key>
			<string>{{454,105},{114,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,11}</string>
			<key>spriteSourceSize</key>
			<string>{16,11}</string>
			<key>textureRect</key>
			<string>{{368,550},{16,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_16x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,14}</string>
			<key>spriteSourceSize</key>
			<string>{16,14}</string>
			<key>textureRect</key>
			<string>{{511,549},{16,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_18x10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,10}</string>
			<key>spriteSourceSize</key>
			<string>{18,10}</string>
			<key>textureRect</key>
			<string>{{368,562},{18,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_20x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,26}</string>
			<key>spriteSourceSize</key>
			<string>{20,26}</string>
			<key>textureRect</key>
			<string>{{387,521},{20,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_20x26_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,26}</string>
			<key>spriteSourceSize</key>
			<string>{20,26}</string>
			<key>textureRect</key>
			<string>{{408,521},{20,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_20x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,52}</string>
			<key>spriteSourceSize</key>
			<string>{20,52}</string>
			<key>textureRect</key>
			<string>{{349,300},{20,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_227x182.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{227,182}</string>
			<key>spriteSourceSize</key>
			<string>{227,182}</string>
			<key>textureRect</key>
			<string>{{0,0},{227,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,12}</string>
			<key>spriteSourceSize</key>
			<string>{22,12}</string>
			<key>textureRect</key>
			<string>{{511,564},{22,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,14}</string>
			<key>spriteSourceSize</key>
			<string>{22,14}</string>
			<key>textureRect</key>
			<string>{{528,549},{22,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,20}</string>
			<key>spriteSourceSize</key>
			<string>{22,20}</string>
			<key>textureRect</key>
			<string>{{432,548},{22,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,30}</string>
			<key>spriteSourceSize</key>
			<string>{22,30}</string>
			<key>textureRect</key>
			<string>{{109,515},{22,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,44}</string>
			<key>spriteSourceSize</key>
			<string>{22,44}</string>
			<key>textureRect</key>
			<string>{{125,396},{22,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x44_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,44}</string>
			<key>spriteSourceSize</key>
			<string>{22,44}</string>
			<key>textureRect</key>
			<string>{{148,396},{22,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_22x48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,48}</string>
			<key>spriteSourceSize</key>
			<string>{22,48}</string>
			<key>textureRect</key>
			<string>{{251,394},{22,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_24x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{343,550},{24,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_24x34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,34}</string>
			<key>spriteSourceSize</key>
			<string>{24,34}</string>
			<key>textureRect</key>
			<string>{{266,453},{24,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_24x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,38}</string>
			<key>spriteSourceSize</key>
			<string>{24,38}</string>
			<key>textureRect</key>
			<string>{{161,441},{24,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_24x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,42}</string>
			<key>spriteSourceSize</key>
			<string>{24,42}</string>
			<key>textureRect</key>
			<string>{{100,398},{24,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,16}</string>
			<key>spriteSourceSize</key>
			<string>{26,16}</string>
			<key>textureRect</key>
			<string>{{455,549},{26,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,24}</string>
			<key>spriteSourceSize</key>
			<string>{26,24}</string>
			<key>textureRect</key>
			<string>{{187,546},{26,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,34}</string>
			<key>spriteSourceSize</key>
			<string>{26,34}</string>
			<key>textureRect</key>
			<string>{{385,454},{26,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,40}</string>
			<key>spriteSourceSize</key>
			<string>{26,40}</string>
			<key>textureRect</key>
			<string>{{440,411},{26,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,42}</string>
			<key>spriteSourceSize</key>
			<string>{26,42}</string>
			<key>textureRect</key>
			<string>{{35,402},{26,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,48}</string>
			<key>spriteSourceSize</key>
			<string>{26,48}</string>
			<key>textureRect</key>
			<string>{{224,394},{26,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,50}</string>
			<key>spriteSourceSize</key>
			<string>{26,50}</string>
			<key>textureRect</key>
			<string>{{125,345},{26,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_26x56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,56}</string>
			<key>spriteSourceSize</key>
			<string>{26,56}</string>
			<key>textureRect</key>
			<string>{{569,297},{26,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,16}</string>
			<key>textureRect</key>
			<string>{{482,549},{28,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,26}</string>
			<key>spriteSourceSize</key>
			<string>{28,26}</string>
			<key>textureRect</key>
			<string>{{429,521},{28,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,38}</string>
			<key>spriteSourceSize</key>
			<string>{28,38}</string>
			<key>textureRect</key>
			<string>{{356,445},{28,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x38_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,38}</string>
			<key>spriteSourceSize</key>
			<string>{28,38}</string>
			<key>textureRect</key>
			<string>{{0,447},{28,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,50}</string>
			<key>spriteSourceSize</key>
			<string>{28,50}</string>
			<key>textureRect</key>
			<string>{{569,354},{28,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_28x56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,56}</string>
			<key>spriteSourceSize</key>
			<string>{28,56}</string>
			<key>textureRect</key>
			<string>{{253,337},{28,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_30x19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,19}</string>
			<key>spriteSourceSize</key>
			<string>{30,19}</string>
			<key>textureRect</key>
			<string>{{249,549},{30,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_30x22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,22}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{0,548},{30,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_30x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,26}</string>
			<key>textureRect</key>
			<string>{{156,546},{30,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{62,484},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_30x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{325,408},{30,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_32x28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{474,520},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_32x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,38}</string>
			<key>spriteSourceSize</key>
			<string>{32,38}</string>
			<key>textureRect</key>
			<string>{{186,443},{32,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_32x38_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,38}</string>
			<key>spriteSourceSize</key>
			<string>{32,38}</string>
			<key>textureRect</key>
			<string>{{29,447},{32,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_32x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,40}</string>
			<key>spriteSourceSize</key>
			<string>{32,40}</string>
			<key>textureRect</key>
			<string>{{467,411},{32,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_33x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,26}</string>
			<key>spriteSourceSize</key>
			<string>{33,26}</string>
			<key>textureRect</key>
			<string>{{87,546},{33,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,24}</string>
			<key>spriteSourceSize</key>
			<string>{34,24}</string>
			<key>textureRect</key>
			<string>{{214,546},{34,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,26}</string>
			<key>spriteSourceSize</key>
			<string>{34,26}</string>
			<key>textureRect</key>
			<string>{{121,546},{34,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,28}</string>
			<key>spriteSourceSize</key>
			<string>{34,28}</string>
			<key>textureRect</key>
			<string>{{552,519},{34,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,30}</string>
			<key>spriteSourceSize</key>
			<string>{34,30}</string>
			<key>textureRect</key>
			<string>{{474,489},{34,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,36}</string>
			<key>spriteSourceSize</key>
			<string>{34,36}</string>
			<key>textureRect</key>
			<string>{{487,452},{34,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,42}</string>
			<key>spriteSourceSize</key>
			<string>{34,42}</string>
			<key>textureRect</key>
			<string>{{405,411},{34,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,44}</string>
			<key>spriteSourceSize</key>
			<string>{34,44}</string>
			<key>textureRect</key>
			<string>{{65,398},{34,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x44_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,44}</string>
			<key>spriteSourceSize</key>
			<string>{34,44}</string>
			<key>textureRect</key>
			<string>{{0,402},{34,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x44_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,44}</string>
			<key>spriteSourceSize</key>
			<string>{34,44}</string>
			<key>textureRect</key>
			<string>{{563,405},{34,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,48}</string>
			<key>spriteSourceSize</key>
			<string>{34,48}</string>
			<key>textureRect</key>
			<string>{{325,359},{34,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x48_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,48}</string>
			<key>spriteSourceSize</key>
			<string>{34,48}</string>
			<key>textureRect</key>
			<string>{{189,394},{34,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,54}</string>
			<key>spriteSourceSize</key>
			<string>{34,54}</string>
			<key>textureRect</key>
			<string>{{154,341},{34,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_34x56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,56}</string>
			<key>spriteSourceSize</key>
			<string>{34,56}</string>
			<key>textureRect</key>
			<string>{{485,301},{34,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{539,450},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,40}</string>
			<key>spriteSourceSize</key>
			<string>{36,40}</string>
			<key>textureRect</key>
			<string>{{62,443},{36,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{36,42}</string>
			<key>textureRect</key>
			<string>{{502,409},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,58}</string>
			<key>spriteSourceSize</key>
			<string>{36,58}</string>
			<key>textureRect</key>
			<string>{{74,284},{36,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x58_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,58}</string>
			<key>spriteSourceSize</key>
			<string>{36,58}</string>
			<key>textureRect</key>
			<string>{{370,288},{36,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x58_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,58}</string>
			<key>spriteSourceSize</key>
			<string>{36,58}</string>
			<key>textureRect</key>
			<string>{{407,288},{36,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x62.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,62}</string>
			<key>spriteSourceSize</key>
			<string>{36,62}</string>
			<key>textureRect</key>
			<string>{{37,284},{36,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x64.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,64}</string>
			<key>spriteSourceSize</key>
			<string>{36,64}</string>
			<key>textureRect</key>
			<string>{{154,276},{36,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_36x64_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,64}</string>
			<key>spriteSourceSize</key>
			<string>{36,64}</string>
			<key>textureRect</key>
			<string>{{0,284},{36,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_38x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,36}</string>
			<key>spriteSourceSize</key>
			<string>{38,36}</string>
			<key>textureRect</key>
			<string>{{317,451},{38,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_38x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{191,339},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_38x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,58}</string>
			<key>spriteSourceSize</key>
			<string>{38,58}</string>
			<key>textureRect</key>
			<string>{{530,297},{38,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_38x68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,68}</string>
			<key>spriteSourceSize</key>
			<string>{38,68}</string>
			<key>textureRect</key>
			<string>{{115,276},{38,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_38x72.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,72}</string>
			<key>spriteSourceSize</key>
			<string>{38,72}</string>
			<key>textureRect</key>
			<string>{{253,264},{38,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_40x28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,28}</string>
			<key>spriteSourceSize</key>
			<string>{40,28}</string>
			<key>textureRect</key>
			<string>{{305,520},{40,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_40x28_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,28}</string>
			<key>spriteSourceSize</key>
			<string>{40,28}</string>
			<key>textureRect</key>
			<string>{{346,521},{40,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_40x56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,56}</string>
			<key>spriteSourceSize</key>
			<string>{40,56}</string>
			<key>textureRect</key>
			<string>{{444,301},{40,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_42x29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,29}</string>
			<key>spriteSourceSize</key>
			<string>{42,29}</string>
			<key>textureRect</key>
			<string>{{0,518},{42,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_42x29_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,29}</string>
			<key>spriteSourceSize</key>
			<string>{42,29}</string>
			<key>textureRect</key>
			<string>{{509,519},{42,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{274,410},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_42x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,50}</string>
			<key>spriteSourceSize</key>
			<string>{42,50}</string>
			<key>textureRect</key>
			<string>{{282,359},{42,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_42x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,52}</string>
			<key>spriteSourceSize</key>
			<string>{42,52}</string>
			<key>textureRect</key>
			<string>{{520,356},{42,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_43x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,26}</string>
			<key>spriteSourceSize</key>
			<string>{43,26}</string>
			<key>textureRect</key>
			<string>{{43,546},{43,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_44x22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,22}</string>
			<key>spriteSourceSize</key>
			<string>{44,22}</string>
			<key>textureRect</key>
			<string>{{387,548},{44,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_44x22_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,22}</string>
			<key>spriteSourceSize</key>
			<string>{44,22}</string>
			<key>textureRect</key>
			<string>{{552,548},{44,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_44x32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,32}</string>
			<key>spriteSourceSize</key>
			<string>{44,32}</string>
			<key>textureRect</key>
			<string>{{99,482},{44,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_44x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{360,400},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_46x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,36}</string>
			<key>spriteSourceSize</key>
			<string>{46,36}</string>
			<key>textureRect</key>
			<string>{{440,452},{46,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_46x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,38}</string>
			<key>spriteSourceSize</key>
			<string>{46,38}</string>
			<key>textureRect</key>
			<string>{{219,443},{46,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_46x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,52}</string>
			<key>spriteSourceSize</key>
			<string>{46,52}</string>
			<key>textureRect</key>
			<string>{{370,347},{46,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_50x28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,28}</string>
			<key>spriteSourceSize</key>
			<string>{50,28}</string>
			<key>textureRect</key>
			<string>{{254,520},{50,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_50x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,52}</string>
			<key>spriteSourceSize</key>
			<string>{50,52}</string>
			<key>textureRect</key>
			<string>{{74,345},{50,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_53x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,30}</string>
			<key>spriteSourceSize</key>
			<string>{53,30}</string>
			<key>textureRect</key>
			<string>{{55,515},{53,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{144,482},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{199,514},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{199,482},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{0,486},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{522,487},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{254,488},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{309,488},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{364,489},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{419,489},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x31_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,31}</string>
			<key>textureRect</key>
			<string>{{144,514},{54,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x74.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,74}</string>
			<key>spriteSourceSize</key>
			<string>{54,74}</string>
			<key>textureRect</key>
			<string>{{370,213},{54,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_54x74_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,74}</string>
			<key>spriteSourceSize</key>
			<string>{54,74}</string>
			<key>textureRect</key>
			<string>{{198,264},{54,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_56x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,58}</string>
			<key>textureRect</key>
			<string>{{292,300},{56,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_58x86.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,86}</string>
			<key>spriteSourceSize</key>
			<string>{58,86}</string>
			<key>textureRect</key>
			<string>{{311,213},{58,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_60x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,40}</string>
			<key>spriteSourceSize</key>
			<string>{60,40}</string>
			<key>textureRect</key>
			<string>{{100,441},{60,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_60x86.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{530,210},{60,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_62x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,18}</string>
			<key>spriteSourceSize</key>
			<string>{62,18}</string>
			<key>textureRect</key>
			<string>{{280,549},{62,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_64x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,52}</string>
			<key>textureRect</key>
			<string>{{0,349},{64,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_82x90.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,90}</string>
			<key>spriteSourceSize</key>
			<string>{82,90}</string>
			<key>textureRect</key>
			<string>{{447,210},{82,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_82x92.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,92}</string>
			<key>spriteSourceSize</key>
			<string>{82,92}</string>
			<key>textureRect</key>
			<string>{{228,171},{82,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_82x92_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,92}</string>
			<key>spriteSourceSize</key>
			<string>{82,92}</string>
			<key>textureRect</key>
			<string>{{115,183},{82,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_84x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,52}</string>
			<key>spriteSourceSize</key>
			<string>{84,52}</string>
			<key>textureRect</key>
			<string>{{417,358},{84,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1602e-sh-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,9}</string>
			<key>spriteSourceSize</key>
			<string>{9,9}</string>
			<key>textureRect</key>
			<string>{{31,548},{9,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u1602e-sh-body.png</string>
		<key>size</key>
		<string>{597,576}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u1602e-sh-body.png</string>
	</dict>
</dict>
</plist>
