<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1160e-merry-bul2_100x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{517,2},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_132x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_16x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{180,93},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_20x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{158,93},{20,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{136,93},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_25x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{198,93},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_31x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{285,83},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_34x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,22}</string>
                <key>textureRect</key>
                <string>{{579,98},{34,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_41x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{579,62},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_41x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{419,70},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_47x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{318,78},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_50x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{367,70},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_53x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{462,69},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_58x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{225,83},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_60x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{517,62},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_61x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{359,2},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_64x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{293,2},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{422,2},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_71x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{71,89}</string>
                <key>textureRect</key>
                <string>{{136,2},{71,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1160e-merry-bul2_82x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{209,2},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1160e-merry-bul2.png</string>
            <key>size</key>
            <string>{622,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fadc9fd474708988234dc736a2de9833:0e18a886097ad84ef5007ac1468d4832:095634a86e795b18581290a64e65b0f4$</string>
            <key>textureFileName</key>
            <string>u1160e-merry-bul2.png</string>
        </dict>
    </dict>
</plist>
