<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1367h-cherina-bul_111x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,37}</string>
                <key>spriteSourceSize</key>
                <string>{111,37}</string>
                <key>textureRect</key>
                <string>{{4,4},{111,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1367h-cherina-bul.png</string>
            <key>size</key>
            <string>{119,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e5f39dc9087c1f06b289deeb3d20e61:9a7ba967701d50f042e6b04bd7cfe800:ac713517c479b5dd2e52c3bfb186c530$</string>
            <key>textureFileName</key>
            <string>u1367h-cherina-bul.png</string>
        </dict>
    </dict>
</plist>
