<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u358e-shu-body_105x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 53}</string>
			<key>spriteSourceSize</key>
			<string>{105, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{187, 571}, {105, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_114x124.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 124}</string>
			<key>spriteSourceSize</key>
			<string>{114, 124}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 518}, {114, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_114x129.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {106, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 129}</string>
			<key>spriteSourceSize</key>
			<string>{114, 129}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 532}, {114, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_127x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 66}</string>
			<key>spriteSourceSize</key>
			<string>{127, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{296, 450}, {127, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_131x130.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 130}</string>
			<key>spriteSourceSize</key>
			<string>{131, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 268}, {131, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_131x130_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 130}</string>
			<key>spriteSourceSize</key>
			<string>{131, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 400}, {131, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_132x119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 119}</string>
			<key>spriteSourceSize</key>
			<string>{132, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 329}, {132, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_149x162.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{149, 162}</string>
			<key>spriteSourceSize</key>
			<string>{149, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 165}, {149, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_15x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 33}</string>
			<key>spriteSourceSize</key>
			<string>{15, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 50}, {15, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_15x33_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 33}</string>
			<key>spriteSourceSize</key>
			<string>{15, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 85}, {15, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_163x163.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163, 163}</string>
			<key>spriteSourceSize</key>
			<string>{163, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 0}, {163, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_16x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 71}</string>
			<key>spriteSourceSize</key>
			<string>{16, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{349, 684}, {16, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_17x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {15, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 25}</string>
			<key>spriteSourceSize</key>
			<string>{17, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 757}, {17, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_17x25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {15, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 25}</string>
			<key>spriteSourceSize</key>
			<string>{17, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 740}, {17, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_17x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {15, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 9}</string>
			<key>spriteSourceSize</key>
			<string>{17, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{234, 760}, {17, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{238, 740}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 633}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_18x18_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 653}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_217x216.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {217, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 216}</string>
			<key>spriteSourceSize</key>
			<string>{217, 216}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 50}, {217, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_21x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 15}</string>
			<key>spriteSourceSize</key>
			<string>{21, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 740}, {21, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_21x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 19}</string>
			<key>spriteSourceSize</key>
			<string>{21, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 790}, {21, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_21x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 20}</string>
			<key>spriteSourceSize</key>
			<string>{21, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{187, 548}, {21, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_21x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 25}</string>
			<key>spriteSourceSize</key>
			<string>{21, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{157, 737}, {21, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_21x25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 25}</string>
			<key>spriteSourceSize</key>
			<string>{21, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 706}, {21, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_22x41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 41}</string>
			<key>spriteSourceSize</key>
			<string>{22, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 663}, {22, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_23x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 26}</string>
			<key>spriteSourceSize</key>
			<string>{23, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 165}, {23, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_23x26_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 26}</string>
			<key>spriteSourceSize</key>
			<string>{23, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{157, 709}, {23, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_25x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 34}</string>
			<key>spriteSourceSize</key>
			<string>{25, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 160}, {25, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_25x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 34}</string>
			<key>spriteSourceSize</key>
			<string>{25, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 673}, {25, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_27x41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 41}</string>
			<key>spriteSourceSize</key>
			<string>{27, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 117}, {27, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_28x41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 41}</string>
			<key>spriteSourceSize</key>
			<string>{28, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 31}, {28, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_28x41_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 41}</string>
			<key>spriteSourceSize</key>
			<string>{28, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 74}, {28, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_29x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {27, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 29}</string>
			<key>spriteSourceSize</key>
			<string>{29, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{483, 0}, {29, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_30x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 77}</string>
			<key>spriteSourceSize</key>
			<string>{30, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 733}, {30, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_310x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {308, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{310, 16}</string>
			<key>spriteSourceSize</key>
			<string>{310, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 32}, {310, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_316x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {316, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{316, 30}</string>
			<key>spriteSourceSize</key>
			<string>{316, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {316, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_31x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 45}</string>
			<key>spriteSourceSize</key>
			<string>{31, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 764}, {31, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_31x47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 47}</string>
			<key>spriteSourceSize</key>
			<string>{31, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 741}, {31, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_31x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{31, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 736}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{312, 726}, {32, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x35_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{227, 703}, {32, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 684}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x40_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 679}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x40_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 701}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_32x40_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 528}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_35x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {31, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 26}</string>
			<key>spriteSourceSize</key>
			<string>{35, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 666}, {35, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_35x26_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {31, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 26}</string>
			<key>spriteSourceSize</key>
			<string>{35, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 673}, {35, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_35x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 33}</string>
			<key>spriteSourceSize</key>
			<string>{35, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 644}, {35, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_36x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 38}</string>
			<key>spriteSourceSize</key>
			<string>{36, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{329, 644}, {36, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_36x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 49}</string>
			<key>spriteSourceSize</key>
			<string>{36, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 814}, {36, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_36x49_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 49}</string>
			<key>spriteSourceSize</key>
			<string>{36, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{39, 794}, {36, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_37x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {35, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 49}</string>
			<key>spriteSourceSize</key>
			<string>{37, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 763}, {37, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_39x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{39, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 758}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_39x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{39, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 727}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_39x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{43, 721}, {39, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_39x35_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 704}, {39, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_39x67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 67}</string>
			<key>spriteSourceSize</key>
			<string>{39, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 667}, {39, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_40x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 35}</string>
			<key>spriteSourceSize</key>
			<string>{40, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 666}, {40, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_41x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {39, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 27}</string>
			<key>spriteSourceSize</key>
			<string>{41, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 644}, {41, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_41x27_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {39, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 27}</string>
			<key>spriteSourceSize</key>
			<string>{41, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{43, 692}, {41, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_41x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {39, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 33}</string>
			<key>spriteSourceSize</key>
			<string>{41, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 692}, {41, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_41x33_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {39, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 33}</string>
			<key>spriteSourceSize</key>
			<string>{41, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 669}, {41, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_44x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 27}</string>
			<key>spriteSourceSize</key>
			<string>{44, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 663}, {44, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_44x27_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 27}</string>
			<key>spriteSourceSize</key>
			<string>{44, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 663}, {44, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_44x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 30}</string>
			<key>spriteSourceSize</key>
			<string>{44, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 602}, {44, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_44x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 30}</string>
			<key>spriteSourceSize</key>
			<string>{44, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 634}, {44, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_45x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 30}</string>
			<key>spriteSourceSize</key>
			<string>{45, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 570}, {45, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_48x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 34}</string>
			<key>spriteSourceSize</key>
			<string>{48, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 633}, {48, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_48x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{48, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 626}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_48x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 39}</string>
			<key>spriteSourceSize</key>
			<string>{48, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 626}, {48, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_53x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {51, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 28}</string>
			<key>spriteSourceSize</key>
			<string>{53, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 636}, {53, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_53x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {51, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 35}</string>
			<key>spriteSourceSize</key>
			<string>{53, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 599}, {53, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_54x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 46}</string>
			<key>spriteSourceSize</key>
			<string>{54, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 551}, {54, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_60x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 31}</string>
			<key>spriteSourceSize</key>
			<string>{60, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 299}, {60, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_60x31_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 31}</string>
			<key>spriteSourceSize</key>
			<string>{60, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 266}, {60, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_60x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 33}</string>
			<key>spriteSourceSize</key>
			<string>{60, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 196}, {60, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_60x33_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 33}</string>
			<key>spriteSourceSize</key>
			<string>{60, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 231}, {60, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_66x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {64, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 21}</string>
			<key>spriteSourceSize</key>
			<string>{66, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 528}, {66, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_68x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 35}</string>
			<key>spriteSourceSize</key>
			<string>{68, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 596}, {68, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_69x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 46}</string>
			<key>spriteSourceSize</key>
			<string>{69, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 548}, {69, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_70x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{425, 458}, {70, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_70x33_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{425, 493}, {70, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_73x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 54}</string>
			<key>spriteSourceSize</key>
			<string>{73, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 492}, {73, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_75x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 61}</string>
			<key>spriteSourceSize</key>
			<string>{75, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 395}, {75, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_75x61_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 61}</string>
			<key>spriteSourceSize</key>
			<string>{75, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 332}, {75, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_78x79.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {76, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 79}</string>
			<key>spriteSourceSize</key>
			<string>{78, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{214, 490}, {78, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_79x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {77, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 78}</string>
			<key>spriteSourceSize</key>
			<string>{79, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 410}, {79, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_79x78_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {77, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 78}</string>
			<key>spriteSourceSize</key>
			<string>{79, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 412}, {79, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {74, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 122}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 266}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 268}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 340}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 338}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {74, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 50}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u358e-shu-body_80x70_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 194}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u358e-shu-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>