<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1300e-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{428,482},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{406,483},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{382,483},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{316,352},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_24x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{427,156},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_26x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{420,454},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{350,396},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_26x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,46}</string>
                <key>textureRect</key>
                <string>{{427,206},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_284x282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,282}</string>
                <key>spriteSourceSize</key>
                <string>{284,282}</string>
                <key>textureRect</key>
                <string>{{4,4},{284,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{350,442},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{52,470},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{380,381},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{382,423},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{418,416},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{342,308},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{344,352},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{314,446},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{314,396},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{160,418},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_34x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{382,461},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{380,343},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{428,256},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{420,342},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{274,355},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{420,300},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{378,297},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_40x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{136,474},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_43x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{414,396},{43,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_44x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,12}</string>
                <key>textureRect</key>
                <string>{{420,380},{44,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{4,470},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{86,474},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{368,156},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{196,395},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{196,448},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{255,395},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{255,448},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_55x49_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{368,209},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_56x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{282,308},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_58x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{292,280},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_58x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{366,262},{58,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_62x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{94,418},{62,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_68x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{202,355},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_70x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{292,218},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_72x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{292,156},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_74x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{292,88},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_76x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{202,290},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_78x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{386,82},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_78x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{386,4},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_80x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,22}</string>
                <key>spriteSourceSize</key>
                <string>{80,22}</string>
                <key>textureRect</key>
                <string>{{370,130},{80,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_84x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{104,366},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_86x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{86,80}</string>
                <key>textureRect</key>
                <string>{{4,386},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{354,280},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_90x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{292,4},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_94x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{104,290},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_96x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{4,290},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1300e-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{370,88},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1300e-moon-body.png</string>
            <key>size</key>
            <string>{468,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3faab9ea2871c685f8b91b4e96ee364e:5438433dc9c3467478b3410075b2cc4e:f893da8bd10b112ca700b79a7b63a2e2$</string>
            <key>textureFileName</key>
            <string>u1300e-moon-body.png</string>
        </dict>
    </dict>
</plist>
