<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1006u-moon-body_100x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{358,350},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{848,342},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_110x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{4,396},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_113x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{118,526},{113,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_116x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{116,126}</string>
                <key>textureRect</key>
                <string>{{118,396},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_116x126_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{116,126}</string>
                <key>textureRect</key>
                <string>{{238,350},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_118x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,50}</string>
                <key>spriteSourceSize</key>
                <string>{118,50}</string>
                <key>textureRect</key>
                <string>{{238,480},{118,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_118x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,70}</string>
                <key>textureRect</key>
                <string>{{740,268},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_118x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,70}</string>
                <key>textureRect</key>
                <string>{{462,342},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_122x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,58}</string>
                <key>spriteSourceSize</key>
                <string>{122,58}</string>
                <key>textureRect</key>
                <string>{{722,342},{122,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_126x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,62}</string>
                <key>spriteSourceSize</key>
                <string>{126,62}</string>
                <key>textureRect</key>
                <string>{{592,328},{126,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_128x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{460,256},{128,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_136x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{460,156},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_144x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,56}</string>
                <key>spriteSourceSize</key>
                <string>{144,56}</string>
                <key>textureRect</key>
                <string>{{592,268},{144,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_146x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{268,314},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_148x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{455,4},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_164x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,154}</string>
                <key>spriteSourceSize</key>
                <string>{164,154}</string>
                <key>textureRect</key>
                <string>{{4,238},{164,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{210,573},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_172x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,84}</string>
                <key>spriteSourceSize</key>
                <string>{172,84}</string>
                <key>textureRect</key>
                <string>{{600,180},{172,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_176x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,38}</string>
                <key>spriteSourceSize</key>
                <string>{176,38}</string>
                <key>textureRect</key>
                <string>{{268,272},{176,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{268,4},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_188x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{188,78}</string>
                <key>textureRect</key>
                <string>{{268,190},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_190x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{607,92},{190,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_192x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,84}</string>
                <key>spriteSourceSize</key>
                <string>{192,84}</string>
                <key>textureRect</key>
                <string>{{607,4},{192,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_20x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{66,614},{20,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{834,536},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{556,416},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{421,556},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_260x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,112}</string>
                <key>spriteSourceSize</key>
                <string>{260,112}</string>
                <key>textureRect</key>
                <string>{{4,122},{260,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_260x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,114}</string>
                <key>spriteSourceSize</key>
                <string>{260,114}</string>
                <key>textureRect</key>
                <string>{{4,4},{260,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{298,588},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{206,350},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{644,450},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{676,471},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{264,588},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_30x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{172,350},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_30x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,73}</string>
                <key>spriteSourceSize</key>
                <string>{30,73}</string>
                <key>textureRect</key>
                <string>{{676,394},{30,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{622,501},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_32x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{819,572},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{745,575},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{797,542},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{781,575},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{418,314},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{707,573},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{669,574},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{663,526},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{658,498},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{705,540},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{751,542},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{815,506},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{617,583},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_48x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{493,582},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_48x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{66,550},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_49x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,32}</string>
                <key>spriteSourceSize</key>
                <string>{49,32}</string>
                <key>textureRect</key>
                <string>{{762,506},{49,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,18}</string>
                <key>textureRect</key>
                <string>{{803,70},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{210,588},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{799,456},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{797,404},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{609,527},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{801,92},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{803,4},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{705,506},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_54x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,16}</string>
                <key>textureRect</key>
                <string>{{801,156},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_58x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{4,550},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{545,527},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_60x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{776,180},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_68x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{550,501},{68,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_68x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{545,585},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_68x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{421,582},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_83x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,48}</string>
                <key>textureRect</key>
                <string>{{710,404},{83,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_84x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,47}</string>
                <key>spriteSourceSize</key>
                <string>{84,47}</string>
                <key>textureRect</key>
                <string>{{556,450},{84,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_85x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{710,456},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_88x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,48}</string>
                <key>textureRect</key>
                <string>{{118,573},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_88x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{458,470},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_88x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{453,526},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_88x52_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{584,394},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_88x52_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{329,556},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_89x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,36}</string>
                <key>spriteSourceSize</key>
                <string>{89,36}</string>
                <key>textureRect</key>
                <string>{{360,516},{89,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_90x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{235,534},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_90x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{462,416},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_92x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{172,238},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_92x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{172,294},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_94x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,78}</string>
                <key>spriteSourceSize</key>
                <string>{94,78}</string>
                <key>textureRect</key>
                <string>{{360,434},{94,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1006u-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{707,613},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1006u-moon-body.png</string>
            <key>size</key>
            <string>{862,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b333136d0d9c1ae2b561aaa61bfe72bf:8c117224dc563b67cded4372ebf63882:d54610d3c642e0dd0954c2c8375e1f51$</string>
            <key>textureFileName</key>
            <string>u1006u-moon-body.png</string>
        </dict>
    </dict>
</plist>
