<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u90233-ishi-bul_138x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{138,90}</string>
                <key>textureRect</key>
                <string>{{202,4},{138,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90233-ishi-bul_173x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,89}</string>
                <key>spriteSourceSize</key>
                <string>{173,89}</string>
                <key>textureRect</key>
                <string>{{344,4},{173,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90233-ishi-bul_194x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,92}</string>
                <key>textureRect</key>
                <string>{{4,4},{194,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90233-ishi-bul_54x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{54,70}</string>
                <key>textureRect</key>
                <string>{{521,4},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u90233-ishi-bul.png</string>
            <key>size</key>
            <string>{579,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2069edcde2af0ffd42ba5c10333fdc4b:058a67f16f248d3513ae043b8d8ae155:0c931c82c90395aaa16f1d4d164ab88d$</string>
            <key>textureFileName</key>
            <string>u90233-ishi-bul.png</string>
        </dict>
    </dict>
</plist>
