<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1547e-cony-bul_91x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,115}</string>
                <key>spriteSourceSize</key>
                <string>{91,115}</string>
                <key>textureRect</key>
                <string>{{2,251},{91,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1547e-cony-bul_93x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{2,132},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1547e-cony-bul_95x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,128}</string>
                <key>spriteSourceSize</key>
                <string>{95,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{95,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1547e-cony-bul.png</string>
            <key>size</key>
            <string>{99,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb12d4553f310068142694003599bc7c:ccaec5f6e28e1c69e388fa4b87b5c31b:80ca2fad3cbf7982f9409cde17c0a6f2$</string>
            <key>textureFileName</key>
            <string>u1547e-cony-bul.png</string>
        </dict>
    </dict>
</plist>
