<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1449e-brown-bul_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{4,88},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1449e-brown-bul_20x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,80}</string>
                <key>spriteSourceSize</key>
                <string>{20,80}</string>
                <key>textureRect</key>
                <string>{{4,4},{20,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1449e-brown-bul.png</string>
            <key>size</key>
            <string>{28,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302fe6e3952a2c240df991fac6ddc10c:ddb5a04acc15541bd47c2e464138341d:607b7ad651634574a5e5ac9baa229c2f$</string>
            <key>textureFileName</key>
            <string>u1449e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
