<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1003e-jessica-bul_37x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{88,2},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1003e-jessica-bul_37x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{88,2},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1003e-jessica-bul_84x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1003e-jessica-bul.png</string>
            <key>size</key>
            <string>{127,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89fe8e6e3a1ca0b9c40f00230dace72c:2125c0a764860b0fddf8e6ad1e8fbd8b:33c8974fd5343f71e1b64f7e3893f687$</string>
            <key>textureFileName</key>
            <string>u1003e-jessica-bul.png</string>
        </dict>
    </dict>
</plist>
