<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81007-bunnyking-bul_102x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,64}</string>
                <key>spriteSourceSize</key>
                <string>{102,64}</string>
                <key>textureRect</key>
                <string>{{4,4},{102,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81007-bunnyking-bul.png</string>
            <key>size</key>
            <string>{110,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cad353a19e5430615d6379e22bdde30:efabcd97cf571c2e27436f94b7a76074:eafe40489720438e37cbc262a8035d80$</string>
            <key>textureFileName</key>
            <string>u81007-bunnyking-bul.png</string>
        </dict>
    </dict>
</plist>
