<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1173e-brown-body_100x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{1432,48},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_103x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{851,2},{103,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_103x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,80}</string>
                <key>spriteSourceSize</key>
                <string>{103,80}</string>
                <key>textureRect</key>
                <string>{{559,2},{103,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_103x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,80}</string>
                <key>spriteSourceSize</key>
                <string>{103,80}</string>
                <key>textureRect</key>
                <string>{{664,2},{103,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_104x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{104,54}</string>
                <key>textureRect</key>
                <string>{{736,84},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_105x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,47}</string>
                <key>textureRect</key>
                <string>{{1194,104},{105,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_105x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,47}</string>
                <key>textureRect</key>
                <string>{{1194,104},{105,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_106x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{447,96},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_106x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,98}</string>
                <key>textureRect</key>
                <string>{{308,2},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_109x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{109,99}</string>
                <key>textureRect</key>
                <string>{{197,2},{109,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_12x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,47}</string>
                <key>spriteSourceSize</key>
                <string>{12,47}</string>
                <key>textureRect</key>
                <string>{{1216,2},{12,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_137x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,22}</string>
                <key>spriteSourceSize</key>
                <string>{137,22}</string>
                <key>textureRect</key>
                <string>{{528,144},{137,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_13x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{13,10}</string>
                <key>textureRect</key>
                <string>{{1068,53},{13,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_13x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,49}</string>
                <key>spriteSourceSize</key>
                <string>{13,49}</string>
                <key>textureRect</key>
                <string>{{1193,53},{13,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_142x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,26}</string>
                <key>spriteSourceSize</key>
                <string>{142,26}</string>
                <key>textureRect</key>
                <string>{{273,145},{142,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_145x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,56}</string>
                <key>spriteSourceSize</key>
                <string>{145,56}</string>
                <key>textureRect</key>
                <string>{{589,84},{145,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_153x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,18}</string>
                <key>spriteSourceSize</key>
                <string>{153,18}</string>
                <key>textureRect</key>
                <string>{{1194,153},{153,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{1050,53},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_16x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{1381,48},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_16x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{1381,48},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_170x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_172x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,49}</string>
                <key>spriteSourceSize</key>
                <string>{172,49}</string>
                <key>textureRect</key>
                <string>{{1019,69},{172,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_172x49_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,49}</string>
                <key>spriteSourceSize</key>
                <string>{172,49}</string>
                <key>textureRect</key>
                <string>{{1020,120},{172,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_172x49_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,49}</string>
                <key>spriteSourceSize</key>
                <string>{172,49}</string>
                <key>textureRect</key>
                <string>{{1019,69},{172,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_175x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{842,79},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1493,131},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_18x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1493,131},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_19x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{472,144},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_19x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{451,144},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_19x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{252,145},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_21x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,141}</string>
                <key>spriteSourceSize</key>
                <string>{21,141}</string>
                <key>textureRect</key>
                <string>{{174,2},{21,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_23x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{1432,126},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_23x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{1432,126},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_23x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{1329,48},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{1498,109},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_25x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{993,131},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_25x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{1354,48},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_26x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{1470,86},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_26x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{1470,86},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{882,131},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_27x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{1300,48},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_27x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{1242,48},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_27x45_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{1271,48},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_27x45_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{1242,48},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_288x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,44}</string>
                <key>spriteSourceSize</key>
                <string>{288,44}</string>
                <key>textureRect</key>
                <string>{{1242,2},{288,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_30x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{1498,86},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_30x21_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{1498,86},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{1438,86},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_30x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{1400,48},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_31x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{779,140},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_32x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{812,140},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{417,144},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_32x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{1208,53},{32,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_32x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{555,89},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_33x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{493,144},{33,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_33x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{340,102},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1396,137},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1457,124},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{268,103},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{304,103},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{375,102},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{411,102},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{268,103},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{304,103},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_34x40_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{846,131},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_36x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1400,87},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_45x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1349,137},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_47x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{510,2},{47,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_54x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{667,142},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_54x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{723,142},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_69x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,40}</string>
                <key>spriteSourceSize</key>
                <string>{69,40}</string>
                <key>textureRect</key>
                <string>{{197,103},{69,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{174,145},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_80x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{1134,2},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_80x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{769,2},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_80x75_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{769,2},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_81x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,39}</string>
                <key>spriteSourceSize</key>
                <string>{81,39}</string>
                <key>textureRect</key>
                <string>{{910,131},{81,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_82x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{1050,2},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_92x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,65}</string>
                <key>spriteSourceSize</key>
                <string>{92,65}</string>
                <key>textureRect</key>
                <string>{{956,2},{92,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{416,2},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_97x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{1301,93},{97,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_97x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{1301,93},{97,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1173e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{812,163},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1173e-brown-body.png</string>
            <key>size</key>
            <string>{1535,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d47e1bf2d3bce9ec3d41a329e2c22000:4d06b75ce1f016311cef8fc7b61bf96b:8a76a10206fa37baff85a6d18f64927a$</string>
            <key>textureFileName</key>
            <string>u1173e-brown-body.png</string>
        </dict>
    </dict>
</plist>
