<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u421e-daniel-bul_100x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {96, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 544}, {100, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_129x125.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {127, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 125}</string>
			<key>spriteSourceSize</key>
			<string>{129, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{302, 0}, {129, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_130x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {130, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 126}</string>
			<key>spriteSourceSize</key>
			<string>{130, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 202}, {130, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_132x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {128, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 90}</string>
			<key>spriteSourceSize</key>
			<string>{132, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 705}, {132, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_136x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 60}</string>
			<key>spriteSourceSize</key>
			<string>{136, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 643}, {136, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_216x249.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {198, 233}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 249}</string>
			<key>spriteSourceSize</key>
			<string>{216, 249}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 643}, {216, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_222x227.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {206, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{222, 227}</string>
			<key>spriteSourceSize</key>
			<string>{222, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 414}, {222, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_25x91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {23, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 91}</string>
			<key>spriteSourceSize</key>
			<string>{25, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 226}, {25, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_26x91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 91}</string>
			<key>spriteSourceSize</key>
			<string>{26, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{484, 78}, {26, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_271x210.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 18}, {259, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{271, 210}</string>
			<key>spriteSourceSize</key>
			<string>{271, 210}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 202}, {271, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_300x200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {284, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 200}</string>
			<key>spriteSourceSize</key>
			<string>{300, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {300, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_41x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 39}</string>
			<key>spriteSourceSize</key>
			<string>{41, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 185}, {41, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_46x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{46, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 78}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_48x63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {46, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{48, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 127}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_58x103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {58, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 103}</string>
			<key>spriteSourceSize</key>
			<string>{58, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{405, 192}, {58, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_60x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 56}</string>
			<key>spriteSourceSize</key>
			<string>{60, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{422, 127}, {60, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_63x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 19}</string>
			<key>spriteSourceSize</key>
			<string>{63, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 330}, {63, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_68x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{302, 127}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_69x80.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 80}</string>
			<key>spriteSourceSize</key>
			<string>{69, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 797}, {69, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_70x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 76}</string>
			<key>spriteSourceSize</key>
			<string>{70, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 0}, {70, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_71x120.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {71, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 120}</string>
			<key>spriteSourceSize</key>
			<string>{71, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 476}, {71, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_75x128.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 128}</string>
			<key>spriteSourceSize</key>
			<string>{75, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 414}, {75, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_83x123.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 123}</string>
			<key>spriteSourceSize</key>
			<string>{83, 123}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 351}, {83, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u421e-daniel-bul_90x108.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {88, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 108}</string>
			<key>spriteSourceSize</key>
			<string>{90, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 330}, {90, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u421e-daniel-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>