<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{981.0,492.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>u320u-sally-bul3.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>u320u-sally-bul3_125x125.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{119.0,123.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{125.0,125.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,1.0},{119.0,123.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{622.0,308.0},{119.0,123.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_150x150.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{142.0,146.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,150.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,2.0},{142.0,146.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,318.0},{142.0,146.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_156x310.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,309.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,310.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,0.0},{148.0,309.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{20.0,2.0},{148.0,309.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_160x180.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,178.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{160.0,180.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{160.0,178.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{170.0,292.0},{160.0,178.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_170x266.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{166.0,258.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{170.0,266.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{166.0,258.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{224.0,2.0},{166.0,258.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_228x228.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{392.0,260.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_24x390.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,314.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,4.0}</string>
            <key>spriteSourceSize</key>
            <string>{24.0,390.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,34.0},{16.0,314.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{16.0,314.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_278x263.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{270.0,256.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{278.0,263.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,6.0},{270.0,256.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{392.0,2.0},{270.0,256.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_316x222.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{313.0,221.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{316.0,222.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,0.0},{313.0,221.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{664.0,2.0},{313.0,221.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_375x125.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{310.0,81.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{375.0,125.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{32.0,22.0},{310.0,81.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{664.0,225.0},{310.0,81.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_52x50.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{49.0,47.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{49.0,47.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{332.0,262.0},{49.0,47.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_66x73.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,73.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,73.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{66.0,73.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{898.0,308.0},{66.0,73.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_70x70.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,70.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,70.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{70.0,70.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{826.0,308.0},{70.0,70.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_70x70_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{60.0,60.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,70.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,5.0},{60.0,60.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{826.0,380.0},{60.0,60.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_82x353.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{52.0,288.0}</string>
            <key>spriteOffset</key>
            <string>{3.0,-18.5}</string>
            <key>spriteSourceSize</key>
            <string>{82.0,353.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,51.0},{52.0,288.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{170.0,2.0},{52.0,288.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>u320u-sally-bul3_86x86.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{81.0,81.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,2.5}</string>
            <key>spriteSourceSize</key>
            <string>{86.0,86.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{81.0,81.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{743.0,308.0},{81.0,81.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
