<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1005e-james-bul_119x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{165,147},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005e-james-bul_139x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{165,4},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005e-james-bul_157x480.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,480}</string>
                <key>spriteSourceSize</key>
                <string>{157,480}</string>
                <key>textureRect</key>
                <string>{{4,4},{157,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005e-james-bul_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{235,270},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005e-james-bul_66x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{165,270},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1005e-james-bul.png</string>
            <key>size</key>
            <string>{308,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4898452005d030e38e5617674ec5bdd:52d840f28915401c284eada6aabde740:cccc721b6ddcf89c5edb5a2699235494$</string>
            <key>textureFileName</key>
            <string>u1005e-james-bul.png</string>
        </dict>
    </dict>
</plist>
