<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91079-didier-body_123x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,106}</string>
                <key>spriteSourceSize</key>
                <string>{123,106}</string>
                <key>textureRect</key>
                <string>{{2,389},{123,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{20,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_26x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,73}</string>
                <key>spriteSourceSize</key>
                <string>{26,73}</string>
                <key>textureRect</key>
                <string>{{2,283},{26,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_31x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{210,2},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_33x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,55}</string>
                <key>spriteSourceSize</key>
                <string>{33,55}</string>
                <key>textureRect</key>
                <string>{{176,31},{33,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_40x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{174,147},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_49x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{51,31},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_49x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{2,31},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_52x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{74,211},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_54x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{182,211},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_55x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,106}</string>
                <key>spriteSourceSize</key>
                <string>{55,106}</string>
                <key>textureRect</key>
                <string>{{110,283},{55,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_56x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{126,211},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_72x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{2,211},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_75x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{77,86},{75,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_75x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{2,86},{75,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_76x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{100,31},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_82x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{28,283},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_86x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,25}</string>
                <key>spriteSourceSize</key>
                <string>{86,25}</string>
                <key>textureRect</key>
                <string>{{124,2},{86,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_86x25_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,25}</string>
                <key>spriteSourceSize</key>
                <string>{86,25}</string>
                <key>textureRect</key>
                <string>{{38,2},{86,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_86x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{2,147},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_86x63_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{88,147},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91079-didier-body_97x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,61}</string>
                <key>spriteSourceSize</key>
                <string>{97,61}</string>
                <key>textureRect</key>
                <string>{{152,86},{97,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91079-didier-body.png</string>
            <key>size</key>
            <string>{251,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcdc720f3d2bc96994681771e0765c08:86c960dc30305dc25eecb525a6dc12f4:668c0811d03077a46cb4df4bd2e7fac1$</string>
            <key>textureFileName</key>
            <string>u91079-didier-body.png</string>
        </dict>
    </dict>
</plist>
