<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91015-caco-bul_90x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{4,4},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91015-caco-bul.png</string>
            <key>size</key>
            <string>{98,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022f1de8e359f16e36dffb3a1bb4f42e:037d48300443599ebcaf7382ae6141c6:244ec89521c15f3d004d32b71d3bfb12$</string>
            <key>textureFileName</key>
            <string>u91015-caco-bul.png</string>
        </dict>
    </dict>
</plist>
