<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u82016-shuky-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{375,123},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{310,239},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_12x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{273,492},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{86,524},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{230,799},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{230,511},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{144,239},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{66,524},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{144,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,4},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_36x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{381,753},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{421,779},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_39x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,58}</string>
                <key>spriteSourceSize</key>
                <string>{39,58}</string>
                <key>textureRect</key>
                <string>{{355,415},{39,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_39x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,58}</string>
                <key>spriteSourceSize</key>
                <string>{39,58}</string>
                <key>textureRect</key>
                <string>{{381,691},{39,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_39x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,80}</string>
                <key>spriteSourceSize</key>
                <string>{39,80}</string>
                <key>textureRect</key>
                <string>{{443,289},{39,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_47x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{424,743},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_47x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{424,691},{47,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{92,4},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_52x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{443,229},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_68x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{398,456},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{309,734},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_70x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{307,649},{70,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_73x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{230,649},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_75x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,47}</string>
                <key>textureRect</key>
                <string>{{230,748},{75,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_77x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{77,44}</string>
                <key>textureRect</key>
                <string>{{412,408},{77,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{4,542},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_78x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{273,415},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_78x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,97}</string>
                <key>spriteSourceSize</key>
                <string>{78,97}</string>
                <key>textureRect</key>
                <string>{{191,410},{78,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_83x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,27}</string>
                <key>spriteSourceSize</key>
                <string>{83,27}</string>
                <key>textureRect</key>
                <string>{{412,377},{83,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_94x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,115}</string>
                <key>spriteSourceSize</key>
                <string>{94,115}</string>
                <key>textureRect</key>
                <string>{{375,4},{94,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_95x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{92,422},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{310,377},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{392,501},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{392,539},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{392,577},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{392,615},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{381,653},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82016-shuky-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{4,808},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u82016-shuky-body.png</string>
            <key>size</key>
            <string>{499,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1da908f10659daeb4a8491843a7f02d7:e1e12a0e36f275a6a7ddbbb0282dc883:72ca95dbb14208c349b8083cc7ff05a7$</string>
            <key>textureFileName</key>
            <string>u82016-shuky-body.png</string>
        </dict>
    </dict>
</plist>
