<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u50088-paku-body_100x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,167}</string>
                <key>spriteSourceSize</key>
                <string>{100,167}</string>
                <key>textureRect</key>
                <string>{{641,4},{100,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{139,312},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_10x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{601,138},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{345,142},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{831,381},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_130x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{507,4},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_141x304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,304}</string>
                <key>spriteSourceSize</key>
                <string>{141,304}</string>
                <key>textureRect</key>
                <string>{{139,4},{141,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{345,4},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{705,496},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_18x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,81}</string>
                <key>spriteSourceSize</key>
                <string>{18,81}</string>
                <key>textureRect</key>
                <string>{{816,86},{18,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_21x500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,500}</string>
                <key>spriteSourceSize</key>
                <string>{21,500}</string>
                <key>textureRect</key>
                <string>{{62,4},{21,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_22x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{679,459},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_23x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{819,223},{23,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_25x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{739,457},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_26x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{816,171},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{816,46},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{816,4},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_29x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{667,420},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{705,458},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_31x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{739,416},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_35x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{700,416},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_35x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{700,416},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_35x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{640,460},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_37x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,69}</string>
                <key>spriteSourceSize</key>
                <string>{37,69}</string>
                <key>textureRect</key>
                <string>{{344,438},{37,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_38x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{789,381},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_42x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{699,175},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_42x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{699,216},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_42x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{743,375},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_43x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{593,460},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_44x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,119}</string>
                <key>spriteSourceSize</key>
                <string>{44,119}</string>
                <key>textureRect</key>
                <string>{{245,312},{44,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_44x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{695,367},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_45x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,97}</string>
                <key>spriteSourceSize</key>
                <string>{45,97}</string>
                <key>textureRect</key>
                <string>{{697,266},{45,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_46x109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,109}</string>
                <key>spriteSourceSize</key>
                <string>{46,109}</string>
                <key>textureRect</key>
                <string>{{543,378},{46,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_46x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,121}</string>
                <key>spriteSourceSize</key>
                <string>{46,121}</string>
                <key>textureRect</key>
                <string>{{293,300},{46,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_46x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,69}</string>
                <key>spriteSourceSize</key>
                <string>{46,69}</string>
                <key>textureRect</key>
                <string>{{244,435},{46,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_46x69_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,69}</string>
                <key>spriteSourceSize</key>
                <string>{46,69}</string>
                <key>textureRect</key>
                <string>{{294,438},{46,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_47x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,108}</string>
                <key>spriteSourceSize</key>
                <string>{47,108}</string>
                <key>textureRect</key>
                <string>{{746,263},{47,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_47x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,114}</string>
                <key>spriteSourceSize</key>
                <string>{47,114}</string>
                <key>textureRect</key>
                <string>{{797,263},{47,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{87,4},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_50x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,142}</string>
                <key>spriteSourceSize</key>
                <string>{50,142}</string>
                <key>textureRect</key>
                <string>{{478,142},{50,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_52x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{52,62}</string>
                <key>textureRect</key>
                <string>{{385,438},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_54x500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,500}</string>
                <key>spriteSourceSize</key>
                <string>{54,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{54,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_57x292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,292}</string>
                <key>spriteSourceSize</key>
                <string>{57,292}</string>
                <key>textureRect</key>
                <string>{{284,4},{57,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{536,342},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_65x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,200}</string>
                <key>spriteSourceSize</key>
                <string>{65,200}</string>
                <key>textureRect</key>
                <string>{{532,138},{65,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_67x215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,215}</string>
                <key>spriteSourceSize</key>
                <string>{67,215}</string>
                <key>textureRect</key>
                <string>{{745,4},{67,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{172,418},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_70x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{745,223},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_70x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{593,420},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_80x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{447,288},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_81x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,72}</string>
                <key>spriteSourceSize</key>
                <string>{81,72}</string>
                <key>textureRect</key>
                <string>{{87,435},{81,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_87x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{87,68}</string>
                <key>textureRect</key>
                <string>{{343,318},{87,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_88x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,20}</string>
                <key>spriteSourceSize</key>
                <string>{88,20}</string>
                <key>textureRect</key>
                <string>{{598,358},{88,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_88x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{343,390},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_92x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{601,266},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_94x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,87}</string>
                <key>textureRect</key>
                <string>{{601,175},{94,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{345,280},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{434,352},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{435,390},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{441,428},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{441,466},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{593,382},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50088-paku-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{87,422},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u50088-paku-body.png</string>
            <key>size</key>
            <string>{848,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8168b74735632ca1c2d80948bb920b5c:111b8d31b69d6ce5d3fb22db40115039:3e72fd9eb252b38590e67bd06c2e80dc$</string>
            <key>textureFileName</key>
            <string>u50088-paku-body.png</string>
        </dict>
    </dict>
</plist>
