<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1009h-sally-bul_122x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,90}</string>
                <key>textureRect</key>
                <string>{{98,104},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_148x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,100}</string>
                <key>spriteSourceSize</key>
                <string>{148,100}</string>
                <key>textureRect</key>
                <string>{{98,2},{148,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_14x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{215,209},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_15x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{248,75},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{248,27},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_16x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{248,51},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_20x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{248,2},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_31x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{215,197},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{222,171},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_33x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{222,142},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_39x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{222,104},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_41x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{172,196},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_51x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,29}</string>
                <key>spriteSourceSize</key>
                <string>{51,29}</string>
                <key>textureRect</key>
                <string>{{172,238},{51,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_68x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{2,190},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_94x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,186}</string>
                <key>spriteSourceSize</key>
                <string>{94,186}</string>
                <key>textureRect</key>
                <string>{{2,2},{94,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009h-sally-bul_98x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{72,196},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1009h-sally-bul.png</string>
            <key>size</key>
            <string>{270,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01b13d8eabed65327893bf2487df6d6:9f3f512fb4440a69fafd458c2345aaad:c2ca537f606a0e4dbf91de4bec942cc3$</string>
            <key>textureFileName</key>
            <string>u1009h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
