<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91111-alexander-body_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{196,265},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_102x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,61}</string>
                <key>spriteSourceSize</key>
                <string>{102,61}</string>
                <key>textureRect</key>
                <string>{{242,200},{102,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_102x61_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,61}</string>
                <key>spriteSourceSize</key>
                <string>{102,61}</string>
                <key>textureRect</key>
                <string>{{196,369},{102,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_144x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{144,138}</string>
                <key>textureRect</key>
                <string>{{360,4},{144,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_152x254.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,254}</string>
                <key>spriteSourceSize</key>
                <string>{152,254}</string>
                <key>textureRect</key>
                <string>{{4,4},{152,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_188x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,168}</string>
                <key>spriteSourceSize</key>
                <string>{188,168}</string>
                <key>textureRect</key>
                <string>{{4,262},{188,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{462,146},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{418,404},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_196x192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,192}</string>
                <key>spriteSourceSize</key>
                <string>{196,192}</string>
                <key>textureRect</key>
                <string>{{160,4},{196,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_210x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,74}</string>
                <key>spriteSourceSize</key>
                <string>{210,74}</string>
                <key>textureRect</key>
                <string>{{4,434},{210,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{190,512},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{427,527},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_39x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{384,516},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_51x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{442,476},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_52x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{302,363},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_52x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,94}</string>
                <key>spriteSourceSize</key>
                <string>{52,94}</string>
                <key>textureRect</key>
                <string>{{300,265},{52,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_54x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{54,85}</string>
                <key>textureRect</key>
                <string>{{384,427},{54,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_55x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{4,512},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_55x55_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{63,512},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_55x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{435,181},{55,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_55x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{418,332},{55,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_56x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{442,404},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_56x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,91}</string>
                <key>spriteSourceSize</key>
                <string>{56,91}</string>
                <key>textureRect</key>
                <string>{{358,332},{56,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_58x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{430,253},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_64x107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,107}</string>
                <key>spriteSourceSize</key>
                <string>{64,107}</string>
                <key>textureRect</key>
                <string>{{316,433},{64,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_64x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{122,512},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_70x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{356,246},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_71x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{360,181},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_78x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,58}</string>
                <key>spriteSourceSize</key>
                <string>{78,58}</string>
                <key>textureRect</key>
                <string>{{160,200},{78,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_94x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,92}</string>
                <key>textureRect</key>
                <string>{{218,434},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91111-alexander-body_98x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,31}</string>
                <key>spriteSourceSize</key>
                <string>{98,31}</string>
                <key>textureRect</key>
                <string>{{360,146},{98,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91111-alexander-body.png</string>
            <key>size</key>
            <string>{508,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9908dd7cd330c01ffedd7b711798dff:d5edf67f934cea71101965cd7a1eff45:c19b247a658671e19cd2be5b8026c39a$</string>
            <key>textureFileName</key>
            <string>u91111-alexander-body.png</string>
        </dict>
    </dict>
</plist>
