<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80021-croc-bul_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{95,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{149,553},{95,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{1,187},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_154x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,115}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{1,339},{146,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_154x119_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,115}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{1,456},{146,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_154x119_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{1,573},{146,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_176x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,97}</string>
                <key>spriteSourceSize</key>
                <string>{176,97}</string>
                <key>textureRect</key>
                <string>{{155,187},{176,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u80021-croc-bul_184x185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u80021-croc-bul_32x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{188,1},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-bul_70x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{149,640},{70,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u80021-croc-bul_94x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{149,461},{90,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u80021-croc-bul_94x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{149,365},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80021-croc-bul.png</string>
            <key>size</key>
            <string>{253,711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a49ff3aafde4fdcf42d96a0094c6353:da318fbcb2669c253c8ae66b006dda72:593cc899307ffbd0b1ea08e9e28ebaff$</string>
            <key>textureFileName</key>
            <string>u80021-croc-bul.png</string>
        </dict>
    </dict>
</plist>
