<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80021-croc-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{214,680},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_102x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,99}</string>
                <key>spriteSourceSize</key>
                <string>{102,99}</string>
                <key>textureRect</key>
                <string>{{214,786},{102,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{474,313},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{56,542},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{92,239},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{476,565},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{318,313},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_154x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{318,467},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_154x119_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{56,680},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_154x119_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{56,803},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{323,175},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{323,4},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_16x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{261,965},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{249,596},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{560,428},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{92,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,4},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_32x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{32,57}</string>
                <key>textureRect</key>
                <string>{{553,667},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{4,960},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{4,542},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_49x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{49,67}</string>
                <key>textureRect</key>
                <string>{{56,926},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_56x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,103}</string>
                <key>spriteSourceSize</key>
                <string>{56,103}</string>
                <key>textureRect</key>
                <string>{{189,530},{56,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_57x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,87}</string>
                <key>spriteSourceSize</key>
                <string>{57,87}</string>
                <key>textureRect</key>
                <string>{{249,505},{57,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_59x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,23}</string>
                <key>spriteSourceSize</key>
                <string>{59,23}</string>
                <key>textureRect</key>
                <string>{{198,965},{59,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_61x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,82}</string>
                <key>spriteSourceSize</key>
                <string>{61,82}</string>
                <key>textureRect</key>
                <string>{{435,590},{61,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_64x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{272,596},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{476,676},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_69x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{476,755},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_73x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{476,822},{73,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_74x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{320,681},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_74x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{320,783},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_74x98_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{398,681},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_74x98_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{398,783},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_74x98_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{500,565},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{236,239},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_79x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,39}</string>
                <key>spriteSourceSize</key>
                <string>{79,39}</string>
                <key>textureRect</key>
                <string>{{189,637},{79,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_80x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,133}</string>
                <key>spriteSourceSize</key>
                <string>{80,133}</string>
                <key>textureRect</key>
                <string>{{476,428},{80,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_81x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{485,224},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_85x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,52}</string>
                <key>spriteSourceSize</key>
                <string>{85,52}</string>
                <key>textureRect</key>
                <string>{{109,926},{85,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_87x129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,129}</string>
                <key>spriteSourceSize</key>
                <string>{87,129}</string>
                <key>textureRect</key>
                <string>{{489,4},{87,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_90x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,83}</string>
                <key>textureRect</key>
                <string>{{489,137},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_91x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,87}</string>
                <key>textureRect</key>
                <string>{{340,590},{91,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,31}</string>
                <key>spriteSourceSize</key>
                <string>{98,31}</string>
                <key>textureRect</key>
                <string>{{320,885},{98,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{214,889},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{198,927},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{316,920},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{300,958},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{422,885},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80021-croc-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{418,923},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80021-croc-body.png</string>
            <key>size</key>
            <string>{589,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4695b1236ff7de2176f122c54662ea5:b8a92829780cdc33d69ad8976a9b1a0f:b1576d582a80bda0c36cd2f5ba22bc88$</string>
            <key>textureFileName</key>
            <string>u80021-croc-body.png</string>
        </dict>
    </dict>
</plist>
