<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u429e-brown-body_104x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{243,233},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_104x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{135,355},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_106x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,36}</string>
                <key>textureRect</key>
                <string>{{329,440},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_110x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{504,429},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_120x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{329,364},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_122x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{122,22}</string>
                <key>textureRect</key>
                <string>{{660,422},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_126x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,64}</string>
                <key>textureRect</key>
                <string>{{660,354},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{963,188},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_12x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,32}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{968,444},{12,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_136x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,38}</string>
                <key>spriteSourceSize</key>
                <string>{136,38}</string>
                <key>textureRect</key>
                <string>{{709,312},{136,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_140x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,48}</string>
                <key>textureRect</key>
                <string>{{753,236},{140,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_164x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,20}</string>
                <key>spriteSourceSize</key>
                <string>{164,20}</string>
                <key>textureRect</key>
                <string>{{709,288},{164,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_167x225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,225}</string>
                <key>spriteSourceSize</key>
                <string>{167,225}</string>
                <key>textureRect</key>
                <string>{{243,4},{167,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{329,480},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_16x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,2}</string>
                <key>spriteSourceSize</key>
                <string>{16,2}</string>
                <key>textureRect</key>
                <string>{{579,489},{16,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_16x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,3}</string>
                <key>spriteSourceSize</key>
                <string>{16,3}</string>
                <key>textureRect</key>
                <string>{{84,364},{16,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{877,288},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{942,461},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_190x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,86}</string>
                <key>textureRect</key>
                <string>{{753,4},{190,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_206x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,50}</string>
                <key>spriteSourceSize</key>
                <string>{206,50}</string>
                <key>textureRect</key>
                <string>{{753,154},{206,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_206x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,56}</string>
                <key>spriteSourceSize</key>
                <string>{206,56}</string>
                <key>textureRect</key>
                <string>{{753,94},{206,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{968,425},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{655,330},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_210x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,24}</string>
                <key>spriteSourceSize</key>
                <string>{210,24}</string>
                <key>textureRect</key>
                <string>{{753,208},{210,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{579,463},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{942,425},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_22x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{963,142},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_24x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{849,312},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{475,453},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{803,448},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{963,94},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_24x486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,486}</string>
                <key>spriteSourceSize</key>
                <string>{24,486}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_26x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{32,477},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{954,383},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_32x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{786,423},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{439,453},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_32x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{947,52},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{947,4},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{954,343},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_40x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{898,457},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_40x276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,276}</string>
                <key>spriteSourceSize</key>
                <string>{40,276}</string>
                <key>textureRect</key>
                <string>{{709,4},{40,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_42x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{42,18}</string>
                <key>textureRect</key>
                <string>{{351,329},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_44x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{44,92}</string>
                <key>textureRect</key>
                <string>{{351,233},{44,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_45x346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,346}</string>
                <key>spriteSourceSize</key>
                <string>{45,346}</string>
                <key>textureRect</key>
                <string>{{606,4},{45,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_45x356.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,356}</string>
                <key>spriteSourceSize</key>
                <string>{45,356}</string>
                <key>textureRect</key>
                <string>{{84,4},{45,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_46x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,15}</string>
                <key>spriteSourceSize</key>
                <string>{46,15}</string>
                <key>textureRect</key>
                <string>{{790,404},{46,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_47x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{453,364},{47,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_48x366.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,366}</string>
                <key>spriteSourceSize</key>
                <string>{48,366}</string>
                <key>textureRect</key>
                <string>{{32,4},{48,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_49x341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,341}</string>
                <key>spriteSourceSize</key>
                <string>{49,341}</string>
                <key>textureRect</key>
                <string>{{553,4},{49,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_50x322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,322}</string>
                <key>spriteSourceSize</key>
                <string>{50,322}</string>
                <key>textureRect</key>
                <string>{{655,4},{50,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_50x347.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,347}</string>
                <key>spriteSourceSize</key>
                <string>{50,347}</string>
                <key>textureRect</key>
                <string>{{189,4},{50,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_52x346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,346}</string>
                <key>spriteSourceSize</key>
                <string>{52,346}</string>
                <key>textureRect</key>
                <string>{{133,4},{52,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_58x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{790,354},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_60x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,328}</string>
                <key>spriteSourceSize</key>
                <string>{60,328}</string>
                <key>textureRect</key>
                <string>{{489,4},{60,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_63x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{831,457},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_63x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{831,457},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_71x278.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,278}</string>
                <key>spriteSourceSize</key>
                <string>{71,278}</string>
                <key>textureRect</key>
                <string>{{414,4},{71,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{897,236},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{503,463},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_72x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{503,463},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_74x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{582,354},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{504,349},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_79x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{79,40}</string>
                <key>textureRect</key>
                <string>{{720,448},{79,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{399,286},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_82x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,148}</string>
                <key>spriteSourceSize</key>
                <string>{82,148}</string>
                <key>textureRect</key>
                <string>{{243,341},{82,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{135,446},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{877,305},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{852,343},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{852,381},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{618,448},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{840,419},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_99x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{32,374},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u429e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{439,440},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u429e-brown-body.png</string>
            <key>size</key>
            <string>{992,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2ec5bc29ffc88bdd29d79fd07930f3c:7c2451b23f52c0005fde91a2b10346a8:4ed86cd6725c41af5b7c6623015691ea$</string>
            <key>textureFileName</key>
            <string>u429e-brown-body.png</string>
        </dict>
    </dict>
</plist>
