<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91056-tunga-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{230,222},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_166x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{4,244},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{228,368},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{208,222},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{228,340},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_200x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,236}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_30x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,52}</string>
                <key>textureRect</key>
                <string>{{208,118},{30,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{208,60},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{158,420},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{208,174},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_38x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{90,430},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_44x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{208,4},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_48x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{198,420},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{174,340},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{102,386},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_68x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{102,308},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_70x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,22}</string>
                <key>spriteSourceSize</key>
                <string>{70,22}</string>
                <key>textureRect</key>
                <string>{{158,394},{70,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_78x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{174,244},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_82x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{4,394},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_94x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{4,308},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91056-tunga-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{242,60},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91056-tunga-body.png</string>
            <key>size</key>
            <string>{256,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b703a6545c62d0b95d890f73848ef786:b3baf962a857498aa505785aed04fc34:75586e015bc5d485e081fdb4e580eaba$</string>
            <key>textureFileName</key>
            <string>u91056-tunga-body.png</string>
        </dict>
    </dict>
</plist>
