<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92007-abby-bul2_20x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,40}</string>
			<key>spriteSourceSize</key>
			<string>{20,40}</string>
			<key>textureRect</key>
			<string>{{503,43},{20,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_24x32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{385,63},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_26x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,30}</string>
			<key>textureRect</key>
			<string>{{254,66},{26,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_26x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,36}</string>
			<key>spriteSourceSize</key>
			<string>{26,36}</string>
			<key>textureRect</key>
			<string>{{524,43},{26,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{503,0},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_45x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,20}</string>
			<key>spriteSourceSize</key>
			<string>{45,20}</string>
			<key>textureRect</key>
			<string>{{84,80},{45,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_53x63.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,63}</string>
			<key>spriteSourceSize</key>
			<string>{53,63}</string>
			<key>textureRect</key>
			<string>{{296,0},{53,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_58x65.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,65}</string>
			<key>spriteSourceSize</key>
			<string>{58,65}</string>
			<key>textureRect</key>
			<string>{{237,0},{58,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_58x77.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,77}</string>
			<key>spriteSourceSize</key>
			<string>{58,77}</string>
			<key>textureRect</key>
			<string>{{178,0},{58,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_66x62.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,62}</string>
			<key>spriteSourceSize</key>
			<string>{66,62}</string>
			<key>textureRect</key>
			<string>{{350,0},{66,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_70x59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,59}</string>
			<key>spriteSourceSize</key>
			<string>{70,59}</string>
			<key>textureRect</key>
			<string>{{417,60},{70,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_75x45.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,45}</string>
			<key>spriteSourceSize</key>
			<string>{75,45}</string>
			<key>textureRect</key>
			<string>{{178,78},{75,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_83x245.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,245}</string>
			<key>spriteSourceSize</key>
			<string>{83,245}</string>
			<key>textureRect</key>
			<string>{{0,0},{83,245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_85x59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,59}</string>
			<key>spriteSourceSize</key>
			<string>{85,59}</string>
			<key>textureRect</key>
			<string>{{417,0},{85,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_88x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,54}</string>
			<key>spriteSourceSize</key>
			<string>{88,54}</string>
			<key>textureRect</key>
			<string>{{296,64},{88,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92007-abby-bul2_93x79.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{93,79}</string>
			<key>spriteSourceSize</key>
			<string>{93,79}</string>
			<key>textureRect</key>
			<string>{{84,0},{93,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92007-abby-bul2.png</string>
		<key>size</key>
		<string>{550,245}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92007-abby-bul2.png</string>
	</dict>
</dict>
</plist>
