<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1144e-steve-bul_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{70,4},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1144e-steve-bul_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{4,4},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1144e-steve-bul.png</string>
            <key>size</key>
            <string>{126,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c438edde2a77e6e79b7b45a2ce3792a9:667e9e56e7814e1b8bd922426665c1de:6815940d382baca184b142078b8cece5$</string>
            <key>textureFileName</key>
            <string>u1144e-steve-bul.png</string>
        </dict>
    </dict>
</plist>
