<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1286e-sally-body_122x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{122,22}</string>
                <key>textureRect</key>
                <string>{{486,188},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_141x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{626,64},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{610,188},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_14x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{862,307},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_14x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{964,336},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_14x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{610,208},{14,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_164x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,20}</string>
                <key>spriteSourceSize</key>
                <string>{164,20}</string>
                <key>textureRect</key>
                <string>{{386,250},{164,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{772,346},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{944,285},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_16x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{944,309},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_170x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{2,188},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{904,310},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{984,324},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{924,307},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{984,302},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{896,328},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{856,327},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_18x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{876,328},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{942,343},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{962,310},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{962,278},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_20x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,50}</string>
                <key>spriteSourceSize</key>
                <string>{20,50}</string>
                <key>textureRect</key>
                <string>{{982,2},{20,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_210x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,24}</string>
                <key>spriteSourceSize</key>
                <string>{210,24}</string>
                <key>textureRect</key>
                <string>{{174,250},{210,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{984,278},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{918,285},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_24x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{916,329},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{878,304},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_25x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{356,320},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_26x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{980,342},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{610,214},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{356,276},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_30x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,80}</string>
                <key>spriteSourceSize</key>
                <string>{30,80}</string>
                <key>textureRect</key>
                <string>{{851,165},{30,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{2,64},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{314,2},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{2,126},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{314,64},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{626,2},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{314,126},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_310x60_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,60}</string>
                <key>spriteSourceSize</key>
                <string>{310,60}</string>
                <key>textureRect</key>
                <string>{{174,188},{310,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_32x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{929,228},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{925,251},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_32x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,68}</string>
                <key>spriteSourceSize</key>
                <string>{32,68}</string>
                <key>textureRect</key>
                <string>{{929,158},{32,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{730,214},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_38x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,68}</string>
                <key>spriteSourceSize</key>
                <string>{38,68}</string>
                <key>textureRect</key>
                <string>{{730,248},{38,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{814,327},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{883,236},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{772,310},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{876,268},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{963,242},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{730,318},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{638,292},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_40x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,68}</string>
                <key>textureRect</key>
                <string>{{963,172},{40,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{818,293},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{964,134},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_42x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{938,2},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_42x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{964,64},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{684,284},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_44x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{684,214},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_44x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{883,158},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_44x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{638,214},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_46x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,15}</string>
                <key>spriteSourceSize</key>
                <string>{46,15}</string>
                <key>textureRect</key>
                <string>{{770,293},{46,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_48x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{680,332},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{486,212},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_48x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{826,247},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_54x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{770,247},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_56x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,84}</string>
                <key>textureRect</key>
                <string>{{450,272},{56,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_56x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,84}</string>
                <key>textureRect</key>
                <string>{{508,272},{56,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_62x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{386,272},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_63x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{566,332},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_63x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{566,332},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_70x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{566,240},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{536,212},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_72x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{536,212},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_80x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{769,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_89x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{174,276},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_89x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{265,276},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{870,64},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-body_99x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{769,64},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1286e-sally-body.png</string>
            <key>size</key>
            <string>{1008,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2aeb2296607a3a82f0cc3da9b06fe2:0740c34ea6dc703bed939cd85d7e4a28:9484b6f9cdf9bc5f141b81b93a1bac37$</string>
            <key>textureFileName</key>
            <string>u1286e-sally-body.png</string>
        </dict>
    </dict>
</plist>
