<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1286e-sally-bul2_122x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,52}</string>
                <key>spriteSourceSize</key>
                <string>{122,52}</string>
                <key>textureRect</key>
                <string>{{345,208},{122,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_124x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{281,2},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{281,254},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_277x273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,273}</string>
                <key>spriteSourceSize</key>
                <string>{277,273}</string>
                <key>textureRect</key>
                <string>{{2,2},{277,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{469,200},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{345,166},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_62x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{281,166},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_64x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{407,130},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1286e-sally-bul2_88x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,126}</string>
                <key>textureRect</key>
                <string>{{407,2},{88,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1286e-sally-bul2.png</string>
            <key>size</key>
            <string>{498,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df808fb5b290ab6659af6a3e232fa51a:999169f8f0e04af65d377b725ef1e9e1:19287b6e58506683ffb47010c85e4314$</string>
            <key>textureFileName</key>
            <string>u1286e-sally-bul2.png</string>
        </dict>
    </dict>
</plist>
