<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u223e-dane-body_104x120.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 120}</string>
			<key>spriteSourceSize</key>
			<string>{104, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 0}, {104, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_118x196.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118, 196}</string>
			<key>spriteSourceSize</key>
			<string>{118, 196}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {118, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{261, 233}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{261, 213}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_26x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{26, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 111}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_30x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{30, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{229, 213}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 213}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_33x63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 63}</string>
			<key>spriteSourceSize</key>
			<string>{33, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 122}, {33, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_34x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 57}</string>
			<key>spriteSourceSize</key>
			<string>{34, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{161, 197}, {34, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_35x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 52}</string>
			<key>spriteSourceSize</key>
			<string>{35, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{209, 122}, {35, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_36x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 54}</string>
			<key>spriteSourceSize</key>
			<string>{36, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 197}, {36, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_52x73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 73}</string>
			<key>spriteSourceSize</key>
			<string>{52, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 122}, {52, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_54x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 43}</string>
			<key>spriteSourceSize</key>
			<string>{54, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 198}, {54, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_59x109.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 109}</string>
			<key>spriteSourceSize</key>
			<string>{59, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{281, 111}, {59, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_60x109.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 109}</string>
			<key>spriteSourceSize</key>
			<string>{60, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 0}, {60, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_65x57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 57}</string>
			<key>spriteSourceSize</key>
			<string>{65, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 198}, {65, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_77x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {75, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 24}</string>
			<key>spriteSourceSize</key>
			<string>{77, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 187}, {77, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u223e-dane-body_88x199.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 199}</string>
			<key>spriteSourceSize</key>
			<string>{88, 199}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{342, 0}, {88, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u223e-dane-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>