<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1238e-sally-body_104x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,79}</string>
                <key>textureRect</key>
                <string>{{4,235},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_10x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,38}</string>
                <key>spriteSourceSize</key>
                <string>{10,38}</string>
                <key>textureRect</key>
                <string>{{148,321},{10,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_110x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,68}</string>
                <key>textureRect</key>
                <string>{{4,163},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{178,388},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{162,388},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{122,387},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_155x155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{4,4},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{223,196},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{223,176},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{223,154},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{223,130},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_16x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,38}</string>
                <key>textureRect</key>
                <string>{{223,88},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{122,409},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{214,393},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{30,318},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{170,406},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x24_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{192,404},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{140,363},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{214,367},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{144,408},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{4,318},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{210,307},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{210,337},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{216,243},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_22x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{210,275},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{216,211},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{84,395},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{46,382},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_38x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,72}</string>
                <key>spriteSourceSize</key>
                <string>{38,72}</string>
                <key>textureRect</key>
                <string>{{4,346},{38,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{96,367},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_40x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{96,343},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{52,340},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_40x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{118,215},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_40x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{118,163},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{162,346},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_44x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{52,318},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_44x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{100,321},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_44x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{162,318},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{162,268},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_46x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{112,265},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_50x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{162,198},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_56x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,106}</string>
                <key>spriteSourceSize</key>
                <string>{56,106}</string>
                <key>textureRect</key>
                <string>{{163,88},{56,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_76x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{76,80}</string>
                <key>textureRect</key>
                <string>{{163,4},{76,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1238e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{140,395},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1238e-sally-body.png</string>
            <key>size</key>
            <string>{244,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:186ad3c3b0ce1ab050af61e6a4b86e35:30b6990016ab36e1be20346f3ae90778:06588a24390d86af68953614fdf4504b$</string>
            <key>textureFileName</key>
            <string>u1238e-sally-body.png</string>
        </dict>
    </dict>
</plist>
