<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91083-crow-body_108x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,146}</string>
                <key>spriteSourceSize</key>
                <string>{108,146}</string>
                <key>textureRect</key>
                <string>{{292,184},{108,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_114x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{431,64},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_116x113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{545,64},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_124x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,148}</string>
                <key>spriteSourceSize</key>
                <string>{124,148}</string>
                <key>textureRect</key>
                <string>{{400,184},{124,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_144x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{2,184},{144,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_144x120_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{661,64},{144,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_144x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{144,156}</string>
                <key>textureRect</key>
                <string>{{524,184},{144,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_146x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,138}</string>
                <key>spriteSourceSize</key>
                <string>{146,138}</string>
                <key>textureRect</key>
                <string>{{146,184},{146,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_170x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,36}</string>
                <key>spriteSourceSize</key>
                <string>{170,36}</string>
                <key>textureRect</key>
                <string>{{199,2},{170,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{32,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{14,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_198x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,50}</string>
                <key>spriteSourceSize</key>
                <string>{198,50}</string>
                <key>textureRect</key>
                <string>{{405,2},{198,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{121,2},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_28x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{143,2},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_28x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{171,2},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_33x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{645,2},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{369,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_36x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{750,2},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_36x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{714,2},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_36x62_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{678,2},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{603,2},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_42x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{42,64}</string>
                <key>textureRect</key>
                <string>{{224,64},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_49x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{49,76}</string>
                <key>textureRect</key>
                <string>{{330,64},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_52x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{379,64},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_64x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{266,64},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_6x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{2,2},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_6x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{8,2},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_71x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{50,2},{71,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_73x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{78,64},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_73x63_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{151,64},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91083-crow-body_76x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{2,64},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91083-crow-body.png</string>
            <key>size</key>
            <string>{807,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab0a44bd7f1f3cd9d09bee641a1cf39:121e238e0331adc71c5b421d33cd3c35:1d5629a4afeb67f3a85a306d2f9044a3$</string>
            <key>textureFileName</key>
            <string>u91083-crow-body.png</string>
        </dict>
    </dict>
</plist>
