<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1071h-lina-bul_124x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,79}</string>
                <key>spriteSourceSize</key>
                <string>{124,79}</string>
                <key>textureRect</key>
                <string>{{4,94},{124,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1071h-lina-bul_136x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,41}</string>
                <key>spriteSourceSize</key>
                <string>{136,41}</string>
                <key>textureRect</key>
                <string>{{4,49},{136,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1071h-lina-bul_146x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,41}</string>
                <key>spriteSourceSize</key>
                <string>{146,41}</string>
                <key>textureRect</key>
                <string>{{4,4},{146,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1071h-lina-bul.png</string>
            <key>size</key>
            <string>{154,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79aeab99a689237d1e685f9c1d921885:cfec375eba9dfd8d2aa5218a1ab0c1fc:bb2f294a46364f4f77de7fb49c5409a5$</string>
            <key>textureFileName</key>
            <string>u1071h-lina-bul.png</string>
        </dict>
    </dict>
</plist>
