<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1044h-black-bul3_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{4,587},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{108,587},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{650,221},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_149x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,115}</string>
                <key>textureRect</key>
                <string>{{244,560},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_149x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,85}</string>
                <key>spriteSourceSize</key>
                <string>{149,85}</string>
                <key>textureRect</key>
                <string>{{32,302},{149,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_152x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,104}</string>
                <key>textureRect</key>
                <string>{{397,560},{152,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_167x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,80}</string>
                <key>textureRect</key>
                <string>{{185,302},{167,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_168x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,69}</string>
                <key>spriteSourceSize</key>
                <string>{168,69}</string>
                <key>textureRect</key>
                <string>{{356,302},{168,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_176x129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,129}</string>
                <key>spriteSourceSize</key>
                <string>{176,129}</string>
                <key>textureRect</key>
                <string>{{470,168},{176,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_176x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,130}</string>
                <key>spriteSourceSize</key>
                <string>{176,130}</string>
                <key>textureRect</key>
                <string>{{553,549},{176,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_182x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,67}</string>
                <key>spriteSourceSize</key>
                <string>{182,67}</string>
                <key>textureRect</key>
                <string>{{528,301},{182,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_184x185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{4,398},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_200x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,153}</string>
                <key>spriteSourceSize</key>
                <string>{200,153}</string>
                <key>textureRect</key>
                <string>{{528,4},{200,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_214x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,167}</string>
                <key>spriteSourceSize</key>
                <string>{214,167}</string>
                <key>textureRect</key>
                <string>{{790,168},{214,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_237x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,168}</string>
                <key>spriteSourceSize</key>
                <string>{237,168}</string>
                <key>textureRect</key>
                <string>{{693,372},{237,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_244x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,141}</string>
                <key>spriteSourceSize</key>
                <string>{244,141}</string>
                <key>textureRect</key>
                <string>{{733,544},{244,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_245x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,170}</string>
                <key>spriteSourceSize</key>
                <string>{245,170}</string>
                <key>textureRect</key>
                <string>{{444,375},{245,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_246x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,160}</string>
                <key>spriteSourceSize</key>
                <string>{246,160}</string>
                <key>textureRect</key>
                <string>{{733,4},{246,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_248x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,170}</string>
                <key>spriteSourceSize</key>
                <string>{248,170}</string>
                <key>textureRect</key>
                <string>{{192,386},{248,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_24x390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,390}</string>
                <key>spriteSourceSize</key>
                <string>{24,390}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_26x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{983,41},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_31x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{983,4},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{470,36},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_41x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{470,4},{41,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_434x294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,294}</string>
                <key>spriteSourceSize</key>
                <string>{434,294}</string>
                <key>textureRect</key>
                <string>{{32,4},{434,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_56x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{714,168},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{650,161},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1044h-black-bul3_8x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,22}</string>
                <key>spriteSourceSize</key>
                <string>{8,22}</string>
                <key>textureRect</key>
                <string>{{192,560},{8,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1044h-black-bul3.png</string>
            <key>size</key>
            <string>{1018,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873a8545ce36baf6fafd746380049622:6193de5a64f0872e7387f2cbc45215a1:757804cf48544151d2ba0a3e021b7307$</string>
            <key>textureFileName</key>
            <string>u1044h-black-bul3.png</string>
        </dict>
    </dict>
</plist>
