<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1566u-sally-body_103x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,36}</string>
                <key>spriteSourceSize</key>
                <string>{103,36}</string>
                <key>textureRect</key>
                <string>{{2,174},{103,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_103x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,36}</string>
                <key>spriteSourceSize</key>
                <string>{103,36}</string>
                <key>textureRect</key>
                <string>{{610,2},{103,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_10x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{695,180},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_116x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,170}</string>
                <key>spriteSourceSize</key>
                <string>{116,170}</string>
                <key>textureRect</key>
                <string>{{2,2},{116,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_11x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{11,36}</string>
                <key>textureRect</key>
                <string>{{598,100},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_11x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,37}</string>
                <key>spriteSourceSize</key>
                <string>{11,37}</string>
                <key>textureRect</key>
                <string>{{107,174},{11,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_11x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,7}</string>
                <key>spriteSourceSize</key>
                <string>{11,7}</string>
                <key>textureRect</key>
                <string>{{100,231},{11,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_12x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,37}</string>
                <key>spriteSourceSize</key>
                <string>{12,37}</string>
                <key>textureRect</key>
                <string>{{668,112},{12,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_13x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{653,112},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{653,226},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_14x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{554,251},{14,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{717,216},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{82,236},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{717,180},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{597,218},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{782,177},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{782,199},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_17x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{270,244},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_17x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{289,244},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_17x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{715,198},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_17x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{100,213},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_17x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{782,153},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_18x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,78}</string>
                <key>spriteSourceSize</key>
                <string>{18,78}</string>
                <key>textureRect</key>
                <string>{{597,138},{18,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_18x78_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,78}</string>
                <key>spriteSourceSize</key>
                <string>{18,78}</string>
                <key>textureRect</key>
                <string>{{683,40},{18,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_194x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,82}</string>
                <key>textureRect</key>
                <string>{{120,2},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_194x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,82}</string>
                <key>textureRect</key>
                <string>{{120,86},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_194x82_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,82}</string>
                <key>textureRect</key>
                <string>{{316,2},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_194x82_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,82}</string>
                <key>textureRect</key>
                <string>{{316,86},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_19x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{782,137},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_19x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{782,118},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{717,230},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_21x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{692,199},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_21x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{473,228},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_26x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,19}</string>
                <key>spriteSourceSize</key>
                <string>{26,19}</string>
                <key>textureRect</key>
                <string>{{775,97},{26,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_26x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{775,43},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_26x25_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{775,70},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_28x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{653,85},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{441,221},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{703,99},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{360,228},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_34x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{476,170},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_34x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{703,41},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_34x56_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{739,43},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_34x56_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{617,124},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_34x56_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{617,182},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_35x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,14}</string>
                <key>spriteSourceSize</key>
                <string>{35,14}</string>
                <key>textureRect</key>
                <string>{{597,240},{35,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_35x14_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,14}</string>
                <key>spriteSourceSize</key>
                <string>{35,14}</string>
                <key>textureRect</key>
                <string>{{634,240},{35,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{737,101},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_37x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{653,190},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_37x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{653,190},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{2,236},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_38x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{42,236},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{695,146},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_40x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{611,85},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_40x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{653,151},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_40x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{512,200},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_40x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{512,138},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_41x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{759,2},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_41x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{554,196},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_41x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{554,138},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_41x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,72}</string>
                <key>spriteSourceSize</key>
                <string>{41,72}</string>
                <key>textureRect</key>
                <string>{{270,170},{41,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_42x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{715,2},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_44x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{671,226},{44,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,19}</string>
                <key>spriteSourceSize</key>
                <string>{45,19}</string>
                <key>textureRect</key>
                <string>{{313,225},{45,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,19}</string>
                <key>spriteSourceSize</key>
                <string>{45,19}</string>
                <key>textureRect</key>
                <string>{{682,125},{45,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{394,221},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{735,131},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x31_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{735,164},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_45x31_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{735,197},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_46x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{46,84}</string>
                <key>textureRect</key>
                <string>{{120,170},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_49x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,79}</string>
                <key>spriteSourceSize</key>
                <string>{49,79}</string>
                <key>textureRect</key>
                <string>{{168,170},{49,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_49x79_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,79}</string>
                <key>spriteSourceSize</key>
                <string>{49,79}</string>
                <key>textureRect</key>
                <string>{{219,170},{49,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_51x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{423,170},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_53x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{368,170},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_53x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{313,170},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_71x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{610,40},{71,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_7x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,18}</string>
                <key>spriteSourceSize</key>
                <string>{7,18}</string>
                <key>textureRect</key>
                <string>{{496,228},{7,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_84x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,36}</string>
                <key>spriteSourceSize</key>
                <string>{84,36}</string>
                <key>textureRect</key>
                <string>{{512,100},{84,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_96x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{2,212},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1566u-sally-body_96x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{512,2},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1566u-sally-body.png</string>
            <key>size</key>
            <string>{803,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7b6d640eb90166bcef3ce2207c3af8:ad0595391bc0e6dfa04ecfd60102109f:10e31c364a84ffc171266bd60526d6de$</string>
            <key>textureFileName</key>
            <string>u1566u-sally-body.png</string>
        </dict>
    </dict>
</plist>
