<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91050-eva-body_102x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,48}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{254,425},{102,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_103x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{360,413},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_106x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,58}</string>
                <key>textureRect</key>
                <string>{{571,152},{106,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_107x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,55}</string>
                <key>spriteSourceSize</key>
                <string>{107,55}</string>
                <key>textureRect</key>
                <string>{{580,214},{107,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_108x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{467,398},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_110x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{580,108},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_110x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,56}</string>
                <key>textureRect</key>
                <string>{{4,451},{110,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_119x109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,109}</string>
                <key>spriteSourceSize</key>
                <string>{119,109}</string>
                <key>textureRect</key>
                <string>{{448,130},{119,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_125x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{580,4},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_128x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{448,4},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_128x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,39}</string>
                <key>spriteSourceSize</key>
                <string>{128,39}</string>
                <key>textureRect</key>
                <string>{{448,243},{128,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_14x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{422,396},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_14x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{435,488},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_14x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{719,441},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_14x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,25}</string>
                <key>spriteSourceSize</key>
                <string>{14,25}</string>
                <key>textureRect</key>
                <string>{{623,466},{14,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_153x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,145}</string>
                <key>spriteSourceSize</key>
                <string>{153,145}</string>
                <key>textureRect</key>
                <string>{{4,302},{153,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_174x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{212,268},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_174x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{221,477},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{755,209},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{755,231},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_204x294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,294}</string>
                <key>spriteSourceSize</key>
                <string>{204,294}</string>
                <key>textureRect</key>
                <string>{{4,4},{204,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{755,185},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_21x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{694,132},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_232x260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,260}</string>
                <key>spriteSourceSize</key>
                <string>{232,260}</string>
                <key>textureRect</key>
                <string>{{212,4},{232,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_27x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{435,469},{27,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_27x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{390,268},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_27x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,83}</string>
                <key>spriteSourceSize</key>
                <string>{27,83}</string>
                <key>textureRect</key>
                <string>{{644,381},{27,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_29x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{221,448},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_31x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{588,466},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{399,469},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{737,445},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_40x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{675,441},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{737,409},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{737,361},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_43x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,54}</string>
                <key>textureRect</key>
                <string>{{541,450},{43,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_52x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,81}</string>
                <key>spriteSourceSize</key>
                <string>{52,81}</string>
                <key>textureRect</key>
                <string>{{588,381},{52,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_58x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{675,367},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_59x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{656,273},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_60x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{691,185},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_60x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{719,273},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_62x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{719,132},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_64x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{588,273},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_70x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{467,450},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_72x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,108}</string>
                <key>textureRect</key>
                <string>{{512,286},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_72x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,124}</string>
                <key>spriteSourceSize</key>
                <string>{72,124}</string>
                <key>textureRect</key>
                <string>{{709,4},{72,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_80x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,111}</string>
                <key>spriteSourceSize</key>
                <string>{80,111}</string>
                <key>textureRect</key>
                <string>{{338,298},{80,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_80x123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,123}</string>
                <key>spriteSourceSize</key>
                <string>{80,123}</string>
                <key>textureRect</key>
                <string>{{254,298},{80,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_86x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{422,286},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_89x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,142}</string>
                <key>spriteSourceSize</key>
                <string>{89,142}</string>
                <key>textureRect</key>
                <string>{{161,302},{89,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91050-eva-body_99x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,56}</string>
                <key>spriteSourceSize</key>
                <string>{99,56}</string>
                <key>textureRect</key>
                <string>{{118,451},{99,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91050-eva-body.png</string>
            <key>size</key>
            <string>{785,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbb61a1f61401c82cd01c3aa8b9b7472:61d28ab3a376b2b0e21287b10fb56db4:32714c35caeb0ebb6116dc9101007223$</string>
            <key>textureFileName</key>
            <string>u91050-eva-body.png</string>
        </dict>
    </dict>
</plist>
