<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81025-harris-body_102x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,48}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{478,420},{102,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_136x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,48}</string>
                <key>spriteSourceSize</key>
                <string>{136,48}</string>
                <key>textureRect</key>
                <string>{{418,234},{136,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_138x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{158,324},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_138x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,42}</string>
                <key>spriteSourceSize</key>
                <string>{138,42}</string>
                <key>textureRect</key>
                <string>{{336,432},{138,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_138x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{276,234},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_150x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,142}</string>
                <key>textureRect</key>
                <string>{{4,324},{150,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_174x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,36}</string>
                <key>spriteSourceSize</key>
                <string>{174,36}</string>
                <key>textureRect</key>
                <string>{{158,434},{174,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{536,386},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{558,374},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_18x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{558,396},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{508,386},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_268x316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,316}</string>
                <key>spriteSourceSize</key>
                <string>{268,316}</string>
                <key>textureRect</key>
                <string>{{4,4},{268,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_308x226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,226}</string>
                <key>spriteSourceSize</key>
                <string>{308,226}</string>
                <key>textureRect</key>
                <string>{{276,4},{308,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_34x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{470,386},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_38x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{632,239},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_42x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{558,234},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{418,286},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_60x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{588,4},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_61x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{604,174},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_64x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{584,374},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_68x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{588,100},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_74x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{74,84}</string>
                <key>textureRect</key>
                <string>{{554,286},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_78x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{388,324},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_80x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{470,286},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81025-harris-body_84x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{84,104}</string>
                <key>textureRect</key>
                <string>{{300,324},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81025-harris-body.png</string>
            <key>size</key>
            <string>{674,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4af96b8559bc6cb806cb386c4d9cca9:d4c908fcafbfd339619325358b8acfcf:57c671503cd8aac411e4979932cc8d2c$</string>
            <key>textureFileName</key>
            <string>u81025-harris-body.png</string>
        </dict>
    </dict>
</plist>
