<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u423u-miku-bul3_100x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{377,100},{100,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{377,4},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_101x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,114}</string>
                <key>spriteSourceSize</key>
                <string>{101,114}</string>
                <key>textureRect</key>
                <string>{{4,266},{101,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_130x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{201,240},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{371,192},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{179,176},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_208x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,98}</string>
                <key>spriteSourceSize</key>
                <string>{208,98}</string>
                <key>textureRect</key>
                <string>{{265,286},{208,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_274x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,168}</string>
                <key>spriteSourceSize</key>
                <string>{274,168}</string>
                <key>textureRect</key>
                <string>{{99,4},{274,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_39x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{109,356},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_39x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{152,356},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_39x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{195,356},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_48x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{319,176},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{201,286},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_76x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{99,176},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_88x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{109,244},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u423u-miku-bul3_91x258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,258}</string>
                <key>spriteSourceSize</key>
                <string>{91,258}</string>
                <key>textureRect</key>
                <string>{{4,4},{91,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u423u-miku-bul3.png</string>
            <key>size</key>
            <string>{507,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba7a44a1a45101cdee595b4399eea097:48bf3b2307a8a8c1cd5f38ed08a57aaf:76ebb23636563d321a34637cbf4a13da$</string>
            <key>textureFileName</key>
            <string>u423u-miku-bul3.png</string>
        </dict>
    </dict>
</plist>
