<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3022e-cony-body_100x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{374,294},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_100x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{374,384},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_107x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,55}</string>
                <key>spriteSourceSize</key>
                <string>{107,55}</string>
                <key>textureRect</key>
                <string>{{188,818},{107,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_108x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{369,566},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_112x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{4,704},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_112x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{202,756},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_113x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{202,650},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_115x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,58}</string>
                <key>spriteSourceSize</key>
                <string>{115,58}</string>
                <key>textureRect</key>
                <string>{{364,678},{115,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_116x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,34}</string>
                <key>textureRect</key>
                <string>{{4,628},{116,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_116x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,34}</string>
                <key>textureRect</key>
                <string>{{4,666},{116,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_116x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,50}</string>
                <key>textureRect</key>
                <string>{{4,574},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_116x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,50}</string>
                <key>textureRect</key>
                <string>{{204,596},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_116x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{4,508},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_120x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,137}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{204,455},{120,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_122x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{4,382},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_124x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,59}</string>
                <key>spriteSourceSize</key>
                <string>{124,59}</string>
                <key>textureRect</key>
                <string>{{204,392},{124,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_124x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,62}</string>
                <key>spriteSourceSize</key>
                <string>{124,62}</string>
                <key>textureRect</key>
                <string>{{205,326},{124,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_12x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{445,969},{12,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_150x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,42}</string>
                <key>textureRect</key>
                <string>{{4,336},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_162x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{208,261},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_163x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,59}</string>
                <key>spriteSourceSize</key>
                <string>{163,59}</string>
                <key>textureRect</key>
                <string>{{4,273},{163,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_164x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,61}</string>
                <key>spriteSourceSize</key>
                <string>{164,61}</string>
                <key>textureRect</key>
                <string>{{4,208},{164,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_169x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,63}</string>
                <key>spriteSourceSize</key>
                <string>{169,63}</string>
                <key>textureRect</key>
                <string>{{208,194},{169,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{242,927},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{302,949},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_188x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,186}</string>
                <key>textureRect</key>
                <string>{{208,4},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{461,969},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_200x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{124,512},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{218,907},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{278,949},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{445,931},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_23x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{445,896},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{130,484},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_24x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{445,868},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{130,454},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{130,422},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{130,382},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{445,836},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{445,772},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_28x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{445,804},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{171,344},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{171,276},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_30x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{171,310},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{172,208},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_32x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{172,242},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{445,740},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{318,764},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_34x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{318,800},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{319,724},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{319,680},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{324,642},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_37x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{333,326},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_37x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{333,368},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_37x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{328,516},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_37x38_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{328,558},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_37x38_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{324,600},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_38x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{332,450},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{332,410},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{158,458},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_40x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{158,498},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{158,414},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_42x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{328,472},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{158,368},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_46x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{248,877},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_48x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,158}</string>
                <key>spriteSourceSize</key>
                <string>{48,158}</string>
                <key>textureRect</key>
                <string>{{68,836},{48,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{299,864},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_54x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{299,836},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_56x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,18}</string>
                <key>spriteSourceSize</key>
                <string>{56,18}</string>
                <key>textureRect</key>
                <string>{{278,927},{56,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_56x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{188,877},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_56x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{218,943},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_60x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,172}</string>
                <key>spriteSourceSize</key>
                <string>{60,172}</string>
                <key>textureRect</key>
                <string>{{4,825},{60,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_64x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{120,758},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_64x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{120,808},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_64x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{120,858},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{124,618},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_74x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{124,688},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_76x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{124,538},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_78x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{400,132},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_80x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{400,4},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_80x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{400,68},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_84x246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,246}</string>
                <key>spriteSourceSize</key>
                <string>{84,246}</string>
                <key>textureRect</key>
                <string>{{357,740},{84,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_94x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{374,474},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_94x88_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{120,908},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_96x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{381,200},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3022e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{158,336},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3022e-cony-body.png</string>
            <key>size</key>
            <string>{484,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41a7e6c72a583fc57ed4b07bd5dcf5fb:f5a800a40d6f9595ea57d76f432f517a:52a992b8d6fb0fdf21fad36b688f8c82$</string>
            <key>textureFileName</key>
            <string>u3022e-cony-body.png</string>
        </dict>
    </dict>
</plist>
