<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1119u-brown-bul3_160x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,158}</string>
                <key>textureRect</key>
                <string>{{2,180},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_176x176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{2,392},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_50x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{58,340},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_54x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{2,340},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_58x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{58,42}</string>
                <key>textureRect</key>
                <string>{{110,380},{58,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul3_64x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{110,340},{64,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1119u-brown-bul3.png</string>
            <key>size</key>
            <string>{180,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd705e2c96c04a49181fdd9af3f21ed:90b1b4b7eae1ece42cc863330ba3179d:f086fdb2dff9333372fa6b618184a017$</string>
            <key>textureFileName</key>
            <string>u1119u-brown-bul3.png</string>
        </dict>
    </dict>
</plist>
