<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1119u-brown-bul2_124x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{124,130}</string>
                <key>textureRect</key>
                <string>{{78,40},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_178x176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{178,176}</string>
                <key>textureRect</key>
                <string>{{2,172},{178,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_180x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{2,530},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_186x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,178}</string>
                <key>spriteSourceSize</key>
                <string>{186,178}</string>
                <key>textureRect</key>
                <string>{{2,350},{186,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{22,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_18x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{42,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_18x18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{62,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{82,2},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_190x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,184}</string>
                <key>spriteSourceSize</key>
                <string>{190,184}</string>
                <key>textureRect</key>
                <string>{{2,712},{190,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{2,22},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119u-brown-bul2_96x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{102,2},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1119u-brown-bul2.png</string>
            <key>size</key>
            <string>{204,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc0a64d80e3a9d08cb36893d719ded4:ef335205fd7ac987cb8817a7c0bf859b:d21985d9f2fd23a35b3a2371b89b3f59$</string>
            <key>textureFileName</key>
            <string>u1119u-brown-bul2.png</string>
        </dict>
    </dict>
</plist>
