<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1001e-brown-body_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,226},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_100x100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,220},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_100x100_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{127,706},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_100x100_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{127,810},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_100x100_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{155,320},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{155,424},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_108x213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,213}</string>
                <key>spriteSourceSize</key>
                <string>{108,213}</string>
                <key>textureRect</key>
                <string>{{4,188},{108,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{4,845},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_119x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,135}</string>
                <key>spriteSourceSize</key>
                <string>{119,135}</string>
                <key>textureRect</key>
                <string>{{4,706},{119,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_11x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,56}</string>
                <key>spriteSourceSize</key>
                <string>{11,56}</string>
                <key>textureRect</key>
                <string>{{421,671},{11,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{154,690},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_12x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{154,690},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{141,226},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{247,522},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_141x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{343,68},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_146x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{4,556},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_147x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{4,405},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_156x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{183,68},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{71,965},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{411,974},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_175x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,180}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{4,4},{175,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_21x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,141}</string>
                <key>spriteSourceSize</key>
                <string>{21,141}</string>
                <key>textureRect</key>
                <string>{{116,188},{21,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{116,376},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{141,188},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_266x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,60}</string>
                <key>spriteSourceSize</key>
                <string>{266,60}</string>
                <key>textureRect</key>
                <string>{{183,4},{266,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{390,579},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_30x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{390,579},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_31x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{453,4},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_31x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{414,831},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{414,882},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_32x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{448,928},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_33x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{411,928},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_33x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{387,519},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{450,691},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{450,645},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_34x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{450,645},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_35x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{116,333},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{436,721},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{390,633},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{424,562},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_42x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{42,72}</string>
                <key>textureRect</key>
                <string>{{379,755},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_47x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{296,903},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_47x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{339,586},{47,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_50x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{434,490},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_50x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{434,608},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{357,956},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_50x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{357,956},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_51x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,25}</string>
                <key>textureRect</key>
                <string>{{433,409},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_51x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{433,369},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_52x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,67}</string>
                <key>textureRect</key>
                <string>{{296,832},{52,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_53x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{430,465},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_53x21_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{430,465},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_54x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,23}</string>
                <key>spriteSourceSize</key>
                <string>{54,23}</string>
                <key>textureRect</key>
                <string>{{430,438},{54,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_54x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{321,755},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_56x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{425,761},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_56x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{425,787},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_56x22_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{425,761},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_57x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{296,969},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_57x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{296,969},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_58x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{355,491},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_58x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{352,831},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_58x41_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{352,876},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_59x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{59,41}</string>
                <key>textureRect</key>
                <string>{{425,324},{59,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_60x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{347,921},{60,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_60x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{424,527},{60,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{361,330},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_61x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{61,71}</string>
                <key>textureRect</key>
                <string>{{231,832},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{4,965},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_68x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{361,390},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_68x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{361,390},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_71x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{355,433},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_82x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{124,914},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_82x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{210,914},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_84x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{333,672},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_85x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{154,601},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_86x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,78}</string>
                <key>spriteSourceSize</key>
                <string>{86,78}</string>
                <key>textureRect</key>
                <string>{{243,667},{86,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_86x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{231,749},{86,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_88x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{155,520},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_88x77_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{155,520},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_88x77_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{247,586},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{259,426},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{259,330},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1001e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{453,55},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1001e-brown-body.png</string>
            <key>size</key>
            <string>{488,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbab19f372e0c4818f40147d4fe7269:9679b89204bcf315db2beddf8eb47ee7:bb7852b7f5f2455db5a53ac5b1965fef$</string>
            <key>textureFileName</key>
            <string>u1001e-brown-body.png</string>
        </dict>
    </dict>
</plist>
