<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1040e-sally-bul2_122x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{161,357},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_134x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,80}</string>
                <key>spriteSourceSize</key>
                <string>{134,80}</string>
                <key>textureRect</key>
                <string>{{287,306},{134,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{4,357},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_180x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{287,122},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_223x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,231}</string>
                <key>spriteSourceSize</key>
                <string>{223,231}</string>
                <key>textureRect</key>
                <string>{{4,122},{223,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{231,306},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_467x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,114}</string>
                <key>spriteSourceSize</key>
                <string>{467,114}</string>
                <key>textureRect</key>
                <string>{{4,4},{467,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040e-sally-bul2_94x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{287,390},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1040e-sally-bul2.png</string>
            <key>size</key>
            <string>{475,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6376e4f685b5d9cb9dc569aad675a5e0:a93379aebec92403894b39bb7601329c:e90b3238607f6d6f2a024b5a528efddd$</string>
            <key>textureFileName</key>
            <string>u1040e-sally-bul2.png</string>
        </dict>
    </dict>
</plist>
