<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u403e-jessica-body_100x99.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 99}</string>
			<key>spriteSourceSize</key>
			<string>{100, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{469, 350}, {100, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_108x177.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {106, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 177}</string>
			<key>spriteSourceSize</key>
			<string>{108, 177}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {108, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_10x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {10, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 20}</string>
			<key>spriteSourceSize</key>
			<string>{10, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 62}, {10, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 36}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{566, 0}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{353, 136}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 33}, {42, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 243}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 29}, {50, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 328}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 25}, {60, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 327}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{241, 159}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {76, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 318}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 14}, {86, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 125}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 18}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_110x105_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {106, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{110, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{129, 168}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_115x82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {113, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 82}</string>
			<key>spriteSourceSize</key>
			<string>{115, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 84}, {115, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_126x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {124, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 126}</string>
			<key>spriteSourceSize</key>
			<string>{126, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 328}, {126, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_127x147.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {125, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 147}</string>
			<key>spriteSourceSize</key>
			<string>{127, 147}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 179}, {127, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_14x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{14, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 20}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_14x16_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{14, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 0}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_15x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {15, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 12}</string>
			<key>spriteSourceSize</key>
			<string>{15, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 102}, {15, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_15x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {13, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 19}</string>
			<key>spriteSourceSize</key>
			<string>{15, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 41}, {15, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_15x19_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {13, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 19}</string>
			<key>spriteSourceSize</key>
			<string>{15, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{421, 20}, {15, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_16x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 33}</string>
			<key>spriteSourceSize</key>
			<string>{16, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{403, 0}, {16, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_16x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {16, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 35}</string>
			<key>spriteSourceSize</key>
			<string>{16, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{429, 97}, {16, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_17x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {15, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 36}</string>
			<key>spriteSourceSize</key>
			<string>{17, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 80}, {17, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_18x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 15}</string>
			<key>spriteSourceSize</key>
			<string>{18, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 118}, {18, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{421, 0}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 77}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_195x82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {195, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{195, 82}</string>
			<key>spriteSourceSize</key>
			<string>{195, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 0}, {195, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_20x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 17}</string>
			<key>spriteSourceSize</key>
			<string>{20, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 116}, {20, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_21x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 19}</string>
			<key>spriteSourceSize</key>
			<string>{21, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{406, 102}, {21, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_21x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {19, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 20}</string>
			<key>spriteSourceSize</key>
			<string>{21, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 136}, {21, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_23x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {23, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 38}</string>
			<key>spriteSourceSize</key>
			<string>{23, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 471}, {23, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_25x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 23}</string>
			<key>spriteSourceSize</key>
			<string>{25, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 52}, {25, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_25x23_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 23}</string>
			<key>spriteSourceSize</key>
			<string>{25, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{401, 52}, {25, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_25x23_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 23}</string>
			<key>spriteSourceSize</key>
			<string>{25, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 77}, {25, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_25x23_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 23}</string>
			<key>spriteSourceSize</key>
			<string>{25, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{407, 477}, {25, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_28x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 16}</string>
			<key>spriteSourceSize</key>
			<string>{28, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 136}, {28, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_28x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 39}</string>
			<key>spriteSourceSize</key>
			<string>{28, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434, 471}, {28, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 456}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{274, 434}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 275}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 425}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 456}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{306, 434}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{339, 0}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{161, 275}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{402, 425}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 84}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{321, 266}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 456}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{307, 0}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{129, 275}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 434}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 456}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 266}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 84}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {16, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 275}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 0}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_30x50_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{30, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 266}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_31x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 26}</string>
			<key>spriteSourceSize</key>
			<string>{31, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{341, 52}, {31, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_32x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{307, 52}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_33x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 44}</string>
			<key>spriteSourceSize</key>
			<string>{33, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434, 425}, {33, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_35x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {31, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 477}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_71x73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{71, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 435}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_71x73_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{71, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{227, 84}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_71x73_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{71, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 435}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_8x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 20}</string>
			<key>spriteSourceSize</key>
			<string>{8, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 62}, {8, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u403e-jessica-body_94x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {92, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 15}</string>
			<key>spriteSourceSize</key>
			<string>{94, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{274, 486}, {94, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u403e-jessica-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>