<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92029-croc-bul2_152x150.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,150}</string>
			<key>spriteSourceSize</key>
			<string>{152,150}</string>
			<key>textureRect</key>
			<string>{{185,0},{152,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_154x119.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,119}</string>
			<key>spriteSourceSize</key>
			<string>{154,119}</string>
			<key>textureRect</key>
			<string>{{338,0},{154,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_154x119_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,119}</string>
			<key>spriteSourceSize</key>
			<string>{154,119}</string>
			<key>textureRect</key>
			<string>{{493,0},{154,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_154x119_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,119}</string>
			<key>spriteSourceSize</key>
			<string>{154,119}</string>
			<key>textureRect</key>
			<string>{{648,0},{154,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_176x97.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{176,97}</string>
			<key>spriteSourceSize</key>
			<string>{176,97}</string>
			<key>textureRect</key>
			<string>{{338,120},{176,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_184x185.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,185}</string>
			<key>spriteSourceSize</key>
			<string>{184,185}</string>
			<key>textureRect</key>
			<string>{{0,0},{184,185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_32x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,14}</string>
			<key>spriteSourceSize</key>
			<string>{32,14}</string>
			<key>textureRect</key>
			<string>{{185,151},{32,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_58x70.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,70}</string>
			<key>spriteSourceSize</key>
			<string>{58,70}</string>
			<key>textureRect</key>
			<string>{{776,120},{58,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_70x90.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,90}</string>
			<key>spriteSourceSize</key>
			<string>{70,90}</string>
			<key>textureRect</key>
			<string>{{705,120},{70,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_94x94.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{515,120},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92029-croc-bul2_94x94_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{610,120},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92029-croc-bul2.png</string>
		<key>size</key>
		<string>{834,217}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92029-croc-bul2.png</string>
	</dict>
</dict>
</plist>
