<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91074-dice-bul2_21x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{2,2},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{23,2},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_68x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{2,68},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_68x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{2,89},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_68x67_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{2,156},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_71x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,68}</string>
                <key>spriteSourceSize</key>
                <string>{71,68}</string>
                <key>textureRect</key>
                <string>{{2,223},{71,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_73x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{2,291},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_78x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{2,354},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-bul2_78x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{2,422},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91074-dice-bul2.png</string>
            <key>size</key>
            <string>{91,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84982f7f129bec0cecfba352fbcaaee:1873f4d48f57c6ab9171512b36550161:7901a57142aaa951df60ebc0c39f8707$</string>
            <key>textureFileName</key>
            <string>u91074-dice-bul2.png</string>
        </dict>
    </dict>
</plist>
