<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91074-dice-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{112,221},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_110x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{2,221},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_114x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{214,221},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_126x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{328,221},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{2,45},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{20,2},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{106,2},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{253,2},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{225,2},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_37x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{324,2},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_45x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{279,2},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_46x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{130,2},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_49x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{176,2},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_68x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{38,2},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{257,45},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{161,45},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x86_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{353,45},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{98,131},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x90_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{290,131},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x90_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{2,131},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x90_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{194,131},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91074-dice-body_96x90_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{386,131},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91074-dice-body.png</string>
            <key>size</key>
            <string>{484,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0917907c454de05b16f85da7abdde707:7dada361aff1b7cbc7d864e5571159ec:9ae72014ee51e0117fca390665c12911$</string>
            <key>textureFileName</key>
            <string>u91074-dice-body.png</string>
        </dict>
    </dict>
</plist>
