<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u50077-bradley-body_120x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {118, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 30}</string>
			<key>spriteSourceSize</key>
			<string>{120, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{49, 60}, {120, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_151x93.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {139, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 93}</string>
			<key>spriteSourceSize</key>
			<string>{151, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 0}, {151, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_20x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 15}</string>
			<key>spriteSourceSize</key>
			<string>{20, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 494}, {20, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_20x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 33}</string>
			<key>spriteSourceSize</key>
			<string>{20, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 60}, {20, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_21x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 24}</string>
			<key>spriteSourceSize</key>
			<string>{21, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 139}, {21, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_24x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 20}</string>
			<key>spriteSourceSize</key>
			<string>{24, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{111, 489}, {24, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_24x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 36}</string>
			<key>spriteSourceSize</key>
			<string>{24, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 330}, {24, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_25x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {23, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 32}</string>
			<key>spriteSourceSize</key>
			<string>{25, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{22, 60}, {25, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_25x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {21, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 52}</string>
			<key>spriteSourceSize</key>
			<string>{25, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 340}, {25, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_25x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 55}</string>
			<key>spriteSourceSize</key>
			<string>{25, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{99, 319}, {25, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_271x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {263, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{271, 58}</string>
			<key>spriteSourceSize</key>
			<string>{271, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {271, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_28x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {26, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 53}</string>
			<key>spriteSourceSize</key>
			<string>{28, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 285}, {28, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_30x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 19}</string>
			<key>spriteSourceSize</key>
			<string>{30, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 489}, {30, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_30x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {26, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 55}</string>
			<key>spriteSourceSize</key>
			<string>{30, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 319}, {30, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_31x45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {27, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 45}</string>
			<key>spriteSourceSize</key>
			<string>{31, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 288}, {31, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_31x45_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {27, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 45}</string>
			<key>spriteSourceSize</key>
			<string>{31, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{303, 441}, {31, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_32x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {24, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 100}</string>
			<key>spriteSourceSize</key>
			<string>{32, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{303, 339}, {32, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_32x100_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {26, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 100}</string>
			<key>spriteSourceSize</key>
			<string>{32, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{235, 376}, {32, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_32x100_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {24, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 100}</string>
			<key>spriteSourceSize</key>
			<string>{32, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 376}, {32, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_32x100_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {26, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 100}</string>
			<key>spriteSourceSize</key>
			<string>{32, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 394}, {32, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_33x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 26}</string>
			<key>spriteSourceSize</key>
			<string>{33, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 257}, {33, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_33x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {31, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 29}</string>
			<key>spriteSourceSize</key>
			<string>{33, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 143}, {33, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_34x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 104}</string>
			<key>spriteSourceSize</key>
			<string>{34, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{125, 171}, {34, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_34x104_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 104}</string>
			<key>spriteSourceSize</key>
			<string>{34, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 257}, {34, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_35x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 64}</string>
			<key>spriteSourceSize</key>
			<string>{35, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{161, 202}, {35, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_36x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 58}</string>
			<key>spriteSourceSize</key>
			<string>{36, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 330}, {36, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_39x233.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {27, 209}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 233}</string>
			<key>spriteSourceSize</key>
			<string>{39, 233}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 188}, {39, 233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_39x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {35, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 69}</string>
			<key>spriteSourceSize</key>
			<string>{39, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 423}, {39, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_42x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 29}</string>
			<key>spriteSourceSize</key>
			<string>{42, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 288}, {42, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_42x29_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 29}</string>
			<key>spriteSourceSize</key>
			<string>{42, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 288}, {42, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_43x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 26}</string>
			<key>spriteSourceSize</key>
			<string>{43, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 143}, {43, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_47x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {45, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 49}</string>
			<key>spriteSourceSize</key>
			<string>{47, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{303, 288}, {47, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_48x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 44}</string>
			<key>spriteSourceSize</key>
			<string>{48, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 284}, {48, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_49x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{49, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 233}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_53x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 30}</string>
			<key>spriteSourceSize</key>
			<string>{53, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 201}, {53, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_60x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 147}, {60, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_61x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {59, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 50}</string>
			<key>spriteSourceSize</key>
			<string>{61, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 95}, {61, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_68x123.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {60, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 123}</string>
			<key>spriteSourceSize</key>
			<string>{68, 123}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 376}, {68, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_68x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {64, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 53}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 202}, {68, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_70x199.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {66, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 199}</string>
			<key>spriteSourceSize</key>
			<string>{70, 199}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{129, 288}, {70, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_75x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {61, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 61}</string>
			<key>spriteSourceSize</key>
			<string>{75, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 139}, {75, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_76x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {74, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 49}</string>
			<key>spriteSourceSize</key>
			<string>{76, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 92}, {76, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_82x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 92}</string>
			<key>spriteSourceSize</key>
			<string>{82, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{422, 188}, {82, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_82x92_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 92}</string>
			<key>spriteSourceSize</key>
			<string>{82, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 282}, {82, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_82x92_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 92}</string>
			<key>spriteSourceSize</key>
			<string>{82, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{426, 94}, {82, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_82x92_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 92}</string>
			<key>spriteSourceSize</key>
			<string>{82, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 187}, {82, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_82x92_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 92}</string>
			<key>spriteSourceSize</key>
			<string>{82, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{426, 0}, {82, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_87x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {83, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 90}</string>
			<key>spriteSourceSize</key>
			<string>{87, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 95}, {87, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_88x191.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 15}, {78, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 191}</string>
			<key>spriteSourceSize</key>
			<string>{88, 191}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 95}, {88, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50077-bradley-body_97x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {79, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 77}</string>
			<key>spriteSourceSize</key>
			<string>{97, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{171, 60}, {97, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u50077-bradley-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>