<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1365e-moon-body_108x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,138}</string>
                <key>spriteSourceSize</key>
                <string>{108,138}</string>
                <key>textureRect</key>
                <string>{{180,88},{108,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_108x138_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,138}</string>
                <key>spriteSourceSize</key>
                <string>{108,138}</string>
                <key>textureRect</key>
                <string>{{180,88},{108,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_10x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{498,174},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_112x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,66}</string>
                <key>spriteSourceSize</key>
                <string>{112,66}</string>
                <key>textureRect</key>
                <string>{{384,174},{112,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_116x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{116,112}</string>
                <key>textureRect</key>
                <string>{{180,228},{116,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_116x112_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{116,112}</string>
                <key>textureRect</key>
                <string>{{180,342},{116,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_134x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{134,52}</string>
                <key>textureRect</key>
                <string>{{384,120},{134,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_142x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{180,456},{142,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_152x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{384,72},{152,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_158x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,68}</string>
                <key>spriteSourceSize</key>
                <string>{158,68}</string>
                <key>textureRect</key>
                <string>{{380,2},{158,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_168x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,84}</string>
                <key>spriteSourceSize</key>
                <string>{168,84}</string>
                <key>textureRect</key>
                <string>{{210,2},{168,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{520,362},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_16x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,74}</string>
                <key>spriteSourceSize</key>
                <string>{16,74}</string>
                <key>textureRect</key>
                <string>{{570,184},{16,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_176x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,98}</string>
                <key>textureRect</key>
                <string>{{2,88},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_176x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,98}</string>
                <key>textureRect</key>
                <string>{{2,188},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_176x98_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,98}</string>
                <key>textureRect</key>
                <string>{{2,288},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_176x98_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,98}</string>
                <key>textureRect</key>
                <string>{{2,388},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_206x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{206,84}</string>
                <key>textureRect</key>
                <string>{{2,2},{206,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{566,384},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{566,398},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{566,412},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{114,488},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x12_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{564,102},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{324,488},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_22x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{564,86},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{538,86},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{432,460},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{492,452},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{522,466},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{500,390},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{520,316},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_28x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{462,452},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_32x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{498,226},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{530,426},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{550,348},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{324,446},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_34x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{530,384},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{532,226},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_36x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{550,308},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_44x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{68,488},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{540,54},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_46x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{540,2},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{526,266},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_52x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{446,390},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{2,488},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_66x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{520,120},{66,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_66x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{520,152},{66,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_70x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,32}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{360,460},{70,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_70x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{498,184},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{298,224},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{298,298},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{298,372},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{372,312},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{372,386},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{452,242},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{446,316},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_72x72_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{446,316},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_78x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{290,176},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_78x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{372,242},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{360,446},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_92x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{290,88},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1365e-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{370,176},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1365e-moon-body.png</string>
            <key>size</key>
            <string>{588,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5e6f6252e3ca3794ed0f0ec990fd35:8c42ab8b28745f12676d5cf050fdb6da:d28a13ed643fa291dba4bd57829ca5e9$</string>
            <key>textureFileName</key>
            <string>u1365e-moon-body.png</string>
        </dict>
    </dict>
</plist>
