<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1040h-sally-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{718,420},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_105x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,53}</string>
                <key>spriteSourceSize</key>
                <string>{105,53}</string>
                <key>textureRect</key>
                <string>{{575,790},{105,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_110x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,68}</string>
                <key>textureRect</key>
                <string>{{649,526},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_114x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,124}</string>
                <key>spriteSourceSize</key>
                <string>{114,124}</string>
                <key>textureRect</key>
                <string>{{457,716},{114,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_115x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,54}</string>
                <key>spriteSourceSize</key>
                <string>{115,54}</string>
                <key>textureRect</key>
                <string>{{444,844},{115,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_127x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,66}</string>
                <key>spriteSourceSize</key>
                <string>{127,66}</string>
                <key>textureRect</key>
                <string>{{649,598},{127,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_130x131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,131}</string>
                <key>spriteSourceSize</key>
                <string>{130,131}</string>
                <key>textureRect</key>
                <string>{{719,162},{130,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_132x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,119}</string>
                <key>spriteSourceSize</key>
                <string>{132,119}</string>
                <key>textureRect</key>
                <string>{{718,297},{132,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_141x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,154}</string>
                <key>spriteSourceSize</key>
                <string>{141,154}</string>
                <key>textureRect</key>
                <string>{{719,4},{141,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{872,854},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_14x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{766,861},{14,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_153x346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,346}</string>
                <key>spriteSourceSize</key>
                <string>{153,346}</string>
                <key>textureRect</key>
                <string>{{4,342},{153,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{225,829},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_15x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{864,114},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{360,328},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{837,898},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{225,895},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{659,847},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{864,138},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x16_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{853,270},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x16_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{854,290},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{830,735},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_188x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,186}</string>
                <key>textureRect</key>
                <string>{{457,526},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{190,667},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{660,764},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_217x216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{217,216}</string>
                <key>textureRect</key>
                <string>{{4,692},{217,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_222x334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,334}</string>
                <key>spriteSourceSize</key>
                <string>{222,334}</string>
                <key>textureRect</key>
                <string>{{4,4},{222,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_228x238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,238}</string>
                <key>spriteSourceSize</key>
                <string>{228,238}</string>
                <key>textureRect</key>
                <string>{{225,587},{228,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_22x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,106}</string>
                <key>spriteSourceSize</key>
                <string>{22,106}</string>
                <key>textureRect</key>
                <string>{{864,4},{22,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_232x300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,300}</string>
                <key>spriteSourceSize</key>
                <string>{232,300}</string>
                <key>textureRect</key>
                <string>{{230,4},{232,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_248x232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,232}</string>
                <key>spriteSourceSize</key>
                <string>{248,232}</string>
                <key>textureRect</key>
                <string>{{466,290},{248,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_249x282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,282}</string>
                <key>spriteSourceSize</key>
                <string>{249,282}</string>
                <key>textureRect</key>
                <string>{{466,4},{249,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{853,218},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{853,162},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_24x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{853,190},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_250x241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,241}</string>
                <key>spriteSourceSize</key>
                <string>{250,241}</string>
                <key>textureRect</key>
                <string>{{161,342},{250,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_25x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{161,667},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{853,244},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{415,524},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_26x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{850,810},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{798,723},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_29x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{843,777},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_31x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{837,861},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_31x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{31,93}</string>
                <key>textureRect</key>
                <string>{{824,420},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{850,735},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{360,308},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{415,486},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{705,868},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{749,868},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{793,861},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{415,398},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{415,442},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{659,868},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{415,354},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{310,308},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{748,723},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{415,308},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{836,629},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{836,573},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_52x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{780,593},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_52x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{52,80}</string>
                <key>textureRect</key>
                <string>{{388,829},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{830,683},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_56x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,52}</string>
                <key>textureRect</key>
                <string>{{830,517},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_58x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{58,76}</string>
                <key>textureRect</key>
                <string>{{161,587},{58,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_63x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{763,525},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_73x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,54}</string>
                <key>spriteSourceSize</key>
                <string>{73,54}</string>
                <key>textureRect</key>
                <string>{{684,764},{73,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_76x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{76,30}</string>
                <key>textureRect</key>
                <string>{{230,308},{76,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_78x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{684,822},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_78x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{761,761},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_78x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{748,669},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_80x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{766,811},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_81x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{575,716},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_84x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{660,704},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{310,330},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_92x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,54}</string>
                <key>textureRect</key>
                <string>{{563,847},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_94x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{649,668},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{444,829},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1040h-sally-body.png</string>
            <key>size</key>
            <string>{890,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe164a2d573d29e58c2bf5016e370ea:3429807c6e2ef29a9f5f758a2c6c9733:d4b768bf4fab53455a3622a85038f486$</string>
            <key>textureFileName</key>
            <string>u1040h-sally-body.png</string>
        </dict>
    </dict>
</plist>
