<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1040h-sally-bul_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{4,406},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_114x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{386,386},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_120x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{260,389},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_122x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{386,260},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_122x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{260,261},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_122x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{134,277},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_126x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{281,4},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_126x124_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{150,133},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_126x124_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{281,132},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_126x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,125}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{4,277},{126,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_127x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{4,148},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_127x125_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{150,4},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_142x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{4,4},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_29x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{463,4},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{411,55},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{110,406},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1040h-sally-bul_48x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{411,4},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1040h-sally-bul.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1251f7860022daf60367cd8021346b26:be031f7e30f87ae4d0f0cb0ae29a85f6:e78b3ebb28b11e9367f5fad9d6ef1d85$</string>
            <key>textureFileName</key>
            <string>u1040h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
