<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1409h-tt-bul_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{338,60},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{160,96},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{340,38},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{314,58},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{328,18},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_22x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{314,38},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_24x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{86,56},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_24x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{58,58},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_24x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{24,58}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_28x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,10}</string>
                <key>spriteSourceSize</key>
                <string>{28,10}</string>
                <key>textureRect</key>
                <string>{{328,4},{28,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_34x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,48}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{76,4},{34,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{288,4},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_40x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{32,4},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_42x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{114,96},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{164,50},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{114,50},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{210,46},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_48x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{236,4},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_48x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{262,46},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{114,4},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_50x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{4,66},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_52x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,10}</string>
                <key>spriteSourceSize</key>
                <string>{52,10}</string>
                <key>textureRect</key>
                <string>{{58,112},{52,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_52x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{180,94},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_56x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{296,88},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_56x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{236,88},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1409h-tt-bul_64x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{168,4},{64,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1409h-tt-bul.png</string>
            <key>size</key>
            <string>{362,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d8af98cc0edd41b9ea1389db2c50dd:9e311e5636b2848619cce6b311109b69:c396ac4f44f6f7b1a53585f8a0101450$</string>
            <key>textureFileName</key>
            <string>u1409h-tt-bul.png</string>
        </dict>
    </dict>
</plist>
