<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u50092-trini-body_106x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{136,4},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_128x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{4,4},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{116,233},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{216,271},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_26x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,59}</string>
                <key>spriteSourceSize</key>
                <string>{26,59}</string>
                <key>textureRect</key>
                <string>{{216,208},{26,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_27x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,49}</string>
                <key>spriteSourceSize</key>
                <string>{27,49}</string>
                <key>textureRect</key>
                <string>{{103,120},{27,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_32x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{136,258},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_33x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{33,63}</string>
                <key>textureRect</key>
                <string>{{138,191},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_35x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{138,171},{35,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_37x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,69}</string>
                <key>spriteSourceSize</key>
                <string>{37,69}</string>
                <key>textureRect</key>
                <string>{{175,208},{37,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_39x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{134,145},{39,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_43x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,24}</string>
                <key>spriteSourceSize</key>
                <string>{43,24}</string>
                <key>textureRect</key>
                <string>{{69,235},{43,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_48x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{85,173},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_60x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{177,145},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_61x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{4,235},{61,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_63x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,19}</string>
                <key>spriteSourceSize</key>
                <string>{63,19}</string>
                <key>textureRect</key>
                <string>{{69,263},{63,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_6x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{85,136},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_77x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{4,136},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50092-trini-body_95x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,12}</string>
                <key>spriteSourceSize</key>
                <string>{95,12}</string>
                <key>textureRect</key>
                <string>{{4,120},{95,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u50092-trini-body.png</string>
            <key>size</key>
            <string>{246,293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d3e10a25890125808d8ea3131a8de5:91b7236fc4a7242fc32175568276a9d9:9f8e1b7590325b1669eedb9467302901$</string>
            <key>textureFileName</key>
            <string>u50092-trini-body.png</string>
        </dict>
    </dict>
</plist>
