<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91107-logan-body_104x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{338,106},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_104x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,98}</string>
                <key>textureRect</key>
                <string>{{338,4},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_105x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{165,316},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_106x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,58}</string>
                <key>textureRect</key>
                <string>{{165,254},{106,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_107x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{107,60}</string>
                <key>textureRect</key>
                <string>{{322,171},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_110x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,92}</string>
                <key>textureRect</key>
                <string>{{208,158},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_126x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{126,150}</string>
                <key>textureRect</key>
                <string>{{208,4},{126,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_128x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{322,235},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_138x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,172}</string>
                <key>spriteSourceSize</key>
                <string>{138,172}</string>
                <key>textureRect</key>
                <string>{{4,244},{138,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_15x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,116}</string>
                <key>spriteSourceSize</key>
                <string>{15,116}</string>
                <key>textureRect</key>
                <string>{{146,244},{15,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_15x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{146,364},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_166x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{4,420},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_18x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{98,484},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{474,473},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{76,484},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_200x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,236}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_23x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{277,412},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_25x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{4,484},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_34x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,59}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{275,254},{34,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_34x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{319,412},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_39x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,18}</string>
                <key>textureRect</key>
                <string>{{33,484},{39,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{445,339},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_46x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{446,4},{46,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_46x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{446,153},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{421,384},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_50x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{174,442},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_52x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{421,438},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_53x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,27}</string>
                <key>spriteSourceSize</key>
                <string>{53,27}</string>
                <key>textureRect</key>
                <string>{{417,473},{53,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_56x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{357,439},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_60x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{357,384},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_71x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{370,339},{71,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_73x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{73,45}</string>
                <key>textureRect</key>
                <string>{{277,363},{73,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_73x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{73,66}</string>
                <key>textureRect</key>
                <string>{{396,269},{73,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_79x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{313,269},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_87x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{228,442},{87,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_92x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,30}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{274,329},{92,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91107-logan-body_99x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,60}</string>
                <key>spriteSourceSize</key>
                <string>{99,60}</string>
                <key>textureRect</key>
                <string>{{174,378},{99,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91107-logan-body.png</string>
            <key>size</key>
            <string>{496,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98c199f735e5363d77aa617c3070122:5de42ad5cd7dc45e9f900406347a7370:715108e78cde88d2dcd0839890d4cab8$</string>
            <key>textureFileName</key>
            <string>u91107-logan-body.png</string>
        </dict>
    </dict>
</plist>
