<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u50086-rudy-body_112x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,86}</string>
                <key>spriteSourceSize</key>
                <string>{112,86}</string>
                <key>textureRect</key>
                <string>{{423,270},{112,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_122x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{122,116}</string>
                <key>textureRect</key>
                <string>{{438,150},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{228,473},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_135x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,132}</string>
                <key>spriteSourceSize</key>
                <string>{135,132}</string>
                <key>textureRect</key>
                <string>{{248,209},{135,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{84,349},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{576,4},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_14x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{248,185},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_150x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,142}</string>
                <key>textureRect</key>
                <string>{{422,4},{150,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{266,4},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{84,185},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_168x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,47}</string>
                <key>textureRect</key>
                <string>{{266,158},{168,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_178x177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{84,4},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{119,490},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{571,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_22x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{545,462},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_26x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{571,456},{26,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_29x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,120}</string>
                <key>spriteSourceSize</key>
                <string>{29,120}</string>
                <key>textureRect</key>
                <string>{{228,349},{29,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_32x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,120}</string>
                <key>spriteSourceSize</key>
                <string>{32,120}</string>
                <key>textureRect</key>
                <string>{{387,209},{32,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_32x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{83,490},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{564,242},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{566,426},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{392,458},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{520,426},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{539,316},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{539,270},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_42x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{499,462},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_51x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{337,458},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{443,456},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_68x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{520,360},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_72x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{261,439},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_73x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,92}</string>
                <key>textureRect</key>
                <string>{{443,360},{73,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_75x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{4,433},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_76x425.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,425}</string>
                <key>spriteSourceSize</key>
                <string>{76,425}</string>
                <key>textureRect</key>
                <string>{{4,4},{76,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_84x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{84,94}</string>
                <key>textureRect</key>
                <string>{{355,360},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u50086-rudy-body_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{261,345},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u50086-rudy-body.png</string>
            <key>size</key>
            <string>{604,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7ebcaf3e68b141506607db1f7d8484e:9f7e566b930a09c53939c8b49bdf7da7:83f3dff4674c648eb0ed5840a9b33f29$</string>
            <key>textureFileName</key>
            <string>u50086-rudy-body.png</string>
        </dict>
    </dict>
</plist>
