<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2027e-eggman-body_100x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,128}</string>
                <key>textureRect</key>
                <string>{{249,308},{100,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_106x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,44}</string>
                <key>textureRect</key>
                <string>{{316,126},{106,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_108x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{740,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_114x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,50}</string>
                <key>spriteSourceSize</key>
                <string>{114,50}</string>
                <key>textureRect</key>
                <string>{{641,433},{114,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_128x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,95}</string>
                <key>textureRect</key>
                <string>{{715,222},{128,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_132x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,50}</string>
                <key>spriteSourceSize</key>
                <string>{132,50}</string>
                <key>textureRect</key>
                <string>{{850,198},{132,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_136x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{850,2},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_136x96_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{850,100},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{929,392},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_166x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,70}</string>
                <key>spriteSourceSize</key>
                <string>{166,70}</string>
                <key>textureRect</key>
                <string>{{2,444},{166,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{825,482},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_183x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,4}</string>
                <key>spriteSourceSize</key>
                <string>{183,4}</string>
                <key>textureRect</key>
                <string>{{220,302},{183,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{805,482},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_194x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,108}</string>
                <key>spriteSourceSize</key>
                <string>{194,108}</string>
                <key>textureRect</key>
                <string>{{654,2},{194,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_216x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,138}</string>
                <key>spriteSourceSize</key>
                <string>{216,138}</string>
                <key>textureRect</key>
                <string>{{2,172},{216,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_21x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{715,193},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_222x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,125}</string>
                <key>spriteSourceSize</key>
                <string>{222,125}</string>
                <key>textureRect</key>
                <string>{{351,308},{222,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_226x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,168}</string>
                <key>spriteSourceSize</key>
                <string>{226,168}</string>
                <key>textureRect</key>
                <string>{{2,2},{226,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_22x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{715,166},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_236x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,128}</string>
                <key>spriteSourceSize</key>
                <string>{236,128}</string>
                <key>textureRect</key>
                <string>{{220,172},{236,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_245x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,130}</string>
                <key>spriteSourceSize</key>
                <string>{245,130}</string>
                <key>textureRect</key>
                <string>{{2,312},{245,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{929,492},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{624,491},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_250x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,122}</string>
                <key>spriteSourceSize</key>
                <string>{250,122}</string>
                <key>textureRect</key>
                <string>{{302,2},{250,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_255x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,119}</string>
                <key>textureRect</key>
                <string>{{458,172},{255,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{611,293},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{988,64},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_26x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{988,98},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_26x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{988,132},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_26x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{988,166},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_27x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{988,34},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_27x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{988,2},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_30x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,74}</string>
                <key>spriteSourceSize</key>
                <string>{30,74}</string>
                <key>textureRect</key>
                <string>{{468,435},{30,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_31x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{700,485},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_32x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{844,342},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{984,200},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_32x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{984,232},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_34x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{575,293},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{893,469},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{713,353},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_36x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{891,392},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_36x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,26}</string>
                <key>textureRect</key>
                <string>{{675,363},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_36x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{675,329},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{478,126},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_37x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{715,319},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_37x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{805,319},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_44x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{578,491},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_44x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{929,454},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{883,427},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{757,360},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_46x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{757,319},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_48x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{650,485},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_48x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{843,471},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_52x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{424,126},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_54x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{827,427},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_55x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,39}</string>
                <key>textureRect</key>
                <string>{{945,413},{55,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_57x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{946,372},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_58x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,52}</string>
                <key>textureRect</key>
                <string>{{680,112},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_58x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{408,435},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_66x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{805,363},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_66x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{878,342},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_66x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{573,435},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{757,430},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,124}</string>
                <key>spriteSourceSize</key>
                <string>{70,124}</string>
                <key>textureRect</key>
                <string>{{230,2},{70,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{733,485},{70,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{675,400},{70,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{747,400},{70,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{819,397},{70,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x28_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{946,342},{70,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_70x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{253,438},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_71x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{500,435},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_72x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{641,293},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_76x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{500,491},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_76x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{76,52}</string>
                <key>textureRect</key>
                <string>{{602,116},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_81x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{170,444},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_81x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{325,438},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_82x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{82,38}</string>
                <key>textureRect</key>
                <string>{{933,264},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_84x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,36}</string>
                <key>spriteSourceSize</key>
                <string>{84,36}</string>
                <key>textureRect</key>
                <string>{{931,304},{84,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_84x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{230,128},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_84x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{516,126},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_84x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{845,298},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_86x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,46}</string>
                <key>textureRect</key>
                <string>{{845,250},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_98x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{575,329},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2027e-eggman-body_98x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,112}</string>
                <key>spriteSourceSize</key>
                <string>{98,112}</string>
                <key>textureRect</key>
                <string>{{554,2},{98,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2027e-eggman-body.png</string>
            <key>size</key>
            <string>{1018,517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0e96d00eb8346c211d7387f17d752a1:b31f6bb2837d884944dc020d7c6741ae:9ae325ecf7aa0199285ac5f4b2eb360c$</string>
            <key>textureFileName</key>
            <string>u2027e-eggman-body.png</string>
        </dict>
    </dict>
</plist>
