<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u389e-awl-body_100x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,89}</string>
                <key>textureRect</key>
                <string>{{763,43},{100,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_103x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,67}</string>
                <key>spriteSourceSize</key>
                <string>{103,67}</string>
                <key>textureRect</key>
                <string>{{1048,0},{103,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_103x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{0,170},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_103x85_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{103,170},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_107x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{634,119},{107,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_122x205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,205}</string>
                <key>spriteSourceSize</key>
                <string>{122,205}</string>
                <key>textureRect</key>
                <string>{{419,0},{122,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_129x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,119}</string>
                <key>spriteSourceSize</key>
                <string>{129,119}</string>
                <key>textureRect</key>
                <string>{{634,0},{129,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_16x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{618,195},{16,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_16x19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{618,214},{16,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_185x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,43}</string>
                <key>spriteSourceSize</key>
                <string>{185,43}</string>
                <key>textureRect</key>
                <string>{{763,0},{185,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_189x155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,155}</string>
                <key>spriteSourceSize</key>
                <string>{189,155}</string>
                <key>textureRect</key>
                <string>{{230,0},{189,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1230,91},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1074,234},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_18x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{1230,64},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_19x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{1092,234},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_19x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{1203,106},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_19x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{564,222},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{230,155},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{1225,190},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_230x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,170}</string>
                <key>spriteSourceSize</key>
                <string>{230,170}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_23x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{1225,165},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{634,227},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_24x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{838,155},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_25x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{838,132},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_27x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1203,69},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_27x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1192,211},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_27x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1198,169},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_27x37_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1219,206},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_30x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{583,220},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{532,222},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{1166,169},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_32x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{1160,212},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_33x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{383,183},{33,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_35x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,25}</string>
                <key>textureRect</key>
                <string>{{583,195},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_35x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{1211,32},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{383,155},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_37x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{1211,0},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_40x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1120,212},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_42x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{541,195},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_45x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,28}</string>
                <key>textureRect</key>
                <string>{{439,227},{45,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_46x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{1074,191},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_46x43_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{1120,169},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{484,205},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_49x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{1199,126},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_53x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{838,190},{53,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_55x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,59}</string>
                <key>textureRect</key>
                <string>{{1019,192},{55,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_56x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{383,227},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_57x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1146,69},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_60x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{1151,0},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_63x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{956,192},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_65x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{891,192},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_72x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{1048,123},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_79x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,43}</string>
                <key>spriteSourceSize</key>
                <string>{79,43}</string>
                <key>textureRect</key>
                <string>{{1120,126},{79,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_82x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,85}</string>
                <key>spriteSourceSize</key>
                <string>{82,85}</string>
                <key>textureRect</key>
                <string>{{206,170},{82,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_90x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,147}</string>
                <key>spriteSourceSize</key>
                <string>{90,147}</string>
                <key>textureRect</key>
                <string>{{863,43},{90,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_93x195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,195}</string>
                <key>spriteSourceSize</key>
                <string>{93,195}</string>
                <key>textureRect</key>
                <string>{{541,0},{93,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_95x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,76}</string>
                <key>spriteSourceSize</key>
                <string>{95,76}</string>
                <key>textureRect</key>
                <string>{{953,40},{95,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_95x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,76}</string>
                <key>spriteSourceSize</key>
                <string>{95,76}</string>
                <key>textureRect</key>
                <string>{{953,116},{95,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_95x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{288,155},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_97x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,105}</string>
                <key>spriteSourceSize</key>
                <string>{97,105}</string>
                <key>textureRect</key>
                <string>{{741,132},{97,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_98x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{98,56}</string>
                <key>textureRect</key>
                <string>{{1048,67},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u389e-awl-body_99x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,40}</string>
                <key>spriteSourceSize</key>
                <string>{99,40}</string>
                <key>textureRect</key>
                <string>{{948,0},{99,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u389e-awl-body.png</string>
            <key>size</key>
            <string>{1248,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ac2d6b75b2568e120a3127ae0ed07f:cb3c05fb68be254274eb58e018e84b5e:fa81d71138ffddae4404faf3839031ff$</string>
            <key>textureFileName</key>
            <string>u389e-awl-body.png</string>
        </dict>
    </dict>
</plist>
