<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91065-dunce-body_130x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,29}</string>
                <key>spriteSourceSize</key>
                <string>{130,29}</string>
                <key>textureRect</key>
                <string>{{274,69},{130,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{277,177},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_198x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,88}</string>
                <key>spriteSourceSize</key>
                <string>{198,88}</string>
                <key>textureRect</key>
                <string>{{4,106},{198,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_266x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,33}</string>
                <key>spriteSourceSize</key>
                <string>{266,33}</string>
                <key>textureRect</key>
                <string>{{4,69},{266,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{472,305},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{472,267},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{300,270},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_33x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,53}</string>
                <key>spriteSourceSize</key>
                <string>{33,53}</string>
                <key>textureRect</key>
                <string>{{390,188},{33,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_34x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{390,245},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_35x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{469,186},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_36x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{472,228},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_37x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,52}</string>
                <key>spriteSourceSize</key>
                <string>{37,52}</string>
                <key>textureRect</key>
                <string>{{197,272},{37,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_37x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,52}</string>
                <key>spriteSourceSize</key>
                <string>{37,52}</string>
                <key>textureRect</key>
                <string>{{197,272},{37,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{427,188},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{384,290},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{428,232},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_40x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{428,276},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_441x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,19}</string>
                <key>spriteSourceSize</key>
                <string>{441,19}</string>
                <key>textureRect</key>
                <string>{{4,46},{441,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{336,260},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_462x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,14}</string>
                <key>spriteSourceSize</key>
                <string>{462,14}</string>
                <key>textureRect</key>
                <string>{{4,28},{462,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_46x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{429,137},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_46x45_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{429,137},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_473x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,20}</string>
                <key>spriteSourceSize</key>
                <string>{473,20}</string>
                <key>textureRect</key>
                <string>{{4,4},{473,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{429,91},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_57x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{136,272},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_58x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{238,270},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{74,272},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_58x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{176,198},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_59x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{59,41}</string>
                <key>textureRect</key>
                <string>{{449,46},{59,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{4,270},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_66x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{66,82}</string>
                <key>textureRect</key>
                <string>{{359,102},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_67x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{206,106},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_70x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{238,194},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_74x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{312,188},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_78x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,71}</string>
                <key>spriteSourceSize</key>
                <string>{78,71}</string>
                <key>textureRect</key>
                <string>{{277,102},{78,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_80x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{92,198},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_84x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,68}</string>
                <key>textureRect</key>
                <string>{{4,198},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91065-dunce-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{481,4},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91065-dunce-body.png</string>
            <key>size</key>
            <string>{512,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c56a10391ad1386ddc6740ac9d095a1:756e823d879ff17dbd16d3508c52e52e:ea6da520cd2dbc645b3c73729df5ba9a$</string>
            <key>textureFileName</key>
            <string>u91065-dunce-body.png</string>
        </dict>
    </dict>
</plist>
