<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1391e-james-bul_14x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,50}</string>
                <key>spriteSourceSize</key>
                <string>{14,50}</string>
                <key>textureRect</key>
                <string>{{16,4},{14,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1391e-james-bul_14x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,50}</string>
                <key>spriteSourceSize</key>
                <string>{14,50}</string>
                <key>textureRect</key>
                <string>{{34,4},{14,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1391e-james-bul_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{4,59},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1391e-james-bul_8x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,51}</string>
                <key>spriteSourceSize</key>
                <string>{8,51}</string>
                <key>textureRect</key>
                <string>{{4,4},{8,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1391e-james-bul.png</string>
            <key>size</key>
            <string>{52,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b03b47af4aeb4f3b57e12d2d76350b:f31a73ac319559ebce0e620dd2845514:8043a08601a7cacd886c1a71148e68d3$</string>
            <key>textureFileName</key>
            <string>u1391e-james-bul.png</string>
        </dict>
    </dict>
</plist>
