<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3007h-sally-body_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{290,557},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_106x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{106,144}</string>
                <key>textureRect</key>
                <string>{{182,677},{106,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_108x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{108,78}</string>
                <key>textureRect</key>
                <string>{{290,651},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_110x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{178,555},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_116x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,156}</string>
                <key>spriteSourceSize</key>
                <string>{116,156}</string>
                <key>textureRect</key>
                <string>{{180,397},{116,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_116x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,20}</string>
                <key>spriteSourceSize</key>
                <string>{116,20}</string>
                <key>textureRect</key>
                <string>{{192,935},{116,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_120x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{192,823},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{298,403},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_136x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{44,680},{136,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{298,495},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_146x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{44,836},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{524,621},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{524,639},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{384,2},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_154x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,38}</string>
                <key>spriteSourceSize</key>
                <string>{154,38}</string>
                <key>textureRect</key>
                <string>{{372,903},{154,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_162x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{194,245},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{520,399},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{514,319},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{520,379},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{520,357},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{514,269},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_174x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,152}</string>
                <key>spriteSourceSize</key>
                <string>{174,152}</string>
                <key>textureRect</key>
                <string>{{2,526},{174,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_176x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,154}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{2,370},{176,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_178x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{178,156}</string>
                <key>textureRect</key>
                <string>{{204,2},{178,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{520,337},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{515,179},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_18x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{515,203},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_18x22_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{514,295},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_190x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,164}</string>
                <key>spriteSourceSize</key>
                <string>{190,164}</string>
                <key>textureRect</key>
                <string>{{2,204},{190,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_200x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{515,153},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_225x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,83}</string>
                <key>spriteSourceSize</key>
                <string>{225,83}</string>
                <key>textureRect</key>
                <string>{{204,160},{225,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_226x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,47}</string>
                <key>spriteSourceSize</key>
                <string>{226,47}</string>
                <key>textureRect</key>
                <string>{{2,962},{226,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{514,235},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_28x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{492,870},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{492,721},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{501,943},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_34x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{492,785},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{456,870},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_36x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{492,759},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{398,985},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{484,641},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_38x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{484,681},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_40x276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,276}</string>
                <key>spriteSourceSize</key>
                <string>{40,276}</string>
                <key>textureRect</key>
                <string>{{2,680},{40,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{356,987},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{476,621},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_49x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{450,943},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_50x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{50,88}</string>
                <key>textureRect</key>
                <string>{{374,731},{50,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_56x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{314,913},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_56x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{298,987},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_56x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,98}</string>
                <key>spriteSourceSize</key>
                <string>{56,98}</string>
                <key>textureRect</key>
                <string>{{314,813},{56,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_57x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{456,813},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_60x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,36}</string>
                <key>textureRect</key>
                <string>{{310,949},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{476,563},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_64x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{426,727},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_66x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{230,957},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_76x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{436,235},{76,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_76x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,156}</string>
                <key>spriteSourceSize</key>
                <string>{76,156}</string>
                <key>textureRect</key>
                <string>{{358,245},{76,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_76x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{372,943},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{290,731},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{431,153},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{436,337},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{392,563},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{400,645},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_82x80_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{372,821},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_84x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{436,483},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_88x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,62}</string>
                <key>textureRect</key>
                <string>{{432,419},{88,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3007h-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{180,370},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u3007h-sally-body.png</string>
            <key>size</key>
            <string>{540,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed9872787138d546c399f120d4056b47:9b755f29b54cc254038fe7164ce27e26:4ec9e8fc480c7b910bf507e823bf2561$</string>
            <key>textureFileName</key>
            <string>u3007h-sally-body.png</string>
        </dict>
    </dict>
</plist>
