<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u70009-magma-body_12x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{12, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 32}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_24x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {22, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 12}</string>
			<key>spriteSourceSize</key>
			<string>{24, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 112}, {24, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_24x12_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 12}</string>
			<key>spriteSourceSize</key>
			<string>{24, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 80}, {24, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_24x12_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {22, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 12}</string>
			<key>spriteSourceSize</key>
			<string>{24, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 106}, {24, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_26x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 28}</string>
			<key>spriteSourceSize</key>
			<string>{26, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 80}, {26, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_34x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{34, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 0}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_36x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {32, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 24}</string>
			<key>spriteSourceSize</key>
			<string>{36, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 102}, {36, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_38x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {36, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{38, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{50, 82}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_40x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {38, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{52, 50}, {40, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_40x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {36, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 70}, {40, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_42x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {38, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 18}</string>
			<key>spriteSourceSize</key>
			<string>{42, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 50}, {42, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_42x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 32}</string>
			<key>spriteSourceSize</key>
			<string>{42, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 48}, {42, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_42x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {38, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 38}</string>
			<key>spriteSourceSize</key>
			<string>{42, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 40}, {42, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_48x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {44, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 26}</string>
			<key>spriteSourceSize</key>
			<string>{48, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 78}, {48, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_50x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {48, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 0}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_50x48_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {48, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{52, 0}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_50x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {46, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 76}</string>
			<key>spriteSourceSize</key>
			<string>{50, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {50, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_54x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 38}</string>
			<key>spriteSourceSize</key>
			<string>{54, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 0}, {54, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70009-magma-body_8x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {2, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 46}</string>
			<key>spriteSourceSize</key>
			<string>{8, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{212, 0}, {8, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u70009-magma-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>