<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91097-grill-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{673,4},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_118x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,27}</string>
                <key>spriteSourceSize</key>
                <string>{118,27}</string>
                <key>textureRect</key>
                <string>{{380,120},{118,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_126x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{380,4},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_14x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{589,237},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_150x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,76}</string>
                <key>textureRect</key>
                <string>{{4,172},{150,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{510,4},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{650,95},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_182x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,162}</string>
                <key>spriteSourceSize</key>
                <string>{182,162}</string>
                <key>textureRect</key>
                <string>{{194,4},{182,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_186x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,164}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{4,4},{186,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{433,217},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{455,211},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_18x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,77}</string>
                <key>spriteSourceSize</key>
                <string>{18,77}</string>
                <key>textureRect</key>
                <string>{{158,172},{18,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{650,70},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_19x21_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{743,200},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_19x21_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{743,225},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{565,237},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_21x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{353,226},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_22x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{327,224},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_23x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{300,224},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_23x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{273,226},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{537,222},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_30x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{738,157},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_30x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{540,179},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_30x39_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{675,207},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_30x39_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{709,206},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{397,217},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_34x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{540,136},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_36x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{357,170},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_40x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{397,151},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_41x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{441,151},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_41x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,74}</string>
                <key>spriteSourceSize</key>
                <string>{41,74}</string>
                <key>textureRect</key>
                <string>{{180,172},{41,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{225,223},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{625,207},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_47x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{486,202},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_47x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{687,157},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_47x45_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{574,188},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_50x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{633,157},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_50x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{486,151},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_51x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{578,144},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_53x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,44}</string>
                <key>spriteSourceSize</key>
                <string>{53,44}</string>
                <key>textureRect</key>
                <string>{{650,109},{53,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_53x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,44}</string>
                <key>spriteSourceSize</key>
                <string>{53,44}</string>
                <key>textureRect</key>
                <string>{{707,109},{53,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_60x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{293,170},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_64x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,49}</string>
                <key>textureRect</key>
                <string>{{225,170},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_64x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{582,70},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91097-grill-body_68x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{510,70},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91097-grill-body.png</string>
            <key>size</key>
            <string>{779,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d70dc19dccbaa952a82bdca004580cfa:d0de72234c628caa99a31382e379c4b4:74cce13852e6c09e11622d4bd0759468$</string>
            <key>textureFileName</key>
            <string>u91097-grill-body.png</string>
        </dict>
    </dict>
</plist>
