<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u85028-naga-bul_164x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,30}</string>
                <key>spriteSourceSize</key>
                <string>{164,30}</string>
                <key>textureRect</key>
                <string>{{4,4},{164,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u85028-naga-bul.png</string>
            <key>size</key>
            <string>{172,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0812fe5edf08cda7f182873ad20ea28:92dcce79dd79c1e7a8f7c6bf05252753:1f2913153f7d3f7c5c372929fd0e5300$</string>
            <key>textureFileName</key>
            <string>u85028-naga-bul.png</string>
        </dict>
    </dict>
</plist>
