<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u473e-pico-body_108x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,70}</string>
                <key>spriteSourceSize</key>
                <string>{108,70}</string>
                <key>textureRect</key>
                <string>{{491,241},{108,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1153,439},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_114x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{432,323},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_124x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,34}</string>
                <key>spriteSourceSize</key>
                <string>{124,34}</string>
                <key>textureRect</key>
                <string>{{4,434},{124,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_128x312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,312}</string>
                <key>spriteSourceSize</key>
                <string>{128,312}</string>
                <key>textureRect</key>
                <string>{{635,4},{128,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_140x233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,233}</string>
                <key>spriteSourceSize</key>
                <string>{140,233}</string>
                <key>textureRect</key>
                <string>{{491,4},{140,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{160,456},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{1052,161},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_15x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,2}</string>
                <key>spriteSourceSize</key>
                <string>{15,2}</string>
                <key>textureRect</key>
                <string>{{4,472},{15,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_160x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,153}</string>
                <key>spriteSourceSize</key>
                <string>{160,153}</string>
                <key>textureRect</key>
                <string>{{811,4},{160,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_160x153_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,153}</string>
                <key>spriteSourceSize</key>
                <string>{160,153}</string>
                <key>textureRect</key>
                <string>{{975,4},{160,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_160x153_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,153}</string>
                <key>spriteSourceSize</key>
                <string>{160,153}</string>
                <key>textureRect</key>
                <string>{{550,320},{160,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_160x153_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,153}</string>
                <key>spriteSourceSize</key>
                <string>{160,153}</string>
                <key>textureRect</key>
                <string>{{714,320},{160,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_160x153_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,153}</string>
                <key>spriteSourceSize</key>
                <string>{160,153}</string>
                <key>textureRect</key>
                <string>{{878,313},{160,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{603,269},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{160,434},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_16x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{16,6}</string>
                <key>textureRect</key>
                <string>{{1205,130},{16,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_16x6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{16,6}</string>
                <key>textureRect</key>
                <string>{{452,466},{16,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{432,466},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{4,248},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{603,241},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{1209,4},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{1106,408},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_237x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,72}</string>
                <key>spriteSourceSize</key>
                <string>{237,72}</string>
                <key>textureRect</key>
                <string>{{811,161},{237,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_237x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,72}</string>
                <key>spriteSourceSize</key>
                <string>{237,72}</string>
                <key>textureRect</key>
                <string>{{811,237},{237,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_237x72_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,72}</string>
                <key>spriteSourceSize</key>
                <string>{237,72}</string>
                <key>textureRect</key>
                <string>{{248,247},{237,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_237x72_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,72}</string>
                <key>spriteSourceSize</key>
                <string>{237,72}</string>
                <key>textureRect</key>
                <string>{{191,323},{237,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_237x72_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,72}</string>
                <key>spriteSourceSize</key>
                <string>{237,72}</string>
                <key>textureRect</key>
                <string>{{191,399},{237,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_239x239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{248,4},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_240x240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{4,4},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{1205,96},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{132,434},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{508,442},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1199,62},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{1196,344},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{1196,314},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_34x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,22}</string>
                <key>textureRect</key>
                <string>{{767,289},{34,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_40x281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,281}</string>
                <key>spriteSourceSize</key>
                <string>{40,281}</string>
                <key>textureRect</key>
                <string>{{767,4},{40,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{191,282},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{1187,416},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{1106,439},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_51x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,19}</string>
                <key>spriteSourceSize</key>
                <string>{51,19}</string>
                <key>textureRect</key>
                <string>{{1132,416},{51,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{191,248},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_54x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{1137,366},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_55x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{55,48}</string>
                <key>textureRect</key>
                <string>{{1137,314},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_56x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{1139,62},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_60x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1042,408},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_62x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,26}</string>
                <key>textureRect</key>
                <string>{{1139,112},{62,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_66x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{1139,4},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_6x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,15}</string>
                <key>spriteSourceSize</key>
                <string>{6,15}</string>
                <key>textureRect</key>
                <string>{{1139,142},{6,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_72x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,20}</string>
                <key>spriteSourceSize</key>
                <string>{72,20}</string>
                <key>textureRect</key>
                <string>{{432,442},{72,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_8x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,14}</string>
                <key>spriteSourceSize</key>
                <string>{8,14}</string>
                <key>textureRect</key>
                <string>{{1209,44},{8,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{1042,314},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u473e-pico-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{178,456},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u473e-pico-body.png</string>
            <key>size</key>
            <string>{1233,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5f33f057fb1b062a76756047724a91c:b9057f477e602a3de57ff12d85d5ef4d:37557df62a2296ecd9f844600ad28427$</string>
            <key>textureFileName</key>
            <string>u473e-pico-body.png</string>
        </dict>
    </dict>
</plist>
