<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91112-aero-body_100x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{285,392},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_16x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{474,182},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_178x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{310,210},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{295,776},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{471,4},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_21x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{458,764},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_222x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,138}</string>
                <key>spriteSourceSize</key>
                <string>{222,138}</string>
                <key>textureRect</key>
                <string>{{234,572},{222,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_226x225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{226,225}</string>
                <key>textureRect</key>
                <string>{{4,572},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_277x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,184}</string>
                <key>spriteSourceSize</key>
                <string>{277,184}</string>
                <key>textureRect</key>
                <string>{{4,384},{277,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_302x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,170}</string>
                <key>spriteSourceSize</key>
                <string>{302,170}</string>
                <key>textureRect</key>
                <string>{{4,210},{302,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_30x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{465,134},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_30x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,53}</string>
                <key>spriteSourceSize</key>
                <string>{30,53}</string>
                <key>textureRect</key>
                <string>{{424,741},{30,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_31x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{465,100},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{460,563},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_34x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{386,741},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_36x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{460,482},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_36x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,53}</string>
                <key>spriteSourceSize</key>
                <string>{36,53}</string>
                <key>textureRect</key>
                <string>{{348,498},{36,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_38x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{458,714},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_38x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{295,714},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{419,164},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_411x202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,202}</string>
                <key>spriteSourceSize</key>
                <string>{411,202}</string>
                <key>textureRect</key>
                <string>{{4,4},{411,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_42x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{419,100},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{388,505},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_44x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{436,525},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_45x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{337,714},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_48x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,19}</string>
                <key>spriteSourceSize</key>
                <string>{48,19}</string>
                <key>textureRect</key>
                <string>{{389,482},{48,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_48x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{48,92}</string>
                <key>textureRect</key>
                <string>{{419,4},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_57x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{234,714},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_59x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{285,498},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_68x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,23}</string>
                <key>spriteSourceSize</key>
                <string>{68,23}</string>
                <key>textureRect</key>
                <string>{{386,714},{68,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_7x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,24}</string>
                <key>spriteSourceSize</key>
                <string>{7,24}</string>
                <key>textureRect</key>
                <string>{{463,182},{7,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91112-aero-body_80x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{389,392},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91112-aero-body.png</string>
            <key>size</key>
            <string>{500,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ad99f3904bc2ad120a10b6229e9f88:b9d5ce95e66178e27b4aef48de93d04b:5083b83d7a1d3972cbbac584c2f75a9f$</string>
            <key>textureFileName</key>
            <string>u91112-aero-body.png</string>
        </dict>
    </dict>
</plist>
