<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1478e-ma2-body_102x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,96}</string>
                <key>textureRect</key>
                <string>{{240,130},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_132x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{240,4},{132,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{411,488},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{389,488},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_204x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,190}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{4,242},{204,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{322,396},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{460,245},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{462,310},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{462,332},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{462,354},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_20x18_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{462,376},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{458,462},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_22x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{458,398},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{460,217},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_22x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{320,356},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_232x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,234}</string>
                <key>spriteSourceSize</key>
                <string>{232,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{232,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{458,189},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_25x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{458,162},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_26x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{320,302},{26,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_26x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{26,52}</string>
                <key>textureRect</key>
                <string>{{346,130},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{426,462},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{345,464},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_30x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{326,230},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{309,464},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_34x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{442,68},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_34x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{442,4},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_40x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{442,130},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_44x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,156}</string>
                <key>spriteSourceSize</key>
                <string>{44,156}</string>
                <key>textureRect</key>
                <string>{{212,242},{44,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{378,462},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_44x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{212,402},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{430,430},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{408,188},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{360,224},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_46x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{410,224},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_46x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{197,454},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_48x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{378,430},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{422,270},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{350,304},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{406,310},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{350,344},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{406,350},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{346,384},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{402,390},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_52x36_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{322,424},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_56x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{260,366},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_56x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{260,302},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_58x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{360,270},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{346,188},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_58x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{260,406},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_58x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{247,454},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_60x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{133,436},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{69,436},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_61x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{4,436},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_62x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,156}</string>
                <key>spriteSourceSize</key>
                <string>{62,156}</string>
                <key>textureRect</key>
                <string>{{376,4},{62,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_62x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{260,230},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_78x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{78,20}</string>
                <key>textureRect</key>
                <string>{{376,164},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_8x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{377,486},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1478e-ma2-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{197,436},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1478e-ma2-body.png</string>
            <key>size</key>
            <string>{487,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f27f2b3b49f22a0e1979d034367709b:fa2219ca38aaccf4a5a5eb8cc71d4488:0e031393814338636bdd890c127cb960$</string>
            <key>textureFileName</key>
            <string>u1478e-ma2-body.png</string>
        </dict>
    </dict>
</plist>
