<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1010e-rockman-body_120x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{336,4},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_12x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{519,478},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_12x6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{535,478},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_134x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,121}</string>
                <key>spriteSourceSize</key>
                <string>{134,121}</string>
                <key>textureRect</key>
                <string>{{4,336},{134,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_160x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,67}</string>
                <key>spriteSourceSize</key>
                <string>{160,67}</string>
                <key>textureRect</key>
                <string>{{142,336},{160,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{184,476},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{451,471},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{460,101},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{427,471},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{403,464},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{412,398},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_22x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{626,136},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_22x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{538,201},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_22x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,96}</string>
                <key>spriteSourceSize</key>
                <string>{22,96}</string>
                <key>textureRect</key>
                <string>{{538,101},{22,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{399,434},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{618,365},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{519,452},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{618,403},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{626,90},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{530,429},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{534,251},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_328x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{4,4},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{534,301},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{568,248},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{623,152},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_32x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{623,202},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{103,461},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_33x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{616,328},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{496,284},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{578,376},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{570,296},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_36x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{610,290},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_36x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{484,384},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_36x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{306,336},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{532,335},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_38x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{574,334},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_38x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,70}</string>
                <key>spriteSourceSize</key>
                <string>{38,70}</string>
                <key>textureRect</key>
                <string>{{346,324},{38,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_40x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,10}</string>
                <key>textureRect</key>
                <string>{{140,476},{40,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_40x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{359,466},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_40x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{488,332},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{42,12}</string>
                <key>textureRect</key>
                <string>{{532,377},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,14}</string>
                <key>spriteSourceSize</key>
                <string>{42,14}</string>
                <key>textureRect</key>
                <string>{{484,430},{42,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{313,467},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{572,408},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{564,434},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{610,437},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{488,251},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{427,438},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{473,448},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{604,252},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_42x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{287,407},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{56,461},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_44x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,10}</string>
                <key>spriteSourceSize</key>
                <string>{44,10}</string>
                <key>textureRect</key>
                <string>{{388,384},{44,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_44x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,22}</string>
                <key>textureRect</key>
                <string>{{436,380},{44,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{436,406},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{524,393},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_44x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{388,324},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_46x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{488,195},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_46x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{46,90}</string>
                <key>textureRect</key>
                <string>{{488,101},{46,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_48x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{4,461},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_48x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{436,228},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_48x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{436,324},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_52x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,106}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{432,118},{52,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{564,214},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_55x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,58}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{564,152},{55,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{564,90},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_62x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{346,398},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_62x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{333,432},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_64x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{428,284},{64,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_66x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{217,407},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{142,407},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_86x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,82}</string>
                <key>textureRect</key>
                <string>{{557,4},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_88x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{336,236},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_92x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{336,118},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_92x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,20}</string>
                <key>textureRect</key>
                <string>{{217,467},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_93x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{460,4},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1010e-rockman-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{204,476},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1010e-rockman-body.png</string>
            <key>size</key>
            <string>{659,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2073903a1d2d93570963b4ec38f19b84:832784b9cfcdf5a14c9cd42f500d73cf:0daec0f566f5299455935bd2fc0bc1da$</string>
            <key>textureFileName</key>
            <string>u1010e-rockman-body.png</string>
        </dict>
    </dict>
</plist>
