<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90-abdula-bul_12x10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 10}</string>
			<key>spriteSourceSize</key>
			<string>{12, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{21, 111}, {12, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_19x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {17, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 15}</string>
			<key>spriteSourceSize</key>
			<string>{19, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 111}, {19, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_52x62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {50, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{52, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 0}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_62x72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {60, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 72}</string>
			<key>spriteSourceSize</key>
			<string>{62, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 0}, {62, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_82x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {80, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 75}</string>
			<key>spriteSourceSize</key>
			<string>{82, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {82, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_88x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {86, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 54}</string>
			<key>spriteSourceSize</key>
			<string>{88, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{99, 74}, {88, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90-abdula-bul_97x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {95, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 32}</string>
			<key>spriteSourceSize</key>
			<string>{97, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 77}, {97, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u90-abdula-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>