<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1325e-brown-bul_103x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,94}</string>
                <key>spriteSourceSize</key>
                <string>{103,94}</string>
                <key>textureRect</key>
                <string>{{4,4},{103,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1325e-brown-bul_80x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{111,4},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1325e-brown-bul.png</string>
            <key>size</key>
            <string>{193,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe51c35388c3738cc84b6e7b70a55dc5:7b6c15d77323c5298eb9e045958c24d5:3249ec1a5febfdef1584e0c86b2c0e43$</string>
            <key>textureFileName</key>
            <string>u1325e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
