<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u463e-brown-bul_140x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,86}</string>
                <key>textureRect</key>
                <string>{{4,4},{140,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u463e-brown-bul_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{28,94},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u463e-brown-bul_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{4,94},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u463e-brown-bul_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{148,72},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u463e-brown-bul_60x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{148,4},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u463e-brown-bul.png</string>
            <key>size</key>
            <string>{212,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc6f5482f5a95d51c78eb8db2005117:dcce9d7268693d55a0570e9ca70dc33f:ac2d1a359fc98006f0192c4e06f11ea9$</string>
            <key>textureFileName</key>
            <string>u463e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
