<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81030-wingwing-bul_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{22,4},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{178,50},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{178,4},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{172,158},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{116,158},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81030-wingwing-bul_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{22,158},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81030-wingwing-bul.png</string>
            <key>size</key>
            <string>{226,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7959065fd779d66332d6513924f3bfcc:8c53ecb0bf70a7a85c28e6829a1ceeda:a246bbafcfb80a4667031027953a6886$</string>
            <key>textureFileName</key>
            <string>u81030-wingwing-bul.png</string>
        </dict>
    </dict>
</plist>
