<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u83011-henry-bul2_113x113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{171,4},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_121x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{167,176},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_143x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{161,342},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_153x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{4,342},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_159x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,162}</string>
                <key>spriteSourceSize</key>
                <string>{159,162}</string>
                <key>textureRect</key>
                <string>{{4,176},{159,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_163x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,168}</string>
                <key>spriteSourceSize</key>
                <string>{163,168}</string>
                <key>textureRect</key>
                <string>{{4,4},{163,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{171,121},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{211,302},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{167,302},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul2_43x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,30}</string>
                <key>spriteSourceSize</key>
                <string>{43,30}</string>
                <key>textureRect</key>
                <string>{{255,302},{43,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u83011-henry-bul2.png</string>
            <key>size</key>
            <string>{308,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd5d5802020170b84f6c21179e63ff70:f70020d67eb10d14aa36f768d6b866d9:1adc78a2170bc0179341424825d6ca54$</string>
            <key>textureFileName</key>
            <string>u83011-henry-bul2.png</string>
        </dict>
    </dict>
</plist>
