<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u83011-henry-bul_132x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{132,124}</string>
                <key>textureRect</key>
                <string>{{220,330},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_172x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{172,164}</string>
                <key>textureRect</key>
                <string>{{220,162},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_178x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{178,154}</string>
                <key>textureRect</key>
                <string>{{220,4},{178,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_212x178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,178}</string>
                <key>spriteSourceSize</key>
                <string>{212,178}</string>
                <key>textureRect</key>
                <string>{{4,4},{212,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_212x178_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,178}</string>
                <key>spriteSourceSize</key>
                <string>{212,178}</string>
                <key>textureRect</key>
                <string>{{4,186},{212,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{356,330},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u83011-henry-bul_64x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{4,368},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u83011-henry-bul.png</string>
            <key>size</key>
            <string>{402,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c59e37770a5a41caa046818a4b5c2b8c:ce2faa207767b7754e063b9d19500024:35c317b2f97437b4368fe4e53ffc7872$</string>
            <key>textureFileName</key>
            <string>u83011-henry-bul.png</string>
        </dict>
    </dict>
</plist>
