<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1579e-sally-bul_54x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{4,4},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1579e-sally-bul.png</string>
            <key>size</key>
            <string>{62,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db43bc4614dbdc2823b62deee65517fa:6c4b783a6c1901626ce57d0916a142d1:9cd5c93298dc7d9a3cd3f1cd5bfff823$</string>
            <key>textureFileName</key>
            <string>u1579e-sally-bul.png</string>
        </dict>
    </dict>
</plist>
