<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1579e-sally-body_106x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{294,4},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{424,297},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{368,372},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{350,372},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{412,282},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{286,354},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{330,372},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{286,332},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{286,308},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{286,374},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{308,372},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{344,442},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{416,230},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{416,256},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{416,104},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{412,202},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{416,72},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_204x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,190}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{4,242},{204,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{410,442},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{414,132},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_212x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,46}</string>
                <key>spriteSourceSize</key>
                <string>{212,46}</string>
                <key>textureRect</key>
                <string>{{212,392},{212,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_22x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{412,186},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{412,160},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_232x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,234}</string>
                <key>spriteSourceSize</key>
                <string>{232,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{232,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{178,436},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_26x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{394,300},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_26x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{394,328},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{390,356},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_28x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{380,272},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{404,40},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{404,4},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{380,240},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_34x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{34,10}</string>
                <key>textureRect</key>
                <string>{{346,358},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_36x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,10}</string>
                <key>textureRect</key>
                <string>{{306,358},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{248,442},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_38x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{306,342},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_38x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{348,342},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_38x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{38,20}</string>
                <key>textureRect</key>
                <string>{{206,442},{38,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{370,210},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_40x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{368,192},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{366,442},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{134,436},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{368,156},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{370,116},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{370,72},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_50x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{240,4},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_50x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{80,436},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_52x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{288,442},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{312,156},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_54x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{312,210},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_68x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{240,158},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_70x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,48}</string>
                <key>textureRect</key>
                <string>{{306,252},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_70x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{212,308},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{4,436},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_72x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{294,72},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_84x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{306,304},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_90x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,62}</string>
                <key>textureRect</key>
                <string>{{212,242},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{424,311},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1579e-sally-body.png</string>
            <key>size</key>
            <string>{438,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6407e61959f1092956bf15882581f1c6:a15898cfaa416a086238f0a366558a9d:a9fe2c33dac3a37538f7289859e5e09d$</string>
            <key>textureFileName</key>
            <string>u1579e-sally-body.png</string>
        </dict>
    </dict>
</plist>
