<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1132h-diane-bul2_172x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,150}</string>
                <key>spriteSourceSize</key>
                <string>{172,150}</string>
                <key>textureRect</key>
                <string>{{2,344},{172,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_180x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{198,302},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_186x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,152}</string>
                <key>spriteSourceSize</key>
                <string>{186,152}</string>
                <key>textureRect</key>
                <string>{{198,148},{186,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_194x194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{2,148},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_308x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,144}</string>
                <key>spriteSourceSize</key>
                <string>{308,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{308,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_68x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{312,46},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1132h-diane-bul2_82x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,42}</string>
                <key>textureRect</key>
                <string>{{312,2},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1132h-diane-bul2.png</string>
            <key>size</key>
            <string>{396,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca65f6a7b583cbd1b76b50dfb6dc1e66:6225dc5780a6e5308c9477de567908c6:4311ffebabdc9b5365719be2147ff562$</string>
            <key>textureFileName</key>
            <string>u1132h-diane-bul2.png</string>
        </dict>
    </dict>
</plist>
