<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1175h-shin-bul_92x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{92,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1175h-shin-bul.png</string>
            <key>size</key>
            <string>{96,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8832d7b4ff78a5b5d9a4ba995df4529:cdafe065ea6a4d5939cec5df52ebca5d:fbafedc67957cb2eed975cede545ba79$</string>
            <key>textureFileName</key>
            <string>u1175h-shin-bul.png</string>
        </dict>
    </dict>
</plist>
