<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1176u-hima-bul_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{347,68},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{342,102},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_14x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{258,94},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_14x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{240,94},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_14x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{316,114},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{169,108},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{384,80},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{276,94},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{386,52},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{386,20},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{296,114},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{140,74},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_19x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{361,70},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_19x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{296,91},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_19x19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{319,91},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{362,50},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{190,92},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{362,20},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_20x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{272,32},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_21x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,16}</string>
                <key>spriteSourceSize</key>
                <string>{21,16}</string>
                <key>textureRect</key>
                <string>{{271,74},{21,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_21x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{296,66},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{321,68},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{336,40},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{214,91},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{162,62},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{188,62},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{336,4},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_24x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{162,92},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{243,66},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_25x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{140,108},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_25x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{214,66},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_36x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,14}</string>
                <key>textureRect</key>
                <string>{{296,48},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{296,4},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_40x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,12}</string>
                <key>spriteSourceSize</key>
                <string>{40,12}</string>
                <key>textureRect</key>
                <string>{{362,4},{40,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_48x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{162,4},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_54x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,30}</string>
                <key>textureRect</key>
                <string>{{214,32},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_64x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{72,74},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_64x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{4,74},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_6x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{342,88},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{84,4},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_76x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{4,4},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1176u-hima-bul_78x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,24}</string>
                <key>spriteSourceSize</key>
                <string>{78,24}</string>
                <key>textureRect</key>
                <string>{{214,4},{78,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1176u-hima-bul.png</string>
            <key>size</key>
            <string>{406,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e9e4171d304f9a03551d8b174a349a:15ed89da9cc46dd7a183d28ff639846b:75b38f0ccd7b30e1d39284591e638391$</string>
            <key>textureFileName</key>
            <string>u1176u-hima-bul.png</string>
        </dict>
    </dict>
</plist>
