<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80035-kuku-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{148,946},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{4,1153},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_12x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{235,172},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_12x6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{235,182},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_12x6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{235,192},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_12x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{235,160},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{4,862},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_14x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{238,38},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_14x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{238,70},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_14x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{238,4},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_150x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,74}</string>
                <key>spriteSourceSize</key>
                <string>{150,74}</string>
                <key>textureRect</key>
                <string>{{4,784},{150,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_154x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,44}</string>
                <key>spriteSourceSize</key>
                <string>{154,44}</string>
                <key>textureRect</key>
                <string>{{4,736},{154,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{4,598},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{4,427},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,140},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_16x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{235,102},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{234,815},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{234,771},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{234,793},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_202x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,116}</string>
                <key>spriteSourceSize</key>
                <string>{202,116}</string>
                <key>textureRect</key>
                <string>{{4,307},{202,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{176,1790},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{228,1752},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_20x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{230,1708},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{4,72},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_22x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{66,1811},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{230,1684},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,1291},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_230x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,64}</string>
                <key>spriteSourceSize</key>
                <string>{230,64}</string>
                <key>textureRect</key>
                <string>{{4,4},{230,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{92,1821},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{92,1793},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_24x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{170,427},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_24x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{92,1739},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_25x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{92,1713},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_26x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,74}</string>
                <key>spriteSourceSize</key>
                <string>{26,74}</string>
                <key>textureRect</key>
                <string>{{92,1557},{26,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_26x74_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,74}</string>
                <key>spriteSourceSize</key>
                <string>{26,74}</string>
                <key>textureRect</key>
                <string>{{92,1635},{26,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_26x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,78}</string>
                <key>spriteSourceSize</key>
                <string>{26,78}</string>
                <key>textureRect</key>
                <string>{{92,1475},{26,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_28x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,74}</string>
                <key>spriteSourceSize</key>
                <string>{28,74}</string>
                <key>textureRect</key>
                <string>{{222,1372},{28,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_28x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,78}</string>
                <key>spriteSourceSize</key>
                <string>{28,78}</string>
                <key>textureRect</key>
                <string>{{92,1393},{28,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{58,1829},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_30x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,78}</string>
                <key>spriteSourceSize</key>
                <string>{30,78}</string>
                <key>textureRect</key>
                <string>{{92,1311},{30,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_32x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{92,1291},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_34x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{210,407},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_36x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{210,335},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{210,307},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{124,1438},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_48x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{176,1720},{48,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_50x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{4,1829},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_50x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{176,1684},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_54x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{176,1620},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_56x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{176,1568},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_56x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{176,1514},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_56x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{176,1450},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,1291},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{162,771},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_72x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,22}</string>
                <key>textureRect</key>
                <string>{{162,745},{72,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{170,479},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_8x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{235,202},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_92x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,62}</string>
                <key>textureRect</key>
                <string>{{126,1372},{92,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_94x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{137,1280},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_94x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,92}</string>
                <key>textureRect</key>
                <string>{{158,850},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{148,1052},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{148,1090},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{148,1128},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{137,1166},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{137,1204},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80035-kuku-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{137,1242},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80035-kuku-body.png</string>
            <key>size</key>
            <string>{256,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a549a58b7cbd2ad4bc950dddab6975:fa1d936188c7aaf1b85f53eff7613682:72d6edae9217c688a0692824a125109a$</string>
            <key>textureFileName</key>
            <string>u80035-kuku-body.png</string>
        </dict>
    </dict>
</plist>
