<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91020-rio-body_134x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,88}</string>
                <key>textureRect</key>
                <string>{{4,306},{134,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{797,454},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_14x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{703,470},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_14x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{779,459},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_155x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,132}</string>
                <key>spriteSourceSize</key>
                <string>{155,132}</string>
                <key>textureRect</key>
                <string>{{4,170},{155,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_160x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,162}</string>
                <key>textureRect</key>
                <string>{{4,4},{160,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{355,482},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_174x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,36}</string>
                <key>spriteSourceSize</key>
                <string>{174,36}</string>
                <key>textureRect</key>
                <string>{{158,383},{174,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_187x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,57}</string>
                <key>spriteSourceSize</key>
                <string>{187,57}</string>
                <key>textureRect</key>
                <string>{{262,4},{187,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_188x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,32}</string>
                <key>spriteSourceSize</key>
                <string>{188,32}</string>
                <key>textureRect</key>
                <string>{{142,347},{188,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_188x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,36}</string>
                <key>spriteSourceSize</key>
                <string>{188,36}</string>
                <key>textureRect</key>
                <string>{{142,307},{188,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{779,487},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{797,432},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{797,398},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_190x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,34}</string>
                <key>spriteSourceSize</key>
                <string>{190,34}</string>
                <key>textureRect</key>
                <string>{{262,149},{190,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_190x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{262,65},{190,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_190x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{262,107},{190,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_192x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,36}</string>
                <key>spriteSourceSize</key>
                <string>{192,36}</string>
                <key>textureRect</key>
                <string>{{163,227},{192,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_192x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,36}</string>
                <key>spriteSourceSize</key>
                <string>{192,36}</string>
                <key>textureRect</key>
                <string>{{163,267},{192,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_194x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,36}</string>
                <key>spriteSourceSize</key>
                <string>{194,36}</string>
                <key>textureRect</key>
                <string>{{456,130},{194,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_194x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,38}</string>
                <key>spriteSourceSize</key>
                <string>{194,38}</string>
                <key>textureRect</key>
                <string>{{456,88},{194,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_194x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,38}</string>
                <key>spriteSourceSize</key>
                <string>{194,38}</string>
                <key>textureRect</key>
                <string>{{456,170},{194,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_196x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{163,187},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_198x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,38}</string>
                <key>spriteSourceSize</key>
                <string>{198,38}</string>
                <key>textureRect</key>
                <string>{{453,4},{198,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_198x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,38}</string>
                <key>spriteSourceSize</key>
                <string>{198,38}</string>
                <key>textureRect</key>
                <string>{{456,46},{198,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{375,482},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{679,470},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{655,460},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_20x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{334,307},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_20x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,54}</string>
                <key>spriteSourceSize</key>
                <string>{20,54}</string>
                <key>textureRect</key>
                <string>{{723,434},{20,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_23x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{328,482},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_28x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{747,459},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_28x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{414,418},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_28x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,64}</string>
                <key>spriteSourceSize</key>
                <string>{28,64}</string>
                <key>textureRect</key>
                <string>{{414,350},{28,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{580,463},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_34x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,57}</string>
                <key>textureRect</key>
                <string>{{759,398},{34,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_34x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,82}</string>
                <key>spriteSourceSize</key>
                <string>{34,82}</string>
                <key>textureRect</key>
                <string>{{252,423},{34,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_34x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,82}</string>
                <key>spriteSourceSize</key>
                <string>{34,82}</string>
                <key>textureRect</key>
                <string>{{290,423},{34,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_35x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{616,470},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_36x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{762,270},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_36x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{683,434},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_36x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,82}</string>
                <key>spriteSourceSize</key>
                <string>{36,82}</string>
                <key>textureRect</key>
                <string>{{212,423},{36,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_37x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{522,468},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_46x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{633,410},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_46x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{762,204},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_46x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{46,92}</string>
                <key>textureRect</key>
                <string>{{712,210},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_49x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{580,410},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_50x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{158,423},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_54x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,103}</string>
                <key>spriteSourceSize</key>
                <string>{54,103}</string>
                <key>textureRect</key>
                <string>{{100,398},{54,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_54x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{687,404},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_54x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{522,410},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_56x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,88}</string>
                <key>spriteSourceSize</key>
                <string>{56,88}</string>
                <key>textureRect</key>
                <string>{{759,306},{56,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_68x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{68,90}</string>
                <key>textureRect</key>
                <string>{{687,310},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_68x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{68,92}</string>
                <key>textureRect</key>
                <string>{{615,314},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_68x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{68,98}</string>
                <key>textureRect</key>
                <string>{{748,4},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_72x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{72,90}</string>
                <key>textureRect</key>
                <string>{{446,408},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_74x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{74,90}</string>
                <key>textureRect</key>
                <string>{{336,350},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_74x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,94}</string>
                <key>spriteSourceSize</key>
                <string>{74,94}</string>
                <key>textureRect</key>
                <string>{{742,106},{74,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_76x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,34}</string>
                <key>textureRect</key>
                <string>{{328,444},{76,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_78x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{533,314},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_78x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{630,212},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_80x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{449,314},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_84x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{654,106},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_84x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,98}</string>
                <key>textureRect</key>
                <string>{{454,212},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_84x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,98}</string>
                <key>textureRect</key>
                <string>{{542,212},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_86x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{658,4},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_86x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{359,248},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_87x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,57}</string>
                <key>spriteSourceSize</key>
                <string>{87,57}</string>
                <key>textureRect</key>
                <string>{{363,187},{87,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_90x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,160}</string>
                <key>spriteSourceSize</key>
                <string>{90,160}</string>
                <key>textureRect</key>
                <string>{{168,4},{90,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91020-rio-body_92x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{4,398},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91020-rio-body.png</string>
            <key>size</key>
            <string>{820,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8822b6806ceca465a7ec7b30c267d937:998cf7cf3f4d05a3a0730dbbb85d2bd9:479ce4c49177a4de5176d28a40387d15$</string>
            <key>textureFileName</key>
            <string>u91020-rio-body.png</string>
        </dict>
    </dict>
</plist>
