<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80002-cage-body_100x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{87,804},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{232,201},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_10x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{232,215},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_116x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{4,520},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_124x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{4,412},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_131x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{131,120}</string>
                <key>textureRect</key>
                <string>{{4,288},{131,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{194,611},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{216,667},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_156x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,116}</string>
                <key>spriteSourceSize</key>
                <string>{156,116}</string>
                <key>textureRect</key>
                <string>{{4,168},{156,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_15x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{227,933},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{205,434},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_15x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,8}</string>
                <key>spriteSourceSize</key>
                <string>{15,8}</string>
                <key>textureRect</key>
                <string>{{112,940},{15,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{4,4},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{196,676},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{196,654},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_17x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,13}</string>
                <key>textureRect</key>
                <string>{{206,933},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_188x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,63}</string>
                <key>spriteSourceSize</key>
                <string>{188,63}</string>
                <key>textureRect</key>
                <string>{{4,632},{188,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_18x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{219,651},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{224,434},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_19x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{196,631},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{219,631},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_21x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{205,580},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_21x25_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{214,904},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{180,926},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_22x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{205,405},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_24x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{166,611},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_24x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{210,381},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{210,353},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{149,896},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{115,896},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{112,918},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{146,920},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{180,904},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x18_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{212,609},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{210,327},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_31x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{210,299},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_33x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{168,580},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_37x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,60}</string>
                <key>spriteSourceSize</key>
                <string>{37,60}</string>
                <key>textureRect</key>
                <string>{{74,842},{37,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_38x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{124,598},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{196,526},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{124,560},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{66,906},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_46x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{196,504},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_46x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{196,453},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_48x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{191,791},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_57x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,16}</string>
                <key>spriteSourceSize</key>
                <string>{57,16}</string>
                <key>textureRect</key>
                <string>{{168,560},{57,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_57x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{149,366},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_57x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{149,299},{57,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_58x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{58,43}</string>
                <key>textureRect</key>
                <string>{{4,904},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_58x43_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{58,43}</string>
                <key>textureRect</key>
                <string>{{181,857},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_60x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{132,511},{60,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{132,453},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_62x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{115,836},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_62x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{139,393},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_64x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{164,201},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_66x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{4,842},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_67x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{175,762},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_67x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,59}</string>
                <key>textureRect</key>
                <string>{{175,699},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_6x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,98}</string>
                <key>spriteSourceSize</key>
                <string>{6,98}</string>
                <key>textureRect</key>
                <string>{{139,288},{6,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_71x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,32}</string>
                <key>spriteSourceSize</key>
                <string>{71,32}</string>
                <key>textureRect</key>
                <string>{{164,263},{71,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_74x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,162}</string>
                <key>spriteSourceSize</key>
                <string>{74,162}</string>
                <key>textureRect</key>
                <string>{{168,4},{74,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_77x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,27}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{89,773},{77,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_78x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,27}</string>
                <key>textureRect</key>
                <string>{{164,170},{78,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_79x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{4,782},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_81x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{4,699},{81,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_82x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,70}</string>
                <key>textureRect</key>
                <string>{{89,699},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_9x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{232,244},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_9x11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{229,560},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_9x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,12}</string>
                <key>spriteSourceSize</key>
                <string>{9,12}</string>
                <key>textureRect</key>
                <string>{{232,228},{9,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_9x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{131,940},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80002-cage-body_9x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{216,687},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80002-cage-body.png</string>
            <key>size</key>
            <string>{246,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2e87a87e9ee21b64ec7ac3bc7b7daf0:053a11af2210dc4733cacb8351849126:b700a39f1e801ed7c8da830e84e2a3c5$</string>
            <key>textureFileName</key>
            <string>u80002-cage-body.png</string>
        </dict>
    </dict>
</plist>
