<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1005h-james-bul3_119x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{178,147},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005h-james-bul3_139x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{178,4},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005h-james-bul3_170x370.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,370}</string>
                <key>spriteSourceSize</key>
                <string>{170,370}</string>
                <key>textureRect</key>
                <string>{{4,4},{170,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005h-james-bul3_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{241,270},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1005h-james-bul3_59x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{178,270},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1005h-james-bul3.png</string>
            <key>size</key>
            <string>{321,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7c44a03a0c829fd17fe7085f66f505:2e9116fd5b2b1ab920a5c18ec31afa67:6bc4113925637cd8a668c2f4162d0d8d$</string>
            <key>textureFileName</key>
            <string>u1005h-james-bul3.png</string>
        </dict>
    </dict>
</plist>
