<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1205h-sally-bul2_105x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,55}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{623,121},{105,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_140x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,86}</string>
                <key>textureRect</key>
                <string>{{612,2},{140,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_15x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,85}</string>
                <key>spriteSourceSize</key>
                <string>{15,85}</string>
                <key>textureRect</key>
                <string>{{730,90},{15,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_15x85_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,85}</string>
                <key>spriteSourceSize</key>
                <string>{15,85}</string>
                <key>textureRect</key>
                <string>{{747,90},{15,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{868,22},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_17x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{537,163},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_17x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{754,71},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_17x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{868,2},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_184x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,174}</string>
                <key>spriteSourceSize</key>
                <string>{184,174}</string>
                <key>textureRect</key>
                <string>{{218,2},{184,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_206x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,118}</string>
                <key>spriteSourceSize</key>
                <string>{206,118}</string>
                <key>textureRect</key>
                <string>{{404,2},{206,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{861,65},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_214x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,174}</string>
                <key>spriteSourceSize</key>
                <string>{214,174}</string>
                <key>textureRect</key>
                <string>{{2,2},{214,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{704,90},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{678,90},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_26x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,19}</string>
                <key>spriteSourceSize</key>
                <string>{26,19}</string>
                <key>textureRect</key>
                <string>{{861,44},{26,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_29x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{858,144},{29,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_29x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{764,93},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{773,71},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_30x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{646,90},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_32x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{612,90},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_33x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{826,39},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_33x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{448,122},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{581,159},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_40x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{581,122},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_40x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{826,2},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_42x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{537,122},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{404,122},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_52x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{483,122},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_63x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{805,82},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_70x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{754,2},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1205h-sally-bul2_92x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,26}</string>
                <key>textureRect</key>
                <string>{{764,144},{92,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1205h-sally-bul2.png</string>
            <key>size</key>
            <string>{889,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e49f57585c04f02fa4fe885d43c2bae:1020b32413a7734066764fe0a6c65474:c522f705b4e4998170f3e3d8ac6e0db5$</string>
            <key>textureFileName</key>
            <string>u1205h-sally-bul2.png</string>
        </dict>
    </dict>
</plist>
