<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1033e-cony-body_104x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{4,152},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{336,261},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{409,105},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{409,125},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_150x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{4,4},{150,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{259,83},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_16x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{407,149},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_16x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,50}</string>
                <key>spriteSourceSize</key>
                <string>{16,50}</string>
                <key>textureRect</key>
                <string>{{111,353},{16,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_17x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{317,342},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{379,193},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{364,331},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{259,343},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{381,366},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{329,371},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{401,193},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{392,225},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{338,331},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_22x28_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{355,363},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{301,371},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{381,107},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{379,149},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{388,261},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{336,215},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_24x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{364,215},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{396,81},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_26x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{388,342},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{285,333},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{345,191},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{345,149},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_30x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{318,278},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{131,353},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_30x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,51}</string>
                <key>spriteSourceSize</key>
                <string>{30,51}</string>
                <key>textureRect</key>
                <string>{{284,278},{30,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{352,301},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{352,261},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{345,107},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{213,371},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_34x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{388,305},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_38x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{217,343},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_40x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,102}</string>
                <key>spriteSourceSize</key>
                <string>{40,102}</string>
                <key>textureRect</key>
                <string>{{112,152},{40,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_40x102_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,102}</string>
                <key>spriteSourceSize</key>
                <string>{40,102}</string>
                <key>textureRect</key>
                <string>{{235,108},{40,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{165,371},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_45x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{347,81},{45,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{251,371},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_46x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{61,353},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_46x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{223,214},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_48x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{165,335},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_53x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{4,348},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_57x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{223,283},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_59x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{273,215},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_62x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,20}</string>
                <key>textureRect</key>
                <string>{{157,311},{62,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_62x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{156,179},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_62x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{157,245},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_62x62_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{279,83},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_62x62_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{279,149},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{82,329},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_71x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{82,258},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_73x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{158,108},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_73x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{347,4},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_74x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{4,258},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_84x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,75}</string>
                <key>textureRect</key>
                <string>{{259,4},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{222,192},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_8x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{407,366},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_8x10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{407,380},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_8x10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{150,335},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_97x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,100}</string>
                <key>spriteSourceSize</key>
                <string>{97,100}</string>
                <key>textureRect</key>
                <string>{{158,4},{97,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1033e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{222,179},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1033e-cony-body.png</string>
            <key>size</key>
            <string>{427,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:208633d4ef9d060e53b310e82620809b:20fea70ee3d36329cd6d8c3cb5ea4729:23a739dd53aa38ca69bf142ccb7a1291$</string>
            <key>textureFileName</key>
            <string>u1033e-cony-body.png</string>
        </dict>
    </dict>
</plist>
