<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u190e-boss-body_104x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_104x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 87}</string>
			<key>spriteSourceSize</key>
			<string>{104, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 106}, {104, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_15x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 50}</string>
			<key>spriteSourceSize</key>
			<string>{15, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 218}, {15, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{260, 141}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_16x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 20}</string>
			<key>spriteSourceSize</key>
			<string>{16, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{341, 291}, {16, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_19x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 24}</string>
			<key>spriteSourceSize</key>
			<string>{19, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{393, 183}, {19, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_24x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {24, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 34}</string>
			<key>spriteSourceSize</key>
			<string>{24, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{355, 40}, {24, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_24x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 38}</string>
			<key>spriteSourceSize</key>
			<string>{24, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{355, 0}, {24, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_24x486.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 486}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {24, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_25x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 16}</string>
			<key>spriteSourceSize</key>
			<string>{25, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 141}, {25, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_28x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 35}</string>
			<key>spriteSourceSize</key>
			<string>{28, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{449, 36}, {28, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_29x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {29, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 26}</string>
			<key>spriteSourceSize</key>
			<string>{29, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{393, 155}, {29, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_29x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {27, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 35}</string>
			<key>spriteSourceSize</key>
			<string>{29, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{418, 36}, {29, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_31x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 29}</string>
			<key>spriteSourceSize</key>
			<string>{31, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 217}, {31, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_31x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 39}</string>
			<key>spriteSourceSize</key>
			<string>{31, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{285, 194}, {31, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_31x39_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 39}</string>
			<key>spriteSourceSize</key>
			<string>{31, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{335, 218}, {31, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_32x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {32, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 55}</string>
			<key>spriteSourceSize</key>
			<string>{32, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 161}, {32, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_35x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {35, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 27}</string>
			<key>spriteSourceSize</key>
			<string>{35, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 188}, {35, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_35x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 36}</string>
			<key>spriteSourceSize</key>
			<string>{35, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 36}, {35, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_37x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {35, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 31}</string>
			<key>spriteSourceSize</key>
			<string>{37, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 155}, {37, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_38x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {38, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 31}</string>
			<key>spriteSourceSize</key>
			<string>{38, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{280, 161}, {38, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_39x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {37, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 30}</string>
			<key>spriteSourceSize</key>
			<string>{39, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{341, 259}, {39, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_39x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {39, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{39, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 105}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_43x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {41, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 32}</string>
			<key>spriteSourceSize</key>
			<string>{43, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 71}, {43, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_43x32_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {43, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 32}</string>
			<key>spriteSourceSize</key>
			<string>{43, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 37}, {43, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_43x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {41, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 35}</string>
			<key>spriteSourceSize</key>
			<string>{43, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 0}, {43, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_45x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 31}</string>
			<key>spriteSourceSize</key>
			<string>{45, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 161}, {45, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_60x328.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 328}</string>
			<key>spriteSourceSize</key>
			<string>{60, 328}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 0}, {60, 328}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_63x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 20}</string>
			<key>spriteSourceSize</key>
			<string>{63, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 488}, {63, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_65x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {65, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 39}</string>
			<key>spriteSourceSize</key>
			<string>{65, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 195}, {65, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_74x127.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {72, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 127}</string>
			<key>spriteSourceSize</key>
			<string>{74, 127}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 330}, {74, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_74x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 83}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_75x81.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {75, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 81}</string>
			<key>spriteSourceSize</key>
			<string>{75, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 0}, {75, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_75x81_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {75, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 81}</string>
			<key>spriteSourceSize</key>
			<string>{75, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{141, 195}, {75, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{241, 272}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 119}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 236}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 83}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_98x34_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{141, 278}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u190e-boss-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 195}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u190e-boss-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>