<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1151e-sally-body_100x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,63}</string>
                <key>textureRect</key>
                <string>{{198,328},{100,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_103x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,61}</string>
                <key>spriteSourceSize</key>
                <string>{103,61}</string>
                <key>textureRect</key>
                <string>{{395,338},{103,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_106x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{106,105}</string>
                <key>textureRect</key>
                <string>{{398,75},{106,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_107x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,67}</string>
                <key>spriteSourceSize</key>
                <string>{107,67}</string>
                <key>textureRect</key>
                <string>{{398,4},{107,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{486,857},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_112x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{193,476},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_112x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{193,395},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_115x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,41}</string>
                <key>spriteSourceSize</key>
                <string>{115,41}</string>
                <key>textureRect</key>
                <string>{{134,911},{115,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_116x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,72}</string>
                <key>textureRect</key>
                <string>{{159,835},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_120x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{170,573},{120,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_125x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,126}</string>
                <key>spriteSourceSize</key>
                <string>{125,126}</string>
                <key>textureRect</key>
                <string>{{170,705},{125,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_126x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{126,58}</string>
                <key>textureRect</key>
                <string>{{4,894},{126,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_130x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,8}</string>
                <key>spriteSourceSize</key>
                <string>{130,8}</string>
                <key>textureRect</key>
                <string>{{203,189},{130,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_14x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{429,935},{14,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_151x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{4,739},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_162x162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{4,573},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{381,840},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{429,921},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{248,556},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{301,907},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{409,934},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{331,811},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_185x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,182}</string>
                <key>spriteSourceSize</key>
                <string>{185,182}</string>
                <key>textureRect</key>
                <string>{{4,387},{185,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_18x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{134,894},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{357,934},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{301,928},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_190x187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,187}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{4,196},{190,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_191x181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,181}</string>
                <key>spriteSourceSize</key>
                <string>{191,181}</string>
                <key>textureRect</key>
                <string>{{203,4},{191,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_195x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{4,4},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{485,546},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_22x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{468,595},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_22x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{468,570},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{482,520},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_25x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{429,896},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{379,934},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{299,811},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_30x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{474,447},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{323,928},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{475,690},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{474,403},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_33x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{445,520},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_36x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{445,550},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{428,574},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{456,500},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{460,819},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_38x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,68}</string>
                <key>spriteSourceSize</key>
                <string>{38,68}</string>
                <key>textureRect</key>
                <string>{{279,835},{38,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{459,799},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_42x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{429,690},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_42x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{440,857},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_43x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{456,470},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{253,911},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_45x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{296,300},{45,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_45x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,95}</string>
                <key>spriteSourceSize</key>
                <string>{45,95}</string>
                <key>textureRect</key>
                <string>{{296,201},{45,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{459,723},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_46x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{459,761},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{351,804},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{434,654},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{376,574},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{434,614},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,68}</string>
                <key>textureRect</key>
                <string>{{351,732},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_48x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,75}</string>
                <key>spriteSourceSize</key>
                <string>{48,75}</string>
                <key>textureRect</key>
                <string>{{299,732},{48,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_50x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{321,892},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_50x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{375,896},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{380,614},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_51x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,11}</string>
                <key>spriteSourceSize</key>
                <string>{51,11}</string>
                <key>textureRect</key>
                <string>{{193,556},{51,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_52x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{403,778},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{403,726},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_53x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{403,820},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_55x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{55,38}</string>
                <key>textureRect</key>
                <string>{{381,854},{55,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_56x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{321,840},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_56x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{369,668},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_64x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{377,520},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_64x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{309,478},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_65x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{309,393},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_66x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{299,668},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{434,269},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_71x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{434,184},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_74x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{74,50}</string>
                <key>textureRect</key>
                <string>{{378,466},{74,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_78x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{294,559},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_82x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{294,615},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_83x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{345,277},{83,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_85x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{345,189},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_89x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,55}</string>
                <key>spriteSourceSize</key>
                <string>{89,55}</string>
                <key>textureRect</key>
                <string>{{302,334},{89,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{486,871},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_92x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,59}</string>
                <key>textureRect</key>
                <string>{{378,403},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_94x123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,123}</string>
                <key>spriteSourceSize</key>
                <string>{94,123}</string>
                <key>textureRect</key>
                <string>{{198,201},{94,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{268,556},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1151e-sally-body.png</string>
            <key>size</key>
            <string>{509,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb798460ac90a0348beb4e2b94b1fb2:04c19696affab806bea98fb03e6ca3b5:fc9cab29563093dde02cf460a4869f36$</string>
            <key>textureFileName</key>
            <string>u1151e-sally-body.png</string>
        </dict>
    </dict>
</plist>
