<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1316e-brown-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{4,274},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_102x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{274,118},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_103x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,64}</string>
                <key>spriteSourceSize</key>
                <string>{103,64}</string>
                <key>textureRect</key>
                <string>{{94,404},{103,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_103x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,74}</string>
                <key>spriteSourceSize</key>
                <string>{103,74}</string>
                <key>textureRect</key>
                <string>{{274,196},{103,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_106x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{370,4},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_124x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,32}</string>
                <key>spriteSourceSize</key>
                <string>{124,32}</string>
                <key>textureRect</key>
                <string>{{380,110},{124,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_12x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{94,379},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_130x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,22}</string>
                <key>textureRect</key>
                <string>{{370,84},{130,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_134x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,28}</string>
                <key>spriteSourceSize</key>
                <string>{134,28}</string>
                <key>textureRect</key>
                <string>{{110,372},{134,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_140x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{110,324},{140,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_140x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{140,46}</string>
                <key>textureRect</key>
                <string>{{110,274},{140,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{485,516},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_15x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{466,516},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{327,555},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_16x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,38}</string>
                <key>textureRect</key>
                <string>{{363,500},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{466,541},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{174,546},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{219,540},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_19x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{443,541},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_19x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{196,540},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_19x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{443,510},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{174,472},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{480,54},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{419,510},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{332,378},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{328,483},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{328,439},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_24x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{356,416},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_24x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{480,4},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_266x266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{266,266}</string>
                <key>textureRect</key>
                <string>{{4,4},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_28x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,138}</string>
                <key>spriteSourceSize</key>
                <string>{28,138}</string>
                <key>textureRect</key>
                <string>{{356,274},{28,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{388,380},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_28x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{388,304},{28,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{432,444},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{398,460},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_30x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{147,498},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{466,322},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{466,268},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{138,546},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{432,482},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{468,482},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{383,502},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{384,420},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{327,515},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{291,514},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{466,450},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_38x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{466,416},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{356,460},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{468,146},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_38x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{466,372},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{466,234},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{466,190},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{420,354},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{245,514},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{420,396},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_42x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{420,304},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_42x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{42,96}</string>
                <key>textureRect</key>
                <string>{{201,404},{42,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_46x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{88,546},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_55x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{88,498},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_60x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{181,504},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_72x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,16}</string>
                <key>textureRect</key>
                <string>{{247,494},{72,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_74x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{388,260},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{381,182},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_76x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,22}</string>
                <key>spriteSourceSize</key>
                <string>{76,22}</string>
                <key>textureRect</key>
                <string>{{94,472},{76,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_77x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{247,439},{77,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_80x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{248,378},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{4,487},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_84x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,32}</string>
                <key>spriteSourceSize</key>
                <string>{84,32}</string>
                <key>textureRect</key>
                <string>{{380,146},{84,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_86x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{86,104}</string>
                <key>textureRect</key>
                <string>{{4,379},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{420,444},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_92x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{274,4},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_92x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,22}</string>
                <key>spriteSourceSize</key>
                <string>{92,22}</string>
                <key>textureRect</key>
                <string>{{254,352},{92,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_98x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{98,74}</string>
                <key>textureRect</key>
                <string>{{254,274},{98,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1316e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{332,418},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1316e-brown-body.png</string>
            <key>size</key>
            <string>{510,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3df3470c9030f1030d13893115e3cd:1bed97f8a56f0d2a1601938915f1bd07:5b93ff84f43f6a82812412e749b5cfd7$</string>
            <key>textureFileName</key>
            <string>u1316e-brown-body.png</string>
        </dict>
    </dict>
</plist>
