<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1394h-brown-body_100x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{660,147},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_100x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{413,2},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_100x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{311,2},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{207,2},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_106x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{882,38},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_106x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{882,2},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_106x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,44}</string>
                <key>textureRect</key>
                <string>{{183,108},{106,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_116x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,38}</string>
                <key>spriteSourceSize</key>
                <string>{116,38}</string>
                <key>textureRect</key>
                <string>{{750,193},{116,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_118x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,86}</string>
                <key>textureRect</key>
                <string>{{384,154},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_128x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{515,2},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_130x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{102,154},{130,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_139x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,150}</string>
                <key>spriteSourceSize</key>
                <string>{139,150}</string>
                <key>textureRect</key>
                <string>{{2,2},{139,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{165,134},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{143,134},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{836,165},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{713,117},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{739,116},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{765,116},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{791,116},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{978,238},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{817,86},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{883,98},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{723,50},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{911,98},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{660,193},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_28x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{690,193},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_28x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{720,193},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,104}</string>
                <key>spriteSourceSize</key>
                <string>{30,104}</string>
                <key>textureRect</key>
                <string>{{175,2},{30,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,130}</string>
                <key>spriteSourceSize</key>
                <string>{30,130}</string>
                <key>textureRect</key>
                <string>{{143,2},{30,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{883,64},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{946,238},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{790,2},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{291,106},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{596,226},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{628,226},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x46_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{691,69},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x46_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{718,2},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{659,69},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{973,168},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{977,132},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{802,144},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{751,44},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{785,44},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{562,230},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{294,244},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{868,187},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{843,83},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{802,233},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_38x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{842,233},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_38x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{762,144},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{750,2},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{935,132},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{927,164},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_45x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{660,235},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_45x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{707,235},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_45x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{819,44},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_45x37_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{822,2},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_45x37_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{836,126},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{904,187},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_46x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{952,202},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{754,233},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{514,230},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_50x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{462,242},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_50x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{883,132},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_52x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{659,119},{52,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_52x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{952,98},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_54x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{330,244},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_56x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{601,78},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_58x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{58,10}</string>
                <key>textureRect</key>
                <string>{{234,258},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_58x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{58,102}</string>
                <key>textureRect</key>
                <string>{{234,154},{58,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_58x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{952,64},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_60x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{323,94},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{453,90},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_62x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{882,225},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{862,165},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_66x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{385,94},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{645,2},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_72x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{504,152},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_74x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,30}</string>
                <key>textureRect</key>
                <string>{{386,242},{74,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{578,150},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{515,78},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_88x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{294,154},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_92x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,20}</string>
                <key>textureRect</key>
                <string>{{723,94},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_98x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{2,154},{98,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1394h-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{311,94},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1394h-brown-body.png</string>
            <key>size</key>
            <string>{1012,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84dc073b63f13ff978ff1c831126622c:d029cba8ee5235b53441266a75d2e268:9ed272b3ad342a7ac239705d58d488d1$</string>
            <key>textureFileName</key>
            <string>u1394h-brown-body.png</string>
        </dict>
    </dict>
</plist>
