<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1014h-cony-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{430,520},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_104x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,139}</string>
                <key>spriteSourceSize</key>
                <string>{104,139}</string>
                <key>textureRect</key>
                <string>{{318,395},{104,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_105x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,120}</string>
                <key>spriteSourceSize</key>
                <string>{105,120}</string>
                <key>textureRect</key>
                <string>{{321,538},{105,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_105x120_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,120}</string>
                <key>spriteSourceSize</key>
                <string>{105,120}</string>
                <key>textureRect</key>
                <string>{{426,396},{105,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{589,825},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_10x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{365,662},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_117x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,151}</string>
                <key>spriteSourceSize</key>
                <string>{117,151}</string>
                <key>textureRect</key>
                <string>{{492,127},{117,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_117x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,52}</string>
                <key>spriteSourceSize</key>
                <string>{117,52}</string>
                <key>textureRect</key>
                <string>{{232,876},{117,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_119x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{492,4},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_120x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{483,282},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{537,874},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_136x219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,219}</string>
                <key>spriteSourceSize</key>
                <string>{136,219}</string>
                <key>textureRect</key>
                <string>{{178,326},{136,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_139x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{178,549},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{326,242},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{4,948},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_162x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{326,4},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{589,810},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{585,754},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_16x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{585,724},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_170x370.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,370}</string>
                <key>spriteSourceSize</key>
                <string>{170,370}</string>
                <key>textureRect</key>
                <string>{{4,326},{170,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_180x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{196,692},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_188x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,186}</string>
                <key>textureRect</key>
                <string>{{4,700},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{515,874},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{585,782},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_18x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{353,876},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_20x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,6}</string>
                <key>spriteSourceSize</key>
                <string>{20,6}</string>
                <key>textureRect</key>
                <string>{{4,1014},{20,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_224x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,54}</string>
                <key>spriteSourceSize</key>
                <string>{224,54}</string>
                <key>textureRect</key>
                <string>{{4,890},{224,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{589,690},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{587,670},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_26x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,54}</string>
                <key>textureRect</key>
                <string>{{316,932},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_26x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,54}</string>
                <key>textureRect</key>
                <string>{{443,888},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_26x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,92}</string>
                <key>spriteSourceSize</key>
                <string>{26,92}</string>
                <key>textureRect</key>
                <string>{{463,649},{26,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{444,946},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{504,625},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{352,990},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_30x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{559,894},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_30x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{559,894},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_318x318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,318}</string>
                <key>spriteSourceSize</key>
                <string>{318,318}</string>
                <key>textureRect</key>
                <string>{{4,4},{318,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_32x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{536,486},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_32x104_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{572,486},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{316,990},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{553,814},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_32x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{553,854},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{476,941},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_34x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{515,826},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_34x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{505,776},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_34x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,48}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{505,724},{34,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_34x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{467,787},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_36x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{473,885},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{463,745},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{543,718},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_38x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{543,766},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_40x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,10}</string>
                <key>textureRect</key>
                <string>{{167,1000},{40,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{321,662},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{514,934},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{400,948},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{543,670},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{513,894},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{514,974},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_44x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{559,928},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{467,843},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_46x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{493,675},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_50x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{346,948},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{167,948},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_56x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{386,992},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_56x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{446,989},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_56x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,32}</string>
                <key>textureRect</key>
                <string>{{536,634},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_64x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{536,594},{64,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_70x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,20}</string>
                <key>spriteSourceSize</key>
                <string>{70,20}</string>
                <key>textureRect</key>
                <string>{{430,625},{70,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_74x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{535,396},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_79x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,122}</string>
                <key>spriteSourceSize</key>
                <string>{79,122}</string>
                <key>textureRect</key>
                <string>{{380,662},{79,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_80x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{232,932},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_83x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{380,788},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_86x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,56}</string>
                <key>spriteSourceSize</key>
                <string>{86,56}</string>
                <key>textureRect</key>
                <string>{{353,888},{86,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1014h-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{430,649},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1014h-cony-body.png</string>
            <key>size</key>
            <string>{615,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f8156bb12d57bb664d96fd30683906c:58137f64aed84ca9ad86bbd2267173c1:f8cfcd6836e0b7c420df9b2abc4ef5fe$</string>
            <key>textureFileName</key>
            <string>u1014h-cony-body.png</string>
        </dict>
    </dict>
</plist>
