<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40003-ron-bul2_36x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{4,4},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40003-ron-bul2.png</string>
            <key>size</key>
            <string>{44,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c113fbd29264ba81fb5dfabfbf60e9:934aadd571d863e8d04eb81c64cd3ceb:04ce9a476b0c5ae2083ddf64f7c49f07$</string>
            <key>textureFileName</key>
            <string>u40003-ron-bul2.png</string>
        </dict>
    </dict>
</plist>
