<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u99005-tuto-ted-bul2_122x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{4,599},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_122x120_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{4,723},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_135x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,132}</string>
                <key>spriteSourceSize</key>
                <string>{135,132}</string>
                <key>textureRect</key>
                <string>{{4,463},{135,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{4,322},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{4,168},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{4,4},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{130,645},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{130,599},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{98,926},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_75x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{98,847},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u99005-tuto-ted-bul2_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{4,847},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u99005-tuto-ted-bul2.png</string>
            <key>size</key>
            <string>{177,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44a35d4de510d75fac7c692a2762623:6902e121c58816c302f0e40576df65dd:a31113b5c2d468a6878bee4574262c7c$</string>
            <key>textureFileName</key>
            <string>u99005-tuto-ted-bul2.png</string>
        </dict>
    </dict>
</plist>
