<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1169u-erwin-bul3_104x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{104,110}</string>
                <key>textureRect</key>
                <string>{{124,312},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_108x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,76}</string>
                <key>spriteSourceSize</key>
                <string>{108,76}</string>
                <key>textureRect</key>
                <string>{{362,330},{108,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_116x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{116,120}</string>
                <key>textureRect</key>
                <string>{{4,312},{116,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_126x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{232,312},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_128x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,34}</string>
                <key>textureRect</key>
                <string>{{4,204},{128,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{475,76},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_208x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,43}</string>
                <key>spriteSourceSize</key>
                <string>{208,43}</string>
                <key>textureRect</key>
                <string>{{229,203},{208,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{476,4},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{476,40},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_219x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,43}</string>
                <key>spriteSourceSize</key>
                <string>{219,43}</string>
                <key>textureRect</key>
                <string>{{229,156},{219,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_221x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,46}</string>
                <key>spriteSourceSize</key>
                <string>{221,46}</string>
                <key>textureRect</key>
                <string>{{4,154},{221,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_222x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,46}</string>
                <key>spriteSourceSize</key>
                <string>{222,46}</string>
                <key>textureRect</key>
                <string>{{233,106},{222,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_225x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,46}</string>
                <key>spriteSourceSize</key>
                <string>{225,46}</string>
                <key>textureRect</key>
                <string>{{4,104},{225,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_228x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,43}</string>
                <key>spriteSourceSize</key>
                <string>{228,43}</string>
                <key>textureRect</key>
                <string>{{4,57},{228,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_231x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,46}</string>
                <key>spriteSourceSize</key>
                <string>{231,46}</string>
                <key>textureRect</key>
                <string>{{240,56},{231,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_232x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,48}</string>
                <key>spriteSourceSize</key>
                <string>{232,48}</string>
                <key>textureRect</key>
                <string>{{240,4},{232,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_232x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{4,4},{232,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{448,410},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{96,436},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_32x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,76}</string>
                <key>spriteSourceSize</key>
                <string>{32,76}</string>
                <key>textureRect</key>
                <string>{{388,250},{32,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_34x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{236,250},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_34x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{274,250},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_34x58_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{312,250},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_34x58_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{350,250},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_36x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{56,436},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_38x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{152,250},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_38x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{194,250},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_38x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{230,426},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_40x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{452,170},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_40x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{64,250},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_40x58_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{108,250},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_40x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{459,106},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_48x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{4,436},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_56x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{4,250},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_58x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{58,76}</string>
                <key>textureRect</key>
                <string>{{441,232},{58,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_72x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{152,204},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_80x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{364,410},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_88x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{88,74}</string>
                <key>textureRect</key>
                <string>{{272,418},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1169u-erwin-bul3_96x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,66}</string>
                <key>textureRect</key>
                <string>{{130,426},{96,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1169u-erwin-bul3.png</string>
            <key>size</key>
            <string>{503,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f090e39f81041975619021b8237ce06a:390fb7281312e1e0cc986894320738f0:cf348bf29bfd535d9d1bf0b9b35797d6$</string>
            <key>textureFileName</key>
            <string>u1169u-erwin-bul3.png</string>
        </dict>
    </dict>
</plist>
