<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1148u-souei-bul3_100x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{250,379},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_104x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,120}</string>
                <key>spriteSourceSize</key>
                <string>{104,120}</string>
                <key>textureRect</key>
                <string>{{494,363},{104,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_104x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,158}</string>
                <key>spriteSourceSize</key>
                <string>{104,158}</string>
                <key>textureRect</key>
                <string>{{250,217},{104,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_106x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,188}</string>
                <key>spriteSourceSize</key>
                <string>{106,188}</string>
                <key>textureRect</key>
                <string>{{28,235},{106,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_108x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,164}</string>
                <key>spriteSourceSize</key>
                <string>{108,164}</string>
                <key>textureRect</key>
                <string>{{138,244},{108,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_110x227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,227}</string>
                <key>spriteSourceSize</key>
                <string>{110,227}</string>
                <key>textureRect</key>
                <string>{{28,4},{110,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_110x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{602,385},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_110x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{602,427},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_112x209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,209}</string>
                <key>spriteSourceSize</key>
                <string>{112,209}</string>
                <key>textureRect</key>
                <string>{{244,4},{112,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_114x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,68}</string>
                <key>textureRect</key>
                <string>{{616,286},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_124x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{488,253},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_124x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{526,141},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_126x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{654,178},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_126x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{126,144}</string>
                <key>textureRect</key>
                <string>{{358,252},{126,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_128x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{700,84},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_136x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{354,400},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_140x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,23}</string>
                <key>spriteSourceSize</key>
                <string>{140,23}</string>
                <key>textureRect</key>
                <string>{{616,358},{140,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_148x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,76}</string>
                <key>textureRect</key>
                <string>{{700,4},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_156x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,133}</string>
                <key>spriteSourceSize</key>
                <string>{156,133}</string>
                <key>textureRect</key>
                <string>{{540,4},{156,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_162x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,116}</string>
                <key>spriteSourceSize</key>
                <string>{162,116}</string>
                <key>textureRect</key>
                <string>{{360,132},{162,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_176x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{360,4},{176,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_201x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,62}</string>
                <key>spriteSourceSize</key>
                <string>{201,62}</string>
                <key>textureRect</key>
                <string>{{4,427},{201,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_20x418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,418}</string>
                <key>spriteSourceSize</key>
                <string>{20,418}</string>
                <key>textureRect</key>
                <string>{{4,4},{20,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{654,141},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_32x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{716,385},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{784,250},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{794,286},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{209,454},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{209,412},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_48x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{794,330},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{752,408},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_56x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{734,286},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_62x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{760,358},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_64x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{784,178},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_74x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{602,469},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148u-souei-bul3_98x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,236}</string>
                <key>spriteSourceSize</key>
                <string>{98,236}</string>
                <key>textureRect</key>
                <string>{{142,4},{98,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1148u-souei-bul3.png</string>
            <key>size</key>
            <string>{852,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ebc2f69b32dc306fe1f9f3f34ec715:cb5fc13343fb43c05f7edd8b10e13425:06b87039329941efa550f1bff9064172$</string>
            <key>textureFileName</key>
            <string>u1148u-souei-bul3.png</string>
        </dict>
    </dict>
</plist>
