<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91121-tori-body_108x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,20}</string>
                <key>spriteSourceSize</key>
                <string>{108,20}</string>
                <key>textureRect</key>
                <string>{{119,168},{108,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_111x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,77}</string>
                <key>spriteSourceSize</key>
                <string>{111,77}</string>
                <key>textureRect</key>
                <string>{{4,260},{111,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_111x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,78}</string>
                <key>spriteSourceSize</key>
                <string>{111,78}</string>
                <key>textureRect</key>
                <string>{{4,4},{111,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_111x78_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,78}</string>
                <key>spriteSourceSize</key>
                <string>{111,78}</string>
                <key>textureRect</key>
                <string>{{119,4},{111,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_111x78_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,78}</string>
                <key>spriteSourceSize</key>
                <string>{111,78}</string>
                <key>textureRect</key>
                <string>{{4,86},{111,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_111x78_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,78}</string>
                <key>spriteSourceSize</key>
                <string>{111,78}</string>
                <key>textureRect</key>
                <string>{{119,86},{111,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{93,244},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{93,224},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{111,224},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{61,224},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{209,248},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_34x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{131,192},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{169,248},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_46x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{173,292},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_46x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{119,239},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_50x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{119,299},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_53x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,88}</string>
                <key>spriteSourceSize</key>
                <string>{53,88}</string>
                <key>textureRect</key>
                <string>{{4,168},{53,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{61,168},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_54x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{173,192},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91121-tori-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{231,168},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91121-tori-body.png</string>
            <key>size</key>
            <string>{244,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5542e74b20a75c586556a6e96c315b8a:f7862c3221d1e5ab0fa713e941347ede:be6bc3dc33efb476b1c7afce40123a0f$</string>
            <key>textureFileName</key>
            <string>u91121-tori-body.png</string>
        </dict>
    </dict>
</plist>
