<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40002-ham-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{116,158},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_16x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{116,144},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_16x10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{136,158},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{136,140},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_18x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{156,158},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{82,144},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_32x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{164,4},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_34x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{82,90},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_36x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{120,90},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_36x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{160,58},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_36x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{160,108},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_56x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,38}</string>
                <key>textureRect</key>
                <string>{{94,48},{56,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_63x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,19}</string>
                <key>spriteSourceSize</key>
                <string>{63,19}</string>
                <key>textureRect</key>
                <string>{{4,146},{63,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_66x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,40}</string>
                <key>spriteSourceSize</key>
                <string>{66,40}</string>
                <key>textureRect</key>
                <string>{{94,4},{66,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_74x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{4,88},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_86x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{86,80}</string>
                <key>textureRect</key>
                <string>{{4,4},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u40002-ham-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{178,158},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40002-ham-body.png</string>
            <key>size</key>
            <string>{200,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2bded416e7c053e9b273a2846409aeb:4d13e243b61974b2fe400fe2ff475dec:9535698c430378ac9279b3c10ae82d03$</string>
            <key>textureFileName</key>
            <string>u40002-ham-body.png</string>
        </dict>
    </dict>
</plist>
