<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1346e-sv-body_110x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{415,353},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_110x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{520,122},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_114x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{518,4},{114,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_114x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,68}</string>
                <key>textureRect</key>
                <string>{{636,4},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_124x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{262,175},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_124x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{262,63},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{262,285},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_126x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{390,63},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_128x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{390,171},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_136x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{390,265},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{102,330},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{390,353},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{686,129},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{493,24},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_20x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{860,373},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_22x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{817,231},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{859,132},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{859,100},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_254x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,31}</string>
                <key>spriteSourceSize</key>
                <string>{254,31}</string>
                <key>textureRect</key>
                <string>{{4,295},{254,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_254x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,51}</string>
                <key>spriteSourceSize</key>
                <string>{254,51}</string>
                <key>textureRect</key>
                <string>{{4,240},{254,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_254x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,82}</string>
                <key>spriteSourceSize</key>
                <string>{254,82}</string>
                <key>textureRect</key>
                <string>{{4,154},{254,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_254x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,87}</string>
                <key>spriteSourceSize</key>
                <string>{254,87}</string>
                <key>textureRect</key>
                <string>{{4,63},{254,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{851,74},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{858,325},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{858,349},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{858,295},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{533,385},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{843,183},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{698,302},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{856,267},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{820,277},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_32x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{787,121},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_32x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{823,121},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{820,323},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_34x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{34,54}</string>
                <key>textureRect</key>
                <string>{{731,235},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_34x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{34,64}</string>
                <key>textureRect</key>
                <string>{{709,129},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{709,197},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{843,225},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{732,293},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,58}</string>
                <key>textureRect</key>
                <string>{{690,360},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,58}</string>
                <key>textureRect</key>
                <string>{{730,360},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{747,121},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_36x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,66}</string>
                <key>spriteSourceSize</key>
                <string>{36,66}</string>
                <key>textureRect</key>
                <string>{{851,4},{36,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{818,373},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_42x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{447,24},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{749,189},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_439x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,35}</string>
                <key>spriteSourceSize</key>
                <string>{439,35}</string>
                <key>textureRect</key>
                <string>{{4,24},{439,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{772,331},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{770,373},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{642,355},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{795,183},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{769,235},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_44x44_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{772,283},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{483,395},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{634,122},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_48x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{657,164},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_510x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,16}</string>
                <key>spriteSourceSize</key>
                <string>{510,16}</string>
                <key>textureRect</key>
                <string>{{4,4},{510,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{247,369},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{303,369},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{359,369},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{691,76},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{586,300},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{530,332},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{586,353},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x49_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{642,302},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_52x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{530,254},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{665,235},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_63x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{522,164},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{415,395},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_64x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{589,164},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_72x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{615,76},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_72x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{589,236},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{520,28},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_93x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{754,4},{93,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_94x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{747,87},{94,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_94x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{4,330},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1346e-sv-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{732,347},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1346e-sv-body.png</string>
            <key>size</key>
            <string>{892,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77633c6615ad5702d2bac655b3963c5:84227241ee987e18d9e743efffc7c3d2:83d2d3a0a607952b9ed41c43ff3f7a55$</string>
            <key>textureFileName</key>
            <string>u1346e-sv-body.png</string>
        </dict>
    </dict>
</plist>
