<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91084-ade-body_14x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{37,2},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_14x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{17,2},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_15x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,6}</string>
                <key>spriteSourceSize</key>
                <string>{15,6}</string>
                <key>textureRect</key>
                <string>{{2,2},{15,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{38,19},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{20,19},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{2,19},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{2,44},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{2,77},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{22,44},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_38x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{54,19},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_42x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{48,44},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_54x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,17}</string>
                <key>spriteSourceSize</key>
                <string>{54,17}</string>
                <key>textureRect</key>
                <string>{{51,2},{54,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_6x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,11}</string>
                <key>spriteSourceSize</key>
                <string>{6,11}</string>
                <key>textureRect</key>
                <string>{{31,2},{6,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_74x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{26,77},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{2,281},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_94x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{94,100}</string>
                <key>textureRect</key>
                <string>{{2,373},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_98x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{98,78}</string>
                <key>textureRect</key>
                <string>{{2,125},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91084-ade-body_98x78_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{98,78}</string>
                <key>textureRect</key>
                <string>{{2,203},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91084-ade-body.png</string>
            <key>size</key>
            <string>{107,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15196e0fd993cb3eb7f470df338ad0f6:9499391105e5d17504c4e31a4e503b75:9dda65028fc0cde5ba2b1558119ba9d8$</string>
            <key>textureFileName</key>
            <string>u91084-ade-body.png</string>
        </dict>
    </dict>
</plist>
