<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u90248-cruyff-bul_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{101,4},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90248-cruyff-bul_64x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{165,4},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90248-cruyff-bul_93x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,46}</string>
                <key>spriteSourceSize</key>
                <string>{93,46}</string>
                <key>textureRect</key>
                <string>{{4,4},{93,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u90248-cruyff-bul.png</string>
            <key>size</key>
            <string>{233,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04fb6def7edfdd7a17e5cb6c5c87842:26908fe1e90e643566936351fdfe13c0:0c35ac0522d37d8f0ae74a042a361812$</string>
            <key>textureFileName</key>
            <string>u90248-cruyff-bul.png</string>
        </dict>
    </dict>
</plist>
