<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91124-shaun-body_100x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{4,144},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_102x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,38}</string>
                <key>spriteSourceSize</key>
                <string>{102,38}</string>
                <key>textureRect</key>
                <string>{{186,108},{102,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_102x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,38}</string>
                <key>spriteSourceSize</key>
                <string>{102,38}</string>
                <key>textureRect</key>
                <string>{{282,184},{102,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_106x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{292,148},{106,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_106x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{282,226},{106,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_110x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{168,150},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_110x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{168,194},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_110x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{280,60},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_110x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{292,104},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_118x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,20}</string>
                <key>spriteSourceSize</key>
                <string>{118,20}</string>
                <key>textureRect</key>
                <string>{{100,238},{118,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_126x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,52}</string>
                <key>spriteSourceSize</key>
                <string>{126,52}</string>
                <key>textureRect</key>
                <string>{{314,4},{126,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{212,360},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{388,184},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_178x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,126}</string>
                <key>spriteSourceSize</key>
                <string>{178,126}</string>
                <key>textureRect</key>
                <string>{{4,14},{178,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{428,292},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{416,322},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{436,268},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{390,322},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{382,346},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{436,204},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_22x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{436,236},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{352,344},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{280,14},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_306x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,6}</string>
                <key>spriteSourceSize</key>
                <string>{306,6}</string>
                <key>textureRect</key>
                <string>{{4,4},{306,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{352,304},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_34x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{390,282},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_40x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{392,204},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_46x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{162,304},{46,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_48x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{4,320},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_48x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{56,320},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_50x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{108,304},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_54x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{406,60},{54,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_54x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{406,132},{54,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_54x68_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{294,304},{54,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_56x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{222,238},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_56x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{108,144},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_78x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{212,310},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{186,14},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_92x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{4,238},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_98x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{100,262},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91124-shaun-body_98x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{282,262},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91124-shaun-body.png</string>
            <key>size</key>
            <string>{464,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb7166ef992c02a15fa5ff504c7d88a:75f7932a969583e36b8dc657096a23ad:fa5584fc4d391ef33e1cd8fec35ff4a1$</string>
            <key>textureFileName</key>
            <string>u91124-shaun-body.png</string>
        </dict>
    </dict>
</plist>
