<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u1613u-moon-body_104x81.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,81}</string>
			<key>spriteSourceSize</key>
			<string>{104,81}</string>
			<key>textureRect</key>
			<string>{{0,178},{104,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_10x10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{606,596},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_110x143.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,143}</string>
			<key>spriteSourceSize</key>
			<string>{110,143}</string>
			<key>textureRect</key>
			<string>{{475,0},{110,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_115x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,20}</string>
			<key>spriteSourceSize</key>
			<string>{115,20}</string>
			<key>textureRect</key>
			<string>{{300,598},{115,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_12x22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,22}</string>
			<key>spriteSourceSize</key>
			<string>{12,22}</string>
			<key>textureRect</key>
			<string>{{0,594},{12,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_132x33.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,33}</string>
			<key>spriteSourceSize</key>
			<string>{132,33}</string>
			<key>textureRect</key>
			<string>{{305,564},{132,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_136x155.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{136,155}</string>
			<key>spriteSourceSize</key>
			<string>{136,155}</string>
			<key>textureRect</key>
			<string>{{338,0},{136,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_14x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,26}</string>
			<key>spriteSourceSize</key>
			<string>{14,26}</string>
			<key>textureRect</key>
			<string>{{549,593},{14,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_150x43.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,43}</string>
			<key>spriteSourceSize</key>
			<string>{150,43}</string>
			<key>textureRect</key>
			<string>{{0,440},{150,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_150x43_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,43}</string>
			<key>spriteSourceSize</key>
			<string>{150,43}</string>
			<key>textureRect</key>
			<string>{{151,442},{150,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_150x43_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,43}</string>
			<key>spriteSourceSize</key>
			<string>{150,43}</string>
			<key>textureRect</key>
			<string>{{0,484},{150,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_150x43_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,43}</string>
			<key>spriteSourceSize</key>
			<string>{150,43}</string>
			<key>textureRect</key>
			<string>{{151,486},{150,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_159x158.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{159,158}</string>
			<key>spriteSourceSize</key>
			<string>{159,158}</string>
			<key>textureRect</key>
			<string>{{178,0},{159,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_161x109.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,109}</string>
			<key>spriteSourceSize</key>
			<string>{161,109}</string>
			<key>textureRect</key>
			<string>{{475,144},{161,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,11}</string>
			<key>spriteSourceSize</key>
			<string>{16,11}</string>
			<key>textureRect</key>
			<string>{{589,596},{16,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_177x177.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{177,177}</string>
			<key>spriteSourceSize</key>
			<string>{177,177}</string>
			<key>textureRect</key>
			<string>{{0,0},{177,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_17x32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,32}</string>
			<key>spriteSourceSize</key>
			<string>{17,32}</string>
			<key>textureRect</key>
			<string>{{495,562},{17,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{467,595},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_18x29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,29}</string>
			<key>spriteSourceSize</key>
			<string>{18,29}</string>
			<key>textureRect</key>
			<string>{{549,563},{18,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_19x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,50}</string>
			<key>spriteSourceSize</key>
			<string>{19,50}</string>
			<key>textureRect</key>
			<string>{{418,386},{19,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_19x50_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,50}</string>
			<key>spriteSourceSize</key>
			<string>{19,50}</string>
			<key>textureRect</key>
			<string>{{30,389},{19,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_19x50_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,50}</string>
			<key>spriteSourceSize</key>
			<string>{19,50}</string>
			<key>textureRect</key>
			<string>{{50,389},{19,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_19x57.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,57}</string>
			<key>spriteSourceSize</key>
			<string>{19,57}</string>
			<key>textureRect</key>
			<string>{{418,328},{19,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_19x59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,59}</string>
			<key>spriteSourceSize</key>
			<string>{19,59}</string>
			<key>textureRect</key>
			<string>{{74,322},{19,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_20x15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,15}</string>
			<key>spriteSourceSize</key>
			<string>{20,15}</string>
			<key>textureRect</key>
			<string>{{518,596},{20,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_21x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,30}</string>
			<key>spriteSourceSize</key>
			<string>{21,30}</string>
			<key>textureRect</key>
			<string>{{124,563},{21,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_21x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,50}</string>
			<key>spriteSourceSize</key>
			<string>{21,50}</string>
			<key>textureRect</key>
			<string>{{603,431},{21,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_21x51.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,51}</string>
			<key>spriteSourceSize</key>
			<string>{21,51}</string>
			<key>textureRect</key>
			<string>{{394,387},{21,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_22x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,52}</string>
			<key>spriteSourceSize</key>
			<string>{22,52}</string>
			<key>textureRect</key>
			<string>{{309,387},{22,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_22x53.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,53}</string>
			<key>spriteSourceSize</key>
			<string>{22,53}</string>
			<key>textureRect</key>
			<string>{{603,377},{22,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_22x8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,8}</string>
			<key>spriteSourceSize</key>
			<string>{22,8}</string>
			<key>textureRect</key>
			<string>{{606,607},{22,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_23x34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,34}</string>
			<key>spriteSourceSize</key>
			<string>{23,34}</string>
			<key>textureRect</key>
			<string>{{124,528},{23,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_24x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{564,596},{24,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_24x35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,35}</string>
			<key>spriteSourceSize</key>
			<string>{24,35}</string>
			<key>textureRect</key>
			<string>{{302,524},{24,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_24x60.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,60}</string>
			<key>spriteSourceSize</key>
			<string>{24,60}</string>
			<key>textureRect</key>
			<string>{{612,316},{24,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_24x61.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,61}</string>
			<key>spriteSourceSize</key>
			<string>{24,61}</string>
			<key>textureRect</key>
			<string>{{612,254},{24,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_24x61_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,61}</string>
			<key>spriteSourceSize</key>
			<string>{24,61}</string>
			<key>textureRect</key>
			<string>{{74,260},{24,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_27x39.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,39}</string>
			<key>spriteSourceSize</key>
			<string>{27,39}</string>
			<key>textureRect</key>
			<string>{{446,483},{27,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_27x39_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,39}</string>
			<key>spriteSourceSize</key>
			<string>{27,39}</string>
			<key>textureRect</key>
			<string>{{557,486},{27,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_27x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,41}</string>
			<key>spriteSourceSize</key>
			<string>{27,41}</string>
			<key>textureRect</key>
			<string>{{302,482},{27,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_28x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,20}</string>
			<key>spriteSourceSize</key>
			<string>{28,20}</string>
			<key>textureRect</key>
			<string>{{438,595},{28,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_28x28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{0,565},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_28x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,58}</string>
			<key>spriteSourceSize</key>
			<string>{28,58}</string>
			<key>textureRect</key>
			<string>{{389,328},{28,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_28x72.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,72}</string>
			<key>spriteSourceSize</key>
			<string>{28,72}</string>
			<key>textureRect</key>
			<string>{{184,251},{28,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_29x35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,35}</string>
			<key>spriteSourceSize</key>
			<string>{29,35}</string>
			<key>textureRect</key>
			<string>{{31,528},{29,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_29x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,41}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{302,440},{29,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_29x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,50}</string>
			<key>spriteSourceSize</key>
			<string>{29,50}</string>
			<key>textureRect</key>
			<string>{{0,389},{29,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_30x36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,36}</string>
			<key>spriteSourceSize</key>
			<string>{30,36}</string>
			<key>textureRect</key>
			<string>{{540,526},{30,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_30x36_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,36}</string>
			<key>spriteSourceSize</key>
			<string>{30,36}</string>
			<key>textureRect</key>
			<string>{{0,528},{30,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_30x47.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,47}</string>
			<key>spriteSourceSize</key>
			<string>{30,47}</string>
			<key>textureRect</key>
			<string>{{557,438},{30,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_30x51.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,51}</string>
			<key>spriteSourceSize</key>
			<string>{30,51}</string>
			<key>textureRect</key>
			<string>{{332,387},{30,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_30x51_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,51}</string>
			<key>spriteSourceSize</key>
			<string>{30,51}</string>
			<key>textureRect</key>
			<string>{{363,387},{30,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_31x17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,17}</string>
			<key>textureRect</key>
			<string>{{486,596},{31,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_31x37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,37}</string>
			<key>spriteSourceSize</key>
			<string>{31,37}</string>
			<key>textureRect</key>
			<string>{{585,524},{31,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_32x32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{495,529},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_32x39.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,39}</string>
			<key>spriteSourceSize</key>
			<string>{32,39}</string>
			<key>textureRect</key>
			<string>{{474,489},{32,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_32x39_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,39}</string>
			<key>spriteSourceSize</key>
			<string>{32,39}</string>
			<key>textureRect</key>
			<string>{{507,489},{32,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_33x34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{461,529},{33,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_33x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,41}</string>
			<key>spriteSourceSize</key>
			<string>{33,41}</string>
			<key>textureRect</key>
			<string>{{588,482},{33,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_33x89.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,89}</string>
			<key>spriteSourceSize</key>
			<string>{33,89}</string>
			<key>textureRect</key>
			<string>{{229,159},{33,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_34x29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,29}</string>
			<key>textureRect</key>
			<string>{{146,565},{34,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_35x32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,32}</string>
			<key>spriteSourceSize</key>
			<string>{35,32}</string>
			<key>textureRect</key>
			<string>{{513,563},{35,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_37x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,41}</string>
			<key>spriteSourceSize</key>
			<string>{37,41}</string>
			<key>textureRect</key>
			<string>{{408,483},{37,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_41x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,30}</string>
			<key>spriteSourceSize</key>
			<string>{41,30}</string>
			<key>textureRect</key>
			<string>{{80,564},{41,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_45x21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,21}</string>
			<key>spriteSourceSize</key>
			<string>{45,21}</string>
			<key>textureRect</key>
			<string>{{127,595},{45,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_45x79.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,79}</string>
			<key>spriteSourceSize</key>
			<string>{45,79}</string>
			<key>textureRect</key>
			<string>{{263,159},{45,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_46x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,24}</string>
			<key>spriteSourceSize</key>
			<string>{46,24}</string>
			<key>textureRect</key>
			<string>{{80,595},{46,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_46x34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,34}</string>
			<key>spriteSourceSize</key>
			<string>{46,34}</string>
			<key>textureRect</key>
			<string>{{148,530},{46,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_46x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,34}</string>
			<key>spriteSourceSize</key>
			<string>{46,34}</string>
			<key>textureRect</key>
			<string>{{195,530},{46,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_47x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,26}</string>
			<key>spriteSourceSize</key>
			<string>{47,26}</string>
			<key>textureRect</key>
			<string>{{252,594},{47,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_48x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,30}</string>
			<key>spriteSourceSize</key>
			<string>{48,30}</string>
			<key>textureRect</key>
			<string>{{438,564},{48,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_48x31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,31}</string>
			<key>spriteSourceSize</key>
			<string>{48,31}</string>
			<key>textureRect</key>
			<string>{{31,564},{48,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_49x20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,20}</string>
			<key>spriteSourceSize</key>
			<string>{49,20}</string>
			<key>textureRect</key>
			<string>{{13,596},{49,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_50x91.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,91}</string>
			<key>spriteSourceSize</key>
			<string>{50,91}</string>
			<key>textureRect</key>
			<string>{{178,159},{50,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{538,328},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{94,330},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{438,330},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{493,383},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{548,383},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{74,385},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{129,385},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{438,385},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_54x54_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{184,387},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_56x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,58}</string>
			<key>textureRect</key>
			<string>{{332,328},{56,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_57x92.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,92}</string>
			<key>spriteSourceSize</key>
			<string>{57,92}</string>
			<key>textureRect</key>
			<string>{{338,156},{57,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_57x92_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,92}</string>
			<key>spriteSourceSize</key>
			<string>{57,92}</string>
			<key>textureRect</key>
			<string>{{396,156},{57,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_58x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{273,328},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_60x64.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{0,260},{60,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_62x33.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,33}</string>
			<key>spriteSourceSize</key>
			<string>{62,33}</string>
			<key>textureRect</key>
			<string>{{327,530},{62,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_62x33_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,33}</string>
			<key>spriteSourceSize</key>
			<string>{62,33}</string>
			<key>textureRect</key>
			<string>{{242,560},{62,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_62x33_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,33}</string>
			<key>spriteSourceSize</key>
			<string>{62,33}</string>
			<key>textureRect</key>
			<string>{{571,562},{62,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_62x35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,35}</string>
			<key>spriteSourceSize</key>
			<string>{62,35}</string>
			<key>textureRect</key>
			<string>{{61,528},{62,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_62x78.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,78}</string>
			<key>spriteSourceSize</key>
			<string>{62,78}</string>
			<key>textureRect</key>
			<string>{{401,249},{62,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_63x50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,50}</string>
			<key>spriteSourceSize</key>
			<string>{63,50}</string>
			<key>textureRect</key>
			<string>{{493,438},{63,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_64x40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,40}</string>
			<key>spriteSourceSize</key>
			<string>{64,40}</string>
			<key>textureRect</key>
			<string>{{330,489},{64,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_65x38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,38}</string>
			<key>spriteSourceSize</key>
			<string>{65,38}</string>
			<key>textureRect</key>
			<string>{{395,525},{65,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_69x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,52}</string>
			<key>spriteSourceSize</key>
			<string>{69,52}</string>
			<key>textureRect</key>
			<string>{{239,387},{69,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_70x27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,27}</string>
			<key>spriteSourceSize</key>
			<string>{70,27}</string>
			<key>textureRect</key>
			<string>{{181,594},{70,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_73x63.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,63}</string>
			<key>spriteSourceSize</key>
			<string>{73,63}</string>
			<key>textureRect</key>
			<string>{{0,325},{73,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_73x73.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,73}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{538,254},{73,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_73x75.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,75}</string>
			<key>spriteSourceSize</key>
			<string>{73,75}</string>
			<key>textureRect</key>
			<string>{{464,254},{73,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_75x49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,49}</string>
			<key>spriteSourceSize</key>
			<string>{75,49}</string>
			<key>textureRect</key>
			<string>{{332,439},{75,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_76x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,42}</string>
			<key>spriteSourceSize</key>
			<string>{76,42}</string>
			<key>textureRect</key>
			<string>{{408,440},{76,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_78x78.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,78}</string>
			<key>spriteSourceSize</key>
			<string>{78,78}</string>
			<key>textureRect</key>
			<string>{{105,251},{78,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_85x78.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,78}</string>
			<key>spriteSourceSize</key>
			<string>{85,78}</string>
			<key>textureRect</key>
			<string>{{229,249},{85,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_85x78_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,78}</string>
			<key>spriteSourceSize</key>
			<string>{85,78}</string>
			<key>textureRect</key>
			<string>{{315,249},{85,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_88x58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,58}</string>
			<key>spriteSourceSize</key>
			<string>{88,58}</string>
			<key>textureRect</key>
			<string>{{184,328},{88,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_9x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,14}</string>
			<key>spriteSourceSize</key>
			<string>{9,14}</string>
			<key>textureRect</key>
			<string>{{63,596},{9,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1613u-moon-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,9}</string>
			<key>spriteSourceSize</key>
			<string>{9,9}</string>
			<key>textureRect</key>
			<string>{{539,596},{9,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u1613u-moon-body.png</string>
		<key>size</key>
		<string>{636,621}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u1613u-moon-body.png</string>
	</dict>
</dict>
</plist>
