<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1305e-az-bul_102x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{4,4},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{320,191},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_44x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{44,72}</string>
                <key>textureRect</key>
                <string>{{104,86},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_45x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{379,182},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_49x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{49,69}</string>
                <key>textureRect</key>
                <string>{{212,84},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_51x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{265,185},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_51x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{324,136},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_52x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{209,159},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{153,159},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_53x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{379,127},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_55x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{265,136},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_55x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{94,167},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_56x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{152,84},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_59x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,74}</string>
                <key>spriteSourceSize</key>
                <string>{59,74}</string>
                <key>textureRect</key>
                <string>{{362,4},{59,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_66x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{66,41}</string>
                <key>textureRect</key>
                <string>{{350,82},{66,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_69x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{277,76},{69,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_76x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{197,4},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_81x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{277,4},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_83x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{83,75}</string>
                <key>textureRect</key>
                <string>{{110,4},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_86x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,62}</string>
                <key>textureRect</key>
                <string>{{4,167},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1305e-az-bul_96x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{4,86},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1305e-az-bul.png</string>
            <key>size</key>
            <string>{436,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266e062679099dd3a89a002138f305b0:a24ecfd7db4466f9cf9215bf00aa0ea1:dc6fc7873b09676403d44f3d162ac9f4$</string>
            <key>textureFileName</key>
            <string>u1305e-az-bul.png</string>
        </dict>
    </dict>
</plist>
