<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1117u-cony-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{592,70},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_102x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,167}</string>
                <key>spriteSourceSize</key>
                <string>{102,167}</string>
                <key>textureRect</key>
                <string>{{208,240},{102,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_102x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{286,411},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{646,175},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_10x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{597,440},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{374,489},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_12x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{527,157},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_12x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{456,480},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_12x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{620,356},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_146x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{544,192},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{707,67},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{387,4},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_158x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,60}</string>
                <key>spriteSourceSize</key>
                <string>{158,60}</string>
                <key>textureRect</key>
                <string>{{4,446},{158,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{544,4},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_162x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{707,40},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{312,489},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_16x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{208,501},{16,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{707,55},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{170,4},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_18x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,10}</string>
                <key>textureRect</key>
                <string>{{707,26},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{434,480},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_190x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,164}</string>
                <key>spriteSourceSize</key>
                <string>{190,164}</string>
                <key>textureRect</key>
                <string>{{314,238},{190,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_19x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{707,4},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_200x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{4,242},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{664,471},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{22,10}</string>
                <key>textureRect</key>
                <string>{{660,175},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{620,175},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{286,489},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{638,472},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{607,398},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{552,356},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{378,190},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_22x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{404,190},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{582,320},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{610,320},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{633,434},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{516,189},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{694,303},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{579,398},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{488,189},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_26x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{590,175},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_26x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,150}</string>
                <key>spriteSourceSize</key>
                <string>{26,150}</string>
                <key>textureRect</key>
                <string>{{357,4},{26,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{698,135},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{698,91},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{694,269},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{694,253},{32,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{508,319},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{694,177},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{694,215},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{508,279},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{508,235},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{306,190},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_32x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{342,190},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{544,320},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{638,396},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{268,190},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{690,345},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_38x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,14}</string>
                <key>spriteSourceSize</key>
                <string>{38,14}</string>
                <key>textureRect</key>
                <string>{{332,489},{38,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{682,387},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{578,356},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_38x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{166,446},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_40x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,12}</string>
                <key>spriteSourceSize</key>
                <string>{40,12}</string>
                <key>textureRect</key>
                <string>{{390,489},{40,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{508,357},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{535,401},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_40x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{638,384},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_42x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{592,473},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{544,152},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{544,108},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_42x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{170,190},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{544,70},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{638,358},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{477,157},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_48x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{425,157},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{638,320},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_48x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{216,190},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_54x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,43}</string>
                <key>textureRect</key>
                <string>{{430,189},{54,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{472,476},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_56x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{532,476},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_58x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{535,445},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_61x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{392,406},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{661,434},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_64x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{357,158},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{457,406},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_74x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{208,411},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117u-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{661,458},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1117u-cony-body.png</string>
            <key>size</key>
            <string>{730,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0d753b45e997abfce5c10ab891aef0:1069663d2161288f66d48afb91a7d458:b514b8a168067391eda4bed2be66b651$</string>
            <key>textureFileName</key>
            <string>u1117u-cony-body.png</string>
        </dict>
    </dict>
</plist>
