<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1159u-liliruca-bul3_109x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{109,102}</string>
                <key>textureRect</key>
                <string>{{344,278},{109,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_122x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{122,111}</string>
                <key>textureRect</key>
                <string>{{292,388},{122,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_134x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,151}</string>
                <key>spriteSourceSize</key>
                <string>{134,151}</string>
                <key>textureRect</key>
                <string>{{150,215},{134,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_137x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{344,150},{137,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_140x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,132}</string>
                <key>textureRect</key>
                <string>{{148,370},{140,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{4,364},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_142x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{4,215},{142,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_143x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{303,4},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_145x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{154,4},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_146x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{4,4},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{326,150},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_25x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{452,472},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{418,472},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_318x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,56}</string>
                <key>spriteSourceSize</key>
                <string>{318,56}</string>
                <key>textureRect</key>
                <string>{{4,155},{318,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1159u-liliruca-bul3_87x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{418,384},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1159u-liliruca-bul3.png</string>
            <key>size</key>
            <string>{509,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315ec2c5c8467859f4d0248ea69854c3:6e3b75b4cf445b1f81a46c1066f2d60a:65f2942a6e4b0c7787bf2181930ead68$</string>
            <key>textureFileName</key>
            <string>u1159u-liliruca-bul3.png</string>
        </dict>
    </dict>
</plist>
