<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1181h-sally-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{242,70},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{511,228},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_10x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{513,208},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{495,228},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{495,210},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{370,222},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_14x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{485,188},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{242,4},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{455,210},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{488,170},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{431,216},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{475,210},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{488,146},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{510,102},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{451,225},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{508,156},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_18x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{508,182},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{508,128},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{431,188},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{312,175},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{440,96},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_22x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{312,205},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_234x198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,198}</string>
                <key>spriteSourceSize</key>
                <string>{234,198}</string>
                <key>textureRect</key>
                <string>{{4,4},{234,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{478,126},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{455,186},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_28x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{338,222},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_34x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{34,16}</string>
                <key>textureRect</key>
                <string>{{440,126},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{204,206},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{166,206},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{446,146},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_39x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{388,188},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_40x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,112}</string>
                <key>spriteSourceSize</key>
                <string>{40,112}</string>
                <key>textureRect</key>
                <string>{{348,70},{40,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_40x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{466,102},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{473,56},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{392,96},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{338,186},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{116,206},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_50x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{62,206},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_50x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{392,146},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{405,4},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_54x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{4,206},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{461,4},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{242,211},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_64x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{405,60},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_66x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{242,175},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{392,70},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1181h-sally-body.png</string>
            <key>size</key>
            <string>{530,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b895114bd833cfe2d82d35eb77acb972:e3a2489eeef302f4fd60cdab72d4d1f0:e4bad66f99cd3142032b8a546eb272bc$</string>
            <key>textureFileName</key>
            <string>u1181h-sally-body.png</string>
        </dict>
    </dict>
</plist>
