<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1181h-sally-bul_26x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,112}</string>
                <key>spriteSourceSize</key>
                <string>{26,112}</string>
                <key>textureRect</key>
                <string>{{228,4},{26,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_28x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,114}</string>
                <key>spriteSourceSize</key>
                <string>{28,114}</string>
                <key>textureRect</key>
                <string>{{4,4},{28,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_28x114_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,114}</string>
                <key>spriteSourceSize</key>
                <string>{28,114}</string>
                <key>textureRect</key>
                <string>{{36,4},{28,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_32x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,112}</string>
                <key>spriteSourceSize</key>
                <string>{32,112}</string>
                <key>textureRect</key>
                <string>{{156,4},{32,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_32x112_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,112}</string>
                <key>spriteSourceSize</key>
                <string>{32,112}</string>
                <key>textureRect</key>
                <string>{{192,4},{32,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_40x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,112}</string>
                <key>spriteSourceSize</key>
                <string>{40,112}</string>
                <key>textureRect</key>
                <string>{{68,4},{40,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1181h-sally-bul_40x112_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,112}</string>
                <key>spriteSourceSize</key>
                <string>{40,112}</string>
                <key>textureRect</key>
                <string>{{112,4},{40,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1181h-sally-bul.png</string>
            <key>size</key>
            <string>{258,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d751776f69a027d719af41327bbc91ea:9691373adae10379188d894957dac7b2:92201bc839b68839c7396155c4b73a55$</string>
            <key>textureFileName</key>
            <string>u1181h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
