<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1118e-brown-bul_116x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,30}</string>
                <key>spriteSourceSize</key>
                <string>{116,30}</string>
                <key>textureRect</key>
                <string>{{2,2},{116,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1118e-brown-bul_64x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,108}</string>
                <key>spriteSourceSize</key>
                <string>{64,108}</string>
                <key>textureRect</key>
                <string>{{2,34},{64,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1118e-brown-bul.png</string>
            <key>size</key>
            <string>{120,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75399206a5afa95e431720d9a4a55dba:67c135508fd41dc8dfa74907fcea0529:9aeb371742f0b08a8a20d77a3e02225c$</string>
            <key>textureFileName</key>
            <string>u1118e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
