<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91040-pookie-bul2_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{4,66},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91040-pookie-bul2_58x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91040-pookie-bul2.png</string>
            <key>size</key>
            <string>{66,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd31444087890171e28fb3e004bdf2e6:e9ae3538f1620bb875a9db8d3f500c52:cd4777ce8b02f36955a9161378ceb9c5$</string>
            <key>textureFileName</key>
            <string>u91040-pookie-bul2.png</string>
        </dict>
    </dict>
</plist>
