<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40012-moon-bul_85x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u40012-moon-bul.png</string>
            <key>size</key>
            <string>{89,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d756f1f507950c03477dcccb3c3fcda:9f6b6531495bba351989a8e5336633d6:262e606b5449be227e411470880a64b5$</string>
            <key>textureFileName</key>
            <string>u40012-moon-bul.png</string>
        </dict>
    </dict>
</plist>
