<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u50040-enemy05-body_104x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {102, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 66}</string>
			<key>spriteSourceSize</key>
			<string>{104, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 510}, {104, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_125x170.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {125, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 170}</string>
			<key>spriteSourceSize</key>
			<string>{125, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 0}, {125, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_125x170_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {125, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 170}</string>
			<key>spriteSourceSize</key>
			<string>{125, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 0}, {125, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_146x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 49}</string>
			<key>spriteSourceSize</key>
			<string>{146, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 484}, {146, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_146x49_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 49}</string>
			<key>spriteSourceSize</key>
			<string>{146, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 433}, {146, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_15x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 19}</string>
			<key>spriteSourceSize</key>
			<string>{15, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 549}, {15, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_172x170.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {170, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 170}</string>
			<key>spriteSourceSize</key>
			<string>{172, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{746, 172}, {172, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_172x170_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {170, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 170}</string>
			<key>spriteSourceSize</key>
			<string>{172, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{724, 0}, {172, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_172x170_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {170, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 170}</string>
			<key>spriteSourceSize</key>
			<string>{172, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 0}, {172, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_173x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {173, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{173, 39}</string>
			<key>spriteSourceSize</key>
			<string>{173, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 175}, {173, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 549}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 561}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_24x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{377, 535}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_24x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 27}</string>
			<key>spriteSourceSize</key>
			<string>{24, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{351, 535}, {24, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_24x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 40}</string>
			<key>spriteSourceSize</key>
			<string>{24, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 664}, {24, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_256x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{256, 75}</string>
			<key>spriteSourceSize</key>
			<string>{256, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 216}, {256, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_256x75_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{256, 75}</string>
			<key>spriteSourceSize</key>
			<string>{256, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 433}, {256, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_25x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 31}</string>
			<key>spriteSourceSize</key>
			<string>{25, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 249}, {25, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_25x31_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 31}</string>
			<key>spriteSourceSize</key>
			<string>{25, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 535}, {25, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_25x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 33}</string>
			<key>spriteSourceSize</key>
			<string>{25, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 214}, {25, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_27x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 40}</string>
			<key>spriteSourceSize</key>
			<string>{27, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 733}, {27, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_27x40_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {25, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 40}</string>
			<key>spriteSourceSize</key>
			<string>{27, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 736}, {27, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_28x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 39}</string>
			<key>spriteSourceSize</key>
			<string>{28, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 175}, {28, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_28x39_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 39}</string>
			<key>spriteSourceSize</key>
			<string>{28, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 175}, {28, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_30x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 26}</string>
			<key>spriteSourceSize</key>
			<string>{30, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{296, 715}, {30, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_321x173.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {319, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{321, 173}</string>
			<key>spriteSourceSize</key>
			<string>{321, 173}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 172}, {321, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_32x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 535}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_35x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 25}</string>
			<key>spriteSourceSize</key>
			<string>{35, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{296, 688}, {35, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_36x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 34}</string>
			<key>spriteSourceSize</key>
			<string>{36, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 535}, {36, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_407x140.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {405, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{407, 140}</string>
			<key>spriteSourceSize</key>
			<string>{407, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{414, 347}, {407, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_412x138.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {410, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{412, 138}</string>
			<key>spriteSourceSize</key>
			<string>{412, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 293}, {412, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_421x173.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {419, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{421, 173}</string>
			<key>spriteSourceSize</key>
			<string>{421, 173}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {421, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_47x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {47, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{234, 657}, {47, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_48x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 37}</string>
			<key>spriteSourceSize</key>
			<string>{48, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{235, 175}, {48, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_48x37_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 37}</string>
			<key>spriteSourceSize</key>
			<string>{48, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 510}, {48, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_59x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 28}</string>
			<key>spriteSourceSize</key>
			<string>{59, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 591}, {59, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_60x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 26}</string>
			<key>spriteSourceSize</key>
			<string>{60, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{234, 702}, {60, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_61x114.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {59, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 114}</string>
			<key>spriteSourceSize</key>
			<string>{61, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{285, 175}, {61, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_65x93.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {65, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 93}</string>
			<key>spriteSourceSize</key>
			<string>{65, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{357, 632}, {65, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_65x93_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {65, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 93}</string>
			<key>spriteSourceSize</key>
			<string>{65, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 489}, {65, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_67x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 54}</string>
			<key>spriteSourceSize</key>
			<string>{67, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{165, 677}, {67, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_67x54_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 54}</string>
			<key>spriteSourceSize</key>
			<string>{67, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 677}, {67, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_67x54_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 54}</string>
			<key>spriteSourceSize</key>
			<string>{67, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 632}, {67, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_68x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 70}</string>
			<key>spriteSourceSize</key>
			<string>{68, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 664}, {68, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_70x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 100}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{406, 489}, {70, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_70x113.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 113}</string>
			<key>spriteSourceSize</key>
			<string>{70, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{348, 175}, {70, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_74x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 27}</string>
			<key>spriteSourceSize</key>
			<string>{74, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 648}, {74, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_93x7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {93, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 7}</string>
			<key>spriteSourceSize</key>
			<string>{93, 7}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 639}, {93, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {94, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 23}</string>
			<key>spriteSourceSize</key>
			<string>{94, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 632}, {94, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x23_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {94, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 23}</string>
			<key>spriteSourceSize</key>
			<string>{94, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 639}, {94, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {94, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 56}</string>
			<key>spriteSourceSize</key>
			<string>{94, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 584}, {94, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 59}</string>
			<key>spriteSourceSize</key>
			<string>{94, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 571}, {94, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x59_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {94, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 59}</string>
			<key>spriteSourceSize</key>
			<string>{94, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 578}, {94, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x59_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 59}</string>
			<key>spriteSourceSize</key>
			<string>{94, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 571}, {94, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x59_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 59}</string>
			<key>spriteSourceSize</key>
			<string>{94, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 510}, {94, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50040-enemy05-body_94x59_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 59}</string>
			<key>spriteSourceSize</key>
			<string>{94, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 578}, {94, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u50040-enemy05-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>