<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1009e-sally-bul_122x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,90}</string>
                <key>textureRect</key>
                <string>{{98,104},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_148x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,100}</string>
                <key>spriteSourceSize</key>
                <string>{148,100}</string>
                <key>textureRect</key>
                <string>{{98,2},{148,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_14x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{248,72},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_15x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{248,50},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{248,2},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_16x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{248,26},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_21x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{222,162},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_25x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{222,104},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{222,136},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_39x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{172,233},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_42x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{172,196},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_68x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{2,190},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_94x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,186}</string>
                <key>spriteSourceSize</key>
                <string>{94,186}</string>
                <key>textureRect</key>
                <string>{{2,2},{94,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1009e-sally-bul_98x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{72,196},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1009e-sally-bul.png</string>
            <key>size</key>
            <string>{270,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d06c3e1098ad4ae1cbcd533e0b75634c:f0adc0bafc5f3e6b3094ed84f800a45a:37328593ab580a62946c94416e03d9b2$</string>
            <key>textureFileName</key>
            <string>u1009e-sally-bul.png</string>
        </dict>
    </dict>
</plist>
