<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1579h-sally-bul_54x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{4,4},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1579h-sally-bul.png</string>
            <key>size</key>
            <string>{62,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87740fff57a9b5a1a0bcb7a1bf0374ab:8dc98d6d9bbf6f8ea19a7a8b7ae6ae9b:0841c7c2e41f3ab9776f8e599e527a69$</string>
            <key>textureFileName</key>
            <string>u1579h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
