<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91114-jackjim-bul_124x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{4,4},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91114-jackjim-bul_48x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{87,136},{48,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91114-jackjim-bul_79x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,75}</string>
                <key>textureRect</key>
                <string>{{4,136},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91114-jackjim-bul.png</string>
            <key>size</key>
            <string>{139,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26a740203915a86bbe856c54b9f0731d:27a8af2150414b1f5c16aa4cc9ef760e:a4f450c84c4117db7eb425ab0fa3c6f9$</string>
            <key>textureFileName</key>
            <string>u91114-jackjim-bul.png</string>
        </dict>
    </dict>
</plist>
