<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1117e-cony-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{170,70},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_102x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{170,175},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_10x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{472,231},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_10x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{582,126},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{456,232},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_12x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{440,232},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_12x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{492,220},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_12x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{574,200},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{578,162},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{170,4},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_162x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{472,216},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{472,196},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_16x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{600,84},{16,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{96,242},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_18x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,10}</string>
                <key>textureRect</key>
                <string>{{30,242},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_19x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{326,230},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{600,60},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{416,228},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_22x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{22,10}</string>
                <key>textureRect</key>
                <string>{{4,242},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_22x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{492,178},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_22x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{492,134},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_22x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{486,86},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{518,199},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{546,200},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{444,196},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{550,162},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{596,138},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{596,180},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{596,92},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_26x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{590,222},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{550,126},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_28x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{518,163},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{518,119},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_32x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{448,180},{32,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{414,112},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{354,64},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_32x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{450,86},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{512,83},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{406,190},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_38x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,14}</string>
                <key>spriteSourceSize</key>
                <string>{38,14}</string>
                <key>textureRect</key>
                <string>{{456,68},{38,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{450,134},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_38x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{456,4},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_40x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,12}</string>
                <key>spriteSourceSize</key>
                <string>{40,12}</string>
                <key>textureRect</key>
                <string>{{448,164},{40,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_40x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{52,242},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_42x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{550,92},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{354,146},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{400,156},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{276,230},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{550,60},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_48x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{498,51},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_48x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{354,190},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_54x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,43}</string>
                <key>textureRect</key>
                <string>{{498,4},{54,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_54x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{333,4},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{390,78},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_56x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{354,112},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_58x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{354,228},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_61x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{391,4},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{556,36},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_64x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{556,4},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{276,160},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_74x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{276,70},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1117e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{578,186},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1117e-cony-body.png</string>
            <key>size</key>
            <string>{624,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad5f52cc168b2d07b26bdc1ba8326020:c1e9d5669352b53598bdcca184c0afd2:4b6d6d78a4035ad5eec7836e9481284a$</string>
            <key>textureFileName</key>
            <string>u1117e-cony-body.png</string>
        </dict>
    </dict>
</plist>
