<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u82011-airi-bul2_69x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{4,78},{69,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u82011-airi-bul2_70x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{4,4},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u82011-airi-bul2.png</string>
            <key>size</key>
            <string>{78,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff123bfab887c31464a8485221ae2e4b:5d6b9ce9dfc80632aeca2f1fbc7619a0:1501bf570b06284dd22a38b855c02f9e$</string>
            <key>textureFileName</key>
            <string>u82011-airi-bul2.png</string>
        </dict>
    </dict>
</plist>
