<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1252h-ki-bul_132x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{4,4},{132,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1252h-ki-bul.png</string>
            <key>size</key>
            <string>{140,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b5b27e4f37207264b8a9bc06ca8ea4:ebe398938452fbaeceeb7065f5be8e98:4d61c639dd77d4db3e41c5df25e0a627$</string>
            <key>textureFileName</key>
            <string>u1252h-ki-bul.png</string>
        </dict>
    </dict>
</plist>
