<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1352hsk-brown-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{213,358},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_132x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{302,183},{132,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_146x179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,179}</string>
                <key>spriteSourceSize</key>
                <string>{146,179}</string>
                <key>textureRect</key>
                <string>{{299,2},{146,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_146x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,180}</string>
                <key>spriteSourceSize</key>
                <string>{146,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{146,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_147x174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,174}</string>
                <key>spriteSourceSize</key>
                <string>{147,174}</string>
                <key>textureRect</key>
                <string>{{2,184},{147,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_147x179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,179}</string>
                <key>spriteSourceSize</key>
                <string>{147,179}</string>
                <key>textureRect</key>
                <string>{{150,2},{147,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_149x173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,173}</string>
                <key>spriteSourceSize</key>
                <string>{149,173}</string>
                <key>textureRect</key>
                <string>{{151,183},{149,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_25x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{2,389},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_43x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{80,360},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_60x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{151,358},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_61x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{375,307},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{302,307},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1352hsk-brown-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{2,360},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1352hsk-brown-body.png</string>
            <key>size</key>
            <string>{447,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5242aae2f759fb7dcc63111ad05170e3:c5f2dea83a849e2ca1957b7f136a3514:253a8f543e8816514a323989a5f94f78$</string>
            <key>textureFileName</key>
            <string>u1352hsk-brown-body.png</string>
        </dict>
    </dict>
</plist>
