<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1189h-edward-bul2_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{464,367},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_10x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{186,409},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_10x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{86,549},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{445,97},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_131x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{131,114}</string>
                <key>textureRect</key>
                <string>{{182,149},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_154x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,124}</string>
                <key>spriteSourceSize</key>
                <string>{154,124}</string>
                <key>textureRect</key>
                <string>{{4,421},{154,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_167x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,134}</string>
                <key>spriteSourceSize</key>
                <string>{167,134}</string>
                <key>textureRect</key>
                <string>{{4,155},{167,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{455,239},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_174x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,147}</string>
                <key>textureRect</key>
                <string>{{4,4},{174,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_177x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,141}</string>
                <key>spriteSourceSize</key>
                <string>{177,141}</string>
                <key>textureRect</key>
                <string>{{182,4},{177,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_178x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,124}</string>
                <key>spriteSourceSize</key>
                <string>{178,124}</string>
                <key>textureRect</key>
                <string>{{4,293},{178,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_20x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{445,4},{20,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{450,459},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_26x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{445,69},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_28x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{401,555},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_30x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{416,459},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{401,497},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_34x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{327,580},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_34x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{426,367},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_34x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{365,580},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_43x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{280,580},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_46x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{426,317},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_48x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{426,265},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{416,405},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_54x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{222,573},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{164,561},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_60x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,112}</string>
                <key>textureRect</key>
                <string>{{317,149},{60,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_68x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,136}</string>
                <key>spriteSourceSize</key>
                <string>{68,136}</string>
                <key>textureRect</key>
                <string>{{162,421},{68,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_70x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,22}</string>
                <key>spriteSourceSize</key>
                <string>{70,22}</string>
                <key>textureRect</key>
                <string>{{381,239},{70,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_72x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,136}</string>
                <key>spriteSourceSize</key>
                <string>{72,136}</string>
                <key>textureRect</key>
                <string>{{268,267},{72,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_74x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{86,561},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_78x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,136}</string>
                <key>spriteSourceSize</key>
                <string>{78,136}</string>
                <key>textureRect</key>
                <string>{{344,265},{78,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_78x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,138}</string>
                <key>spriteSourceSize</key>
                <string>{78,138}</string>
                <key>textureRect</key>
                <string>{{363,4},{78,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_78x138_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,138}</string>
                <key>spriteSourceSize</key>
                <string>{78,138}</string>
                <key>textureRect</key>
                <string>{{186,267},{78,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_78x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{78,20}</string>
                <key>textureRect</key>
                <string>{{234,549},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_78x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{4,549},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_79x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{318,497},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_80x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,136}</string>
                <key>spriteSourceSize</key>
                <string>{80,136}</string>
                <key>textureRect</key>
                <string>{{234,409},{80,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_93x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{381,146},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1189h-edward-bul2_94x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,86}</string>
                <key>textureRect</key>
                <string>{{318,407},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1189h-edward-bul2.png</string>
            <key>size</key>
            <string>{478,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2344cd1710a03490feb710ef0eddd2f:6f8b3a7256546682030867387d8ff9b7:4a8eb037187cd24fefe5dfb7642f8244$</string>
            <key>textureFileName</key>
            <string>u1189h-edward-bul2.png</string>
        </dict>
    </dict>
</plist>
