<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u466u-merry-bul3_10x251.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {8, 249}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 251}</string>
			<key>spriteSourceSize</key>
			<string>{10, 251}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 158}, {10, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_10x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {8, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 30}</string>
			<key>spriteSourceSize</key>
			<string>{10, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{184, 92}, {10, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_10x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {8, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 30}</string>
			<key>spriteSourceSize</key>
			<string>{10, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 60}, {10, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_172x156.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {164, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 156}</string>
			<key>spriteSourceSize</key>
			<string>{172, 156}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {172, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_18x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 22}</string>
			<key>spriteSourceSize</key>
			<string>{18, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 195}, {18, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_20x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {18, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 26}</string>
			<key>spriteSourceSize</key>
			<string>{20, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 32}, {20, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_24x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 34}</string>
			<key>spriteSourceSize</key>
			<string>{24, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{187, 219}, {24, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_26x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 24}</string>
			<key>spriteSourceSize</key>
			<string>{26, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 195}, {26, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_28x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{28, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 0}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_28x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 40}</string>
			<key>spriteSourceSize</key>
			<string>{28, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{102, 221}, {28, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_31x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 35}</string>
			<key>spriteSourceSize</key>
			<string>{31, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 158}, {31, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_34x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{34, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{12, 358}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_43x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {41, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 44}</string>
			<key>spriteSourceSize</key>
			<string>{43, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{12, 312}, {43, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_44x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 24}</string>
			<key>spriteSourceSize</key>
			<string>{44, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{12, 286}, {44, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_47x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {45, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 61}</string>
			<key>spriteSourceSize</key>
			<string>{47, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{102, 158}, {47, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_53x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {51, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 38}</string>
			<key>spriteSourceSize</key>
			<string>{53, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 221}, {53, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_71x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 20}</string>
			<key>spriteSourceSize</key>
			<string>{71, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 261}, {71, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_71x89.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {69, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 89}</string>
			<key>spriteSourceSize</key>
			<string>{71, 89}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 411}, {71, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_82x79.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {82, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 79}</string>
			<key>spriteSourceSize</key>
			<string>{82, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 286}, {82, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u466u-merry-bul3_88x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {80, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 126}</string>
			<key>spriteSourceSize</key>
			<string>{88, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{12, 158}, {88, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u466u-merry-bul3.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>