<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1164e-moon-bul2_102x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,112}</string>
                <key>spriteSourceSize</key>
                <string>{102,112}</string>
                <key>textureRect</key>
                <string>{{174,121},{102,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_118x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{892,2},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_132x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,80}</string>
                <key>spriteSourceSize</key>
                <string>{132,80}</string>
                <key>textureRect</key>
                <string>{{278,110},{132,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_144x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{144,104}</string>
                <key>textureRect</key>
                <string>{{746,2},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_154x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{154,94}</string>
                <key>textureRect</key>
                <string>{{590,2},{154,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_170x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,117}</string>
                <key>spriteSourceSize</key>
                <string>{170,117}</string>
                <key>textureRect</key>
                <string>{{2,121},{170,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_172x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,100}</string>
                <key>spriteSourceSize</key>
                <string>{172,100}</string>
                <key>textureRect</key>
                <string>{{416,2},{172,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_202x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,117}</string>
                <key>spriteSourceSize</key>
                <string>{202,117}</string>
                <key>textureRect</key>
                <string>{{2,2},{202,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_208x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,106}</string>
                <key>spriteSourceSize</key>
                <string>{208,106}</string>
                <key>textureRect</key>
                <string>{{206,2},{208,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_48x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{278,192},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_56x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,112}</string>
                <key>spriteSourceSize</key>
                <string>{56,112}</string>
                <key>textureRect</key>
                <string>{{864,116},{56,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_60x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,112}</string>
                <key>textureRect</key>
                <string>{{740,108},{60,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_60x112_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,112}</string>
                <key>textureRect</key>
                <string>{{802,108},{60,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_66x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{672,98},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_76x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,112}</string>
                <key>spriteSourceSize</key>
                <string>{76,112}</string>
                <key>textureRect</key>
                <string>{{514,104},{76,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_78x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,112}</string>
                <key>textureRect</key>
                <string>{{592,98},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_87x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{87,68}</string>
                <key>textureRect</key>
                <string>{{922,116},{87,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul2_96x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{96,112}</string>
                <key>textureRect</key>
                <string>{{416,104},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1164e-moon-bul2.png</string>
            <key>size</key>
            <string>{1012,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8057cbd8c18e7b154a13ef393bfd8809:19dd1281455d92bf9f177c980534f15c:e9b7364ab618eb6a23e31c7a6f9c52f8$</string>
            <key>textureFileName</key>
            <string>u1164e-moon-bul2.png</string>
        </dict>
    </dict>
</plist>
