<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1164e-moon-bul_48x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{2,54},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1164e-moon-bul_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1164e-moon-bul.png</string>
            <key>size</key>
            <string>{54,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26e1a7727219c31bc6b90b0d5413ff53:92aa3e8e01731b256159dcd186bb6169:6da0ca76fdc33c41192a22d568d4eb19$</string>
            <key>textureFileName</key>
            <string>u1164e-moon-bul.png</string>
        </dict>
    </dict>
</plist>
