<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1122e-ryo-bul_61x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{4,4},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1122e-ryo-bul_8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{4,76},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1122e-ryo-bul.png</string>
            <key>size</key>
            <string>{69,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b1179e0fe1368619f202dcc794a25:224a9f968454d82655a772aa4b226433:57d4bd2ed4c164880d97bce9ec739e35$</string>
            <key>textureFileName</key>
            <string>u1122e-ryo-bul.png</string>
        </dict>
    </dict>
</plist>
