<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u339e-brown-body_106x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {102, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {106, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_106x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {102, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 98}</string>
			<key>spriteSourceSize</key>
			<string>{106, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 0}, {106, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_126x88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {122, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 88}</string>
			<key>spriteSourceSize</key>
			<string>{126, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 0}, {126, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_128x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {124, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 76}</string>
			<key>spriteSourceSize</key>
			<string>{128, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 78}, {128, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_14x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{204, 152}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_14x12_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 152}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 152}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_16x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {12, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 144}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_16x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{468, 51}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_24x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{24, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 170}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_26x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {22, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 28}</string>
			<key>spriteSourceSize</key>
			<string>{26, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80, 102}, {26, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_28x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 142}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_28x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{28, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{214, 114}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_28x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {24, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 46}</string>
			<key>spriteSourceSize</key>
			<string>{28, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 160}, {28, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_30x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{30, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{142, 120}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_34x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{34, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 210}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_34x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 46}</string>
			<key>spriteSourceSize</key>
			<string>{34, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 208}, {34, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_36x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 40}</string>
			<key>spriteSourceSize</key>
			<string>{36, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 100}, {36, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_36x40_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 40}</string>
			<key>spriteSourceSize</key>
			<string>{36, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 102}, {36, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_40x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {36, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 24}</string>
			<key>spriteSourceSize</key>
			<string>{40, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{426, 51}, {40, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_40x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 102}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_46x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {42, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 20}</string>
			<key>spriteSourceSize</key>
			<string>{46, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 188}, {46, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_46x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {42, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 172}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_50x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {46, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 26}</string>
			<key>spriteSourceSize</key>
			<string>{50, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 160}, {50, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_56x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {52, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 26}</string>
			<key>spriteSourceSize</key>
			<string>{56, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 144}, {56, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_60x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 26}</string>
			<key>spriteSourceSize</key>
			<string>{60, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80, 132}, {60, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_66x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {62, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 18}</string>
			<key>spriteSourceSize</key>
			<string>{66, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 100}, {66, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_68x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {64, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 22}</string>
			<key>spriteSourceSize</key>
			<string>{68, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 90}, {68, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_68x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 49}</string>
			<key>spriteSourceSize</key>
			<string>{68, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{426, 0}, {68, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_80x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {78, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 76}</string>
			<key>spriteSourceSize</key>
			<string>{80, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 0}, {80, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_8x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 188}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_8x14_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 208}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_8x14_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 204}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_8x14_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 172}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u339e-brown-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 120}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u339e-brown-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>