<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1078e-jinpei-body_100x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{245,429},{100,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_102x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{516,4},{102,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_107x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{405,4},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{110,126}</string>
                <key>textureRect</key>
                <string>{{291,4},{110,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{622,4},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{622,102},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{158,135},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{135,233},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{128,331},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{249,233},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{242,331},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_110x94_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{272,135},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_11x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{591,300},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_120x123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,123}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{4,322},{120,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_127x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,138}</string>
                <key>spriteSourceSize</key>
                <string>{127,138}</string>
                <key>textureRect</key>
                <string>{{4,180},{127,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_129x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,127}</string>
                <key>spriteSourceSize</key>
                <string>{129,127}</string>
                <key>textureRect</key>
                <string>{{158,4},{129,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_150x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,172}</string>
                <key>spriteSourceSize</key>
                <string>{150,172}</string>
                <key>textureRect</key>
                <string>{{4,4},{150,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{553,445},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_17x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,13}</string>
                <key>textureRect</key>
                <string>{{135,212},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_17x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{465,301},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_19x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{135,180},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_20x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{600,362},{20,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_20x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{708,406},{20,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_20x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{694,367},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_21x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{491,127},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_21x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,35}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{711,327},{21,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_21x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,35}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{683,410},{21,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_21x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,37}</string>
                <key>spriteSourceSize</key>
                <string>{21,37}</string>
                <key>textureRect</key>
                <string>{{711,286},{21,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_23x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{617,442},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{96,449},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_28x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{590,189},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_28x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{453,331},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_29x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{617,399},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_29x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{650,410},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_29x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,51}</string>
                <key>spriteSourceSize</key>
                <string>{29,51}</string>
                <key>textureRect</key>
                <string>{{591,245},{29,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{601,316},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_31x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{670,329},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_31x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{624,360},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_31x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{635,316},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_31x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{659,367},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_31x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,45}</string>
                <key>textureRect</key>
                <string>{{566,313},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_32x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{564,362},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{545,399},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_32x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{581,399},{32,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_33x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{674,286},{33,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_33x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{508,399},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_35x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{525,358},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_36x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,29}</string>
                <key>textureRect</key>
                <string>{{466,200},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{486,301},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_36x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{526,313},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{485,341},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{386,164},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_40x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{430,164},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_40x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{386,164},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_42x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{682,243},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_44x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{429,449},{44,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_44x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{687,200},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_46x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{624,273},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_47x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{194,429},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_54x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{624,235},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_58x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{465,233},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_59x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{527,189},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_60x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{444,395},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_60x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{527,257},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_61x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,31}</string>
                <key>spriteSourceSize</key>
                <string>{61,31}</string>
                <key>textureRect</key>
                <string>{{622,200},{61,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_62x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{128,429},{62,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_72x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,31}</string>
                <key>spriteSourceSize</key>
                <string>{72,31}</string>
                <key>textureRect</key>
                <string>{{477,445},{72,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{349,449},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_76x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{76,29}</string>
                <key>textureRect</key>
                <string>{{386,200},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_79x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,39}</string>
                <key>spriteSourceSize</key>
                <string>{79,39}</string>
                <key>textureRect</key>
                <string>{{516,146},{79,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_82x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{405,127},{82,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_83x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{516,113},{83,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_84x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{356,389},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_88x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,27}</string>
                <key>spriteSourceSize</key>
                <string>{88,27}</string>
                <key>textureRect</key>
                <string>{{4,449},{88,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_93x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,54}</string>
                <key>spriteSourceSize</key>
                <string>{93,54}</string>
                <key>textureRect</key>
                <string>{{356,331},{93,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_98x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{363,233},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{474,164},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1078e-jinpei-body.png</string>
            <key>size</key>
            <string>{736,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d75634f16788501ed053826a342c0b:07dadb697c41cd142177a192b72abc66:8ee2e2d707eb70a86d27ca82c04149cf$</string>
            <key>textureFileName</key>
            <string>u1078e-jinpei-body.png</string>
        </dict>
    </dict>
</plist>
