<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1078e-jinpei-bul2_14x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{327,46},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_201x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,38}</string>
                <key>spriteSourceSize</key>
                <string>{201,38}</string>
                <key>textureRect</key>
                <string>{{270,4},{201,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_203x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,38}</string>
                <key>spriteSourceSize</key>
                <string>{203,38}</string>
                <key>textureRect</key>
                <string>{{4,81},{203,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_206x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,37}</string>
                <key>spriteSourceSize</key>
                <string>{206,37}</string>
                <key>textureRect</key>
                <string>{{211,81},{206,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_21x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{270,46},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_262x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,73}</string>
                <key>spriteSourceSize</key>
                <string>{262,73}</string>
                <key>textureRect</key>
                <string>{{4,4},{262,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{295,46},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{421,72},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1078e-jinpei-bul2_41x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{421,46},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1078e-jinpei-bul2.png</string>
            <key>size</key>
            <string>{475,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79557ee2697e0978819a17638f92392:e1d103f31a79993e9b098e213b8afa2a:c69010a6ba9f11346c021d983cedfb4e$</string>
            <key>textureFileName</key>
            <string>u1078e-jinpei-bul2.png</string>
        </dict>
    </dict>
</plist>
