<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91133-jadu-body_104x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{104,110}</string>
                <key>textureRect</key>
                <string>{{4,4},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_107x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,38}</string>
                <key>spriteSourceSize</key>
                <string>{107,38}</string>
                <key>textureRect</key>
                <string>{{500,4},{107,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_12x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{482,4},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{112,96},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{131,96},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{392,4},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_308x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,8}</string>
                <key>spriteSourceSize</key>
                <string>{308,8}</string>
                <key>textureRect</key>
                <string>{{164,96},{308,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_40x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{98,218},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_40x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{438,108},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{476,46},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_42x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,74}</string>
                <key>textureRect</key>
                <string>{{344,108},{42,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_44x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{142,218},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_44x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{44,72}</string>
                <key>textureRect</key>
                <string>{{390,108},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_48x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{482,104},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_50x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{500,204},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_54x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{348,186},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_66x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{86,118},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_70x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{190,199},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_73x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{73,53}</string>
                <key>textureRect</key>
                <string>{{522,46},{73,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_73x53_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{73,53}</string>
                <key>textureRect</key>
                <string>{{534,103},{73,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_78x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{4,118},{78,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_78x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{392,46},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_80x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{264,198},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_88x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{112,4},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,22}</string>
                <key>spriteSourceSize</key>
                <string>{90,22}</string>
                <key>textureRect</key>
                <string>{{4,226},{90,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{406,184},{90,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{156,109},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{250,108},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x86_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{204,4},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_90x86_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{298,4},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_92x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,32}</string>
                <key>spriteSourceSize</key>
                <string>{92,32}</string>
                <key>textureRect</key>
                <string>{{500,168},{92,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91133-jadu-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{151,96},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91133-jadu-body.png</string>
            <key>size</key>
            <string>{611,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d441b92622019b79216f76268f87d2da:ec7003402d5a89ab280abcff95113964:d90c3b5a3d10b333e0f05662b088d432$</string>
            <key>textureFileName</key>
            <string>u91133-jadu-body.png</string>
        </dict>
    </dict>
</plist>
