<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u468e-chunli-body_104x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{96,4},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_104x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{96,112},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{386,318},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_14x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{256,356},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_14x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{172,275},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{340,84},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_16x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{4,494},{16,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_20x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,56}</string>
                <key>spriteSourceSize</key>
                <string>{20,56}</string>
                <key>textureRect</key>
                <string>{{268,202},{20,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_24x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{350,252},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_24x486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,486}</string>
                <key>spriteSourceSize</key>
                <string>{24,486}</string>
                <key>textureRect</key>
                <string>{{4,4},{24,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{382,222},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{378,252},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_26x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,54}</string>
                <key>textureRect</key>
                <string>{{244,375},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_28x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{385,194},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{385,162},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{385,116},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{242,433},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{378,288},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{324,472},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{346,210},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_32x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{314,356},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_32x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{322,414},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{312,261},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_36x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{350,350},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{300,318},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_36x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{274,356},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_36x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{172,203},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_39x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{342,146},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_39x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{342,178},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_40x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{90,479},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_40x27_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{134,479},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_40x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{358,406},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_40x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{358,439},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_40x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{268,262},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_42x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{340,318},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_42x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{360,472},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{196,433},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{276,420},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{276,478},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_44x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{196,375},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{280,147},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{292,195},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_47x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,26}</string>
                <key>textureRect</key>
                <string>{{334,116},{47,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_48x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{360,96},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_48x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{360,4},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_49x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,16}</string>
                <key>spriteSourceSize</key>
                <string>{49,16}</string>
                <key>textureRect</key>
                <string>{{350,386},{49,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_50x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,18}</string>
                <key>textureRect</key>
                <string>{{282,173},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_50x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,18}</string>
                <key>textureRect</key>
                <string>{{292,239},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_50x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{280,105},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_52x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{212,202},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_52x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{212,260},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_54x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{54,15}</string>
                <key>textureRect</key>
                <string>{{198,356},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_54x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,17}</string>
                <key>spriteSourceSize</key>
                <string>{54,17}</string>
                <key>textureRect</key>
                <string>{{282,84},{54,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_54x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{178,481},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{32,450},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_58x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,110}</string>
                <key>spriteSourceSize</key>
                <string>{58,110}</string>
                <key>textureRect</key>
                <string>{{32,336},{58,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_60x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,328}</string>
                <key>spriteSourceSize</key>
                <string>{60,328}</string>
                <key>textureRect</key>
                <string>{{32,4},{60,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_72x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{96,203},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_72x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{204,90},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_74x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{74,22}</string>
                <key>textureRect</key>
                <string>{{204,176},{74,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{282,4},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_74x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{74,82}</string>
                <key>textureRect</key>
                <string>{{204,4},{74,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{96,289},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{96,327},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{94,365},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{94,403},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{94,441},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{198,318},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u468e-chunli-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{386,334},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u468e-chunli-body.png</string>
            <key>size</key>
            <string>{417,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0b40e69eeae1f9b40244931273ad73:343822c828ed3808c26e16f9d7c55a59:d65e75ed2d33642326d6ee90077cac4e$</string>
            <key>textureFileName</key>
            <string>u468e-chunli-body.png</string>
        </dict>
    </dict>
</plist>
