<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u196u-cony-body_100x113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,113}</string>
                <key>spriteSourceSize</key>
                <string>{100,113}</string>
                <key>textureRect</key>
                <string>{{374,120},{100,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{275,237},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_103x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,120}</string>
                <key>spriteSourceSize</key>
                <string>{103,120}</string>
                <key>textureRect</key>
                <string>{{314,0},{103,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_104x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{210,816},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_104x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{267,339},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_104x87_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{210,920},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_106x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{106,88}</string>
                <key>textureRect</key>
                <string>{{377,233},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_110x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,127}</string>
                <key>spriteSourceSize</key>
                <string>{110,127}</string>
                <key>textureRect</key>
                <string>{{24,817},{110,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_141x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,65}</string>
                <key>spriteSourceSize</key>
                <string>{141,65}</string>
                <key>textureRect</key>
                <string>{{0,992},{141,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_146x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,52}</string>
                <key>textureRect</key>
                <string>{{0,1057},{146,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{170,1110},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_171x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,138}</string>
                <key>spriteSourceSize</key>
                <string>{171,138}</string>
                <key>textureRect</key>
                <string>{{24,597},{171,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_178x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,82}</string>
                <key>spriteSourceSize</key>
                <string>{178,82}</string>
                <key>textureRect</key>
                <string>{{24,735},{178,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{84,291},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_191x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,186}</string>
                <key>spriteSourceSize</key>
                <string>{191,186}</string>
                <key>textureRect</key>
                <string>{{84,105},{191,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{463,1113},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{405,1158},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{442,1009},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_24x486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,486}</string>
                <key>spriteSourceSize</key>
                <string>{24,486}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_24x486_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,486}</string>
                <key>spriteSourceSize</key>
                <string>{24,486}</string>
                <key>textureRect</key>
                <string>{{0,486},{24,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_252x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,124}</string>
                <key>spriteSourceSize</key>
                <string>{252,124}</string>
                <key>textureRect</key>
                <string>{{24,473},{252,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_25x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{453,398},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_27x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{232,1155},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{56,433},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_290x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,105}</string>
                <key>spriteSourceSize</key>
                <string>{290,105}</string>
                <key>textureRect</key>
                <string>{{24,0},{290,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_29x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{445,985},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_30x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{453,355},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{445,953},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{24,433},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_33x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{439,484},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_33x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{427,920},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_33x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{412,953},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_33x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{439,439},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_35x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{432,891},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_35x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{392,908},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_36x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{308,1010},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_37x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{395,871},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{437,849},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_42x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,65}</string>
                <key>spriteSourceSize</key>
                <string>{42,65}</string>
                <key>textureRect</key>
                <string>{{395,806},{42,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_43x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{437,806},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_46x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,69}</string>
                <key>spriteSourceSize</key>
                <string>{46,69}</string>
                <key>textureRect</key>
                <string>{{437,1044},{46,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_52x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{417,685},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_53x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{364,685},{53,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_56x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{364,746},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_58x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{405,1113},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_60x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,328}</string>
                <key>spriteSourceSize</key>
                <string>{60,328}</string>
                <key>textureRect</key>
                <string>{{24,105},{60,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_62x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{170,1155},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_63x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{420,746},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_63x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{420,776},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_63x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{146,1038},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_64x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{146,959},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_65x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{417,56},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_65x55_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{340,1112},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_65x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,80}</string>
                <key>spriteSourceSize</key>
                <string>{65,80}</string>
                <key>textureRect</key>
                <string>{{209,1041},{65,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_65x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,80}</string>
                <key>spriteSourceSize</key>
                <string>{65,80}</string>
                <key>textureRect</key>
                <string>{{274,1041},{65,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_66x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{417,0},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_72x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{268,1121},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{365,439},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_75x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{95,1110},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_76x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,142}</string>
                <key>spriteSourceSize</key>
                <string>{76,142}</string>
                <key>textureRect</key>
                <string>{{134,817},{76,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_78x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{314,885},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_80x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{80,124}</string>
                <key>textureRect</key>
                <string>{{195,597},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_81x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,92}</string>
                <key>spriteSourceSize</key>
                <string>{81,92}</string>
                <key>textureRect</key>
                <string>{{314,793},{81,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_81x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{81,93}</string>
                <key>textureRect</key>
                <string>{{283,700},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_81x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{202,721},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_82x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{371,355},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_82x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{82,94}</string>
                <key>textureRect</key>
                <string>{{275,606},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_87x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,85}</string>
                <key>textureRect</key>
                <string>{{276,521},{87,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_89x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{89,95}</string>
                <key>textureRect</key>
                <string>{{276,426},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_95x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{0,1109},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{377,321},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{210,1007},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{314,976},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{170,1121},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{344,1010},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{339,1044},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{339,1078},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{365,515},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{363,549},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{363,583},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{357,617},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_98x34_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{357,651},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_99x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,117}</string>
                <key>textureRect</key>
                <string>{{275,120},{99,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_99x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{24,944},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196u-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{267,426},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u196u-cony-body.png</string>
            <key>size</key>
            <string>{483,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9c61561b4aed3cc0d9580b7b99e342e:eb3a87041bba6651c85e332dbfdba4ab:2a62dd819649ad48dc48a51d2e0aaee0$</string>
            <key>textureFileName</key>
            <string>u196u-cony-body.png</string>
        </dict>
    </dict>
</plist>
