<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u81016-romi-bul2_225x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,148}</string>
                <key>spriteSourceSize</key>
                <string>{225,148}</string>
                <key>textureRect</key>
                <string>{{4,63},{225,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81016-romi-bul2_46x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{94,4},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81016-romi-bul2_70x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{144,4},{70,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u81016-romi-bul2_86x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,25}</string>
                <key>spriteSourceSize</key>
                <string>{86,25}</string>
                <key>textureRect</key>
                <string>{{4,4},{86,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u81016-romi-bul2.png</string>
            <key>size</key>
            <string>{233,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72641391e7bede31962621ef7ae87cf9:711df5f14223f212cc4f593389575b44:fc50783008aef31abb90d3bcd925b31c$</string>
            <key>textureFileName</key>
            <string>u81016-romi-bul2.png</string>
        </dict>
    </dict>
</plist>
