<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1499u-sally-bul_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{62,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499u-sally-bul_58x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1499u-sally-bul.png</string>
            <key>size</key>
            <string>{100,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89bc72d5ccb061cd89eae41c33080d6b:8ec2c200a88046d4606024053a939e1b:e3f9f37d636e8af98540034f1071b29f$</string>
            <key>textureFileName</key>
            <string>u1499u-sally-bul.png</string>
        </dict>
    </dict>
</plist>
