<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u397u-toti-body_120x159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,159}</string>
                <key>spriteSourceSize</key>
                <string>{120,159}</string>
                <key>textureRect</key>
                <string>{{133,367},{120,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_125x193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,193}</string>
                <key>spriteSourceSize</key>
                <string>{125,193}</string>
                <key>textureRect</key>
                <string>{{4,367},{125,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_136x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,158}</string>
                <key>spriteSourceSize</key>
                <string>{136,158}</string>
                <key>textureRect</key>
                <string>{{230,190},{136,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_156x181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,181}</string>
                <key>spriteSourceSize</key>
                <string>{156,181}</string>
                <key>textureRect</key>
                <string>{{255,4},{156,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_158x173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,173}</string>
                <key>spriteSourceSize</key>
                <string>{158,173}</string>
                <key>textureRect</key>
                <string>{{68,190},{158,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{42,564},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{68,4},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{383,566},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{405,566},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{370,333},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{472,4},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{383,530},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{370,297},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{427,554},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_34x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{4,564},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_39x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,62}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{436,226},{39,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_48x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,80}</string>
                <key>spriteSourceSize</key>
                <string>{48,80}</string>
                <key>textureRect</key>
                <string>{{436,142},{48,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_53x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,134}</string>
                <key>spriteSourceSize</key>
                <string>{53,134}</string>
                <key>textureRect</key>
                <string>{{415,4},{53,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_58x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,18}</string>
                <key>textureRect</key>
                <string>{{4,336},{58,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_58x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{197,530},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_58x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{259,530},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_58x54_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{321,530},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_60x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,328}</string>
                <key>spriteSourceSize</key>
                <string>{60,328}</string>
                <key>textureRect</key>
                <string>{{4,4},{60,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{133,530},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_62x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{62,104}</string>
                <key>textureRect</key>
                <string>{{370,189},{62,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_62x104_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{62,104}</string>
                <key>textureRect</key>
                <string>{{346,352},{62,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_70x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{412,297},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{257,459},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_74x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{335,460},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_78x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{413,481},{78,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_80x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{413,393},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u397u-toti-body_85x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{85,103}</string>
                <key>textureRect</key>
                <string>{{257,352},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u397u-toti-body.png</string>
            <key>size</key>
            <string>{498,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:905047ee0833b4e04a1dfb764cb86def:b133bdb4e385a7534df1c99ed917e078:b5c467a92ec527c6f51451c2a85346b2$</string>
            <key>textureFileName</key>
            <string>u397u-toti-body.png</string>
        </dict>
    </dict>
</plist>
