<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u10-zac-body_11x3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {11, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{11, 3}</string>
			<key>spriteSourceSize</key>
			<string>{11, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{9, 123}, {11, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_15x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 17}</string>
			<key>spriteSourceSize</key>
			<string>{15, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 69}, {15, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 69}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_26x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 21}</string>
			<key>spriteSourceSize</key>
			<string>{26, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 100}, {26, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_26x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {24, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{26, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 69}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_34x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{34, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 0}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_34x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {32, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 35}</string>
			<key>spriteSourceSize</key>
			<string>{34, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 0}, {34, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_53x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {51, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 38}</string>
			<key>spriteSourceSize</key>
			<string>{53, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 88}, {53, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_55x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 17}</string>
			<key>spriteSourceSize</key>
			<string>{55, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{28, 100}, {55, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_57x67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 67}</string>
			<key>spriteSourceSize</key>
			<string>{57, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 0}, {57, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_7x4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{7, 4}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 123}, {7, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_82x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {80, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 98}</string>
			<key>spriteSourceSize</key>
			<string>{82, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {82, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u10-zac-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{28, 119}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>u10-zac-body</string>
		<key>textureFileName</key>
		<string>u10-zac-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>