<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u90221-kingpookie-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{85,537},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{68,317},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{68,177},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{68,4},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{135,983},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{159,983},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_20x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{203,371},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_20x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{203,371},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{203,412},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{203,412},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{203,412},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{203,412},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x32_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{203,412},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_21x500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,500}</string>
                <key>spriteSourceSize</key>
                <string>{21,500}</string>
                <key>textureRect</key>
                <string>{{4,544},{21,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{4,1050},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{85,931},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_26x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{203,317},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_37x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{37,46}</string>
                <key>textureRect</key>
                <string>{{135,931},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{159,645},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_42x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{159,645},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_42x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{159,645},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{31,544},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_49x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,41}</string>
                <key>spriteSourceSize</key>
                <string>{49,41}</string>
                <key>textureRect</key>
                <string>{{154,782},{49,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_50x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{172,457},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_52x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{159,695},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_52x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{159,695},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_60x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{85,726},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_63x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{85,793},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_63x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{85,793},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_63x52_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{85,793},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{151,726},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{85,645},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{31,964},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{31,1004},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{68,457},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{68,497},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{85,851},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90221-kingpookie-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{85,891},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u90221-kingpookie-body.png</string>
            <key>size</key>
            <string>{235,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0160d5ec716ac17af31f034b212582c:0ed99f55d74bc77ebbad53b70852ec90:69dda3f718991680a6cba5d4e2c15c83$</string>
            <key>textureFileName</key>
            <string>u90221-kingpookie-body.png</string>
        </dict>
    </dict>
</plist>
