<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u440u-bob-body_124x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{234,744},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_125x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{379,492},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_134x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,88}</string>
                <key>textureRect</key>
                <string>{{4,902},{134,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_135x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,132}</string>
                <key>spriteSourceSize</key>
                <string>{135,132}</string>
                <key>textureRect</key>
                <string>{{4,766},{135,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_136x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,90}</string>
                <key>spriteSourceSize</key>
                <string>{136,90}</string>
                <key>textureRect</key>
                <string>{{4,672},{136,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{491,275},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{365,621},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_145x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,21}</string>
                <key>spriteSourceSize</key>
                <string>{145,21}</string>
                <key>textureRect</key>
                <string>{{4,647},{145,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_14x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{170,297},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{209,590},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{4,494},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_155x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,158}</string>
                <key>spriteSourceSize</key>
                <string>{155,158}</string>
                <key>textureRect</key>
                <string>{{220,428},{155,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_160x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{231,264},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_162x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{4,256},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{170,282},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{170,256},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{4,70},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{460,950},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_197x256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,256}</string>
                <key>spriteSourceSize</key>
                <string>{197,256}</string>
                <key>textureRect</key>
                <string>{{234,4},{197,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_19x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,7}</string>
                <key>spriteSourceSize</key>
                <string>{19,7}</string>
                <key>textureRect</key>
                <string>{{202,792},{19,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{436,950},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_21x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{482,914},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_21x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,4}</string>
                <key>spriteSourceSize</key>
                <string>{21,4}</string>
                <key>textureRect</key>
                <string>{{260,889},{21,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_21x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,5}</string>
                <key>spriteSourceSize</key>
                <string>{21,5}</string>
                <key>textureRect</key>
                <string>{{235,889},{21,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_226x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,62}</string>
                <key>spriteSourceSize</key>
                <string>{226,62}</string>
                <key>textureRect</key>
                <string>{{4,4},{226,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{482,890},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_23x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{175,792},{23,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_27x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{436,917},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_28x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{143,792},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_28x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,8}</string>
                <key>spriteSourceSize</key>
                <string>{28,8}</string>
                <key>textureRect</key>
                <string>{{188,298},{28,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{402,919},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{473,291},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_30x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{402,943},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{435,275},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_36x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,49}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{395,264},{36,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_36x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{191,234},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_37x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{191,197},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_38x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{191,152},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_38x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{38,78}</string>
                <key>textureRect</key>
                <string>{{191,70},{38,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{190,744},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{144,741},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_42x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{362,762},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{144,693},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_44x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,106}</string>
                <key>spriteSourceSize</key>
                <string>{44,106}</string>
                <key>textureRect</key>
                <string>{{161,517},{44,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_44x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{161,627},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_46x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{170,450},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_46x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{170,366},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{170,310},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_62x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{435,217},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_64x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{435,153},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_65x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{65,91}</string>
                <key>textureRect</key>
                <string>{{435,58},{65,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{435,4},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_74x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{324,919},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_75x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{403,890},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_75x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,28}</string>
                <key>spriteSourceSize</key>
                <string>{75,28}</string>
                <key>textureRect</key>
                <string>{{324,887},{75,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_75x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{316,808},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_77x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{235,808},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_78x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{78,124}</string>
                <key>textureRect</key>
                <string>{{408,762},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_86x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{234,902},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_88x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{142,902},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_88x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{143,808},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{395,398},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_92x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{92,77}</string>
                <key>textureRect</key>
                <string>{{395,317},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u440u-bob-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{473,275},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u440u-bob-body.png</string>
            <key>size</key>
            <string>{509,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5b7f8b2b6faa9fcd2e2f11534c459c:84d3b8e1a72db5133bb010ebc3bc9472:fbd36d9ab252f899a9cb8ccf7747e7e7$</string>
            <key>textureFileName</key>
            <string>u440u-bob-body.png</string>
        </dict>
    </dict>
</plist>
