<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1011u-blues-bul_104x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{4,4},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1011u-blues-bul_168x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,81}</string>
                <key>spriteSourceSize</key>
                <string>{168,81}</string>
                <key>textureRect</key>
                <string>{{4,98},{168,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1011u-blues-bul_36x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{204,4},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1011u-blues-bul_38x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,70}</string>
                <key>spriteSourceSize</key>
                <string>{38,70}</string>
                <key>textureRect</key>
                <string>{{162,4},{38,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1011u-blues-bul_46x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{46,90}</string>
                <key>textureRect</key>
                <string>{{112,4},{46,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1011u-blues-bul_52x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,106}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{176,78},{52,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1011u-blues-bul.png</string>
            <key>size</key>
            <string>{244,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f6a468ac8e491b133e892219bbcdff:2cd0d19df7840e64db4639842c20643d:153bfed1205e3b9775badc43ac87ae33$</string>
            <key>textureFileName</key>
            <string>u1011u-blues-bul.png</string>
        </dict>
    </dict>
</plist>
