<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91119-bebeto-bul_88x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{4,4},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91119-bebeto-bul.png</string>
            <key>size</key>
            <string>{96,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d645df523ba65000efe58376112f8f:2a7a2c2bdab640f9a1663d6fb0fcdf02:e9b4a99548b5035a4eb355a302ed49e1$</string>
            <key>textureFileName</key>
            <string>u91119-bebeto-bul.png</string>
        </dict>
    </dict>
</plist>
