<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u379e-edward-body_103x103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 103}</string>
			<key>spriteSourceSize</key>
			<string>{103, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 0}, {103, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_103x119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 119}</string>
			<key>spriteSourceSize</key>
			<string>{103, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 0}, {103, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_104x104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 158}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_104x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 87}</string>
			<key>spriteSourceSize</key>
			<string>{104, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{518, 227}, {104, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_108x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {106, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 20}</string>
			<key>spriteSourceSize</key>
			<string>{108, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 405}, {108, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_110x107.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {108, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 107}</string>
			<key>spriteSourceSize</key>
			<string>{110, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {110, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_111x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 31}</string>
			<key>spriteSourceSize</key>
			<string>{111, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{153, 473}, {111, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_116x225.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {114, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 225}</string>
			<key>spriteSourceSize</key>
			<string>{116, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 158}, {116, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_116x225_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {114, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 225}</string>
			<key>spriteSourceSize</key>
			<string>{116, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 0}, {116, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_121x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{121, 28}</string>
			<key>spriteSourceSize</key>
			<string>{121, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 405}, {121, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_132x132.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 132}</string>
			<key>spriteSourceSize</key>
			<string>{132, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 303}, {132, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_145x301.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 38}, {139, 263}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{145, 301}</string>
			<key>spriteSourceSize</key>
			<string>{145, 301}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {145, 301}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_150x100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {140, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 100}</string>
			<key>spriteSourceSize</key>
			<string>{150, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 303}, {150, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_151x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 33}</string>
			<key>spriteSourceSize</key>
			<string>{151, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 473}, {151, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_154x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {154, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{154, 34}</string>
			<key>spriteSourceSize</key>
			<string>{154, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 437}, {154, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_15x13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 13}</string>
			<key>spriteSourceSize</key>
			<string>{15, 13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 207}, {15, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_15x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {13, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 22}</string>
			<key>spriteSourceSize</key>
			<string>{15, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 183}, {15, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{455, 387}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_16x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 283}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_16x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {12, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 8}</string>
			<key>spriteSourceSize</key>
			<string>{16, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 109}, {16, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_17x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {15, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 23}</string>
			<key>spriteSourceSize</key>
			<string>{17, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 158}, {17, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 385}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_19x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 12}</string>
			<key>spriteSourceSize</key>
			<string>{19, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{333, 385}, {19, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_20x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {18, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 19}</string>
			<key>spriteSourceSize</key>
			<string>{20, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 394}, {20, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_20x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 372}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 19}</string>
			<key>spriteSourceSize</key>
			<string>{22, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 262}, {22, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 20}</string>
			<key>spriteSourceSize</key>
			<string>{22, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 240}, {22, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 186}, {22, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {18, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 213}, {22, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 26}</string>
			<key>spriteSourceSize</key>
			<string>{22, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 158}, {22, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 31}</string>
			<key>spriteSourceSize</key>
			<string>{22, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{424, 137}, {22, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_22x31_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 31}</string>
			<key>spriteSourceSize</key>
			<string>{22, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{424, 104}, {22, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_24x486.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 482}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 486}</string>
			<key>spriteSourceSize</key>
			<string>{24, 486}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{764, 0}, {24, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_25x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 170}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_25x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 9}</string>
			<key>spriteSourceSize</key>
			<string>{25, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{306, 385}, {25, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_27x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 22}</string>
			<key>spriteSourceSize</key>
			<string>{27, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 134}, {27, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_27x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 23}</string>
			<key>spriteSourceSize</key>
			<string>{27, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 109}, {27, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_29x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {25, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 24}</string>
			<key>spriteSourceSize</key>
			<string>{29, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{424, 78}, {29, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_33x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 34}</string>
			<key>spriteSourceSize</key>
			<string>{33, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{421, 197}, {33, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_35x38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 38}</string>
			<key>spriteSourceSize</key>
			<string>{35, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 385}, {35, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_37x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {35, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 35}</string>
			<key>spriteSourceSize</key>
			<string>{37, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 264}, {37, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_37x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {35, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 43}</string>
			<key>spriteSourceSize</key>
			<string>{37, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 372}, {37, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_40x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {38, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{624, 227}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_45x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 68}</string>
			<key>spriteSourceSize</key>
			<string>{45, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{593, 316}, {45, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_46x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {42, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 87}</string>
			<key>spriteSourceSize</key>
			<string>{46, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 233}, {46, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_49x75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 75}</string>
			<key>spriteSourceSize</key>
			<string>{49, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{658, 430}, {49, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_49x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {47, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 76}</string>
			<key>spriteSourceSize</key>
			<string>{49, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 322}, {49, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_52x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{52, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 304}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_53x23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {51, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 23}</string>
			<key>spriteSourceSize</key>
			<string>{53, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{709, 417}, {53, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_55x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {53, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 78}</string>
			<key>spriteSourceSize</key>
			<string>{55, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 78}, {55, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_58x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {56, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 69}</string>
			<key>spriteSourceSize</key>
			<string>{58, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{533, 316}, {58, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_60x328.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 328}</string>
			<key>spriteSourceSize</key>
			<string>{60, 328}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{456, 0}, {60, 328}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_62x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {58, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 49}</string>
			<key>spriteSourceSize</key>
			<string>{62, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 462}, {62, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_62x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 53}</string>
			<key>spriteSourceSize</key>
			<string>{62, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 447}, {62, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_62x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {58, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{62, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 387}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_64x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 42}</string>
			<key>spriteSourceSize</key>
			<string>{64, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{620, 386}, {64, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_68x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {66, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 24}</string>
			<key>spriteSourceSize</key>
			<string>{68, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 400}, {68, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_69x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 35}</string>
			<key>spriteSourceSize</key>
			<string>{69, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 264}, {69, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_6x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {4, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{6, 8}</string>
			<key>spriteSourceSize</key>
			<string>{6, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{518, 74}, {6, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_74x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 0}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_76x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 46}</string>
			<key>spriteSourceSize</key>
			<string>{76, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 463}, {76, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_76x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 55}</string>
			<key>spriteSourceSize</key>
			<string>{76, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{455, 330}, {76, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_80x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 29}</string>
			<key>spriteSourceSize</key>
			<string>{80, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 387}, {80, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_81x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 35}</string>
			<key>spriteSourceSize</key>
			<string>{81, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 121}, {81, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_84x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {76, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 44}</string>
			<key>spriteSourceSize</key>
			<string>{84, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 463}, {84, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_85x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {83, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 18}</string>
			<key>spriteSourceSize</key>
			<string>{85, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 352}, {85, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 427}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {86, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{256, 435}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {90, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 435}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 121}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{456, 426}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_98x34_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {96, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 34}</string>
			<key>spriteSourceSize</key>
			<string>{98, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 471}, {98, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_9x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {7, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 61}</string>
			<key>spriteSourceSize</key>
			<string>{9, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{518, 0}, {9, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u379e-edward-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{518, 63}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u379e-edward-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>