<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1043e-first-body_101x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,36}</string>
                <key>spriteSourceSize</key>
                <string>{101,36}</string>
                <key>textureRect</key>
                <string>{{4,740},{101,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{283,320},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{161,427},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_102x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,142}</string>
                <key>spriteSourceSize</key>
                <string>{102,142}</string>
                <key>textureRect</key>
                <string>{{118,580},{102,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_104x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,120}</string>
                <key>spriteSourceSize</key>
                <string>{104,120}</string>
                <key>textureRect</key>
                <string>{{391,176},{104,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_104x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,122}</string>
                <key>spriteSourceSize</key>
                <string>{104,122}</string>
                <key>textureRect</key>
                <string>{{283,194},{104,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_110x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,156}</string>
                <key>textureRect</key>
                <string>{{4,580},{110,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_110x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,168}</string>
                <key>spriteSourceSize</key>
                <string>{110,168}</string>
                <key>textureRect</key>
                <string>{{365,4},{110,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_118x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,186}</string>
                <key>spriteSourceSize</key>
                <string>{118,186}</string>
                <key>textureRect</key>
                <string>{{243,4},{118,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{4,427},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{267,527},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{479,4},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_180x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{4,243},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_235x235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{4,4},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_24x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{292,689},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_24x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{436,591},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_26x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,62}</string>
                <key>spriteSourceSize</key>
                <string>{26,62}</string>
                <key>textureRect</key>
                <string>{{430,525},{26,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{464,616},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{466,712},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{304,782},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{70,780},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{430,641},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{270,739},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{428,691},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{464,566},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_34x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{188,401},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{338,782},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{464,666},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{229,533},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{376,779},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{463,392},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_36x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{460,769},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_36x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{243,194},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{460,520},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{457,490},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{422,729},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{416,769},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_42x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{457,430},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_42x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{457,460},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_44x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{374,719},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_44x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{364,749},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_48x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{376,687},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_50x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{216,779},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_50x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{320,697},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{376,641},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_50x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{216,733},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{320,651},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_52x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{320,593},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_56x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{304,742},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_56x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{376,593},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_62x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,32}</string>
                <key>textureRect</key>
                <string>{{4,780},{62,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_64x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{224,689},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_64x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{161,533},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_70x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,26}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{389,392},{70,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_90x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{363,425},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_91x154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,154}</string>
                <key>spriteSourceSize</key>
                <string>{91,154}</string>
                <key>textureRect</key>
                <string>{{188,243},{91,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_92x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{224,593},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_92x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{92,98}</string>
                <key>textureRect</key>
                <string>{{267,425},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_94x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,86}</string>
                <key>textureRect</key>
                <string>{{118,726},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_94x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{391,300},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1043e-first-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{365,176},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1043e-first-body.png</string>
            <key>size</key>
            <string>{503,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1857a611313ad5e31fd8f6d93d5d5beb:780c3dde545e41ce9c8b9d109606fcb1:264d0b2504cc5636e6db3d98b966b3bc$</string>
            <key>textureFileName</key>
            <string>u1043e-first-body.png</string>
        </dict>
    </dict>
</plist>
