<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92022-thor-body_100x72.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,72}</string>
			<key>spriteSourceSize</key>
			<string>{100,72}</string>
			<key>textureRect</key>
			<string>{{455,954},{100,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_101x181.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,181}</string>
			<key>spriteSourceSize</key>
			<string>{101,181}</string>
			<key>textureRect</key>
			<string>{{365,351},{101,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_101x181_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,181}</string>
			<key>spriteSourceSize</key>
			<string>{101,181}</string>
			<key>textureRect</key>
			<string>{{467,351},{101,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_101x181_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,181}</string>
			<key>spriteSourceSize</key>
			<string>{101,181}</string>
			<key>textureRect</key>
			<string>{{103,360},{101,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_102x441.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,441}</string>
			<key>spriteSourceSize</key>
			<string>{102,441}</string>
			<key>textureRect</key>
			<string>{{0,0},{102,441}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_106x56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{106,56}</string>
			<key>spriteSourceSize</key>
			<string>{106,56}</string>
			<key>textureRect</key>
			<string>{{348,1020},{106,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_109x109.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,109}</string>
			<key>spriteSourceSize</key>
			<string>{109,109}</string>
			<key>textureRect</key>
			<string>{{470,844},{109,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_109x148.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,148}</string>
			<key>spriteSourceSize</key>
			<string>{109,148}</string>
			<key>textureRect</key>
			<string>{{0,542},{109,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_110x100.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,100}</string>
			<key>spriteSourceSize</key>
			<string>{110,100}</string>
			<key>textureRect</key>
			<string>{{237,937},{110,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_111x111.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,111}</string>
			<key>spriteSourceSize</key>
			<string>{111,111}</string>
			<key>textureRect</key>
			<string>{{125,832},{111,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_112x186.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,186}</string>
			<key>spriteSourceSize</key>
			<string>{112,186}</string>
			<key>textureRect</key>
			<string>{{889,264},{112,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_113x78.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{113,78}</string>
			<key>spriteSourceSize</key>
			<string>{113,78}</string>
			<key>textureRect</key>
			<string>{{0,947},{113,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_115x154.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,154}</string>
			<key>spriteSourceSize</key>
			<string>{115,154}</string>
			<key>textureRect</key>
			<string>{{205,541},{115,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_120x135.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,135}</string>
			<key>spriteSourceSize</key>
			<string>{120,135}</string>
			<key>textureRect</key>
			<string>{{198,696},{120,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_124x124.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{319,698},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_124x124_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{0,822},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_14x14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{221,994},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_14x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,24}</string>
			<key>spriteSourceSize</key>
			<string>{14,24}</string>
			<key>textureRect</key>
			<string>{{221,944},{14,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_14x24_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,24}</string>
			<key>spriteSourceSize</key>
			<string>{14,24}</string>
			<key>textureRect</key>
			<string>{{221,969},{14,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_150x105.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,105}</string>
			<key>spriteSourceSize</key>
			<string>{150,105}</string>
			<key>textureRect</key>
			<string>{{739,844},{150,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_150x113.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,113}</string>
			<key>spriteSourceSize</key>
			<string>{150,113}</string>
			<key>textureRect</key>
			<string>{{319,823},{150,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_158x108.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{158,108}</string>
			<key>spriteSourceSize</key>
			<string>{158,108}</string>
			<key>textureRect</key>
			<string>{{580,844},{158,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_162x68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,68}</string>
			<key>spriteSourceSize</key>
			<string>{162,68}</string>
			<key>textureRect</key>
			<string>{{846,984},{162,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_17x305.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,305}</string>
			<key>spriteSourceSize</key>
			<string>{17,305}</string>
			<key>textureRect</key>
			<string>{{588,0},{17,305}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_189x75.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,75}</string>
			<key>spriteSourceSize</key>
			<string>{189,75}</string>
			<key>textureRect</key>
			<string>{{580,953},{189,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{791,1026},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{810,1026},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_18x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,30}</string>
			<key>spriteSourceSize</key>
			<string>{18,30}</string>
			<key>textureRect</key>
			<string>{{1054,997},{18,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_193x164.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,164}</string>
			<key>spriteSourceSize</key>
			<string>{193,164}</string>
			<key>textureRect</key>
			<string>{{812,455},{193,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_193x164_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,164}</string>
			<key>spriteSourceSize</key>
			<string>{193,164}</string>
			<key>textureRect</key>
			<string>{{569,528},{193,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_193x164_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,164}</string>
			<key>spriteSourceSize</key>
			<string>{193,164}</string>
			<key>textureRect</key>
			<string>{{346,533},{193,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_205x263.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,263}</string>
			<key>spriteSourceSize</key>
			<string>{205,263}</string>
			<key>textureRect</key>
			<string>{{606,0},{205,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_205x263_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,263}</string>
			<key>spriteSourceSize</key>
			<string>{205,263}</string>
			<key>textureRect</key>
			<string>{{812,0},{205,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_205x263_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,263}</string>
			<key>spriteSourceSize</key>
			<string>{205,263}</string>
			<key>textureRect</key>
			<string>{{606,264},{205,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_208x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{208,41}</string>
			<key>spriteSourceSize</key>
			<string>{208,41}</string>
			<key>textureRect</key>
			<string>{{455,1029},{208,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_20x18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,18}</string>
			<key>spriteSourceSize</key>
			<string>{20,18}</string>
			<key>textureRect</key>
			<string>{{770,1026},{20,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_20x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,24}</string>
			<key>spriteSourceSize</key>
			<string>{20,24}</string>
			<key>textureRect</key>
			<string>{{91,1026},{20,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_20x30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,30}</string>
			<key>spriteSourceSize</key>
			<string>{20,30}</string>
			<key>textureRect</key>
			<string>{{1054,966},{20,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_222x350.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{222,350}</string>
			<key>spriteSourceSize</key>
			<string>{222,350}</string>
			<key>textureRect</key>
			<string>{{365,0},{222,350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_261x359.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{261,359}</string>
			<key>spriteSourceSize</key>
			<string>{261,359}</string>
			<key>textureRect</key>
			<string>{{103,0},{261,359}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_31x51.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,51}</string>
			<key>spriteSourceSize</key>
			<string>{31,51}</string>
			<key>textureRect</key>
			<string>{{1009,966},{31,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_32x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,42}</string>
			<key>spriteSourceSize</key>
			<string>{32,42}</string>
			<key>textureRect</key>
			<string>{{114,1025},{32,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_34x82.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,82}</string>
			<key>spriteSourceSize</key>
			<string>{34,82}</string>
			<key>textureRect</key>
			<string>{{348,937},{34,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_34x82_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,82}</string>
			<key>spriteSourceSize</key>
			<string>{34,82}</string>
			<key>textureRect</key>
			<string>{{383,937},{34,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_35x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,41}</string>
			<key>spriteSourceSize</key>
			<string>{35,41}</string>
			<key>textureRect</key>
			<string>{{147,1025},{35,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_36x82.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,82}</string>
			<key>spriteSourceSize</key>
			<string>{36,82}</string>
			<key>textureRect</key>
			<string>{{418,937},{36,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_37x37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,37}</string>
			<key>spriteSourceSize</key>
			<string>{37,37}</string>
			<key>textureRect</key>
			<string>{{183,1025},{37,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_420x150.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{420,150}</string>
			<key>spriteSourceSize</key>
			<string>{420,150}</string>
			<key>textureRect</key>
			<string>{{540,693},{420,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_44x43.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,43}</string>
			<key>spriteSourceSize</key>
			<string>{44,43}</string>
			<key>textureRect</key>
			<string>{{1009,1018},{44,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_50x175.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,175}</string>
			<key>spriteSourceSize</key>
			<string>{50,175}</string>
			<key>textureRect</key>
			<string>{{295,360},{50,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_61x186.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,186}</string>
			<key>spriteSourceSize</key>
			<string>{61,186}</string>
			<key>textureRect</key>
			<string>{{1018,0},{61,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_72x175.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,175}</string>
			<key>spriteSourceSize</key>
			<string>{72,175}</string>
			<key>textureRect</key>
			<string>{{1002,264},{72,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_75x75.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{770,950},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_76x190.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,190}</string>
			<key>spriteSourceSize</key>
			<string>{76,190}</string>
			<key>textureRect</key>
			<string>{{812,264},{76,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_80x80.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{125,944},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_84x84.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{983,881},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_87x139.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,139}</string>
			<key>spriteSourceSize</key>
			<string>{87,139}</string>
			<key>textureRect</key>
			<string>{{110,542},{87,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_87x139_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,139}</string>
			<key>spriteSourceSize</key>
			<string>{87,139}</string>
			<key>textureRect</key>
			<string>{{961,620},{87,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_87x139_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,139}</string>
			<key>spriteSourceSize</key>
			<string>{87,139}</string>
			<key>textureRect</key>
			<string>{{110,682},{87,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_89x180.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,180}</string>
			<key>spriteSourceSize</key>
			<string>{89,180}</string>
			<key>textureRect</key>
			<string>{{205,360},{89,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_90x41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,41}</string>
			<key>spriteSourceSize</key>
			<string>{90,41}</string>
			<key>textureRect</key>
			<string>{{0,1026},{90,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_92x102.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,102}</string>
			<key>spriteSourceSize</key>
			<string>{92,102}</string>
			<key>textureRect</key>
			<string>{{890,881},{92,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92022-thor-body_98x120.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{98,120}</string>
			<key>spriteSourceSize</key>
			<string>{98,120}</string>
			<key>textureRect</key>
			<string>{{961,760},{98,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92022-thor-body.png</string>
		<key>size</key>
		<string>{1079,1076}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92022-thor-body.png</string>
	</dict>
</dict>
</plist>
