<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1119e-brown-body_116x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,26}</string>
                <key>spriteSourceSize</key>
                <string>{116,26}</string>
                <key>textureRect</key>
                <string>{{86,194},{116,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_146x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{146,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{146,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{232,62},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{194,308},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{82,266},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{102,266},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_18x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{226,292},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_18x18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{174,312},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{154,306},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{232,34},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_20x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{166,266},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{232,2},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{230,142},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{128,306},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{226,260},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{220,222},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{190,222},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_32x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{148,142},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{82,222},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_34x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{118,222},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_34x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{154,222},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_34x42_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{204,178},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{128,266},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_36x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{188,268},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{182,142},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{80,290},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_60x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{86,134},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_76x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{2,290},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_78x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{2,218},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_80x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{150,2},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_82x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,134},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119e-brown-body_92x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,60}</string>
                <key>textureRect</key>
                <string>{{150,80},{92,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1119e-brown-body.png</string>
            <key>size</key>
            <string>{254,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb38337d727470dfbfb0fb1f9079477:b57ec91802d804e633abc5c97746d50e:be08daf77e5dfa27d3d835cc820fc25a$</string>
            <key>textureFileName</key>
            <string>u1119e-brown-body.png</string>
        </dict>
    </dict>
</plist>
