<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u196e-cony-bul_100x110.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {98, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 110}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 128}, {100, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u196e-cony-bul_16x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {12, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 40}</string>
			<key>spriteSourceSize</key>
			<string>{16, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 0}, {16, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u196e-cony-bul_60x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 42}</string>
			<key>spriteSourceSize</key>
			<string>{60, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 0}, {60, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u196e-cony-bul_64x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {60, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 62}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u196e-cony-bul_72x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {68, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 126}</string>
			<key>spriteSourceSize</key>
			<string>{72, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {72, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u196e-cony-bul_72x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {68, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 60}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 0}, {72, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u196e-cony-bul.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>