<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u90092-tyrion-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 89}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 89}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_21x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 20}</string>
			<key>spriteSourceSize</key>
			<string>{21, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{11, 89}, {21, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_36x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 40}</string>
			<key>spriteSourceSize</key>
			<string>{36, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 177}, {36, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_41x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 71}</string>
			<key>spriteSourceSize</key>
			<string>{41, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{91, 0}, {41, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_47x63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {45, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 63}</string>
			<key>spriteSourceSize</key>
			<string>{47, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 0}, {47, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_47x63_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 63}</string>
			<key>spriteSourceSize</key>
			<string>{47, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 0}, {47, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_55x86.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {53, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 86}</string>
			<key>spriteSourceSize</key>
			<string>{55, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 89}, {55, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_71x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 68}</string>
			<key>spriteSourceSize</key>
			<string>{71, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 65}, {71, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_74x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {74, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 71}</string>
			<key>spriteSourceSize</key>
			<string>{74, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 177}, {74, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_75x94.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {73, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 94}</string>
			<key>spriteSourceSize</key>
			<string>{75, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 124}, {75, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_78x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {76, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 87}</string>
			<key>spriteSourceSize</key>
			<string>{78, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{11, 0}, {78, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_92x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {90, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 30}</string>
			<key>spriteSourceSize</key>
			<string>{92, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 220}, {92, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u90092-tyrion-body_9x122.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 122}</string>
			<key>spriteSourceSize</key>
			<string>{9, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {9, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u90092-tyrion-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>