<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91025-jerome-body_100x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,63}</string>
                <key>textureRect</key>
                <string>{{598,4},{100,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_102x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,47}</string>
                <key>spriteSourceSize</key>
                <string>{102,47}</string>
                <key>textureRect</key>
                <string>{{893,148},{102,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_102x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,50}</string>
                <key>textureRect</key>
                <string>{{1113,195},{102,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_103x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,61}</string>
                <key>spriteSourceSize</key>
                <string>{103,61}</string>
                <key>textureRect</key>
                <string>{{607,135},{103,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_107x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,67}</string>
                <key>spriteSourceSize</key>
                <string>{107,67}</string>
                <key>textureRect</key>
                <string>{{496,135},{107,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_108x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{714,148},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_109x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,49}</string>
                <key>spriteSourceSize</key>
                <string>{109,49}</string>
                <key>textureRect</key>
                <string>{{272,85},{109,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_10x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{1089,102},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_112x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{380,138},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_112x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{272,4},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_115x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,41}</string>
                <key>spriteSourceSize</key>
                <string>{115,41}</string>
                <key>textureRect</key>
                <string>{{1169,148},{115,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_117x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,45}</string>
                <key>spriteSourceSize</key>
                <string>{117,45}</string>
                <key>textureRect</key>
                <string>{{778,200},{117,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_118x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{4,138},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{549,206},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_130x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{4,4},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_130x130_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{138,4},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{496,206},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{688,200},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{154,227},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{176,227},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_22x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{708,200},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{126,227},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_250x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,85}</string>
                <key>spriteSourceSize</key>
                <string>{250,85}</string>
                <key>textureRect</key>
                <string>{{126,138},{250,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_26x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{780,120},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{1254,4},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_27x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1199,88},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{734,200},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_29x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{516,206},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{1176,4},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{1131,49},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_35x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{1169,46},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_35x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{1097,4},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1214,4},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{1136,4},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_37x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{1230,86},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_38x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{1089,57},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{1067,199},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_46x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{1208,46},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_46x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{1039,57},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_46x49_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{1047,4},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_47x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{996,4},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_51x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,11}</string>
                <key>spriteSourceSize</key>
                <string>{51,11}</string>
                <key>textureRect</key>
                <string>{{565,206},{51,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_53x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{780,62},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_54x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{981,59},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_55x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{721,67},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_570x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,10}</string>
                <key>spriteSourceSize</key>
                <string>{570,10}</string>
                <key>textureRect</key>
                <string>{{714,134},{570,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_576x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,16}</string>
                <key>spriteSourceSize</key>
                <string>{576,16}</string>
                <key>textureRect</key>
                <string>{{198,227},{576,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_57x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{564,76},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_58x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{919,59},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_59x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{1219,193},{59,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_59x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{702,4},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{765,4},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_60x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{60,73}</string>
                <key>textureRect</key>
                <string>{{388,4},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_63x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,45}</string>
                <key>textureRect</key>
                <string>{{1000,199},{63,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_63x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,48}</string>
                <key>spriteSourceSize</key>
                <string>{63,48}</string>
                <key>textureRect</key>
                <string>{{826,148},{63,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_64x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,22}</string>
                <key>textureRect</key>
                <string>{{620,200},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_64x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{1131,93},{64,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_68x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,43}</string>
                <key>textureRect</key>
                <string>{{1097,148},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_68x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{526,4},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_70x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{452,4},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_76x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,51}</string>
                <key>textureRect</key>
                <string>{{916,4},{76,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_78x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{837,61},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_82x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{385,85},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_83x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{829,4},{83,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_89x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,55}</string>
                <key>spriteSourceSize</key>
                <string>{89,55}</string>
                <key>textureRect</key>
                <string>{{471,76},{89,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_92x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,59}</string>
                <key>textureRect</key>
                <string>{{625,71},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_94x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,47}</string>
                <key>spriteSourceSize</key>
                <string>{94,47}</string>
                <key>textureRect</key>
                <string>{{999,148},{94,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91025-jerome-body_97x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,46}</string>
                <key>spriteSourceSize</key>
                <string>{97,46}</string>
                <key>textureRect</key>
                <string>{{899,199},{97,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91025-jerome-body.png</string>
            <key>size</key>
            <string>{1288,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ac4ed1d666c942af7f4de381c00c274:7f78877df8d293250c243cefbfd7b7ac:95ad0d2d9278613d899e9f122e950936$</string>
            <key>textureFileName</key>
            <string>u91025-jerome-body.png</string>
        </dict>
    </dict>
</plist>
