<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1416u-chichi-body_100x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{446,146},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_102x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{102,140}</string>
                <key>textureRect</key>
                <string>{{4,190},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_102x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{102,140}</string>
                <key>textureRect</key>
                <string>{{235,4},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_106x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{235,146},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_10x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{8,48}</string>
                <key>spriteSourceSize</key>
                <string>{10,50}</string>
                <key>textureRect</key>
                <string>{{604,146},{8,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{343,146},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{502,312},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{544,476},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{180,474},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_16x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{208,190},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_18x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{490,472},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{4,4},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{384,479},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{348,397},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_24x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{420,449},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_24x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,84}</string>
                <key>spriteSourceSize</key>
                <string>{24,86}</string>
                <key>textureRect</key>
                <string>{{422,251},{22,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{496,394},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_26x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{422,339},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_26x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{26,68}</string>
                <key>textureRect</key>
                <string>{{496,324},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{420,407},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{494,428},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{588,402},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{558,412},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{588,448},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x44_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{558,458},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{588,302},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_28x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{588,352},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{556,362},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{524,372},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_30x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{524,312},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_30x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{556,302},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{510,476},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{524,430},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{306,485},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{384,445},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_36x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{340,487},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{256,440},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_38x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,88}</string>
                <key>textureRect</key>
                <string>{{302,226},{36,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{342,445},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_40x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{254,302},{38,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{450,426},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{446,460},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{254,400},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{450,324},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{296,445},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{450,380},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_44x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{374,399},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{208,302},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_46x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{374,323},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_48x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{256,490},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_48x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{298,397},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{4,474},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{554,248},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{502,248},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_52x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,104}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{200,332},{50,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_52x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{448,248},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_54x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,98}</string>
                <key>spriteSourceSize</key>
                <string>{54,100}</string>
                <key>textureRect</key>
                <string>{{548,146},{52,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{200,440},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_56x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{124,474},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{56,474},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_76x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{296,323},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_78x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{342,251},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_86x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{435,4},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_86x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{523,4},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_8x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{56,496},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_92x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,76}</string>
                <key>textureRect</key>
                <string>{{208,226},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_94x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{339,4},{92,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_94x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{104,332},{92,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_98x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{4,332},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_98x140_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{108,190},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1416u-chichi-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{378,499},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1416u-chichi-body.png</string>
            <key>size</key>
            <string>{618,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e77f4a214d2843f7b80c663fb22825:d532db4fe032a90e62b78ef2fc9a8acb:f6da147b6aee10f8937a7abf3ec7496d$</string>
            <key>textureFileName</key>
            <string>u1416u-chichi-body.png</string>
        </dict>
    </dict>
</plist>
