<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1535e-brown-body_102x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{419,132},{102,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_105x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,120}</string>
                <key>spriteSourceSize</key>
                <string>{105,120}</string>
                <key>textureRect</key>
                <string>{{2,385},{105,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_106x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{106,79}</string>
                <key>textureRect</key>
                <string>{{390,2},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_114x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,33}</string>
                <key>spriteSourceSize</key>
                <string>{114,33}</string>
                <key>textureRect</key>
                <string>{{416,160},{114,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_11x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,32}</string>
                <key>spriteSourceSize</key>
                <string>{11,32}</string>
                <key>textureRect</key>
                <string>{{532,128},{11,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_11x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,51}</string>
                <key>spriteSourceSize</key>
                <string>{11,51}</string>
                <key>textureRect</key>
                <string>{{532,75},{11,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_15x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{473,489},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_15x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{518,462},{15,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_161x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,79}</string>
                <key>spriteSourceSize</key>
                <string>{161,79}</string>
                <key>textureRect</key>
                <string>{{2,166},{161,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_181x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,34}</string>
                <key>spriteSourceSize</key>
                <string>{181,34}</string>
                <key>textureRect</key>
                <string>{{165,208},{181,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_181x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{165,170},{181,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_182x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,35}</string>
                <key>spriteSourceSize</key>
                <string>{182,35}</string>
                <key>textureRect</key>
                <string>{{196,133},{182,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_192x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_192x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{2,84},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_192x80_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{196,2},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_19x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{497,462},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_221x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,47}</string>
                <key>spriteSourceSize</key>
                <string>{221,47}</string>
                <key>textureRect</key>
                <string>{{196,84},{221,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{510,434},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{473,461},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_22x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{505,75},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_22x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{505,103},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{375,383},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_26x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,65}</string>
                <key>spriteSourceSize</key>
                <string>{26,65}</string>
                <key>textureRect</key>
                <string>{{451,239},{26,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_29x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,25}</string>
                <key>spriteSourceSize</key>
                <string>{29,25}</string>
                <key>textureRect</key>
                <string>{{510,407},{29,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_33x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{510,356},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_34x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{380,133},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_35x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{507,325},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_38x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{498,36},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_39x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{504,381},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_43x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{269,479},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_43x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{43,31}</string>
                <key>textureRect</key>
                <string>{{382,455},{43,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_44x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,23}</string>
                <key>textureRect</key>
                <string>{{200,352},{44,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{427,461},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_45x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,32}</string>
                <key>textureRect</key>
                <string>{{498,2},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_47x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{455,371},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_47x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{402,262},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_48x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,106}</string>
                <key>spriteSourceSize</key>
                <string>{48,106}</string>
                <key>textureRect</key>
                <string>{{200,244},{48,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_50x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{455,325},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{210,377},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_50x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{210,429},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_50x50_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{262,427},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_50x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{403,326},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{401,390},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_53x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{455,419},{53,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_53x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{262,376},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_56x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{314,430},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_56x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{317,383},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_57x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,26}</string>
                <key>spriteSourceSize</key>
                <string>{57,26}</string>
                <key>textureRect</key>
                <string>{{485,225},{57,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_57x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{210,481},{57,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_57x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{348,170},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_58x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{58,28}</string>
                <key>textureRect</key>
                <string>{{485,195},{58,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_59x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{479,253},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_60x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{479,300},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_64x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{336,262},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_65x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,53}</string>
                <key>textureRect</key>
                <string>{{336,328},{65,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_66x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,19}</string>
                <key>spriteSourceSize</key>
                <string>{66,19}</string>
                <key>textureRect</key>
                <string>{{372,434},{66,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_66x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,25}</string>
                <key>spriteSourceSize</key>
                <string>{66,25}</string>
                <key>textureRect</key>
                <string>{{314,473},{66,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_76x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{407,195},{76,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_77x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,18}</string>
                <key>spriteSourceSize</key>
                <string>{77,18}</string>
                <key>textureRect</key>
                <string>{{246,356},{77,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_84x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{250,312},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_84x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,47}</string>
                <key>spriteSourceSize</key>
                <string>{84,47}</string>
                <key>textureRect</key>
                <string>{{419,83},{84,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_84x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{250,244},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_94x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,21}</string>
                <key>textureRect</key>
                <string>{{348,239},{94,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_97x131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,131}</string>
                <key>spriteSourceSize</key>
                <string>{97,131}</string>
                <key>textureRect</key>
                <string>{{101,247},{97,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_97x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,136}</string>
                <key>spriteSourceSize</key>
                <string>{97,136}</string>
                <key>textureRect</key>
                <string>{{2,247},{97,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1535e-brown-body_99x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,127}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{109,380},{99,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1535e-brown-body.png</string>
            <key>size</key>
            <string>{545,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79534cfa48f7538d37933aaa436bbb9e:c36bff14fb336286f3fad7a1965d258c:09362e8795eabd19f94a8c279896774b$</string>
            <key>textureFileName</key>
            <string>u1535e-brown-body.png</string>
        </dict>
    </dict>
</plist>
