<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91029-croc-bul2_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{188,2},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_154x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{342,2},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_154x119_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{366,123},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_154x119_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,119}</string>
                <key>spriteSourceSize</key>
                <string>{154,119}</string>
                <key>textureRect</key>
                <string>{{498,2},{154,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_176x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,97}</string>
                <key>spriteSourceSize</key>
                <string>{176,97}</string>
                <key>textureRect</key>
                <string>{{188,154},{176,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_184x185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{2,2},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_32x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{2,189},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_58x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{594,123},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_70x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{522,123},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_94x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{654,2},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91029-croc-bul2_94x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{654,98},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u91029-croc-bul2.png</string>
            <key>size</key>
            <string>{750,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730aad8aef33ed4057292e99bf82b673:dc43d069ad33fd65c950ed68e0e3a25a:c25ccef0ffef97f0dfa572e44ea080aa$</string>
            <key>textureFileName</key>
            <string>u91029-croc-bul2.png</string>
        </dict>
    </dict>
</plist>
