<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1151h-sally-bul3_101x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{101,37}</string>
                <key>textureRect</key>
                <string>{{170,568},{101,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_106x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{106,100}</string>
                <key>textureRect</key>
                <string>{{364,216},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_106x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,73}</string>
                <key>textureRect</key>
                <string>{{4,554},{106,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_112x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{364,106},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_113x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,33}</string>
                <key>spriteSourceSize</key>
                <string>{113,33}</string>
                <key>textureRect</key>
                <string>{{365,69},{113,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_116x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,35}</string>
                <key>spriteSourceSize</key>
                <string>{116,35}</string>
                <key>textureRect</key>
                <string>{{365,30},{116,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_132x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,22}</string>
                <key>spriteSourceSize</key>
                <string>{132,22}</string>
                <key>textureRect</key>
                <string>{{365,4},{132,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{485,30},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,34}</string>
                <key>spriteSourceSize</key>
                <string>{146,34}</string>
                <key>textureRect</key>
                <string>{{320,536},{146,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,37}</string>
                <key>spriteSourceSize</key>
                <string>{146,37}</string>
                <key>textureRect</key>
                <string>{{170,527},{146,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,46}</string>
                <key>spriteSourceSize</key>
                <string>{146,46}</string>
                <key>textureRect</key>
                <string>{{320,486},{146,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{170,463},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,78}</string>
                <key>spriteSourceSize</key>
                <string>{146,78}</string>
                <key>textureRect</key>
                <string>{{342,404},{146,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_146x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{347,320},{146,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_15x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{474,263},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_162x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,141}</string>
                <key>spriteSourceSize</key>
                <string>{162,141}</string>
                <key>textureRect</key>
                <string>{{4,409},{162,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_164x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,74}</string>
                <key>textureRect</key>
                <string>{{174,385},{164,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_166x127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,127}</string>
                <key>spriteSourceSize</key>
                <string>{166,127}</string>
                <key>textureRect</key>
                <string>{{4,278},{166,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_167x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,146}</string>
                <key>spriteSourceSize</key>
                <string>{167,146}</string>
                <key>textureRect</key>
                <string>{{176,235},{167,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_168x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,141}</string>
                <key>spriteSourceSize</key>
                <string>{168,141}</string>
                <key>textureRect</key>
                <string>{{4,133},{168,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{480,200},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{482,95},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{482,69},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_175x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,136}</string>
                <key>spriteSourceSize</key>
                <string>{175,136}</string>
                <key>textureRect</key>
                <string>{{185,95},{175,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_176x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,87}</string>
                <key>spriteSourceSize</key>
                <string>{176,87}</string>
                <key>textureRect</key>
                <string>{{185,4},{176,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_177x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,125}</string>
                <key>spriteSourceSize</key>
                <string>{177,125}</string>
                <key>textureRect</key>
                <string>{{4,4},{177,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_17x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{480,186},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{480,142},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{480,164},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_18x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{480,119},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_21x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{474,248},{21,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{474,220},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{470,526},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{470,486},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_30x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{138,698},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{96,698},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{369,574},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{368,656},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{275,568},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{319,574},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{447,786},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{447,746},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_50x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{363,612},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{114,608},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{114,554},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_53x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{322,748},{53,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{232,661},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_54x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,99}</string>
                <key>spriteSourceSize</key>
                <string>{54,99}</string>
                <key>textureRect</key>
                <string>{{65,729},{54,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_56x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{172,661},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_57x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,100}</string>
                <key>spriteSourceSize</key>
                <string>{57,100}</string>
                <key>textureRect</key>
                <string>{{4,729},{57,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_61x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,105}</string>
                <key>spriteSourceSize</key>
                <string>{61,105}</string>
                <key>textureRect</key>
                <string>{{257,713},{61,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_62x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{123,718},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_64x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,117}</string>
                <key>spriteSourceSize</key>
                <string>{64,117}</string>
                <key>textureRect</key>
                <string>{{189,713},{64,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_64x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{379,748},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_65x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{65,34}</string>
                <key>textureRect</key>
                <string>{{96,660},{65,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_74x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,46}</string>
                <key>spriteSourceSize</key>
                <string>{74,46}</string>
                <key>textureRect</key>
                <string>{{290,656},{74,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_76x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{417,616},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_80x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,38}</string>
                <key>textureRect</key>
                <string>{{417,574},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_82x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{82,38}</string>
                <key>textureRect</key>
                <string>{{322,706},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_82x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,54}</string>
                <key>textureRect</key>
                <string>{{410,688},{82,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_87x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,40}</string>
                <key>spriteSourceSize</key>
                <string>{87,40}</string>
                <key>textureRect</key>
                <string>{{272,612},{87,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_88x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{4,631},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1151h-sally-bul3_98x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,48}</string>
                <key>spriteSourceSize</key>
                <string>{98,48}</string>
                <key>textureRect</key>
                <string>{{170,609},{98,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1151h-sally-bul3.png</string>
            <key>size</key>
            <string>{502,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00f32a7727c830b1d6fe95673ec2c2ed:929192beed5b951f684367901bb2be94:05db23f960a799d3c44ac4b43630b48a$</string>
            <key>textureFileName</key>
            <string>u1151h-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
