<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u70006-eagle-body_100x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {90, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 40}</string>
			<key>spriteSourceSize</key>
			<string>{100, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {100, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_14x13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 13}</string>
			<key>spriteSourceSize</key>
			<string>{14, 13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 236}, {14, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{91, 158}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_20x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 29}</string>
			<key>spriteSourceSize</key>
			<string>{20, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 141}, {20, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_21x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {21, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 32}</string>
			<key>spriteSourceSize</key>
			<string>{21, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{25, 42}, {21, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_23x33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {21, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 33}</string>
			<key>spriteSourceSize</key>
			<string>{23, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 42}, {23, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_26x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {26, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 25}</string>
			<key>spriteSourceSize</key>
			<string>{26, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 114}, {26, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_29x31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 31}</string>
			<key>spriteSourceSize</key>
			<string>{29, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 81}, {29, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_36x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 37}</string>
			<key>spriteSourceSize</key>
			<string>{36, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{61, 42}, {36, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_42x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 30}</string>
			<key>spriteSourceSize</key>
			<string>{42, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{165, 158}, {42, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_46x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 15}</string>
			<key>spriteSourceSize</key>
			<string>{46, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 236}, {46, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_46x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{46, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{157, 196}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_46x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 56}</string>
			<key>spriteSourceSize</key>
			<string>{46, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 196}, {46, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_46x56_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 56}</string>
			<key>spriteSourceSize</key>
			<string>{46, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{61, 172}, {46, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_54x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 46}</string>
			<key>spriteSourceSize</key>
			<string>{54, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 148}, {54, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_59x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {59, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 76}</string>
			<key>spriteSourceSize</key>
			<string>{59, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 158}, {59, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_61x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {59, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{61, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 91}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_67x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 74}</string>
			<key>spriteSourceSize</key>
			<string>{67, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 81}, {67, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_67x74_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {65, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 74}</string>
			<key>spriteSourceSize</key>
			<string>{67, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 82}, {67, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_67x80.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 80}</string>
			<key>spriteSourceSize</key>
			<string>{67, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 0}, {67, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_72x89.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {70, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 89}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{102, 0}, {72, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u70006-eagle-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{245, 0}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u70006-eagle-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>