<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u402u-james-bul_128x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{4,185},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u402u-james-bul_135x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,77}</string>
                <key>spriteSourceSize</key>
                <string>{135,77}</string>
                <key>textureRect</key>
                <string>{{4,104},{135,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u402u-james-bul_182x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,96}</string>
                <key>spriteSourceSize</key>
                <string>{182,96}</string>
                <key>textureRect</key>
                <string>{{4,4},{182,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u402u-james-bul.png</string>
            <key>size</key>
            <string>{190,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e82126fd746bc6e53f672909758bfe:cd2ea990b9bcccf486a6c3c474bd0a21:be498cea5ace97957119a90c0797aee7$</string>
            <key>textureFileName</key>
            <string>u402u-james-bul.png</string>
        </dict>
    </dict>
</plist>
