<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u477h-godot-bul2_181x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,60}</string>
                <key>spriteSourceSize</key>
                <string>{181,60}</string>
                <key>textureRect</key>
                <string>{{599,870},{181,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_199x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,58}</string>
                <key>spriteSourceSize</key>
                <string>{199,58}</string>
                <key>textureRect</key>
                <string>{{309,968},{199,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_259x197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,197}</string>
                <key>spriteSourceSize</key>
                <string>{259,197}</string>
                <key>textureRect</key>
                <string>{{599,671},{259,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_267x226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,226}</string>
                <key>spriteSourceSize</key>
                <string>{267,226}</string>
                <key>textureRect</key>
                <string>{{330,654},{267,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_274x213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,213}</string>
                <key>spriteSourceSize</key>
                <string>{274,213}</string>
                <key>textureRect</key>
                <string>{{612,456},{274,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_280x241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,241}</string>
                <key>spriteSourceSize</key>
                <string>{280,241}</string>
                <key>textureRect</key>
                <string>{{330,411},{280,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_284x283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,283}</string>
                <key>spriteSourceSize</key>
                <string>{284,283}</string>
                <key>textureRect</key>
                <string>{{656,2},{284,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_286x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,84}</string>
                <key>spriteSourceSize</key>
                <string>{286,84}</string>
                <key>textureRect</key>
                <string>{{309,882},{286,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_305x304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,304}</string>
                <key>spriteSourceSize</key>
                <string>{305,304}</string>
                <key>textureRect</key>
                <string>{{2,682},{305,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_310x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,83}</string>
                <key>spriteSourceSize</key>
                <string>{310,83}</string>
                <key>textureRect</key>
                <string>{{337,326},{310,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_317x322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,322}</string>
                <key>spriteSourceSize</key>
                <string>{317,322}</string>
                <key>textureRect</key>
                <string>{{337,2},{317,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_326x334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,334}</string>
                <key>spriteSourceSize</key>
                <string>{326,334}</string>
                <key>textureRect</key>
                <string>{{2,346},{326,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_333x342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,342}</string>
                <key>spriteSourceSize</key>
                <string>{333,342}</string>
                <key>textureRect</key>
                <string>{{2,2},{333,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_333x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,83}</string>
                <key>spriteSourceSize</key>
                <string>{333,83}</string>
                <key>textureRect</key>
                <string>{{649,371},{333,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_380x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,82}</string>
                <key>spriteSourceSize</key>
                <string>{380,82}</string>
                <key>textureRect</key>
                <string>{{656,287},{380,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u477h-godot-bul2_439x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,81}</string>
                <key>spriteSourceSize</key>
                <string>{439,81}</string>
                <key>textureRect</key>
                <string>{{597,932},{439,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u477h-godot-bul2.png</string>
            <key>size</key>
            <string>{1038,1038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c698903e7d0767435188c302de04ad70:77fb540f0b1c2972d41683650b66d4ce:e2a6a18ee7dc3770ad203ebf257eca88$</string>
            <key>textureFileName</key>
            <string>u477h-godot-bul2.png</string>
        </dict>
    </dict>
</plist>
