<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1245e-moon-bul3_179x177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{179,177}</string>
                <key>textureRect</key>
                <string>{{2,322},{179,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_179x177_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{179,177}</string>
                <key>textureRect</key>
                <string>{{183,322},{179,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{274,48},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{372,48},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{372,2},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_26x328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,328}</string>
                <key>spriteSourceSize</key>
                <string>{26,328}</string>
                <key>textureRect</key>
                <string>{{370,80},{26,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_270x272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{270,272}</string>
                <key>textureRect</key>
                <string>{{2,48},{270,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_296x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,44}</string>
                <key>spriteSourceSize</key>
                <string>{296,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{296,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_34x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,156}</string>
                <key>spriteSourceSize</key>
                <string>{34,156}</string>
                <key>textureRect</key>
                <string>{{274,146},{34,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{310,146},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_68x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{300,62},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1245e-moon-bul3_70x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{300,2},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1245e-moon-bul3.png</string>
            <key>size</key>
            <string>{398,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99bbdfbd91dd65f7618fed24bd22374c:1726052216256679e6c46f225ec3965f:1e67383f63a0cff39526f9e57ce2548a$</string>
            <key>textureFileName</key>
            <string>u1245e-moon-bul3.png</string>
        </dict>
    </dict>
</plist>
