<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1580e-sally-bul3_102x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,14}</string>
                <key>spriteSourceSize</key>
                <string>{102,14}</string>
                <key>textureRect</key>
                <string>{{149,4},{102,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{4,134},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_126x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{4,92},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{4,4},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{229,121},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_36x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,12}</string>
                <key>spriteSourceSize</key>
                <string>{36,12}</string>
                <key>textureRect</key>
                <string>{{216,215},{36,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_54x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,16}</string>
                <key>textureRect</key>
                <string>{{70,218},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{4,218},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_80x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{132,215},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{134,121},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1580e-sally-bul3_95x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{149,22},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1580e-sally-bul3.png</string>
            <key>size</key>
            <string>{256,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6a8318f807fd6fb0553bf9065d00a21:e66492afadffaf5d9ca9befce96aad09:99598dd96d421acff3df3971f9982aca$</string>
            <key>textureFileName</key>
            <string>u1580e-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
