<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1114u-azami-bul3_102x441.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,441}</string>
                <key>spriteSourceSize</key>
                <string>{102,441}</string>
                <key>textureRect</key>
                <string>{{269,4},{102,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_120x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,112}</string>
                <key>textureRect</key>
                <string>{{607,142},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_147x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,134}</string>
                <key>spriteSourceSize</key>
                <string>{147,134}</string>
                <key>textureRect</key>
                <string>{{607,4},{147,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_150x113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,113}</string>
                <key>spriteSourceSize</key>
                <string>{150,113}</string>
                <key>textureRect</key>
                <string>{{534,483},{150,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_158x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,108}</string>
                <key>spriteSourceSize</key>
                <string>{158,108}</string>
                <key>textureRect</key>
                <string>{{567,258},{158,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_162x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,68}</string>
                <key>spriteSourceSize</key>
                <string>{162,68}</string>
                <key>textureRect</key>
                <string>{{541,600},{162,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_17x305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,305}</string>
                <key>spriteSourceSize</key>
                <string>{17,305}</string>
                <key>textureRect</key>
                <string>{{230,367},{17,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_188x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,164}</string>
                <key>spriteSourceSize</key>
                <string>{188,164}</string>
                <key>textureRect</key>
                <string>{{375,236},{188,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_222x350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,350}</string>
                <key>spriteSourceSize</key>
                <string>{222,350}</string>
                <key>textureRect</key>
                <string>{{4,367},{222,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_228x228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{375,4},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_254x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,75}</string>
                <key>spriteSourceSize</key>
                <string>{254,75}</string>
                <key>textureRect</key>
                <string>{{375,404},{254,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_254x75_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,75}</string>
                <key>spriteSourceSize</key>
                <string>{254,75}</string>
                <key>textureRect</key>
                <string>{{266,710},{254,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_258x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{258,74}</string>
                <key>textureRect</key>
                <string>{{4,721},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_258x74_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{258,74}</string>
                <key>textureRect</key>
                <string>{{251,585},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_261x359.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,359}</string>
                <key>spriteSourceSize</key>
                <string>{261,359}</string>
                <key>textureRect</key>
                <string>{{4,4},{261,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_279x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,98}</string>
                <key>spriteSourceSize</key>
                <string>{279,98}</string>
                <key>textureRect</key>
                <string>{{251,483},{279,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_286x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,43}</string>
                <key>spriteSourceSize</key>
                <string>{286,43}</string>
                <key>textureRect</key>
                <string>{{251,663},{286,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{616,723},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{652,723},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_33x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{579,723},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_51x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{657,672},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_51x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{524,723},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_54x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{541,672},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_54x47_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{599,672},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1114u-azami-bul3_88x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{633,370},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1114u-azami-bul3.png</string>
            <key>size</key>
            <string>{758,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc467919a7f928c3b5b97c597a2d3e59:419a11c8b9fdb0139bb3a991ea8fee13:516fe698813ffbd5cd10307d12e7d21d$</string>
            <key>textureFileName</key>
            <string>u1114u-azami-bul3.png</string>
        </dict>
    </dict>
</plist>
