<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u437u-brownie-body_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{245,427},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_104x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{245,525},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_111x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,81}</string>
                <key>spriteSourceSize</key>
                <string>{111,81}</string>
                <key>textureRect</key>
                <string>{{359,386},{111,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_112x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,186}</string>
                <key>spriteSourceSize</key>
                <string>{112,186}</string>
                <key>textureRect</key>
                <string>{{4,885},{112,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_112x191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,191}</string>
                <key>spriteSourceSize</key>
                <string>{112,191}</string>
                <key>textureRect</key>
                <string>{{4,688},{112,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_112x205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,205}</string>
                <key>spriteSourceSize</key>
                <string>{112,205}</string>
                <key>textureRect</key>
                <string>{{4,477},{112,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_120x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,36}</string>
                <key>spriteSourceSize</key>
                <string>{120,36}</string>
                <key>textureRect</key>
                <string>{{351,473},{120,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_120x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,36}</string>
                <key>spriteSourceSize</key>
                <string>{120,36}</string>
                <key>textureRect</key>
                <string>{{302,779},{120,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_126x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,142}</string>
                <key>spriteSourceSize</key>
                <string>{126,142}</string>
                <key>textureRect</key>
                <string>{{122,855},{126,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{275,224},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{122,1003},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_146x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{275,72},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_156x166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,166}</string>
                <key>spriteSourceSize</key>
                <string>{156,166}</string>
                <key>textureRect</key>
                <string>{{4,305},{156,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{4,117},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_187x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,35}</string>
                <key>spriteSourceSize</key>
                <string>{187,35}</string>
                <key>textureRect</key>
                <string>{{166,386},{187,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{334,1081},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{358,1081},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_19x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{198,1069},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_201x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,62}</string>
                <key>spriteSourceSize</key>
                <string>{201,62}</string>
                <key>textureRect</key>
                <string>{{270,4},{201,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{431,860},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{477,463},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_22x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{189,608},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_23x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{428,761},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_25x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{476,415},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_260x107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,107}</string>
                <key>spriteSourceSize</key>
                <string>{260,107}</string>
                <key>textureRect</key>
                <string>{{4,4},{260,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_266x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,60}</string>
                <key>spriteSourceSize</key>
                <string>{266,60}</string>
                <key>textureRect</key>
                <string>{{166,320},{266,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_26x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{263,1072},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{166,1069},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_26x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{477,887},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_27x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{481,264},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_28x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{423,821},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_31x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{477,4},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{476,383},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_33x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,14}</string>
                <key>spriteSourceSize</key>
                <string>{33,14}</string>
                <key>textureRect</key>
                <string>{{295,1072},{33,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{223,1069},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_35x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{405,932},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_36x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{64,1077},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_38x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{122,1069},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{454,1023},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{217,815},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_40x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{454,1065},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_40x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{431,887},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_41x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{391,983},{41,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{446,932},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{457,841},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_46x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{459,515},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_47x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{457,793},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_50x175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,175}</string>
                <key>spriteSourceSize</key>
                <string>{50,175}</string>
                <key>textureRect</key>
                <string>{{189,427},{50,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_50x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{457,736},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_51x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{51,71}</string>
                <key>textureRect</key>
                <string>{{457,659},{51,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_53x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{454,980},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_53x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{334,1022},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_54x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{4,1077},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_54x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{454,600},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_55x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{55,33}</string>
                <key>textureRect</key>
                <string>{{330,983},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_55x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{393,1017},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_56x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{343,932},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_58x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{393,682},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_60x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{264,967},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{357,821},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_61x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,186}</string>
                <key>spriteSourceSize</key>
                <string>{61,186}</string>
                <key>textureRect</key>
                <string>{{122,477},{61,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_61x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{61,76}</string>
                <key>textureRect</key>
                <string>{{387,600},{61,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_62x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{413,264},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_64x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,41}</string>
                <key>spriteSourceSize</key>
                <string>{64,41}</string>
                <key>textureRect</key>
                <string>{{264,1025},{64,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_66x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,57}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{438,320},{66,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_68x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,43}</string>
                <key>textureRect</key>
                <string>{{357,883},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_76x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,190}</string>
                <key>spriteSourceSize</key>
                <string>{76,190}</string>
                <key>textureRect</key>
                <string>{{193,117},{76,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_79x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{217,611},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_79x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{302,611},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_79x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{217,729},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_81x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,186}</string>
                <key>spriteSourceSize</key>
                <string>{81,186}</string>
                <key>textureRect</key>
                <string>{{427,72},{81,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_83x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,70}</string>
                <key>textureRect</key>
                <string>{{254,891},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_85x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{302,696},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_88x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{263,821},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_89x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,180}</string>
                <key>spriteSourceSize</key>
                <string>{89,180}</string>
                <key>textureRect</key>
                <string>{{122,669},{89,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_98x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,79}</string>
                <key>spriteSourceSize</key>
                <string>{98,79}</string>
                <key>textureRect</key>
                <string>{{355,515},{98,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u437u-brownie-body_9x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{166,305},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u437u-brownie-body.png</string>
            <key>size</key>
            <string>{512,1103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df63ef237003bc997aa3d61d7c1be3dd:468b08374fdf0e4dae69f8014154ef8a:e5f6983bdc48cbc1a6e38ba6cef83c32$</string>
            <key>textureFileName</key>
            <string>u437u-brownie-body.png</string>
        </dict>
    </dict>
</plist>
