<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2003h-boss-bul3_144x230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,230}</string>
                <key>spriteSourceSize</key>
                <string>{144,230}</string>
                <key>textureRect</key>
                <string>{{2,66},{144,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_201x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,62}</string>
                <key>spriteSourceSize</key>
                <string>{201,62}</string>
                <key>textureRect</key>
                <string>{{2,2},{201,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_27x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,83}</string>
                <key>spriteSourceSize</key>
                <string>{27,83}</string>
                <key>textureRect</key>
                <string>{{205,2},{27,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{204,87},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_54x294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,294}</string>
                <key>spriteSourceSize</key>
                <string>{54,294}</string>
                <key>textureRect</key>
                <string>{{148,66},{54,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_59x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{84,298},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_64x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{84,390},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_72x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,108}</string>
                <key>textureRect</key>
                <string>{{150,362},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul3_80x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,111}</string>
                <key>spriteSourceSize</key>
                <string>{80,111}</string>
                <key>textureRect</key>
                <string>{{2,362},{80,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2003h-boss-bul3.png</string>
            <key>size</key>
            <string>{234,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c286dcb4cc1119d6499e174c2ccb0d45:9d4f0a59d9c289620b1944412a02e559:bc8e39a449e8be851da7a2715de381f4$</string>
            <key>textureFileName</key>
            <string>u2003h-boss-bul3.png</string>
        </dict>
    </dict>
</plist>
