<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2003h-boss-bul_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{72,28},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul_50x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,18}</string>
                <key>textureRect</key>
                <string>{{116,28},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul_68x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2003h-boss-bul_84x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{72,2},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2003h-boss-bul.png</string>
            <key>size</key>
            <string>{168,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797b847481c0960c7af1d96517b1d6e9:f928fed687becd560626ab9b1934f086:7ff4210748024991c69bc06d023e42d6$</string>
            <key>textureFileName</key>
            <string>u2003h-boss-bul.png</string>
        </dict>
    </dict>
</plist>
