<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91034-yena-bul2_62x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{4,90},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91034-yena-bul2_68x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{4,4},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91034-yena-bul2.png</string>
            <key>size</key>
            <string>{76,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5a9156207aa331248d6b3d09533e953:6bd07947210820b81d2346c37e1cb20a:88fef3779f749890505bf890006a41f0$</string>
            <key>textureFileName</key>
            <string>u91034-yena-bul2.png</string>
        </dict>
    </dict>
</plist>
