<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91034-yena-bul3_64x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{4,102},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91034-yena-bul3_78x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{4,4},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91034-yena-bul3.png</string>
            <key>size</key>
            <string>{86,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aaeb0e63bd26a5ae2676605d0a87cdc:08444c6bc22dad5251663c65aebd98d4:ba41927105afd66eeb5e970b1622040c$</string>
            <key>textureFileName</key>
            <string>u91034-yena-bul3.png</string>
        </dict>
    </dict>
</plist>
