<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1174e-cony-body_120x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,44}</string>
                <key>spriteSourceSize</key>
                <string>{120,44}</string>
                <key>textureRect</key>
                <string>{{191,406},{120,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{365,406},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{401,550},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{393,638},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{467,224},{12,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{467,190},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_12x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{429,644},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{4,415},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_15x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,2}</string>
                <key>spriteSourceSize</key>
                <string>{15,2}</string>
                <key>textureRect</key>
                <string>{{161,562},{15,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{409,644},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_16x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{399,518},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{4,229},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_186x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,104}</string>
                <key>spriteSourceSize</key>
                <string>{186,104}</string>
                <key>textureRect</key>
                <string>{{229,190},{186,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_186x104_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,104}</string>
                <key>spriteSourceSize</key>
                <string>{186,104}</string>
                <key>textureRect</key>
                <string>{{191,298},{186,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_18x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{394,602},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_18x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{432,582},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_19x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{463,252},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_19x33_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{427,488},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{161,538},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_21x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{401,454},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_21x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{426,450},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_221x221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,221}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{4,4},{221,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{229,4},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{460,166},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{401,492},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{460,46},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{460,86},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{460,126},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_22x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{460,4},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{416,624},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{416,602},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_24x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{432,560},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{363,638},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{161,415},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{451,456},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{419,525},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{450,490},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{450,525},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{455,420},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{363,602},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_27x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{401,566},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{191,229},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_28x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{331,619},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{191,269},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{365,420},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{355,510},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{243,619},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_40x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{287,619},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_40x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{419,252},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_42x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{355,550},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_42x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{353,576},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_42x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{409,420},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{355,454},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_44x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{431,360},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_44x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{419,190},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_46x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{315,406},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_46x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{381,360},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_46x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{381,298},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_46x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{431,298},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_54x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{185,608},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{185,538},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_81x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,88}</string>
                <key>spriteSourceSize</key>
                <string>{81,88}</string>
                <key>textureRect</key>
                <string>{{100,568},{81,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_84x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,20}</string>
                <key>spriteSourceSize</key>
                <string>{84,20}</string>
                <key>textureRect</key>
                <string>{{263,595},{84,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_86x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,19}</string>
                <key>spriteSourceSize</key>
                <string>{86,19}</string>
                <key>textureRect</key>
                <string>{{263,572},{86,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_88x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{263,526},{88,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_92x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{259,454},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_92x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{4,568},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_94x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{161,454},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1174e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{460,560},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1174e-cony-body.png</string>
            <key>size</key>
            <string>{486,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc8f955ec35507cb60a9877f6acc27d:0688a1140031e0b016e9b420df01b9ec:6b3e2e483c46a5345d7e294e7a384405$</string>
            <key>textureFileName</key>
            <string>u1174e-cony-body.png</string>
        </dict>
    </dict>
</plist>
