<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1042e-leonard-body_10x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{232,128},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_110x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{2,374},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_118x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,106}</string>
                <key>spriteSourceSize</key>
                <string>{118,106}</string>
                <key>textureRect</key>
                <string>{{134,238},{118,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_118x106_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,106}</string>
                <key>spriteSourceSize</key>
                <string>{118,106}</string>
                <key>textureRect</key>
                <string>{{134,346},{118,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_130x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{2,238},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{232,108},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{232,84},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{232,66},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{232,2},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_20x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{232,34},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_228x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,234}</string>
                <key>spriteSourceSize</key>
                <string>{228,234}</string>
                <key>textureRect</key>
                <string>{{2,2},{228,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{188,454},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{46,546},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{2,578},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{28,578},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{212,558},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_38x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{212,496},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{212,454},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_42x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{42,18}</string>
                <key>textureRect</key>
                <string>{{118,526},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_42x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{42,96}</string>
                <key>textureRect</key>
                <string>{{2,480},{42,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_52x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{78,404},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_68x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{72,546},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_68x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{118,462},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_68x62_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{142,546},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_70x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{46,480},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042e-leonard-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,404},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1042e-leonard-body.png</string>
            <key>size</key>
            <string>{254,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdbc536f877d503a952ea093be6ecf98:0ba358de8aac71d6fc402473b01f4979:cc82cc261cc0084d6808806e750bbcbe$</string>
            <key>textureFileName</key>
            <string>u1042e-leonard-body.png</string>
        </dict>
    </dict>
</plist>
