<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u461e-james-body_147x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,86}</string>
                <key>spriteSourceSize</key>
                <string>{147,86}</string>
                <key>textureRect</key>
                <string>{{4,384},{147,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_166x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{166,150}</string>
                <key>textureRect</key>
                <string>{{408,166},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{144,497},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_176x256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,256}</string>
                <key>spriteSourceSize</key>
                <string>{176,256}</string>
                <key>textureRect</key>
                <string>{{228,166},{176,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_220x214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,214}</string>
                <key>textureRect</key>
                <string>{{4,166},{220,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{585,435},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{585,391},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{249,456},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{574,471},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{619,4},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_32x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{578,335},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{283,456},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{614,335},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{617,379},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_38x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{617,419},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_38x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{617,453},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{616,121},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{205,456},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{100,474},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{616,81},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_40x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{464,470},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{155,452},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_520x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,158}</string>
                <key>spriteSourceSize</key>
                <string>{520,158}</string>
                <key>textureRect</key>
                <string>{{4,4},{520,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_52x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{408,470},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_53x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{578,220},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_54x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{578,281},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{578,156},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_62x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,24}</string>
                <key>textureRect</key>
                <string>{{508,467},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_66x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{155,384},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_76x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{498,320},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_83x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{498,396},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_83x67_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{321,426},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_84x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{84,71}</string>
                <key>textureRect</key>
                <string>{{528,81},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_86x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{408,397},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_86x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,73}</string>
                <key>spriteSourceSize</key>
                <string>{86,73}</string>
                <key>textureRect</key>
                <string>{{408,320},{86,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_87x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,73}</string>
                <key>spriteSourceSize</key>
                <string>{87,73}</string>
                <key>textureRect</key>
                <string>{{528,4},{87,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_92x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,26}</string>
                <key>textureRect</key>
                <string>{{225,426},{92,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_92x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,32}</string>
                <key>spriteSourceSize</key>
                <string>{92,32}</string>
                <key>textureRect</key>
                <string>{{4,474},{92,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u461e-james-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{619,60},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u461e-james-body.png</string>
            <key>size</key>
            <string>{660,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e088bfb12d1802770cf9f6b6b1e10a5:824eabb14db6663566f37c7e02193760:b73257b5e360e90c703f3f0a86deacb3$</string>
            <key>textureFileName</key>
            <string>u461e-james-body.png</string>
        </dict>
    </dict>
</plist>
