<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91052-ralph-body_116x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,56}</string>
                <key>spriteSourceSize</key>
                <string>{116,56}</string>
                <key>textureRect</key>
                <string>{{4,388},{116,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_120x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,48}</string>
                <key>spriteSourceSize</key>
                <string>{120,48}</string>
                <key>textureRect</key>
                <string>{{4,448},{120,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_166x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{4,244},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{234,456},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_200x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,236}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{222,582},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{196,570},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_22x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{22,8}</string>
                <key>textureRect</key>
                <string>{{158,606},{22,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_24x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{130,610},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_26x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{100,610},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_26x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{224,510},{26,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_28x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,14}</string>
                <key>textureRect</key>
                <string>{{224,564},{28,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{124,424},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_30x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{208,136},{30,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_32x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{32,62}</string>
                <key>textureRect</key>
                <string>{{208,4},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_32x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{32,62}</string>
                <key>textureRect</key>
                <string>{{208,70},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{208,198},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{154,570},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_38x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{124,372},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_42x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{188,456},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{100,556},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_52x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{184,608},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_56x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,24}</string>
                <key>textureRect</key>
                <string>{{164,542},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_56x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{164,510},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_56x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{128,456},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_58x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{106,308},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_60x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{100,500},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_68x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{168,330},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_70x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,34}</string>
                <key>textureRect</key>
                <string>{{166,388},{70,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{164,426},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_78x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{174,294},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_78x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{174,244},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_92x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,34}</string>
                <key>textureRect</key>
                <string>{{4,542},{92,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_92x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,34}</string>
                <key>textureRect</key>
                <string>{{4,580},{92,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_92x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,38}</string>
                <key>spriteSourceSize</key>
                <string>{92,38}</string>
                <key>textureRect</key>
                <string>{{4,500},{92,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_98x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,76}</string>
                <key>textureRect</key>
                <string>{{4,308},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91052-ralph-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{106,372},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91052-ralph-body.png</string>
            <key>size</key>
            <string>{256,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95506090c1bdc001fd75e881428fb132:fa630be43708435d6850b0e03b9cf661:042d790d2ed9cf919ee408ed122f3797$</string>
            <key>textureFileName</key>
            <string>u91052-ralph-body.png</string>
        </dict>
    </dict>
</plist>
