<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u96-cony-bul_117x98.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>117</real>
			<key>height</key>
			<real>98</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>117</real>
			<key>originalHeight</key>
			<real>98</real>
		</dict>
		
		<key>u96-cony-bul_62x58.png</key>
		<dict>
			<key>x</key>
			<real>119</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>62</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>62</real>
			<key>originalHeight</key>
			<real>58</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
</dict>
</plist>