<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1200h-gray-bul_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{286,138},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_101x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{101,79}</string>
                <key>textureRect</key>
                <string>{{154,152},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_128x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,144}</string>
                <key>textureRect</key>
                <string>{{154,4},{128,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{286,4},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{4,169},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_146x161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,161}</string>
                <key>spriteSourceSize</key>
                <string>{146,161}</string>
                <key>textureRect</key>
                <string>{{4,4},{146,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_154x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,36}</string>
                <key>spriteSourceSize</key>
                <string>{154,36}</string>
                <key>textureRect</key>
                <string>{{286,98},{154,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{462,169},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_31x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{475,55},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{462,102},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_45x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{454,136},{45,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_49x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{422,55},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{390,138},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_68x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{390,198},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1200h-gray-bul_79x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{422,4},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1200h-gray-bul.png</string>
            <key>size</key>
            <string>{510,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd099d9eb703a0e6fd1f17be178fa8c:6d5b330afaa444e049a393394876699d:d9e082c875a1d816c12ef837cb3d25fc$</string>
            <key>textureFileName</key>
            <string>u1200h-gray-bul.png</string>
        </dict>
    </dict>
</plist>
