<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1119h-brown-bul_58x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{68,2},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1119h-brown-bul_64x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,108}</string>
                <key>spriteSourceSize</key>
                <string>{64,108}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1119h-brown-bul.png</string>
            <key>size</key>
            <string>{128,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a10d53ae8f1e5999b4ad834c237379:e82895d2ed038cf516c6f3806e892cab:a216c0b35de7e9fd4c6f71e8b3bd7ee3$</string>
            <key>textureFileName</key>
            <string>u1119h-brown-bul.png</string>
        </dict>
    </dict>
</plist>
