<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2015e-sol-bul2_102x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,112}</string>
                <key>spriteSourceSize</key>
                <string>{102,112}</string>
                <key>textureRect</key>
                <string>{{655,130},{102,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_102x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,80}</string>
                <key>textureRect</key>
                <string>{{224,355},{102,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_102x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{655,246},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_104x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{472,306},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_128x176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,176}</string>
                <key>spriteSourceSize</key>
                <string>{128,176}</string>
                <key>textureRect</key>
                <string>{{761,180},{128,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_128x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,95}</string>
                <key>textureRect</key>
                <string>{{244,256},{128,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{655,344},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_172x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{766,4},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_172x172_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{479,130},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_216x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,138}</string>
                <key>spriteSourceSize</key>
                <string>{216,138}</string>
                <key>textureRect</key>
                <string>{{4,270},{216,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_222x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,125}</string>
                <key>spriteSourceSize</key>
                <string>{222,125}</string>
                <key>textureRect</key>
                <string>{{253,127},{222,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_236x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,128}</string>
                <key>spriteSourceSize</key>
                <string>{236,128}</string>
                <key>textureRect</key>
                <string>{{4,138},{236,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_245x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,130}</string>
                <key>spriteSourceSize</key>
                <string>{245,130}</string>
                <key>textureRect</key>
                <string>{{4,4},{245,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{260,439},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_250x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,122}</string>
                <key>spriteSourceSize</key>
                <string>{250,122}</string>
                <key>textureRect</key>
                <string>{{512,4},{250,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_255x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,119}</string>
                <key>textureRect</key>
                <string>{{253,4},{255,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_34x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{592,448},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_36x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{919,420},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_37x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{219,439},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{173,412},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_44x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,12}</string>
                <key>textureRect</key>
                <string>{{630,448},{44,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_55x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,39}</string>
                <key>textureRect</key>
                <string>{{893,281},{55,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_57x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{893,238},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_62x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{893,180},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_64x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{861,360},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_64x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{684,344},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_64x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{524,394},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{847,420},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_71x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{580,306},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_74x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{769,416},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_80x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{89,412},{80,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_81x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{4,412},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_81x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{684,406},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_88x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{769,360},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_88x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{592,364},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_90x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{430,394},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_92x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{376,256},{92,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2015e-sol-bul2_96x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{330,372},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2015e-sol-bul2.png</string>
            <key>size</key>
            <string>{959,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f554c7826dd211294424eed0a0f6734:21ddef3abfee78bbf632be6c49eac88f:98f23717160904ecab130112e9f0563e$</string>
            <key>textureFileName</key>
            <string>u2015e-sol-bul2.png</string>
        </dict>
    </dict>
</plist>
