<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1195h-moon-bul_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{4,40},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195h-moon-bul_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{4,4},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1195h-moon-bul.png</string>
            <key>size</key>
            <string>{52,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029818d1b0a0a408ef75ffd156f4f2da:b8aa4ce468894fe9bc1c0f0b5b4ab17d:2dc39f9bb4ade47c3f9c1b8365f9175c$</string>
            <key>textureFileName</key>
            <string>u1195h-moon-bul.png</string>
        </dict>
    </dict>
</plist>
