<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1152e-cony-body_100x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{671,215},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_103x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,16}</string>
                <key>spriteSourceSize</key>
                <string>{103,16}</string>
                <key>textureRect</key>
                <string>{{542,170},{103,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_104x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,16}</string>
                <key>spriteSourceSize</key>
                <string>{104,16}</string>
                <key>textureRect</key>
                <string>{{223,110},{104,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_109x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,88}</string>
                <key>spriteSourceSize</key>
                <string>{109,88}</string>
                <key>textureRect</key>
                <string>{{354,128},{109,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_10x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{530,54},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_110x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,100}</string>
                <key>textureRect</key>
                <string>{{130,129},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_110x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{242,128},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_125x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{96,2},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_12x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{295,95},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{737,197},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{103,232},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_134x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,88}</string>
                <key>textureRect</key>
                <string>{{362,2},{134,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{825,228},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_13x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{52,232},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{237,231},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{845,166},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{67,232},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_16x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{85,232},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_174x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,58}</string>
                <key>spriteSourceSize</key>
                <string>{174,58}</string>
                <key>textureRect</key>
                <string>{{495,193},{174,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_18x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{18,7}</string>
                <key>textureRect</key>
                <string>{{309,95},{18,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_21x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{802,228},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_22x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{751,197},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{647,169},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{283,224},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{307,224},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_24x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{117,232},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_24x17_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{211,231},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_25x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{465,193},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_25x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{775,164},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{254,224},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_27x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{862,204},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_27x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,39}</string>
                <key>textureRect</key>
                <string>{{773,211},{27,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{498,65},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{737,159},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{802,190},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{832,190},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{863,166},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{737,117},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{663,121},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{639,2},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_30x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,61}</string>
                <key>spriteSourceSize</key>
                <string>{30,61}</string>
                <key>textureRect</key>
                <string>{{498,2},{30,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{96,129},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{491,92},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_37x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{456,218},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_37x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{401,92},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_41x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,24}</string>
                <key>spriteSourceSize</key>
                <string>{41,24}</string>
                <key>textureRect</key>
                <string>{{802,164},{41,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_41x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,25}</string>
                <key>spriteSourceSize</key>
                <string>{41,25}</string>
                <key>textureRect</key>
                <string>{{331,224},{41,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_41x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{849,127},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{585,91},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{585,91},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{629,91},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{673,91},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{849,87},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_42x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{693,121},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_46x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{763,49},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_48x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,84}</string>
                <key>spriteSourceSize</key>
                <string>{48,84}</string>
                <key>textureRect</key>
                <string>{{2,164},{48,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_49x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{440,92},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{585,2},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_53x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{530,2},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_54x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{528,65},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_54x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{717,91},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_54x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{529,91},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_57x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,46}</string>
                <key>spriteSourceSize</key>
                <string>{57,46}</string>
                <key>textureRect</key>
                <string>{{604,121},{57,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_60x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{542,122},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_64x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{671,169},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_65x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{65,91}</string>
                <key>textureRect</key>
                <string>{{295,2},{65,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{143,231},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_68x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{745,2},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_70x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{70,106}</string>
                <key>textureRect</key>
                <string>{{223,2},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_70x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,31}</string>
                <key>textureRect</key>
                <string>{{329,95},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_72x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,47}</string>
                <key>spriteSourceSize</key>
                <string>{72,47}</string>
                <key>textureRect</key>
                <string>{{671,2},{72,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_74x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{773,126},{74,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_74x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{773,87},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_75x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{465,125},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_76x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{76,38}</string>
                <key>textureRect</key>
                <string>{{685,51},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_76x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{815,41},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_76x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{52,164},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_7x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{563,54},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_80x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{374,218},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_81x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{815,2},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{893,41},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_8x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{553,54},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_92x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,160}</string>
                <key>spriteSourceSize</key>
                <string>{92,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{92,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_99x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,35}</string>
                <key>spriteSourceSize</key>
                <string>{99,35}</string>
                <key>textureRect</key>
                <string>{{584,54},{99,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1152e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{542,54},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1152e-cony-body.png</string>
            <key>size</key>
            <string>{905,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56965e5c9206717b99814276b064bb7:7e9557f1b4293b67984ecc4826095525:a6bb1af83427f0ef8c1aa6b0fd3e6758$</string>
            <key>textureFileName</key>
            <string>u1152e-cony-body.png</string>
        </dict>
    </dict>
</plist>
