<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1056h-brown-body_100x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{432,384},{100,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_102x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{102,120}</string>
                <key>textureRect</key>
                <string>{{210,262},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_106x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,126}</string>
                <key>spriteSourceSize</key>
                <string>{106,126}</string>
                <key>textureRect</key>
                <string>{{2,302},{106,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_10x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{713,286},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_110x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,92}</string>
                <key>textureRect</key>
                <string>{{320,372},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_138x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,74}</string>
                <key>textureRect</key>
                <string>{{329,220},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_138x74_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,74}</string>
                <key>textureRect</key>
                <string>{{314,296},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_138x74_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,74}</string>
                <key>textureRect</key>
                <string>{{469,232},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_138x74_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,74}</string>
                <key>textureRect</key>
                <string>{{454,308},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{347,144},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x74_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{537,78},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{2,430},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{679,106},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x76_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{489,154},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_140x76_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{187,184},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_144x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,42}</string>
                <key>spriteSourceSize</key>
                <string>{144,42}</string>
                <key>textureRect</key>
                <string>{{683,62},{144,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_144x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,74}</string>
                <key>spriteSourceSize</key>
                <string>{144,74}</string>
                <key>textureRect</key>
                <string>{{537,2},{144,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{852,398},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{210,406},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{210,384},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_152x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,114}</string>
                <key>spriteSourceSize</key>
                <string>{152,114}</string>
                <key>textureRect</key>
                <string>{{2,186},{152,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_158x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,62}</string>
                <key>spriteSourceSize</key>
                <string>{158,62}</string>
                <key>textureRect</key>
                <string>{{187,120},{158,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_160x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,58}</string>
                <key>textureRect</key>
                <string>{{683,2},{160,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_160x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,58}</string>
                <key>textureRect</key>
                <string>{{373,84},{160,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_162x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,80}</string>
                <key>spriteSourceSize</key>
                <string>{162,80}</string>
                <key>textureRect</key>
                <string>{{373,2},{162,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{329,184},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_16x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,62}</string>
                <key>spriteSourceSize</key>
                <string>{16,62}</string>
                <key>textureRect</key>
                <string>{{156,186},{16,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_16x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,62}</string>
                <key>spriteSourceSize</key>
                <string>{16,62}</string>
                <key>textureRect</key>
                <string>{{845,2},{16,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_184x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{187,2},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{840,300},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_18x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{832,398},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{609,232},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_20x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{816,336},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{845,102},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_20x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{845,268},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{689,286},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{821,106},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_22x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{816,298},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{566,470},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{682,376},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{406,466},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{815,268},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_28x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{832,368},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{838,336},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{498,460},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_28x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{829,66},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{689,256},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{528,470},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{708,376},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_36x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{821,142},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_36x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{651,256},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{813,184},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{813,226},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_40x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{609,256},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{816,432},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{631,154},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_52x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{156,262},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_54x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,20}</string>
                <key>spriteSourceSize</key>
                <string>{54,20}</string>
                <key>textureRect</key>
                <string>{{754,486},{54,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_58x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{58,84}</string>
                <key>textureRect</key>
                <string>{{534,384},{58,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_60x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{754,432},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_62x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{682,308},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_64x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{432,460},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_68x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{746,298},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_76x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{746,358},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_76x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{754,384},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_78x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{674,416},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_78x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{594,416},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_80x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{144,426},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_84x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{320,466},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_86x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{594,308},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_86x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{725,184},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_88x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,24}</string>
                <key>spriteSourceSize</key>
                <string>{88,24}</string>
                <key>textureRect</key>
                <string>{{725,272},{88,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_92x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{226,384},{92,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_92x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,70}</string>
                <key>textureRect</key>
                <string>{{631,184},{92,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1056h-brown-body_98x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{110,302},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1056h-brown-body.png</string>
            <key>size</key>
            <string>{868,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9dcd8fb8a32fcd86f87203d8c87098:e5313ea42479c65b582b08c262109352:16c27080f2143742b2d2591250f845b3$</string>
            <key>textureFileName</key>
            <string>u1056h-brown-body.png</string>
        </dict>
    </dict>
</plist>
