<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1206h-moon-bul_40x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{4,4},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1206h-moon-bul.png</string>
            <key>size</key>
            <string>{48,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bef1efde01f27e854cfebbd377954de:0f3fe73102aee8ae0b2258fd41d412d7:ba00569be65073ff80f2a832892d7106$</string>
            <key>textureFileName</key>
            <string>u1206h-moon-bul.png</string>
        </dict>
    </dict>
</plist>
