<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3006e-cony-bul_108x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{108,50}</string>
                <key>textureRect</key>
                <string>{{4,4},{108,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3006e-cony-bul_40x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{116,4},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3006e-cony-bul.png</string>
            <key>size</key>
            <string>{160,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21286761d9e71a0b9f10f0cea7b823a5:729f8ec79bf567eb1594e932039a5a1f:09aeb084f39e5e36133867354960c88b$</string>
            <key>textureFileName</key>
            <string>u3006e-cony-bul.png</string>
        </dict>
    </dict>
</plist>
