<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1284h-zk-bul_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1284h-zk-bul.png</string>
            <key>size</key>
            <string>{24,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f424404b2b9ae27b3472f209d47a666:f2ca0615884b7de727d529db3fe9cf0d:78f82acbbf4c697fe6729adc44b1997e$</string>
            <key>textureFileName</key>
            <string>u1284h-zk-bul.png</string>
        </dict>
    </dict>
</plist>
