<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u467h-ryu-bul_101x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{101,37}</string>
                <key>textureRect</key>
                <string>{{203,217},{101,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_106x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,73}</string>
                <key>textureRect</key>
                <string>{{4,192},{106,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_113x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,33}</string>
                <key>spriteSourceSize</key>
                <string>{113,33}</string>
                <key>textureRect</key>
                <string>{{215,258},{113,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_116x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,35}</string>
                <key>spriteSourceSize</key>
                <string>{116,35}</string>
                <key>textureRect</key>
                <string>{{4,269},{116,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_130x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,184}</string>
                <key>spriteSourceSize</key>
                <string>{130,184}</string>
                <key>textureRect</key>
                <string>{{4,4},{130,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_18x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{321,174},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{321,146},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_53x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{264,114},{53,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_54x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,99}</string>
                <key>spriteSourceSize</key>
                <string>{54,99}</string>
                <key>textureRect</key>
                <string>{{206,114},{54,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_57x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,100}</string>
                <key>spriteSourceSize</key>
                <string>{57,100}</string>
                <key>textureRect</key>
                <string>{{337,4},{57,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_61x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,105}</string>
                <key>spriteSourceSize</key>
                <string>{61,105}</string>
                <key>textureRect</key>
                <string>{{272,4},{61,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_62x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{206,4},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_64x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,117}</string>
                <key>spriteSourceSize</key>
                <string>{64,117}</string>
                <key>textureRect</key>
                <string>{{138,4},{64,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_64x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{138,125},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_65x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{65,34}</string>
                <key>textureRect</key>
                <string>{{337,108},{65,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_72x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{332,255},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_85x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,59}</string>
                <key>textureRect</key>
                <string>{{114,196},{85,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_87x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,40}</string>
                <key>spriteSourceSize</key>
                <string>{87,40}</string>
                <key>textureRect</key>
                <string>{{124,259},{87,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u467h-ryu-bul_98x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,48}</string>
                <key>spriteSourceSize</key>
                <string>{98,48}</string>
                <key>textureRect</key>
                <string>{{308,203},{98,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u467h-ryu-bul.png</string>
            <key>size</key>
            <string>{410,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67b7ef74fff1e38d05fd2e69963e7b8a:814b045995348b3802d92eddc061af99:71ca7bf886fa93603c6298cf9d74b9bd$</string>
            <key>textureFileName</key>
            <string>u467h-ryu-bul.png</string>
        </dict>
    </dict>
</plist>
