<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u92010-cater-bul2_152x150.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,150}</string>
			<key>spriteSourceSize</key>
			<string>{152,150}</string>
			<key>textureRect</key>
			<string>{{0,0},{152,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_24x24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{395,43},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_24x24_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{420,43},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_40x44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,44}</string>
			<key>spriteSourceSize</key>
			<string>{40,44}</string>
			<key>textureRect</key>
			<string>{{354,0},{40,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{395,0},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_52x52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,52}</string>
			<key>spriteSourceSize</key>
			<string>{52,52}</string>
			<key>textureRect</key>
			<string>{{301,0},{52,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_56x86.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,86}</string>
			<key>spriteSourceSize</key>
			<string>{56,86}</string>
			<key>textureRect</key>
			<string>{{244,0},{56,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u92010-cater-bul2_90x90.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{153,0},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u92010-cater-bul2.png</string>
		<key>size</key>
		<string>{444,150}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u92010-cater-bul2.png</string>
	</dict>
</dict>
</plist>
