<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u50064-statar-body_100x96.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {100, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 96}</string>
			<key>spriteSourceSize</key>
			<string>{100, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 157}, {100, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_125x119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {123, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 119}</string>
			<key>spriteSourceSize</key>
			<string>{125, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 0}, {125, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_126x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {122, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 34}</string>
			<key>spriteSourceSize</key>
			<string>{126, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 121}, {126, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_128x122.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {124, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 122}</string>
			<key>spriteSourceSize</key>
			<string>{128, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 330}, {128, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_14x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {10, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{14, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 316}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 108}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_16x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {12, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 138}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_16x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 20}</string>
			<key>spriteSourceSize</key>
			<string>{16, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 317}, {16, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_18x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 14}</string>
			<key>spriteSourceSize</key>
			<string>{18, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 139}, {18, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_18x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 16}</string>
			<key>spriteSourceSize</key>
			<string>{18, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 121}, {18, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_20x106.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 106}</string>
			<key>spriteSourceSize</key>
			<string>{20, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 0}, {20, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_20x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 317}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_22x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {18, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 16}</string>
			<key>spriteSourceSize</key>
			<string>{22, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 316}, {22, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_22x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {18, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 8}</string>
			<key>spriteSourceSize</key>
			<string>{22, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 144}, {22, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_24x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 70}</string>
			<key>spriteSourceSize</key>
			<string>{24, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 78}, {24, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_24x73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 73}</string>
			<key>spriteSourceSize</key>
			<string>{24, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{118, 255}, {24, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_25x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 68}</string>
			<key>spriteSourceSize</key>
			<string>{25, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 0}, {25, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_28x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {24, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 18}</string>
			<key>spriteSourceSize</key>
			<string>{28, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 297}, {28, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_29x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 66}</string>
			<key>spriteSourceSize</key>
			<string>{29, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 150}, {29, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 375}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_30x88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{30, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 0}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_31x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 70}</string>
			<key>spriteSourceSize</key>
			<string>{31, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 80}, {31, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_32x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {28, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 26}</string>
			<key>spriteSourceSize</key>
			<string>{32, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 375}, {32, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_32x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 350}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_32x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {30, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 76}</string>
			<key>spriteSourceSize</key>
			<string>{32, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{333, 0}, {32, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_33x65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 65}</string>
			<key>spriteSourceSize</key>
			<string>{33, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{388, 70}, {33, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_34x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{34, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{251, 344}, {34, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_34x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 50}</string>
			<key>spriteSourceSize</key>
			<string>{34, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{211, 92}, {34, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_35x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 64}</string>
			<key>spriteSourceSize</key>
			<string>{35, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 284}, {35, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_36x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 34}</string>
			<key>spriteSourceSize</key>
			<string>{36, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 339}, {36, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_36x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {32, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 44}</string>
			<key>spriteSourceSize</key>
			<string>{36, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 387}, {36, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_37x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 64}</string>
			<key>spriteSourceSize</key>
			<string>{37, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 343}, {37, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_38x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 36}</string>
			<key>spriteSourceSize</key>
			<string>{38, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 149}, {38, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_38x67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 67}</string>
			<key>spriteSourceSize</key>
			<string>{38, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 80}, {38, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_39x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 64}</string>
			<key>spriteSourceSize</key>
			<string>{39, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{274, 278}, {39, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_40x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{40, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 92}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {40, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 343}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_42x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{42, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 297}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_42x44_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{42, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 187}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_42x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {40, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 78}</string>
			<key>spriteSourceSize</key>
			<string>{42, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 0}, {42, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_44x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {40, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 90}</string>
			<key>spriteSourceSize</key>
			<string>{44, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{211, 0}, {44, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_45x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 64}</string>
			<key>spriteSourceSize</key>
			<string>{45, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 0}, {45, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_48x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 234}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_54x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 36}</string>
			<key>spriteSourceSize</key>
			<string>{54, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 278}, {54, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_54x36_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 36}</string>
			<key>spriteSourceSize</key>
			<string>{54, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 277}, {54, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_54x62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 62}</string>
			<key>spriteSourceSize</key>
			<string>{54, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 213}, {54, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_60x328.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 328}</string>
			<key>spriteSourceSize</key>
			<string>{60, 328}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 328}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_60x54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 54}</string>
			<key>spriteSourceSize</key>
			<string>{60, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 157}, {60, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_72x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 40}</string>
			<key>spriteSourceSize</key>
			<string>{72, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 255}, {72, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_82x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {78, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 42}</string>
			<key>spriteSourceSize</key>
			<string>{82, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 234}, {82, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_84x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {80, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 78}</string>
			<key>spriteSourceSize</key>
			<string>{84, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 154}, {84, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50064-statar-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{118, 213}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u50064-statar-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>