<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u1626h-cony-bul3_136x126.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{136,126}</string>
			<key>spriteSourceSize</key>
			<string>{136,126}</string>
			<key>textureRect</key>
			<string>{{322,0},{136,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_140x140.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,140}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{181,0},{140,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_180x144.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,144}</string>
			<key>spriteSourceSize</key>
			<string>{180,144}</string>
			<key>textureRect</key>
			<string>{{0,0},{180,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{571,0},{26,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_44x68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,68}</string>
			<key>spriteSourceSize</key>
			<string>{44,68}</string>
			<key>textureRect</key>
			<string>{{459,71},{44,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_44x70.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,70}</string>
			<key>spriteSourceSize</key>
			<string>{44,70}</string>
			<key>textureRect</key>
			<string>{{459,0},{44,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_64x64.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{504,71},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>u1626h-cony-bul3_66x70.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,70}</string>
			<key>spriteSourceSize</key>
			<string>{66,70}</string>
			<key>textureRect</key>
			<string>{{504,0},{66,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>u1626h-cony-bul3.png</string>
		<key>size</key>
		<string>{597,144}</string>
		<key>smartupdate</key>
		<string>$swf_to_assets.py:auto-generated$</string>
		<key>textureFileName</key>
		<string>u1626h-cony-bul3.png</string>
	</dict>
</dict>
</plist>
