<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1382u-brown-body_104x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{317,163},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_106x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{235,55},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_106x104_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{4,420},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_10x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{435,112},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{289,249},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{4,526},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_124x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{112,90}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{149,332},{112,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{306,514},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{4,332},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{265,332},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_16x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{442,563},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{435,82},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{435,46},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{4,55},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{390,354},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_26x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{421,543},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{427,513},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{393,534},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_26x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{427,473},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{397,398},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{425,395},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{395,450},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_28x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{397,492},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{423,163},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_28x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{319,414},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_295x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{281,87}</string>
                <key>spriteSourceSize</key>
                <string>{295,95}</string>
                <key>textureRect</key>
                <string>{{4,241},{281,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{425,437},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_30x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{274,515},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{392,249},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_30x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{392,299},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{321,512},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{272,568},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{306,568},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{340,568},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{374,568},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x40_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{408,568},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{416,351},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{424,303},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_32x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{321,464},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{424,259},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{424,213},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{355,530},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{355,450},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{355,492},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_420x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{404,47}</string>
                <key>spriteSourceSize</key>
                <string>{420,53}</string>
                <key>textureRect</key>
                <string>{{4,4},{404,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{273,414},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_44x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{275,470},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{412,4},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_46x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{349,408},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_50x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{222,559},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{222,515},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_61x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{265,354},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_62x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{326,354},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{207,426},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{207,493},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_80x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{235,161},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_88x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{132,520},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_90x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{343,55},{88,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{112,426},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382u-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{447,112},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1382u-brown-body.png</string>
            <key>size</key>
            <string>{460,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d75d477dd8fe3932146e64b8bc0f01:47730ffc69e30ae4893d621ac5a21f7d:04272db13602f9a89a1fbeecc452e698$</string>
            <key>textureFileName</key>
            <string>u1382u-brown-body.png</string>
        </dict>
    </dict>
</plist>
