<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1187e-moon-body_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{4,280},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{514,292},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{451,431},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{514,277},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{401,433},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{508,343},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_20x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{388,455},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{375,433},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{425,427},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_22x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,6}</string>
                <key>spriteSourceSize</key>
                <string>{22,6}</string>
                <key>textureRect</key>
                <string>{{469,431},{22,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{290,457},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{432,331},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_255x269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,269}</string>
                <key>spriteSourceSize</key>
                <string>{255,269}</string>
                <key>textureRect</key>
                <string>{{278,4},{255,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{425,401},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{352,335},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_270x272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{270,272}</string>
                <key>textureRect</key>
                <string>{{4,4},{270,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{354,453},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{349,375},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{341,409},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{32,10}</string>
                <key>textureRect</key>
                <string>{{206,458},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{32,10}</string>
                <key>textureRect</key>
                <string>{{497,425},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{170,458},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{254,457},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{497,401},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{80,448},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{318,453},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{497,367},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{423,365},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{305,409},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{170,412},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{80,400},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{459,367},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_34x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,8}</string>
                <key>spriteSourceSize</key>
                <string>{34,8}</string>
                <key>textureRect</key>
                <string>{{495,439},{34,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{383,365},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_38x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{383,405},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_38x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{455,403},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{425,449},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{204,366},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{460,343},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{301,373},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_44x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{206,412},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{382,331},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_46x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{464,277},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_47x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{301,335},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_47x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{254,412},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_47x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{250,364},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_50x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{50,16}</string>
                <key>textureRect</key>
                <string>{{116,458},{50,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{116,412},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_64x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,22}</string>
                <key>textureRect</key>
                <string>{{218,338},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{4,400},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_76x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{124,366},{76,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_78x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{382,277},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_78x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{218,280},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_78x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{300,277},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_90x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{124,280},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1187e-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{412,455},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1187e-moon-body.png</string>
            <key>size</key>
            <string>{537,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc0f7d0af15088b42c50e559a187b32:cb6c781381dc09de766b03272c95c843:f70262deb016ad2c7c77ea3b3dc75587$</string>
            <key>textureFileName</key>
            <string>u1187e-moon-body.png</string>
        </dict>
    </dict>
</plist>
