<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1615e-brown-bul3_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_47x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{32,2},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_78x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,58}</string>
                <key>spriteSourceSize</key>
                <string>{78,58}</string>
                <key>textureRect</key>
                <string>{{2,51},{78,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_80x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,67}</string>
                <key>textureRect</key>
                <string>{{2,176},{80,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_82x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{82,63}</string>
                <key>textureRect</key>
                <string>{{2,111},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_84x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{2,245},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_85x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{2,319},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_91x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{2,406},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_95x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{2,499},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1615e-brown-bul3_98x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{98,100}</string>
                <key>textureRect</key>
                <string>{{2,597},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1615e-brown-bul3.png</string>
            <key>size</key>
            <string>{102,699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b3b552b09c83287bc4a4387efd2819:c5b0f8ba5ef52fb9325cc9dde225be3c:9483ee30f0b05eca4d4ae7440c4bf2ad$</string>
            <key>textureFileName</key>
            <string>u1615e-brown-bul3.png</string>
        </dict>
    </dict>
</plist>
