<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1091e-hunt-bul_64x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,24}</string>
                <key>textureRect</key>
                <string>{{4,52},{64,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1091e-hunt-bul_66x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{66,44}</string>
                <key>textureRect</key>
                <string>{{4,4},{66,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1091e-hunt-bul.png</string>
            <key>size</key>
            <string>{74,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:052e9d1a2e6aea5f2210fb73e517ddcb:75e75c3badec85529a18e97fbd6261a0:ff25be7cf97e40daac431f50961892c9$</string>
            <key>textureFileName</key>
            <string>u1091e-hunt-bul.png</string>
        </dict>
    </dict>
</plist>
