<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80020-obed-body_100x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{92,1226},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{124,1120},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_104x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,39}</string>
                <key>spriteSourceSize</key>
                <string>{104,39}</string>
                <key>textureRect</key>
                <string>{{137,1077},{104,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_107x107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{137,966},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{4,1091},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{4,953},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_137x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,110}</string>
                <key>spriteSourceSize</key>
                <string>{137,110}</string>
                <key>textureRect</key>
                <string>{{4,839},{137,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{4,548},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{4,410},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{4,239},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{211,824},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{211,846},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{4,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,1211},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_31x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{211,781},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_41x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{188,1703},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_42x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{140,1479},{42,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_43x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,68}</string>
                <key>spriteSourceSize</key>
                <string>{43,68}</string>
                <key>textureRect</key>
                <string>{{92,1644},{43,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_44x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{92,1716},{44,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_44x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{92,1479},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_45x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{139,1644},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_47x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,55}</string>
                <key>spriteSourceSize</key>
                <string>{47,55}</string>
                <key>textureRect</key>
                <string>{{188,1644},{47,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{196,1226},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,1211},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_59x105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,105}</string>
                <key>spriteSourceSize</key>
                <string>{59,105}</string>
                <key>textureRect</key>
                <string>{{148,781},{59,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_63x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{170,369},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_63x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{170,318},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{170,239},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{166,415},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_96x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{148,681},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{145,890},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{145,928},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{92,1327},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{92,1365},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{92,1403},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80020-obed-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{92,1441},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80020-obed-body.png</string>
            <key>size</key>
            <string>{248,1749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f7c3fcb28f99d13e4d4874aad93a7eb:ff776707bd96577b046ec454eb3ff01d:751f5e2f75429bb5cbfc69c9b133a2c3$</string>
            <key>textureFileName</key>
            <string>u80020-obed-body.png</string>
        </dict>
    </dict>
</plist>
