<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1273e-dwight-bul3_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{4,92},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{4,4},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_62x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{190,273},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{97,349},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_89x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,69}</string>
                <key>textureRect</key>
                <string>{{4,330},{89,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_89x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,72}</string>
                <key>spriteSourceSize</key>
                <string>{89,72}</string>
                <key>textureRect</key>
                <string>{{97,273},{89,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_89x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,73}</string>
                <key>spriteSourceSize</key>
                <string>{89,73}</string>
                <key>textureRect</key>
                <string>{{4,253},{89,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_90x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,72}</string>
                <key>textureRect</key>
                <string>{{98,197},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_90x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{90,73}</string>
                <key>textureRect</key>
                <string>{{4,176},{90,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{132,103},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul3_95x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{149,4},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1273e-dwight-bul3.png</string>
            <key>size</key>
            <string>{256,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25c239301109693ae64ebaff10fbe11:d28b27684e467b5b28e29fc069db947d:05b7a907616833d4b9b15d6c9094a523$</string>
            <key>textureFileName</key>
            <string>u1273e-dwight-bul3.png</string>
        </dict>
    </dict>
</plist>
