<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1273e-dwight-bul_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{208,36},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_22x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{182,34},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{286,4},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{256,4},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{220,4},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{182,4},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{136,4},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_56x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,42}</string>
                <key>textureRect</key>
                <string>{{76,4},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1273e-dwight-bul_68x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{4,4},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1273e-dwight-bul.png</string>
            <key>size</key>
            <string>{314,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4ec7fd39a7fc40149898f543ba41ec:0acf4afaf1d5b63a2dc7c8941a5b956f:6b437382bb0d0edb1d363a2328287f21$</string>
            <key>textureFileName</key>
            <string>u1273e-dwight-bul.png</string>
        </dict>
    </dict>
</plist>
