<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2029e-naga-body_102x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{248,192},{102,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_106x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{106,124}</string>
                <key>textureRect</key>
                <string>{{4,4},{106,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_108x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,28}</string>
                <key>spriteSourceSize</key>
                <string>{108,28}</string>
                <key>textureRect</key>
                <string>{{124,256},{108,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_108x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{106,288},{108,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_110x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,40}</string>
                <key>textureRect</key>
                <string>{{4,412},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_110x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{4,348},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_114x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{114,56}</string>
                <key>textureRect</key>
                <string>{{248,132},{114,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_114x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{114,58}</string>
                <key>textureRect</key>
                <string>{{124,194},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_116x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,58}</string>
                <key>spriteSourceSize</key>
                <string>{116,58}</string>
                <key>textureRect</key>
                <string>{{4,206},{116,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_116x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,70}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{4,132},{116,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_120x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{244,70},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_120x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{124,132},{120,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_122x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,60}</string>
                <key>spriteSourceSize</key>
                <string>{122,60}</string>
                <key>textureRect</key>
                <string>{{380,4},{122,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_126x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{126,58}</string>
                <key>textureRect</key>
                <string>{{114,70},{126,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_128x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,62}</string>
                <key>textureRect</key>
                <string>{{248,4},{128,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_130x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,62}</string>
                <key>spriteSourceSize</key>
                <string>{130,62}</string>
                <key>textureRect</key>
                <string>{{114,4},{130,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{374,460},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{340,228},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_22x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{536,462},{22,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{568,134},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_26x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{26,52}</string>
                <key>textureRect</key>
                <string>{{374,404},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{540,430},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{400,466},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{432,468},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{472,454},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{504,456},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{554,226},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{472,406},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{506,366},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_30x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{404,408},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{372,344},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_30x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{438,408},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{504,424},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_32x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{178,448},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_36x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{556,182},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_38x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{460,68},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{462,366},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_40x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{134,448},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_44x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{306,488},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{184,416},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{540,394},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{546,360},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{546,322},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_46x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{546,270},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_48x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{186,330},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_50x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{308,278},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{374,218},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_52x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{406,364},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_56x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{362,318},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_56x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{486,270},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{494,182},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{430,224},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{492,226},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{422,320},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x40_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{484,322},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{424,268},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,52}</string>
                <key>textureRect</key>
                <string>{{362,262},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_58x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{310,348},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_60x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{366,166},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_60x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{70,456},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_60x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{430,168},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_62x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{118,414},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_62x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{502,134},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_62x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{436,116},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_62x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{4,456},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_64x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{368,116},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_64x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{306,432},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_64x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{118,330},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_66x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{502,82},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_66x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{238,278},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_68x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{238,360},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_70x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{232,428},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_72x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{506,4},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_76x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{380,68},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_94x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,14}</string>
                <key>spriteSourceSize</key>
                <string>{94,14}</string>
                <key>textureRect</key>
                <string>{{236,260},{94,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_94x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,28}</string>
                <key>spriteSourceSize</key>
                <string>{94,28}</string>
                <key>textureRect</key>
                <string>{{242,228},{94,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2029e-naga-body_98x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,76}</string>
                <key>textureRect</key>
                <string>{{4,268},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2029e-naga-body.png</string>
            <key>size</key>
            <string>{596,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e36ff77123e106aeaf579d4afcdd12e:587ff297b2c2284440f2468926747463:a2d538a4f021458ceb0d0826ff21b181$</string>
            <key>textureFileName</key>
            <string>u2029e-naga-body.png</string>
        </dict>
    </dict>
</plist>
