<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1340e-brown-body_11x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{95,178},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_135x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,141}</string>
                <key>spriteSourceSize</key>
                <string>{135,141}</string>
                <key>textureRect</key>
                <string>{{2,35},{135,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{210,315},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_188x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,31}</string>
                <key>spriteSourceSize</key>
                <string>{188,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{188,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_19x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{167,435},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_19x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{220,468},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_19x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{220,439},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{145,440},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_20x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{123,440},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_20x21_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{123,440},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_23x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{230,303},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_24x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{230,270},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_25x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{221,409},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_25x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{128,463},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_27x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{94,436},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_27x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{195,366},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_27x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,55}</string>
                <key>spriteSourceSize</key>
                <string>{27,55}</string>
                <key>textureRect</key>
                <string>{{65,439},{27,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_28x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{191,398},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_29x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{189,435},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_29x41_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{224,366},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_30x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{91,413},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_30x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{91,366},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_31x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{158,398},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{94,466},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{94,466},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_32x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{155,462},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_32x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{155,462},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_33x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{123,397},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{159,356},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_34x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{159,356},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_34x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{123,354},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_34x41_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{123,354},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_35x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{210,332},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_35x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{210,332},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_36x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{139,149},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_36x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{172,315},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_36x39_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{139,149},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_36x39_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{172,315},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{139,115},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_40x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{139,115},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_49x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{139,69},{49,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_51x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,32}</string>
                <key>spriteSourceSize</key>
                <string>{51,32}</string>
                <key>textureRect</key>
                <string>{{139,35},{51,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_56x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{172,270},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_61x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{192,65},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_61x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{2,439},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_61x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{192,2},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_71x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,28}</string>
                <key>spriteSourceSize</key>
                <string>{71,28}</string>
                <key>textureRect</key>
                <string>{{181,127},{71,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{177,241},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_76x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{177,195},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_77x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{177,157},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_79x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{91,267},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_80x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{95,190},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_80x75_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{95,190},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_87x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,180}</string>
                <key>spriteSourceSize</key>
                <string>{87,180}</string>
                <key>textureRect</key>
                <string>{{2,257},{87,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_91x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{91,77}</string>
                <key>textureRect</key>
                <string>{{2,178},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1340e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{181,115},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1340e-brown-body.png</string>
            <key>size</key>
            <string>{256,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b5511da9af3aed13959fc2ea20bcd4:bb20363744bca95f038766d96b17f38d:41735cc2c0b2c553d84335beac93e099$</string>
            <key>textureFileName</key>
            <string>u1340e-brown-body.png</string>
        </dict>
    </dict>
</plist>
