<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1382e-brown-body_104x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{277,149},{102,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{501,242},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_112x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{412,4},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_112x110_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{526,4},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{149,146},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_124x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{112,90}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{289,55},{112,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_12x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{829,88},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{4,146},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{32,234},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{814,116},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{383,149},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{475,204},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_26x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{4,234},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{843,214},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_26x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{785,208},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{812,166},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_28x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{813,208},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{415,204},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_28x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{445,204},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_295x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{281,87}</string>
                <key>spriteSourceSize</key>
                <string>{295,95}</string>
                <key>textureRect</key>
                <string>{{4,55},{281,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{707,180},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_30x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{739,180},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{383,204},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{751,216},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{551,202},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{778,166},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{843,88},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{843,130},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x40_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{843,172},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{637,183},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{671,172},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{778,120},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{713,216},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{671,216},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_420x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{404,47}</string>
                <key>spriteSourceSize</key>
                <string>{420,53}</string>
                <key>textureRect</key>
                <string>{{4,4},{404,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{829,4},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_46x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{829,46},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_50x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{501,202},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_50x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{585,183},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_61x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{717,120},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{585,116},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_64x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{651,116},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{734,98},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_86x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{499,116},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{734,4},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_92x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{640,4},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_92x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{405,116},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1382e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{383,185},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1382e-brown-body.png</string>
            <key>size</key>
            <string>{877,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eea321f2f4e2a5d8c6268973da6db47:8502b611795101da9d372032c9c4335b:a9ca2758e98985d4e6f6c5af06e81516$</string>
            <key>textureFileName</key>
            <string>u1382e-brown-body.png</string>
        </dict>
    </dict>
</plist>
