<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91115-hide-bul2_128x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{306,4},{128,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91115-hide-bul2_64x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{438,4},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91115-hide-bul2_96x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{206,4},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91115-hide-bul2_96x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{4,4},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91115-hide-bul2_98x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{104,4},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91115-hide-bul2.png</string>
            <key>size</key>
            <string>{506,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ade0f0dc895ffd5b98e39e7794a34a:cee7f64f80a565809f28ff8ad2c17757:278d9055a368df4e6cf2b99371439958$</string>
            <key>textureFileName</key>
            <string>u91115-hide-bul2.png</string>
        </dict>
    </dict>
</plist>
