<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1499h-sally-body_122x250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,250}</string>
                <key>spriteSourceSize</key>
                <string>{122,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{122,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_12x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,116}</string>
                <key>spriteSourceSize</key>
                <string>{12,116}</string>
                <key>textureRect</key>
                <string>{{452,74},{12,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{496,228},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_144x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{126,2},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{506,180},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_14x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{506,158},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_14x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{480,222},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{450,234},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{306,230},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_16x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{442,192},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_16x22_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{520,198},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_16x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{392,212},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{502,138},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{522,138},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{522,168},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{410,218},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{430,218},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{460,192},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{480,192},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x28_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{500,198},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_18x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,56}</string>
                <key>spriteSourceSize</key>
                <string>{18,56}</string>
                <key>textureRect</key>
                <string>{{396,152},{18,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{262,230},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_20x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{284,230},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_22x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,112}</string>
                <key>spriteSourceSize</key>
                <string>{22,112}</string>
                <key>textureRect</key>
                <string>{{428,74},{22,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{324,228},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{416,188},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{190,230},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{322,196},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_28x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,10}</string>
                <key>spriteSourceSize</key>
                <string>{28,10}</string>
                <key>textureRect</key>
                <string>{{450,222},{28,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_30x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,74}</string>
                <key>spriteSourceSize</key>
                <string>{30,74}</string>
                <key>textureRect</key>
                <string>{{510,2},{30,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{504,78},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_32x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{504,108},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{466,122},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_36x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{466,74},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{466,158},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{350,212},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_42x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,16}</string>
                <key>spriteSourceSize</key>
                <string>{42,16}</string>
                <key>textureRect</key>
                <string>{{218,226},{42,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_42x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{352,152},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{276,196},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_60x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{214,148},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_62x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,18}</string>
                <key>textureRect</key>
                <string>{{126,230},{62,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_74x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{272,92},{74,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_74x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{352,92},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{276,118},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_74x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{74,88}</string>
                <key>textureRect</key>
                <string>{{272,2},{74,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_74x88_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{74,88}</string>
                <key>textureRect</key>
                <string>{{348,2},{74,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{424,2},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1499h-sally-body_86x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{86,80}</string>
                <key>textureRect</key>
                <string>{{126,148},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1499h-sally-body.png</string>
            <key>size</key>
            <string>{542,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada93c0f809e921686388dce6ded4c2b:3c3a3398f18d394a131cd745a5baeb30:207550f20a22f6dc4595387ca04786cb$</string>
            <key>textureFileName</key>
            <string>u1499h-sally-body.png</string>
        </dict>
    </dict>
</plist>
