<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u50054-flavor-body_105x165.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 165}</string>
			<key>spriteSourceSize</key>
			<string>{105, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {105, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_118x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {116, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118, 76}</string>
			<key>spriteSourceSize</key>
			<string>{118, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 0}, {118, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_14x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 44}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_14x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 241}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{47, 233}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 26}</string>
			<key>spriteSourceSize</key>
			<string>{16, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{353, 182}, {16, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x26_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 26}</string>
			<key>spriteSourceSize</key>
			<string>{16, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{335, 182}, {16, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x26_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 26}</string>
			<key>spriteSourceSize</key>
			<string>{16, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{271, 198}, {16, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x26_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 26}</string>
			<key>spriteSourceSize</key>
			<string>{16, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 198}, {16, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_16x26_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 26}</string>
			<key>spriteSourceSize</key>
			<string>{16, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 182}, {16, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_18x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {14, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 58}</string>
			<key>spriteSourceSize</key>
			<string>{18, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{335, 122}, {18, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_18x58_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 58}</string>
			<key>spriteSourceSize</key>
			<string>{18, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{355, 122}, {18, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_19x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{19, 20}</string>
			<key>spriteSourceSize</key>
			<string>{19, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 233}, {19, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_20x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {16, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 28}</string>
			<key>spriteSourceSize</key>
			<string>{20, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 164}, {20, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_20x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {18, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 52}</string>
			<key>spriteSourceSize</key>
			<string>{20, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 0}, {20, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_22x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {18, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 52}</string>
			<key>spriteSourceSize</key>
			<string>{22, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 0}, {22, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_24x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{24, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{403, 162}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_24x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {20, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 28}</string>
			<key>spriteSourceSize</key>
			<string>{24, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 219}, {24, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_24x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {20, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 50}</string>
			<key>spriteSourceSize</key>
			<string>{24, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 167}, {24, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_26x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {22, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 42}</string>
			<key>spriteSourceSize</key>
			<string>{26, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 134}, {26, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_30x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 26}</string>
			<key>spriteSourceSize</key>
			<string>{30, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{403, 134}, {30, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_30x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{30, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 218}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_32x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 194}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_32x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {28, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{32, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 195}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_34x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {30, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 26}</string>
			<key>spriteSourceSize</key>
			<string>{34, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 167}, {34, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_38x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{38, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 0}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_40x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 26}</string>
			<key>spriteSourceSize</key>
			<string>{40, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 205}, {40, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_40x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {36, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{40, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 0}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_42x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 30}</string>
			<key>spriteSourceSize</key>
			<string>{42, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 186}, {42, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_42x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {38, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{42, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 167}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_46x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {42, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 42}</string>
			<key>spriteSourceSize</key>
			<string>{46, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 78}, {46, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_54x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 20}</string>
			<key>spriteSourceSize</key>
			<string>{54, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 180}, {54, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_66x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {62, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 20}</string>
			<key>spriteSourceSize</key>
			<string>{66, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 164}, {66, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_66x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 134}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_67x132.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 132}</string>
			<key>spriteSourceSize</key>
			<string>{67, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 0}, {67, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_67x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 74}</string>
			<key>spriteSourceSize</key>
			<string>{67, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 122}, {67, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_70x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{70, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 78}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_88x162.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 162}</string>
			<key>spriteSourceSize</key>
			<string>{88, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 0}, {88, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_96x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {92, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 74}</string>
			<key>spriteSourceSize</key>
			<string>{96, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 58}, {96, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u50054-flavor-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 180}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u50054-flavor-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>