<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1410e-tt-bul3_100x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{304,4},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1410e-tt-bul3_140x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{160,4},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1410e-tt-bul3_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{4,4},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1410e-tt-bul3_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{188,148},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1410e-tt-bul3_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{160,148},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1410e-tt-bul3_80x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{304,90},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1410e-tt-bul3.png</string>
            <key>size</key>
            <string>{408,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0db883ed1c133665d31b64ad3cc8cf4:275126bf48c2615e72bdc10165c4a9d3:912e0c7ea4cc30f01bd807d21b5befd7$</string>
            <key>textureFileName</key>
            <string>u1410e-tt-bul3.png</string>
        </dict>
    </dict>
</plist>
