<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u90246-maldiny-body_108x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{4,190},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_114x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{114,122}</string>
                <key>textureRect</key>
                <string>{{4,64},{114,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_168x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,56}</string>
                <key>spriteSourceSize</key>
                <string>{168,56}</string>
                <key>textureRect</key>
                <string>{{4,4},{168,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{100,230},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_16x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,57}</string>
                <key>spriteSourceSize</key>
                <string>{16,57}</string>
                <key>textureRect</key>
                <string>{{236,58},{16,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{146,352},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{146,328},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{146,300},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_20x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,60}</string>
                <key>spriteSourceSize</key>
                <string>{20,60}</string>
                <key>textureRect</key>
                <string>{{232,119},{20,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{142,374},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_22x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{100,406},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{226,285},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{228,183},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_24x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{228,217},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_24x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{226,251},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{126,406},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{216,345},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_36x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,18}</string>
                <key>textureRect</key>
                <string>{{216,323},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{100,366},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{214,389},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_40x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{170,350},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{170,310},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{54,382},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_42x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{100,300},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{100,258},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{120,232},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_46x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{122,174},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_46x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{4,382},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_48x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{122,122},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_50x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{122,64},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_52x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{172,182},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_52x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{170,246},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_52x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{52,62}</string>
                <key>textureRect</key>
                <string>{{176,116},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_56x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{176,58},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_62x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{176,4},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_6x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{242,17},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_92x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,148}</string>
                <key>spriteSourceSize</key>
                <string>{92,148}</string>
                <key>textureRect</key>
                <string>{{4,230},{92,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u90246-maldiny-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{242,4},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u90246-maldiny-body.png</string>
            <key>size</key>
            <string>{256,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10cab3b85b457ef1a1bd275e986996a:963500d58a0e48bc948a6a867c27fa7d:3ddad7ee72be149c1d0b34acc4b327dc$</string>
            <key>textureFileName</key>
            <string>u90246-maldiny-body.png</string>
        </dict>
    </dict>
</plist>
