<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1264e-re-e-body_100x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,12}</string>
                <key>textureRect</key>
                <string>{{622,365},{100,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{486,88},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_10x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,36}</string>
                <key>spriteSourceSize</key>
                <string>{10,36}</string>
                <key>textureRect</key>
                <string>{{802,74},{10,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_110x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{592,74},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_112x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{458,193},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_122x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,66}</string>
                <key>spriteSourceSize</key>
                <string>{122,66}</string>
                <key>textureRect</key>
                <string>{{278,246},{122,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{798,446},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_12x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{798,34},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_12x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{345,446},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_12x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{361,446},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{4,406},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{458,176},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_176x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,66}</string>
                <key>textureRect</key>
                <string>{{278,176},{176,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{798,4},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_204x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,66}</string>
                <key>spriteSourceSize</key>
                <string>{204,66}</string>
                <key>textureRect</key>
                <string>{{4,336},{204,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_204x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,84}</string>
                <key>spriteSourceSize</key>
                <string>{204,84}</string>
                <key>textureRect</key>
                <string>{{278,88},{204,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{724,464},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{774,446},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{676,467},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{700,467},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{652,467},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{604,476},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{580,467},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{628,463},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_216x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,66}</string>
                <key>spriteSourceSize</key>
                <string>{216,66}</string>
                <key>textureRect</key>
                <string>{{578,4},{216,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{748,444},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_242x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,52}</string>
                <key>spriteSourceSize</key>
                <string>{242,52}</string>
                <key>textureRect</key>
                <string>{{4,280},{242,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{250,310},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{250,280},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_26x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{592,419},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{550,467},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_26x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{26,52}</string>
                <key>textureRect</key>
                <string>{{783,294},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_270x272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{270,272}</string>
                <key>textureRect</key>
                <string>{{4,4},{270,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{786,380},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{510,395},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_28x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{512,435},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{424,370},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_296x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,80}</string>
                <key>spriteSourceSize</key>
                <string>{296,80}</string>
                <key>textureRect</key>
                <string>{{278,4},{296,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{786,350},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_30x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,56}</string>
                <key>textureRect</key>
                <string>{{783,234},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_30x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{422,306},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_32x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{388,446},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{512,475},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_36x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{708,444},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_36x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{668,439},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_36x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{686,381},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_36x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,58}</string>
                <key>textureRect</key>
                <string>{{424,416},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_38x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{424,478},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_38x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{776,412},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_38x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{544,433},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_40x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{231,404},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_42x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{622,429},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{466,453},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{464,395},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_44x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{340,458},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_44x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{574,193},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_46x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,10}</string>
                <key>textureRect</key>
                <string>{{542,419},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{726,410},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_48x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{404,246},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{282,458},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_56x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{146,472},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_56x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,52}</string>
                <key>textureRect</key>
                <string>{{726,354},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_60x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{622,381},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{167,406},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_62x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{80,472},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_62x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{212,336},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_66x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{552,255},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{275,434},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_68x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,114}</string>
                <key>spriteSourceSize</key>
                <string>{68,114}</string>
                <key>textureRect</key>
                <string>{{278,316},{68,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_68x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,116}</string>
                <key>spriteSourceSize</key>
                <string>{68,116}</string>
                <key>textureRect</key>
                <string>{{711,234},{68,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_68x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{350,316},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_70x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{350,396},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_72x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{4,472},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_72x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{206,470},{72,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_74x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{544,371},{74,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_80x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{622,188},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_84x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{456,343},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_85x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{622,276},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_92x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,156}</string>
                <key>spriteSourceSize</key>
                <string>{92,156}</string>
                <key>textureRect</key>
                <string>{{706,74},{92,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_92x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{456,255},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1264e-re-e-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{676,497},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1264e-re-e-body.png</string>
            <key>size</key>
            <string>{820,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:710bbc4c269bbce7074b54bbc0b915cf:4b7b85b93feb43d070531e063aa9c487:54892c1eb85936338ea94beccc0bf938$</string>
            <key>textureFileName</key>
            <string>u1264e-re-e-body.png</string>
        </dict>
    </dict>
</plist>
