<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u60042-enemy-body_116x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,18}</string>
                <key>spriteSourceSize</key>
                <string>{116,18}</string>
                <key>textureRect</key>
                <string>{{126,4},{116,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_118x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{118,82}</string>
                <key>textureRect</key>
                <string>{{4,4},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{224,182},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{216,118},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{192,118},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{82,134},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{204,26},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{204,76},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{82,90},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{188,146},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_60x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{160,182},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_66x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{118,146},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_66x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,36}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{90,182},{66,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_68x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{68,38}</string>
                <key>textureRect</key>
                <string>{{120,104},{68,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{126,26},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{4,90},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_82x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{82,50}</string>
                <key>textureRect</key>
                <string>{{4,170},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u60042-enemy-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{216,133},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u60042-enemy-body.png</string>
            <key>size</key>
            <string>{246,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3ef1dad78944fb14db0896f7ce444eb:66c1ac3cbd84044fabaa727a0b2bd8f4:82d4b81a0a437e7471ab3fb05115122b$</string>
            <key>textureFileName</key>
            <string>u60042-enemy-body.png</string>
        </dict>
    </dict>
</plist>
