<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1057e-moon-body_14x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{26,159},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{98,155},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{169,113},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_20x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{209,139},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{191,111},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_22x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{2,159},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{185,139},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{203,38},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{205,72},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{177,39},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{177,75},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{193,2},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_28x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{125,139},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_28x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{155,139},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{87,133},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_36x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{131,113},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_39x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{46,119},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_39x35_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{152,2},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_39x35_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{136,39},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_39x35_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{90,96},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_39x35_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{136,76},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_42x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{92,72},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{2,119},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_42x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{92,32},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_50x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,18}</string>
                <key>textureRect</key>
                <string>{{46,156},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_58x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{58,28}</string>
                <key>textureRect</key>
                <string>{{92,2},{58,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_86x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,22}</string>
                <key>spriteSourceSize</key>
                <string>{86,22}</string>
                <key>textureRect</key>
                <string>{{2,95},{86,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_88x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,91}</string>
                <key>spriteSourceSize</key>
                <string>{88,91}</string>
                <key>textureRect</key>
                <string>{{2,2},{88,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1057e-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{209,165},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1057e-moon-body.png</string>
            <key>size</key>
            <string>{231,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a948f43377883430b11fb7bc84f32c1:4fe576a1582b9a16a924f634d42a423a:3d7bd4a01144ffef13c926e520dbc204$</string>
            <key>textureFileName</key>
            <string>u1057e-moon-body.png</string>
        </dict>
    </dict>
</plist>
