<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3021e-cony-body_100x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{372,272},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_100x86_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{476,272},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_107x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,55}</string>
                <key>spriteSourceSize</key>
                <string>{107,55}</string>
                <key>textureRect</key>
                <string>{{580,326},{107,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_108x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{260,266},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_112x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{296,145},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_112x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{260,378},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_113x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{4,398},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_115x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,58}</string>
                <key>spriteSourceSize</key>
                <string>{115,58}</string>
                <key>textureRect</key>
                <string>{{580,264},{115,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_116x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,34}</string>
                <key>textureRect</key>
                <string>{{420,130},{116,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_116x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,34}</string>
                <key>spriteSourceSize</key>
                <string>{116,34}</string>
                <key>textureRect</key>
                <string>{{412,234},{116,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_116x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{376,362},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_120x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,137}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{296,4},{120,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_122x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{420,4},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_124x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,59}</string>
                <key>spriteSourceSize</key>
                <string>{124,59}</string>
                <key>textureRect</key>
                <string>{{289,440},{124,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_124x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,62}</string>
                <key>spriteSourceSize</key>
                <string>{124,62}</string>
                <key>textureRect</key>
                <string>{{412,168},{124,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_12x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{782,84},{12,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_162x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{540,199},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_163x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,59}</string>
                <key>spriteSourceSize</key>
                <string>{163,59}</string>
                <key>textureRect</key>
                <string>{{540,136},{163,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_164x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,61}</string>
                <key>spriteSourceSize</key>
                <string>{164,61}</string>
                <key>textureRect</key>
                <string>{{546,71},{164,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_169x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,63}</string>
                <key>spriteSourceSize</key>
                <string>{169,63}</string>
                <key>textureRect</key>
                <string>{{546,4},{169,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{780,365},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{773,337},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_188x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,186}</string>
                <key>textureRect</key>
                <string>{{4,208},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{707,474},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_200x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{774,440},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{776,404},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{683,451},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_22x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{625,457},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_23x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{773,302},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{513,474},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{485,474},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{737,462},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{545,430},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{707,442},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{651,451},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{740,438},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{162,398},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{545,470},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_32x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{740,404},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{702,410},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{735,326},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{702,366},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{740,366},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_37x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{121,398},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_37x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{759,134},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_37x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{759,176},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_37x38_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{759,218},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_37x38_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{759,260},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_38x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{646,429},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{691,326},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_40x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{581,457},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_48x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,158}</string>
                <key>spriteSourceSize</key>
                <string>{48,158}</string>
                <key>textureRect</key>
                <string>{{707,136},{48,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{646,385},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_54x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{699,298},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_56x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,18}</string>
                <key>spriteSourceSize</key>
                <string>{56,18}</string>
                <key>textureRect</key>
                <string>{{573,435},{56,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_56x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{417,478},{56,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_56x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{485,430},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_60x172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,172}</string>
                <key>spriteSourceSize</key>
                <string>{60,172}</string>
                <key>textureRect</key>
                <string>{{196,254},{60,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_64x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{714,84},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_64x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{578,385},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_64x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{417,428},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_76x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{719,4},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_78x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{496,362},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_80x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{121,440},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_80x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{205,440},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_84x246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,246}</string>
                <key>spriteSourceSize</key>
                <string>{84,246}</string>
                <key>textureRect</key>
                <string>{{208,4},{84,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3021e-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{633,435},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3021e-cony-body.png</string>
            <key>size</key>
            <string>{800,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2074fe2d6c876dd905fa9b5126f3f65d:a8d847257b733d37adb98df7e632ee11:a9e7f4833c983b722c39fcce205439e3$</string>
            <key>textureFileName</key>
            <string>u3021e-cony-body.png</string>
        </dict>
    </dict>
</plist>
