<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u315e-sally-body_128x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {126, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 68}</string>
			<key>spriteSourceSize</key>
			<string>{128, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 444}, {128, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_128x68_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {126, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 68}</string>
			<key>spriteSourceSize</key>
			<string>{128, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 444}, {128, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_12x8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {10, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 8}</string>
			<key>spriteSourceSize</key>
			<string>{12, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 0}, {12, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_142x78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {140, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 78}</string>
			<key>spriteSourceSize</key>
			<string>{142, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 364}, {142, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_15x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 18}</string>
			<key>spriteSourceSize</key>
			<string>{15, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 213}, {15, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 146}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_21x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 210}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_22x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 28}</string>
			<key>spriteSourceSize</key>
			<string>{22, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{223, 180}, {22, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_22x28_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {20, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 28}</string>
			<key>spriteSourceSize</key>
			<string>{22, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{251, 146}, {22, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_24x25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {22, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 25}</string>
			<key>spriteSourceSize</key>
			<string>{24, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 371}, {24, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_24x25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 25}</string>
			<key>spriteSourceSize</key>
			<string>{24, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 99}, {24, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_26x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{26, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{223, 146}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_26x32_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{26, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 180}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_26x32_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{26, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 398}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_27x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 22}</string>
			<key>spriteSourceSize</key>
			<string>{27, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 376}, {27, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_27x22_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 22}</string>
			<key>spriteSourceSize</key>
			<string>{27, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 376}, {27, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_28x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{28, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 311}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_28x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{28, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 400}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_28x30_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{28, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 400}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_29x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {27, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 26}</string>
			<key>spriteSourceSize</key>
			<string>{29, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 343}, {29, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_32x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 344}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_32x30_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 312}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_32x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 312}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_32x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 66}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_38x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {36, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 64}</string>
			<key>spriteSourceSize</key>
			<string>{38, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 0}, {38, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_42x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 66}</string>
			<key>spriteSourceSize</key>
			<string>{42, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301, 202}, {42, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_42x66_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 66}</string>
			<key>spriteSourceSize</key>
			<string>{42, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 79}, {42, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 401}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{192, 401}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 74}</string>
			<key>spriteSourceSize</key>
			<string>{46, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 126}, {46, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x74_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 74}</string>
			<key>spriteSourceSize</key>
			<string>{46, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{283, 290}, {46, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x74_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 74}</string>
			<key>spriteSourceSize</key>
			<string>{46, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 214}, {46, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 76}</string>
			<key>spriteSourceSize</key>
			<string>{46, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 233}, {46, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x76_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 76}</string>
			<key>spriteSourceSize</key>
			<string>{46, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{309, 432}, {46, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{46, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 84}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_46x82_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{46, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 0}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_47x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {45, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 76}</string>
			<key>spriteSourceSize</key>
			<string>{47, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{260, 432}, {47, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_47x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {45, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 77}</string>
			<key>spriteSourceSize</key>
			<string>{47, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 233}, {47, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_56x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {54, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 18}</string>
			<key>spriteSourceSize</key>
			<string>{56, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 213}, {56, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_56x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {54, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 18}</string>
			<key>spriteSourceSize</key>
			<string>{56, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 79}, {56, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_65x69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 69}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 168}, {65, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_66x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {64, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 36}</string>
			<key>spriteSourceSize</key>
			<string>{66, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 108}, {66, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_66x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {64, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 77}</string>
			<key>spriteSourceSize</key>
			<string>{66, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{260, 0}, {66, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_70x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 19}</string>
			<key>spriteSourceSize</key>
			<string>{70, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 138}, {70, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_70x66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 70}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_72x52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {70, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 52}</string>
			<key>spriteSourceSize</key>
			<string>{72, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 239}, {72, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_72x52_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {70, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 52}</string>
			<key>spriteSourceSize</key>
			<string>{72, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 159}, {72, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_72x52_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {70, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 52}</string>
			<key>spriteSourceSize</key>
			<string>{72, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 347}, {72, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_72x52_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {70, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 52}</string>
			<key>spriteSourceSize</key>
			<string>{72, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 293}, {72, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_72x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{72, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 0}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_80x180.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {74, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 180}</string>
			<key>spriteSourceSize</key>
			<string>{80, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 182}, {80, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_80x180_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {76, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 180}</string>
			<key>spriteSourceSize</key>
			<string>{80, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {80, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_8x10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 10}</string>
			<key>spriteSourceSize</key>
			<string>{8, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 21}, {8, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_8x10_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {6, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{8, 10}</string>
			<key>spriteSourceSize</key>
			<string>{8, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 33}, {8, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u315e-sally-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 10}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u315e-sally-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>