<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u126-ninja-body_103x102.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {103, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 102}</string>
			<key>spriteSourceSize</key>
			<string>{103, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 0}, {103, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_107x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 98}</string>
			<key>spriteSourceSize</key>
			<string>{107, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207, 104}, {107, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_113x96.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 96}</string>
			<key>spriteSourceSize</key>
			<string>{113, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 116}, {113, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_114x114.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 114}</string>
			<key>spriteSourceSize</key>
			<string>{114, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {114, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_16x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {16, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 20}</string>
			<key>spriteSourceSize</key>
			<string>{16, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 52}, {16, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{309, 78}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{329, 78}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_21x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 17}</string>
			<key>spriteSourceSize</key>
			<string>{21, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{304, 223}, {21, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_21x17_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 17}</string>
			<key>spriteSourceSize</key>
			<string>{21, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 204}, {21, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_21x17_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 17}</string>
			<key>spriteSourceSize</key>
			<string>{21, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{281, 225}, {21, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_23x19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {21, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 19}</string>
			<key>spriteSourceSize</key>
			<string>{23, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{261, 204}, {23, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_30x46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 46}</string>
			<key>spriteSourceSize</key>
			<string>{30, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 144}, {30, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_32x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 36}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{466, 192}, {32, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_33x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {33, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 28}</string>
			<key>spriteSourceSize</key>
			<string>{33, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 204}, {33, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_38x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{38, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{327, 212}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_42x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {40, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 34}</string>
			<key>spriteSourceSize</key>
			<string>{42, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 212}, {42, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_53x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {51, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 49}</string>
			<key>spriteSourceSize</key>
			<string>{53, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 144}, {53, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_59x50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 50}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 0}, {59, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_61x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 18}</string>
			<key>spriteSourceSize</key>
			<string>{61, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 238}, {61, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_61x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 18}</string>
			<key>spriteSourceSize</key>
			<string>{61, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 238}, {61, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_61x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {61, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 35}</string>
			<key>spriteSourceSize</key>
			<string>{61, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 214}, {61, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_64x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {64, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{64, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{309, 0}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_64x76_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {64, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{64, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 0}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_69x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {67, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 22}</string>
			<key>spriteSourceSize</key>
			<string>{69, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 214}, {69, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_73x64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 64}</string>
			<key>spriteSourceSize</key>
			<string>{73, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 78}, {73, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_86x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {86, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 98}</string>
			<key>spriteSourceSize</key>
			<string>{86, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 0}, {86, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_90x130.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 130}</string>
			<key>spriteSourceSize</key>
			<string>{90, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 116}, {90, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u126-ninja-body_93x112.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {93, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 112}</string>
			<key>spriteSourceSize</key>
			<string>{93, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 98}, {93, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u126-ninja-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>