<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1464e-crush-bul_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{2,2},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1464e-crush-bul.png</string>
            <key>size</key>
            <string>{56,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33744798612bfca511e8edb8971ecd1e:d9e0a85289d3c5d14e21c273bc365970:4a2a730f035b68a128cd59d70e9ab9cc$</string>
            <key>textureFileName</key>
            <string>u1464e-crush-bul.png</string>
        </dict>
    </dict>
</plist>
