<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1579u-sally-body_106x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{294,54},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{498,344},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_14x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{416,426},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{458,396},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{458,374},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{436,420},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{416,406},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{436,400},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x16_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{476,392},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{476,370},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{492,242},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_16x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{492,266},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{456,416},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{432,354},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{454,350},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{436,374},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{476,344},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{432,326},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{454,322},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{414,374},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_204x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,190}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{4,242},{204,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{488,220},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{488,106},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_212x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,46}</string>
                <key>spriteSourceSize</key>
                <string>{212,46}</string>
                <key>textureRect</key>
                <string>{{240,4},{212,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{486,134},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_232x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,234}</string>
                <key>spriteSourceSize</key>
                <string>{232,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{232,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{448,290},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_26x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{482,192},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{276,392},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{476,318},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_28x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{476,290},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{478,160},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{418,254},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{446,206},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{442,160},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_36x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,10}</string>
                <key>textureRect</key>
                <string>{{442,192},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_36x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{404,98},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_36x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{376,414},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_38x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{446,232},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_38x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{38,12}</string>
                <key>textureRect</key>
                <string>{{450,274},{38,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_38x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{450,248},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{406,296},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_40x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{444,106},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_40x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{332,422},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_40x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{362,296},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{442,124},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{370,374},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{404,54},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_50x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{240,54},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_50x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{240,208},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_52x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{276,422},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{456,4},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_54x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{360,254},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_58x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{450,58},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_58x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{306,326},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_60x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{382,206},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_60x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{368,326},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_60x44_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{306,374},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_60x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{212,392},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_68x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{370,122},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_70x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,48}</string>
                <key>textureRect</key>
                <string>{{286,244},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_70x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{212,242},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_72x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{286,296},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_72x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{294,122},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_84x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{294,206},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_90x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,62}</string>
                <key>textureRect</key>
                <string>{{212,326},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1579u-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{498,358},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1579u-sally-body.png</string>
            <key>size</key>
            <string>{512,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:574c5ab1f69206b6b0a370302e575ea4:c13873c35a5af71c07111bb020057168:cf8ec922e016dd09292dd1e91a0b1ed8$</string>
            <key>textureFileName</key>
            <string>u1579u-sally-body.png</string>
        </dict>
    </dict>
</plist>
