<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1144h-steve-bul_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{70,4},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1144h-steve-bul_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{4,4},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1144h-steve-bul.png</string>
            <key>size</key>
            <string>{126,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3d014d33d13380fd0b80e5582338f0c:5bd9813d857e0349b1b2f41c92501b4e:c55e44659e75fa76bf13cc2fd3124854$</string>
            <key>textureFileName</key>
            <string>u1144h-steve-bul.png</string>
        </dict>
    </dict>
</plist>
