<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u364u-lia-bul2_115x91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 60}, {45, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 91}</string>
			<key>spriteSourceSize</key>
			<string>{115, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 420}, {115, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_115x91_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {95, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 91}</string>
			<key>spriteSourceSize</key>
			<string>{115, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 418}, {115, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_115x91_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {109, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 91}</string>
			<key>spriteSourceSize</key>
			<string>{115, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 93}, {115, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_115x91_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {111, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 91}</string>
			<key>spriteSourceSize</key>
			<string>{115, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 420}, {115, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_115x91_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 91}</string>
			<key>spriteSourceSize</key>
			<string>{115, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 0}, {115, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_130x51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {128, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 51}</string>
			<key>spriteSourceSize</key>
			<string>{130, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 223}, {130, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_14x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 20}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{479, 262}, {14, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_18x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 60}</string>
			<key>spriteSourceSize</key>
			<string>{18, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{487, 114}, {18, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_20x22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 22}</string>
			<key>spriteSourceSize</key>
			<string>{20, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{487, 90}, {20, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_22x32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 32}</string>
			<key>spriteSourceSize</key>
			<string>{22, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 236}, {22, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_26x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 26}</string>
			<key>spriteSourceSize</key>
			<string>{26, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{479, 234}, {26, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_26x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {24, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 44}</string>
			<key>spriteSourceSize</key>
			<string>{26, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 186}, {26, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_28x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {26, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 24}</string>
			<key>spriteSourceSize</key>
			<string>{28, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 208}, {28, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_30x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 176}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_34x30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{34, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 236}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_36x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 24}</string>
			<key>spriteSourceSize</key>
			<string>{36, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 186}, {36, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_36x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {34, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 70}</string>
			<key>spriteSourceSize</key>
			<string>{36, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 300}, {36, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_38x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{38, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 270}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_40x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{40, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 166}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_42x42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 376}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_42x42_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {42, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 376}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_46x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 44}</string>
			<key>spriteSourceSize</key>
			<string>{46, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 120}, {46, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_54x118.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {52, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 118}</string>
			<key>spriteSourceSize</key>
			<string>{54, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 0}, {54, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_56x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {54, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 36}</string>
			<key>spriteSourceSize</key>
			<string>{56, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 232}, {56, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_56x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {54, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 92}</string>
			<key>spriteSourceSize</key>
			<string>{56, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 420}, {56, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_60x35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 35}</string>
			<key>spriteSourceSize</key>
			<string>{60, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 186}, {60, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_62x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {62, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 126}</string>
			<key>spriteSourceSize</key>
			<string>{62, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 0}, {62, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_62x134.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {60, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 134}</string>
			<key>spriteSourceSize</key>
			<string>{62, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 280}, {62, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_68x58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 58}</string>
			<key>spriteSourceSize</key>
			<string>{68, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 142}, {68, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_68x61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{68, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{409, 222}, {68, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_70x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {70, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{409, 160}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_72x130.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {70, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 130}</string>
			<key>spriteSourceSize</key>
			<string>{72, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 140}, {72, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_76x68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{409, 90}, {76, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_78x62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {76, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 62}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324, 78}, {78, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_80x138.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 138}</string>
			<key>spriteSourceSize</key>
			<string>{80, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 280}, {80, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_80x76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 76}</string>
			<key>spriteSourceSize</key>
			<string>{80, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324, 0}, {80, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_82x138.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 138}</string>
			<key>spriteSourceSize</key>
			<string>{82, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 140}, {82, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_84x138.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 138}</string>
			<key>spriteSourceSize</key>
			<string>{84, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {84, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_88x102.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {86, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 102}</string>
			<key>spriteSourceSize</key>
			<string>{88, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 272}, {88, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_88x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {88, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 40}</string>
			<key>spriteSourceSize</key>
			<string>{88, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{234, 376}, {88, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u364u-lia-bul2_94x88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {92, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 88}</string>
			<key>spriteSourceSize</key>
			<string>{94, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{409, 0}, {94, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>u364u-lia-bul2</string>
		<key>textureFileName</key>
		<string>u364u-lia-bul2.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>