<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1384h-cony-body_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{198,380},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{485,115},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_146x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{198,252},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{4,438},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{485,100},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_173x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,40}</string>
                <key>spriteSourceSize</key>
                <string>{173,40}</string>
                <key>textureRect</key>
                <string>{{197,208},{173,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_189x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,262}</string>
                <key>spriteSourceSize</key>
                <string>{189,262}</string>
                <key>textureRect</key>
                <string>{{4,4},{189,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{476,452},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_18x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{434,569},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_190x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,164}</string>
                <key>spriteSourceSize</key>
                <string>{190,164}</string>
                <key>textureRect</key>
                <string>{{4,270},{190,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_200x200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{197,4},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{477,486},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_21x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{477,508},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{456,568},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{447,536},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_23x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{476,376},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{475,420},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{396,341},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_24x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{394,256},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_25x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{395,300},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_26x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{473,536},{26,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{265,578},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_27x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{416,537},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_27x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{471,288},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_27x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{471,332},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{396,418},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_28x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{444,460},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_28x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{379,499},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{444,502},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{383,541},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{468,213},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{411,496},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,53}</string>
                <key>spriteSourceSize</key>
                <string>{29,53}</string>
                <key>textureRect</key>
                <string>{{161,438},{29,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_29x53_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,53}</string>
                <key>spriteSourceSize</key>
                <string>{29,53}</string>
                <key>textureRect</key>
                <string>{{318,380},{29,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_30x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{471,184},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{469,254},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_34x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,25}</string>
                <key>textureRect</key>
                <string>{{396,575},{34,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_34x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{351,377},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_34x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{318,437},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{436,377},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_36x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{356,425},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_36x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{356,425},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_38x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{356,467},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{337,499},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_42x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{398,460},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_42x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{337,541},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{348,256},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{422,208},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,20}</string>
                <key>spriteSourceSize</key>
                <string>{43,20}</string>
                <key>textureRect</key>
                <string>{{295,578},{43,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{348,300},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{422,254},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{424,295},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{424,336},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{389,377},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{428,419},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_43x37_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{428,419},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{348,341},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{374,208},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_46x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{215,578},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_50x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{342,577},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_50x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,22}</string>
                <key>textureRect</key>
                <string>{{161,578},{50,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{401,184},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_80x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,100},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_82x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{82,74}</string>
                <key>textureRect</key>
                <string>{{251,500},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_86x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,74}</string>
                <key>textureRect</key>
                <string>{{161,500},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{401,4},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1384h-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{4,591},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1384h-cony-body.png</string>
            <key>size</key>
            <string>{505,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63db0136cae7c85f042077fa0eca39d:9b512609ac48c07e6817f6074d0e39d8:0663799dc71a4d40ac39361daad3da99$</string>
            <key>textureFileName</key>
            <string>u1384h-cony-body.png</string>
        </dict>
    </dict>
</plist>
