<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2018e-crush-bul_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{315,4},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{170,4},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_31x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,102}</string>
                <key>spriteSourceSize</key>
                <string>{31,102}</string>
                <key>textureRect</key>
                <string>{{4,4},{31,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_32x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,90}</string>
                <key>spriteSourceSize</key>
                <string>{32,90}</string>
                <key>textureRect</key>
                <string>{{134,4},{32,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_439x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,35}</string>
                <key>spriteSourceSize</key>
                <string>{439,35}</string>
                <key>textureRect</key>
                <string>{{509,4},{439,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_510x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,16}</string>
                <key>spriteSourceSize</key>
                <string>{510,16}</string>
                <key>textureRect</key>
                <string>{{315,88},{510,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{443,4},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2018e-crush-bul_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{39,4},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2018e-crush-bul.png</string>
            <key>size</key>
            <string>{952,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b48bdcf3eba78148c902954ce56ef31b:6c3b769efa66e2c42795467e9e99f74e:438a343af0d1f56d1fc357b5a9f9abc9$</string>
            <key>textureFileName</key>
            <string>u2018e-crush-bul.png</string>
        </dict>
    </dict>
</plist>
