<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1067h-sally-bul_44x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{4,4},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1067h-sally-bul.png</string>
            <key>size</key>
            <string>{52,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37cfe69f294e933e77c06216c4cfd7d5:da207fffc669a030c62dfefa696363f3:44da7132351c78879003f7352f9f130d$</string>
            <key>textureFileName</key>
            <string>u1067h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
