<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1331e-tk-bul_132x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,39}</string>
                <key>spriteSourceSize</key>
                <string>{132,39}</string>
                <key>textureRect</key>
                <string>{{2,108},{132,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_17x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,47}</string>
                <key>spriteSourceSize</key>
                <string>{17,47}</string>
                <key>textureRect</key>
                <string>{{36,207},{17,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{199,256},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{229,218},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_21x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{176,256},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_21x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,35}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{153,250},{21,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_21x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,36}</string>
                <key>spriteSourceSize</key>
                <string>{21,36}</string>
                <key>textureRect</key>
                <string>{{206,218},{21,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_23x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,51}</string>
                <key>spriteSourceSize</key>
                <string>{23,51}</string>
                <key>textureRect</key>
                <string>{{230,2},{23,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{180,218},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_25x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{153,218},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_26x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{125,208},{26,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_29x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{55,238},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{86,252},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_30x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{221,56},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{91,208},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_32x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{172,166},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_32x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{206,166},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_32x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{32,56}</string>
                <key>textureRect</key>
                <string>{{2,207},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_33x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{33,20}</string>
                <key>textureRect</key>
                <string>{{2,265},{33,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_33x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{33,58}</string>
                <key>textureRect</key>
                <string>{{136,106},{33,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{209,135},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_34x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{55,208},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_36x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,29}</string>
                <key>textureRect</key>
                <string>{{171,135},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_39x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{180,56},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_48x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{180,2},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_48x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{59,149},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_55x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{2,149},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_61x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{109,166},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{171,106},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_86x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{86,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1331e-tk-bul_88x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,102}</string>
                <key>spriteSourceSize</key>
                <string>{88,102}</string>
                <key>textureRect</key>
                <string>{{90,2},{88,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1331e-tk-bul.png</string>
            <key>size</key>
            <string>{255,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2bfbb3e76063691c9ff56a106ab5ce4:b743458e864d555f8122853362bd42e6:e8cf3a3b1ec15753c577005ee764a1ce$</string>
            <key>textureFileName</key>
            <string>u1331e-tk-bul.png</string>
        </dict>
    </dict>
</plist>
