<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1219e-kohaku-body_112x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{541,260},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_120x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,98}</string>
                <key>textureRect</key>
                <string>{{672,2},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_134x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{402,328},{134,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_142x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{397,174},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{402,462},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_14x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{686,480},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_159x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,186}</string>
                <key>spriteSourceSize</key>
                <string>{159,186}</string>
                <key>textureRect</key>
                <string>{{236,196},{159,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_160x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,84}</string>
                <key>textureRect</key>
                <string>{{240,384},{160,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_16x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{722,476},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{480,496},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{824,146},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{824,166},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{824,122},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_18x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,64}</string>
                <key>spriteSourceSize</key>
                <string>{18,64}</string>
                <key>textureRect</key>
                <string>{{824,56},{18,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{764,452},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_20x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{786,462},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_20x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{631,218},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{631,188},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_232x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,188}</string>
                <key>spriteSourceSize</key>
                <string>{232,188}</string>
                <key>textureRect</key>
                <string>{{2,196},{232,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_236x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{2,386},{236,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_246x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{344,92},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_24x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{428,462},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_24x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{454,462},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_24x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{818,326},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_24x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{818,378},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_24x50_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{818,430},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_26x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,100}</string>
                <key>spriteSourceSize</key>
                <string>{26,100}</string>
                <key>textureRect</key>
                <string>{{630,342},{26,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{658,468},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{658,434},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{94,476},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_26x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,98}</string>
                <key>spriteSourceSize</key>
                <string>{26,98}</string>
                <key>textureRect</key>
                <string>{{658,334},{26,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{122,498},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{788,424},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{788,384},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{794,56},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{788,326},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{728,334},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{758,392},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_28x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{758,330},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_320x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,28}</string>
                <key>spriteSourceSize</key>
                <string>{320,28}</string>
                <key>textureRect</key>
                <string>{{344,50},{320,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_324x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,10}</string>
                <key>spriteSourceSize</key>
                <string>{324,10}</string>
                <key>textureRect</key>
                <string>{{344,80},{324,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_326x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,46}</string>
                <key>spriteSourceSize</key>
                <string>{326,46}</string>
                <key>textureRect</key>
                <string>{{344,2},{326,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{624,444},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_340x192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,192}</string>
                <key>spriteSourceSize</key>
                <string>{340,192}</string>
                <key>textureRect</key>
                <string>{{2,2},{340,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{686,446},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_34x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{686,394},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_34x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{722,394},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,22}</string>
                <key>textureRect</key>
                <string>{{722,452},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{574,474},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{785,274},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{655,274},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x58_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{697,274},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_40x58_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{686,334},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{50,476},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{528,482},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_44x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{739,274},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{188,476},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{236,482},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{284,482},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{332,482},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x28_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{380,482},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{480,462},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{2,476},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_48x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{794,2},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_50x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{592,92},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{122,476},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_84x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{84,44}</string>
                <key>textureRect</key>
                <string>{{538,428},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_88x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{541,174},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_88x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{644,102},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_88x84_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{734,102},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_88x84_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{655,188},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_88x84_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{745,188},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1219e-kohaku-body_90x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,84}</string>
                <key>textureRect</key>
                <string>{{538,342},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1219e-kohaku-body.png</string>
            <key>size</key>
            <string>{844,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e89b9941288dd7f4ac76a5bb3545ebb1:8f922089e64724c869887d0b8500a6e4:9e2dfec713d2fe0616a5c7da223ff2ef$</string>
            <key>textureFileName</key>
            <string>u1219e-kohaku-body.png</string>
        </dict>
    </dict>
</plist>
