<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3019e-brown-bul_31x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{74,82},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-bul_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{4,136},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-bul_56x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{52,136},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-bul_68x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{4,82},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-bul_84x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,26}</string>
                <key>spriteSourceSize</key>
                <string>{84,28}</string>
                <key>textureRect</key>
                <string>{{4,168},{84,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-bul_90x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,76}</string>
                <key>textureRect</key>
                <string>{{4,4},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3019e-brown-bul.png</string>
            <key>size</key>
            <string>{110,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:134922fbf85be22d6c4c5e4d54d6068f:c173df61b7972729baec08d0e4c80ae8:a56dde7c2386ff5cd7ffd8ff8e129b36$</string>
            <key>textureFileName</key>
            <string>u3019e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
