<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3019e-brown-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{17,469},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_10x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{134,434},{8,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{94,433},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_12x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{235,153},{10,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_12x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{10,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{235,187},{10,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_12x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{10,58}</string>
                <key>spriteSourceSize</key>
                <string>{12,60}</string>
                <key>textureRect</key>
                <string>{{235,91},{10,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_143x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,104}</string>
                <key>spriteSourceSize</key>
                <string>{143,106}</string>
                <key>textureRect</key>
                <string>{{4,194},{143,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_143x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{4,302},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{235,76},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{171,194},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{140,545},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{120,545},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{151,194},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{202,527},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{202,499},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{202,469},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_191x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,186}</string>
                <key>spriteSourceSize</key>
                <string>{191,186}</string>
                <key>textureRect</key>
                <string>{{4,4},{191,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{88,411},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_20x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{120,496},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{222,513},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{60,472},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_22x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{222,483},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{94,462},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_22x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{118,462},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{223,451},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{108,434},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{223,383},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_26x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{223,417},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_26x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{223,325},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{113,402},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_28x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{4,411},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_32x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{113,302},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_32x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{113,352},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_34x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{199,152},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_34x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{199,184},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_34x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,72}</string>
                <key>spriteSourceSize</key>
                <string>{34,74}</string>
                <key>textureRect</key>
                <string>{{199,76},{32,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{199,38},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_50x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{199,4},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_52x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{52,20}</string>
                <key>textureRect</key>
                <string>{{34,411},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_54x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{4,483},{52,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_58x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,16}</string>
                <key>spriteSourceSize</key>
                <string>{58,18}</string>
                <key>textureRect</key>
                <string>{{60,502},{56,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_58x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{34,434},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_58x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{142,469},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_58x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{60,527},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_58x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{142,507},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_74x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{147,325},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{147,397},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_96x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,38}</string>
                <key>spriteSourceSize</key>
                <string>{96,40}</string>
                <key>textureRect</key>
                <string>{{151,283},{94,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_96x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,58}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{151,221},{94,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3019e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{4,469},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3019e-brown-body.png</string>
            <key>size</key>
            <string>{251,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b2851ffe6d6e16e2313b05fe6725ad:736ef0368ba840ca4f6d973e9a346326:cdafda846c1030d2ecb41e0277ffc5b5$</string>
            <key>textureFileName</key>
            <string>u3019e-brown-body.png</string>
        </dict>
    </dict>
</plist>
