<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u46-james-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 166}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_22x37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 37}</string>
			<key>spriteSourceSize</key>
			<string>{22, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 97}, {22, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_27x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 36}</string>
			<key>spriteSourceSize</key>
			<string>{27, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 97}, {27, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_31x39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 39}</string>
			<key>spriteSourceSize</key>
			<string>{31, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{47, 213}, {31, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_31x39_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {29, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 39}</string>
			<key>spriteSourceSize</key>
			<string>{31, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80, 213}, {31, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_33x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 27}</string>
			<key>spriteSourceSize</key>
			<string>{33, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{223, 68}, {33, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_35x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 26}</string>
			<key>spriteSourceSize</key>
			<string>{35, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 135}, {35, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_35x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {33, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 28}</string>
			<key>spriteSourceSize</key>
			<string>{35, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{197, 166}, {35, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_37x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {35, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 28}</string>
			<key>spriteSourceSize</key>
			<string>{37, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 136}, {37, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_40x27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 27}</string>
			<key>spriteSourceSize</key>
			<string>{40, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 68}, {40, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_45x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {43, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 34}</string>
			<key>spriteSourceSize</key>
			<string>{45, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 213}, {45, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_51x47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 47}</string>
			<key>spriteSourceSize</key>
			<string>{51, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 19}, {51, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_63x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 17}</string>
			<key>spriteSourceSize</key>
			<string>{63, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 0}, {63, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_82x79.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 79}</string>
			<key>spriteSourceSize</key>
			<string>{82, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{113, 166}, {82, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_84x81.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {82, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 81}</string>
			<key>spriteSourceSize</key>
			<string>{84, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 0}, {84, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_84x81_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {82, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 81}</string>
			<key>spriteSourceSize</key>
			<string>{84, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 83}, {84, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_93x127.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 127}</string>
			<key>spriteSourceSize</key>
			<string>{93, 127}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {93, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_93x82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {91, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93, 82}</string>
			<key>spriteSourceSize</key>
			<string>{93, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 129}, {93, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u46-james-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 179}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>u46-james-body</string>
		<key>textureFileName</key>
		<string>u46-james-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>