<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1267h-bt-e-bul3_102x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{102,79}</string>
                <key>textureRect</key>
                <string>{{156,174},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_118x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,86}</string>
                <key>textureRect</key>
                <string>{{170,86},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_154x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,38}</string>
                <key>spriteSourceSize</key>
                <string>{154,38}</string>
                <key>textureRect</key>
                <string>{{252,185},{154,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_181x181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{167,169}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_225x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,83}</string>
                <key>spriteSourceSize</key>
                <string>{225,83}</string>
                <key>textureRect</key>
                <string>{{170,1},{225,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_38x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{408,156},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_57x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{397,1},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_72x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,22}</string>
                <key>textureRect</key>
                <string>{{252,225},{72,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_76x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{389,86},{68,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u1267h-bt-e-bul3_76x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{80,172},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_77x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1,172},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1267h-bt-e-bul3_97x97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{290,86},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1267h-bt-e-bul3.png</string>
            <key>size</key>
            <string>{456,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b2a8199271103a5c9d3c6f96cb269b:ec14fed4f491d8768681789c708d71fe:17b1cdf461ba7daf057fac99a8c26dde$</string>
            <key>textureFileName</key>
            <string>u1267h-bt-e-bul3.png</string>
        </dict>
    </dict>
</plist>
