<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u196sk-cony-body_103x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{103,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_117x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,70}</string>
                <key>textureRect</key>
                <string>{{103,0},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{101,95},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{220,28},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_25x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{242,28},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_27x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{220,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_35x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,25}</string>
                <key>textureRect</key>
                <string>{{0,95},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_66x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{35,95},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_72x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{190,70},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_73x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{117,70},{73,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u196sk-cony-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{101,106},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u196sk-cony-body.png</string>
            <key>size</key>
            <string>{267,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09ce00861d93e1eed04852d175bf3a95:ffacf658eccc90119d2127c6e0096be1:4bfe332872b59b32463e33531c2096f0$</string>
            <key>textureFileName</key>
            <string>u196sk-cony-body.png</string>
        </dict>
    </dict>
</plist>
