<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1042h-leonard-body_10x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{279,490},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_110x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{2,478},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_122x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,58}</string>
                <key>spriteSourceSize</key>
                <string>{122,58}</string>
                <key>textureRect</key>
                <string>{{420,256},{122,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_128x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{800,196},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_128x136_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{333,340},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{1010,100},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{1010,80},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_12x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{1010,58},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_132x192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,192}</string>
                <key>spriteSourceSize</key>
                <string>{132,192}</string>
                <key>textureRect</key>
                <string>{{800,2},{132,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_144x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{144,148}</string>
                <key>textureRect</key>
                <string>{{187,340},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_14x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{447,478},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_14x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{1008,134},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_166x230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{166,230}</string>
                <key>textureRect</key>
                <string>{{632,2},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_166x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,50}</string>
                <key>spriteSourceSize</key>
                <string>{166,50}</string>
                <key>textureRect</key>
                <string>{{632,234},{166,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_16x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,46}</string>
                <key>spriteSourceSize</key>
                <string>{16,46}</string>
                <key>textureRect</key>
                <string>{{914,458},{16,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_172x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,100}</string>
                <key>spriteSourceSize</key>
                <string>{172,100}</string>
                <key>textureRect</key>
                <string>{{202,238},{172,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{2,294},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_18x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{780,286},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_198x252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,252}</string>
                <key>spriteSourceSize</key>
                <string>{198,252}</string>
                <key>textureRect</key>
                <string>{{432,2},{198,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_198x290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,290}</string>
                <key>spriteSourceSize</key>
                <string>{198,290}</string>
                <key>textureRect</key>
                <string>{{2,2},{198,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{291,490},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{932,458},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{964,391},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_20x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{965,423},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_20x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,70}</string>
                <key>spriteSourceSize</key>
                <string>{20,70}</string>
                <key>textureRect</key>
                <string>{{1002,256},{20,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_21x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{1001,360},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_228x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,234}</string>
                <key>spriteSourceSize</key>
                <string>{228,234}</string>
                <key>textureRect</key>
                <string>{{202,2},{228,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{211,490},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_22x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{140,478},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_22x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{333,478},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{420,316},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{986,390},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{114,478},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_26x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{597,317},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{987,422},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{934,391},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_29x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{934,423},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{987,450},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_30x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{954,455},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{762,477},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{967,360},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_34x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{974,328},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{929,353},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_38x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{763,347},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{651,397},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_42x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{42,18}</string>
                <key>textureRect</key>
                <string>{{235,490},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_42x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,23}</string>
                <key>textureRect</key>
                <string>{{403,478},{42,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_42x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,23}</string>
                <key>textureRect</key>
                <string>{{930,328},{42,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{710,481},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_42x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{42,96}</string>
                <key>textureRect</key>
                <string>{{376,238},{42,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_44x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{357,478},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{868,458},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_45x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,20}</string>
                <key>textureRect</key>
                <string>{{164,490},{45,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_48x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{660,439},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{816,456},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_50x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{710,407},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_52x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{816,398},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_52x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{762,409},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_53x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{605,447},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{595,397},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_56x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{871,334},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_58x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{535,381},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_62x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{870,400},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_62x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{463,316},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_66x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{695,347},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_66x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{803,334},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_68x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{463,456},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_68x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{527,317},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_68x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{535,448},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_68x62_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{625,333},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_70x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{708,286},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_70x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{463,390},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_70x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{930,256},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_72x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{934,134},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{934,58},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_75x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,45}</string>
                <key>textureRect</key>
                <string>{{631,286},{75,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_85x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,59}</string>
                <key>textureRect</key>
                <string>{{544,256},{85,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_88x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{88,54}</string>
                <key>textureRect</key>
                <string>{{934,2},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1042h-leonard-body_92x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,54}</string>
                <key>textureRect</key>
                <string>{{930,200},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1042h-leonard-body.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ff03e576be91d6f4c44803a16ce2a9:b0f957bfc5df65ca6a4d5754ab0ef9a7:c2240b8707ebf485af20a36f3a4e4a2c$</string>
            <key>textureFileName</key>
            <string>u1042h-leonard-body.png</string>
        </dict>
    </dict>
</plist>
