<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2034e-sally-bul_132x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{132,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034e-sally-bul_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{172,30},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034e-sally-bul_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{136,30},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034e-sally-bul_38x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{136,2},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2034e-sally-bul.png</string>
            <key>size</key>
            <string>{198,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd34e29824d14aea17af452e81520235:b8d379b371e21362631edeb577d84753:5c86369c6cd4d2ec3440e4778e45bfa8$</string>
            <key>textureFileName</key>
            <string>u2034e-sally-bul.png</string>
        </dict>
    </dict>
</plist>
