<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1327e-sally-body_108x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{2,352},{108,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_108x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,76}</string>
                <key>spriteSourceSize</key>
                <string>{108,76}</string>
                <key>textureRect</key>
                <string>{{162,355},{108,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_10x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{691,2},{10,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_10x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{10,6}</string>
                <key>textureRect</key>
                <string>{{691,22},{10,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_10x6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{10,6}</string>
                <key>textureRect</key>
                <string>{{504,484},{10,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{164,186},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_120x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,28}</string>
                <key>spriteSourceSize</key>
                <string>{120,28}</string>
                <key>textureRect</key>
                <string>{{531,85},{120,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_120x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{164,299},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_120x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,62}</string>
                <key>textureRect</key>
                <string>{{112,448},{120,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_130x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{559,2},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_140x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,78}</string>
                <key>spriteSourceSize</key>
                <string>{140,78}</string>
                <key>textureRect</key>
                <string>{{385,104},{140,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_140x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,82}</string>
                <key>textureRect</key>
                <string>{{375,184},{140,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_144x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{385,22},{144,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{504,358},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{96,484},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_152x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{231,22},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_160x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{160,164}</string>
                <key>textureRect</key>
                <string>{{2,186},{160,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_161x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,9}</string>
                <key>spriteSourceSize</key>
                <string>{161,9}</string>
                <key>textureRect</key>
                <string>{{531,74},{161,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{78,484},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{634,483},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{652,483},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{670,471},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{670,441},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{16,6}</string>
                <key>textureRect</key>
                <string>{{466,358},{16,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_16x6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{16,6}</string>
                <key>textureRect</key>
                <string>{{484,358},{16,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_18x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{162,433},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_18x12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{182,433},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{458,490},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{516,480},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_18x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{536,480},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{436,490},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{478,484},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{2,484},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{531,46},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_26x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{531,22},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{666,291},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_28x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{670,405},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{604,423},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_28x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{628,367},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_28x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{604,463},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{618,251},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_326x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,18}</string>
                <key>spriteSourceSize</key>
                <string>{326,18}</string>
                <key>textureRect</key>
                <string>{{231,2},{326,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_32x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{402,490},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_32x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{548,382},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{660,327},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_34x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{634,407},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_34x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{634,445},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_34x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{658,367},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{569,235},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{613,171},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_38x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{613,211},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_38x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{620,327},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{562,470},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{562,428},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_42x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{358,490},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{650,253},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_42x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{504,382},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{569,181},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_42x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{472,428},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{620,291},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_44x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{572,267},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_44x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{516,428},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_44x50_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{574,319},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_44x50_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{582,371},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_46x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{334,360},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{28,484},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{653,139},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{653,177},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{653,215},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{653,85},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_48x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{48,94}</string>
                <key>textureRect</key>
                <string>{{112,352},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_50x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{420,428},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_50x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{520,268},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_50x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{517,184},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{520,340},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_52x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{52,88}</string>
                <key>textureRect</key>
                <string>{{466,268},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_58x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{444,366},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{382,366},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x60_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{358,428},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{527,115},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{272,360},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x64_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{234,433},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_60x64_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{296,426},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_62x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{589,115},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_80x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{384,268},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_96x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{286,270},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1327e-sally-body_96x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{277,176},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1327e-sally-body.png</string>
            <key>size</key>
            <string>{703,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623d630fb44d321d33f78220108500be:0d6ba39ff95ec34929f944183a01606b:a7cbc5f31654bdb8e57d63f7990bc4d7$</string>
            <key>textureFileName</key>
            <string>u1327e-sally-body.png</string>
        </dict>
    </dict>
</plist>
