<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80037-onyx-body_101x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,30}</string>
                <key>spriteSourceSize</key>
                <string>{101,30}</string>
                <key>textureRect</key>
                <string>{{197,739},{101,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{4,680},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_129x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{4,542},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_140x287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,287}</string>
                <key>spriteSourceSize</key>
                <string>{140,287}</string>
                <key>textureRect</key>
                <string>{{144,410},{140,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_158x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{310,270},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_162x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{144,239},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{179,773},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{201,773},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{472,346},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_227x231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,231}</string>
                <key>spriteSourceSize</key>
                <string>{227,231}</string>
                <key>textureRect</key>
                <string>{{144,4},{227,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_22x516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,516}</string>
                <key>spriteSourceSize</key>
                <string>{22,516}</string>
                <key>textureRect</key>
                <string>{{66,4},{22,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_31x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{472,311},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_33x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{472,267},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_34x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{424,763},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_36x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,55}</string>
                <key>textureRect</key>
                <string>{{447,408},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_37x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{462,577},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_39x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{457,467},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_39x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,72}</string>
                <key>spriteSourceSize</key>
                <string>{39,72}</string>
                <key>textureRect</key>
                <string>{{457,4},{39,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_42x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{310,239},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_42x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{42,64}</string>
                <key>textureRect</key>
                <string>{{457,80},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_43x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{92,493},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_43x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,51}</string>
                <key>spriteSourceSize</key>
                <string>{43,51}</string>
                <key>textureRect</key>
                <string>{{457,212},{43,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_44x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{457,148},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_44x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,67}</string>
                <key>spriteSourceSize</key>
                <string>{44,67}</string>
                <key>textureRect</key>
                <string>{{92,422},{44,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_48x414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,414}</string>
                <key>spriteSourceSize</key>
                <string>{48,414}</string>
                <key>textureRect</key>
                <string>{{92,4},{48,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_49x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{371,763},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_58x534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,534}</string>
                <key>spriteSourceSize</key>
                <string>{58,534}</string>
                <key>textureRect</key>
                <string>{{4,4},{58,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_65x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,30}</string>
                <key>spriteSourceSize</key>
                <string>{65,30}</string>
                <key>textureRect</key>
                <string>{{110,759},{65,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_65x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,30}</string>
                <key>spriteSourceSize</key>
                <string>{65,30}</string>
                <key>textureRect</key>
                <string>{{371,729},{65,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_65x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,30}</string>
                <key>spriteSourceSize</key>
                <string>{65,30}</string>
                <key>textureRect</key>
                <string>{{440,729},{65,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_65x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{299,682},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_65x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{302,734},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_68x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{288,545},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_73x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{370,408},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_78x131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,131}</string>
                <key>spriteSourceSize</key>
                <string>{78,131}</string>
                <key>textureRect</key>
                <string>{{288,410},{78,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_78x262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,262}</string>
                <key>spriteSourceSize</key>
                <string>{78,262}</string>
                <key>textureRect</key>
                <string>{{375,4},{78,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_83x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{370,481},{83,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_83x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{288,624},{83,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_83x54_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{110,701},{83,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{197,701},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{370,539},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{360,577},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{375,615},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{375,653},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-body_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{368,691},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80037-onyx-body.png</string>
            <key>size</key>
            <string>{509,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a1f9514d6854c74f423badbdff54bab:4f36b34c2ab1541d963df6b7a39eccbd:7bdb7b3627d2e84b0f3d5cd42d93e192$</string>
            <key>textureFileName</key>
            <string>u80037-onyx-body.png</string>
        </dict>
    </dict>
</plist>
