<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u80037-onyx-bul_22x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{4,175},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-bul_39x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,72}</string>
                <key>spriteSourceSize</key>
                <string>{39,72}</string>
                <key>textureRect</key>
                <string>{{4,99},{39,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-bul_45x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{4,49},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u80037-onyx-bul_51x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{4,4},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u80037-onyx-bul.png</string>
            <key>size</key>
            <string>{59,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab4372e8e6f8ba47ea3fd373ccd261c:d5bd9ef701bab2c81fa64d152d3facbe:bfd7c7a9de6e43ee70c388980b295547$</string>
            <key>textureFileName</key>
            <string>u80037-onyx-bul.png</string>
        </dict>
    </dict>
</plist>
