<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1195u-moon-body_102x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,100}</string>
                <key>textureRect</key>
                <string>{{128,329},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_103x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,56}</string>
                <key>spriteSourceSize</key>
                <string>{103,56}</string>
                <key>textureRect</key>
                <string>{{4,421},{103,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_104x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,137}</string>
                <key>spriteSourceSize</key>
                <string>{104,137}</string>
                <key>textureRect</key>
                <string>{{128,188},{104,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_10x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,22}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{633,247},{10,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_110x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{491,163},{110,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_116x146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{116,146}</string>
                <key>textureRect</key>
                <string>{{649,4},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_120x229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,229}</string>
                <key>spriteSourceSize</key>
                <string>{120,229}</string>
                <key>textureRect</key>
                <string>{{4,188},{120,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_122x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{365,157},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_125x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{236,171},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_12x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,80}</string>
                <key>spriteSourceSize</key>
                <string>{12,80}</string>
                <key>textureRect</key>
                <string>{{633,163},{12,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_132x155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{513,4},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{769,136},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_14x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{835,136},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_153x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,149}</string>
                <key>textureRect</key>
                <string>{{356,4},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_164x163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,163}</string>
                <key>spriteSourceSize</key>
                <string>{164,163}</string>
                <key>textureRect</key>
                <string>{{188,4},{164,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{336,347},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_16x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{833,258},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_180x180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{4,4},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{822,450},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_22x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{824,206},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_24x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,112}</string>
                <key>spriteSourceSize</key>
                <string>{24,112}</string>
                <key>textureRect</key>
                <string>{{605,163},{24,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{774,368},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_24x22_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{802,368},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{806,394},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_26x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{700,421},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_26x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{822,422},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{677,456},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_28x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,78}</string>
                <key>spriteSourceSize</key>
                <string>{28,78}</string>
                <key>textureRect</key>
                <string>{{792,206},{28,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{666,422},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{508,421},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_32x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{694,395},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{786,435},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_32x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{793,330},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{755,293},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_34x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{730,395},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_34x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{748,435},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_34x36_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{768,395},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{626,425},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{708,449},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{542,417},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{793,288},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{694,353},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_36x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{734,353},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_40x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{697,329},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_40x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{545,457},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_40x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{589,457},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_40x24_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{633,457},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_40x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{582,425},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{600,387},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{600,347},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_42x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{42,64}</string>
                <key>textureRect</key>
                <string>{{599,279},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_42x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{789,136},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{449,457},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_44x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,22}</string>
                <key>textureRect</key>
                <string>{{497,457},{44,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{646,386},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_44x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{646,346},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{458,421},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_46x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{705,293},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{336,309},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_48x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{645,320},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{177,433},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_56x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{645,282},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_56x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,38}</string>
                <key>textureRect</key>
                <string>{{389,438},{56,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_62x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{323,438},{62,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_62x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{111,433},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{649,154},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_66x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{719,154},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{721,224},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{386,309},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{457,283},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{528,279},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{458,352},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_67x65_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{529,348},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_68x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{649,224},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_68x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{386,378},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{234,362},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{310,362},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_80x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{769,4},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_84x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{84,22}</string>
                <key>textureRect</key>
                <string>{{365,283},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_88x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{231,438},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_8x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,14}</string>
                <key>spriteSourceSize</key>
                <string>{8,14}</string>
                <key>textureRect</key>
                <string>{{835,158},{8,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_96x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,58}</string>
                <key>spriteSourceSize</key>
                <string>{96,58}</string>
                <key>textureRect</key>
                <string>{{236,300},{96,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{806,422},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1195u-moon-body.png</string>
            <key>size</key>
            <string>{853,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df83aedb8bbf1f1b51a923e0357b184:c6634d435a6616bc8eff49a186520a99:29ce1e9684896a675b0d8cfb7fc975df$</string>
            <key>textureFileName</key>
            <string>u1195u-moon-body.png</string>
        </dict>
    </dict>
</plist>
