<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1195u-moon-bul2_102x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,100}</string>
                <key>textureRect</key>
                <string>{{151,258},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_106x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,98}</string>
                <key>textureRect</key>
                <string>{{151,362},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_143x149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,149}</string>
                <key>spriteSourceSize</key>
                <string>{143,149}</string>
                <key>textureRect</key>
                <string>{{4,258},{143,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_218x250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,250}</string>
                <key>spriteSourceSize</key>
                <string>{218,250}</string>
                <key>textureRect</key>
                <string>{{4,4},{218,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{74,411},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_62x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{130,464},{62,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1195u-moon-bul2_66x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{4,411},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1195u-moon-bul2.png</string>
            <key>size</key>
            <string>{261,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:698247ea87db35ec8429f68270d0fa6f:4185aac5fecb4319b3ebd5792a91eed5:e71b6dfba78e79a049bc2ff7e6c8db2c$</string>
            <key>textureFileName</key>
            <string>u1195u-moon-bul2.png</string>
        </dict>
    </dict>
</plist>
