<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u25-vlad-body_18x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{461, 184}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_18x18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{461, 164}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_26x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{26, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{447, 254}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_26x34_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{26, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{461, 128}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_72x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 21}</string>
			<key>spriteSourceSize</key>
			<string>{72, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 264}, {72, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_74x59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 59}</string>
			<key>spriteSourceSize</key>
			<string>{74, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 254}, {74, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_75x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 74}</string>
			<key>spriteSourceSize</key>
			<string>{75, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 132}, {75, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_75x74_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 74}</string>
			<key>spriteSourceSize</key>
			<string>{75, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 208}, {75, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_77x126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 126}</string>
			<key>spriteSourceSize</key>
			<string>{77, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{392, 0}, {77, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_88x120.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 120}</string>
			<key>spriteSourceSize</key>
			<string>{88, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 132}, {88, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 132}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {88, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 0}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {84, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 0}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {76, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 132}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {72, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {78, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 132}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u25-vlad-body_96x130_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {68, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{96, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 0}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>u25-vlad-body</string>
		<key>textureFileName</key>
		<string>u25-vlad-body.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>