<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1212h-brown-body_102x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,96}</string>
                <key>textureRect</key>
                <string>{{268,356},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_102x96_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,96}</string>
                <key>textureRect</key>
                <string>{{374,356},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_104x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{344,136},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_104x106_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{316,246},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_104x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{104,112}</string>
                <key>textureRect</key>
                <string>{{160,348},{104,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_110x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{202,244},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_112x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{228,132},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_128x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{378,4},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_132x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{4,470},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_134x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,126}</string>
                <key>spriteSourceSize</key>
                <string>{134,126}</string>
                <key>textureRect</key>
                <string>{{4,602},{134,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_146x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{228,4},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_152x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,118}</string>
                <key>spriteSourceSize</key>
                <string>{152,118}</string>
                <key>textureRect</key>
                <string>{{4,348},{152,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_16x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,2}</string>
                <key>spriteSourceSize</key>
                <string>{16,2}</string>
                <key>textureRect</key>
                <string>{{160,464},{16,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{202,228},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_16x8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{202,228},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{372,737},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{480,414},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{489,438},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{489,462},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{489,486},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x20_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{489,510},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_18x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{480,386},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_194x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,116}</string>
                <key>spriteSourceSize</key>
                <string>{194,116}</string>
                <key>textureRect</key>
                <string>{{4,228},{194,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_20x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{297,717},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_20x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{297,691},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_220x220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{4,4},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_24x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{218,768},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{426,747},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_24x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{426,747},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_24x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{456,456},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{480,356},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_28x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{394,747},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{186,730},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_28x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{122,732},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_28x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,50}</string>
                <key>textureRect</key>
                <string>{{154,730},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_29x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{456,502},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_32x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{320,761},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{216,554},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{229,510},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_34x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{229,464},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_36x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{4,732},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{278,732},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_40x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,23}</string>
                <key>textureRect</key>
                <string>{{452,217},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{452,171},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_44x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{463,701},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{463,659},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_48x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{320,737},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_52x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{455,739},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_54x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{452,136},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_56x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,18}</string>
                <key>spriteSourceSize</key>
                <string>{56,18}</string>
                <key>textureRect</key>
                <string>{{395,725},{56,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_56x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,32}</string>
                <key>textureRect</key>
                <string>{{218,732},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_62x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{445,534},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_64x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{424,324},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_64x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{395,661},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_70x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{321,661},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_71x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{222,691},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_72x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{140,550},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_74x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,46}</string>
                <key>spriteSourceSize</key>
                <string>{74,46}</string>
                <key>textureRect</key>
                <string>{{44,732},{74,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_76x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{76,50}</string>
                <key>textureRect</key>
                <string>{{142,676},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{424,246},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_82x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{232,663},{82,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_82x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,53}</string>
                <key>spriteSourceSize</key>
                <string>{82,53}</string>
                <key>textureRect</key>
                <string>{{409,602},{82,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_84x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,55}</string>
                <key>spriteSourceSize</key>
                <string>{84,55}</string>
                <key>textureRect</key>
                <string>{{321,602},{84,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_85x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,57}</string>
                <key>spriteSourceSize</key>
                <string>{85,57}</string>
                <key>textureRect</key>
                <string>{{267,534},{85,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_85x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{85,64}</string>
                <key>textureRect</key>
                <string>{{356,534},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_85x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{85,64}</string>
                <key>textureRect</key>
                <string>{{232,595},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_85x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{85,76}</string>
                <key>textureRect</key>
                <string>{{140,470},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_86x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{142,596},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_90x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,74}</string>
                <key>textureRect</key>
                <string>{{268,456},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1212h-brown-body_90x74_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,74}</string>
                <key>textureRect</key>
                <string>{{362,456},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1212h-brown-body.png</string>
            <key>size</key>
            <string>{511,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad8fe9e0cafd3d04b7dd5a8c040cc293:f3c3006ce97406933afc3e529767dc6c:3fcf6ebce42fbca53816e356eb78b39e$</string>
            <key>textureFileName</key>
            <string>u1212h-brown-body.png</string>
        </dict>
    </dict>
</plist>
