<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1162e-sally-body_100x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,26}</string>
                <key>textureRect</key>
                <string>{{4,4},{100,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{193,90},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_10x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,40}</string>
                <key>spriteSourceSize</key>
                <string>{10,40}</string>
                <key>textureRect</key>
                <string>{{142,30},{10,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_12x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{60,76},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{204,72},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_16x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{184,72},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_22x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{154,90},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{200,4},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{156,72},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{108,30},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_30x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{166,4},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_30x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{156,38},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_30x30_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{120,74},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_30x30_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{190,38},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_36x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{80,76},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{60,34},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_52x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{4,34},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_54x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{108,4},{54,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_72x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,20}</string>
                <key>spriteSourceSize</key>
                <string>{72,20}</string>
                <key>textureRect</key>
                <string>{{4,86},{72,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_9x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,16}</string>
                <key>textureRect</key>
                <string>{{180,90},{9,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1162e-sally-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{207,87},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1162e-sally-body.png</string>
            <key>size</key>
            <string>{226,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da3404ae93bc2a88b036f18c3950c18:8e8322ee8d01c5a03f6d77808f9df76f:da97d328f1537dce481b9801f45441e8$</string>
            <key>textureFileName</key>
            <string>u1162e-sally-body.png</string>
        </dict>
    </dict>
</plist>
