<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3005e-cony-bul_108x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{108,50}</string>
                <key>textureRect</key>
                <string>{{4,4},{108,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3005e-cony-bul_40x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{116,4},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3005e-cony-bul.png</string>
            <key>size</key>
            <string>{160,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd28896473fb907fdf0f37d7dbdace2:60c5ec93257d5e25877e558e12308274:e3ae940838c8d3202491a4b57ce4a8c8$</string>
            <key>textureFileName</key>
            <string>u3005e-cony-bul.png</string>
        </dict>
    </dict>
</plist>
