<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1328h-moon-bul_11x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{251,38},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_11x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{253,2},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_14x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{237,38},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_19x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,13}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{233,23},{19,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_20x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{233,2},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_213x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{195,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{195,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{199,2},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1328h-moon-bul_36x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,17}</string>
                <key>spriteSourceSize</key>
                <string>{36,17}</string>
                <key>textureRect</key>
                <string>{{199,38},{36,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1328h-moon-bul.png</string>
            <key>size</key>
            <string>{266,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08905d86b53ed99bf277108824496d13:331082e6e83cf457faccc9b97d89445a:b6b2e25f1cb471ac383fde0e3cfb1469$</string>
            <key>textureFileName</key>
            <string>u1328h-moon-bul.png</string>
        </dict>
    </dict>
</plist>
