<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91098-julian-bul_46x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{4,4},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91098-julian-bul.png</string>
            <key>size</key>
            <string>{54,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e99ee604c084d8856ed462f5ba24bf0:70498b8f2e635b2f8d1e2d760613972b:1939da7becc8f94af7d56e4a5e9faa30$</string>
            <key>textureFileName</key>
            <string>u91098-julian-bul.png</string>
        </dict>
    </dict>
</plist>
