<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91102-yako-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{135,510},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{157,513},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{48,448},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_40x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{4,448},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_43x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,86}</string>
                <key>spriteSourceSize</key>
                <string>{43,86}</string>
                <key>textureRect</key>
                <string>{{207,425},{43,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_44x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,84}</string>
                <key>textureRect</key>
                <string>{{159,425},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_44x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,86}</string>
                <key>textureRect</key>
                <string>{{202,69},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_47x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,61}</string>
                <key>spriteSourceSize</key>
                <string>{47,61}</string>
                <key>textureRect</key>
                <string>{{202,4},{47,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_53x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{78,510},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_60x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{184,187},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_65x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,24}</string>
                <key>spriteSourceSize</key>
                <string>{65,24}</string>
                <key>textureRect</key>
                <string>{{184,159},{65,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_70x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{4,510},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_72x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{180,257},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_72x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{83,422},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{164,345},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_75x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{4,389},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_76x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{4,300},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_76x85_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{84,333},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_84x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{92,244},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_84x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{4,201},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_85x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{95,145},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_87x89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,89}</string>
                <key>spriteSourceSize</key>
                <string>{87,89}</string>
                <key>textureRect</key>
                <string>{{4,108},{87,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_94x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{94,64}</string>
                <key>textureRect</key>
                <string>{{103,77},{94,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_95x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{4,4},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91102-yako-body_95x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,69}</string>
                <key>textureRect</key>
                <string>{{103,4},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91102-yako-body.png</string>
            <key>size</key>
            <string>{256,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f716066c4ecade8c1ee4c741e3e1f11:ddfc3e2cb4da0bd97fc4e1b25eb95411:d5105044b06946d4d54f991985f99d39$</string>
            <key>textureFileName</key>
            <string>u91102-yako-body.png</string>
        </dict>
    </dict>
</plist>
