<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1074u-cony-bul3_10x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{209,189},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_139x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,96}</string>
                <key>spriteSourceSize</key>
                <string>{139,96}</string>
                <key>textureRect</key>
                <string>{{4,150},{139,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_142x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{4,4},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{327,4},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{304,98},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{304,128},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{304,158},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_46x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{299,188},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_58x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{147,189},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_61x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{234,179},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_66x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{234,101},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_76x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{247,4},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_80x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{150,101},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_80x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{150,145},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_8x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{209,219},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1074u-cony-bul3_93x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{150,4},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1074u-cony-bul3.png</string>
            <key>size</key>
            <string>{349,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3423a3bb5917ef11cf17bdfbae9a83a:54f68a92ad1c0190fb66b470b4352a6c:5504975602897316669b78d740cef3ae$</string>
            <key>textureFileName</key>
            <string>u1074u-cony-bul3.png</string>
        </dict>
    </dict>
</plist>
