<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u388h-moon-bul_124x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,34}</string>
                <key>spriteSourceSize</key>
                <string>{124,34}</string>
                <key>textureRect</key>
                <string>{{4,80},{124,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_134x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,34}</string>
                <key>spriteSourceSize</key>
                <string>{134,34}</string>
                <key>textureRect</key>
                <string>{{4,42},{134,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_154x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,34}</string>
                <key>spriteSourceSize</key>
                <string>{154,34}</string>
                <key>textureRect</key>
                <string>{{4,4},{154,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_52x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{162,312},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{162,4},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{142,48},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{132,92},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,118},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{83,136},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,162},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{162,136},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{83,180},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,206},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{162,180},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{83,224},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,250},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{162,224},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{83,268},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,294},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{162,268},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{83,312},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u388h-moon-bul_75x40_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{4,338},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u388h-moon-bul.png</string>
            <key>size</key>
            <string>{241,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8037d5f836a85798ffb3ab0abc7cc916:d2213ea6edb4f8f16259e1f7a9a7a2c1:d5ff9b4ed8d34e2a73f95e16ca4aac73$</string>
            <key>textureFileName</key>
            <string>u388h-moon-bul.png</string>
        </dict>
    </dict>
</plist>
