<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1045u-kuuga-bul_113x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,140}</string>
                <key>spriteSourceSize</key>
                <string>{113,140}</string>
                <key>textureRect</key>
                <string>{{442,2},{113,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{679,2},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_116x184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,184}</string>
                <key>spriteSourceSize</key>
                <string>{116,184}</string>
                <key>textureRect</key>
                <string>{{2,2},{116,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_118x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{570,122},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_120x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{557,2},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_135x166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,166}</string>
                <key>spriteSourceSize</key>
                <string>{135,166}</string>
                <key>textureRect</key>
                <string>{{305,2},{135,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{120,2},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_250x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,60}</string>
                <key>spriteSourceSize</key>
                <string>{250,60}</string>
                <key>textureRect</key>
                <string>{{2,188},{250,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{398,218},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{784,206},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_28x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{837,76},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_32x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{254,186},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_34x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{326,170},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{814,206},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_36x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{288,186},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_38x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{797,76},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_38x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{362,170},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_42x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{797,48},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_46x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{428,216},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_48x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{402,170},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_48x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{797,2},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_70x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,26}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{326,222},{70,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_82x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{784,122},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_92x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{476,144},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1045u-kuuga-bul_92x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{690,120},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1045u-kuuga-bul.png</string>
            <key>size</key>
            <string>{868,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d68a27b3f7163f69b1c11290f5df8d:da02de92a4d9fea58baa93fa0b994688:f80529302c4be4075033c981b5bad43c$</string>
            <key>textureFileName</key>
            <string>u1045u-kuuga-bul.png</string>
        </dict>
    </dict>
</plist>
