<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1076e-joe-bul_136x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,95}</string>
                <key>spriteSourceSize</key>
                <string>{136,95}</string>
                <key>textureRect</key>
                <string>{{4,45},{136,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1076e-joe-bul_169x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,37}</string>
                <key>spriteSourceSize</key>
                <string>{169,37}</string>
                <key>textureRect</key>
                <string>{{4,4},{169,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1076e-joe-bul.png</string>
            <key>size</key>
            <string>{177,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f5f2a23543dc8e109b53baf6adb7f9:69af7801fa7e8c417f3866fb176127e0:f5619ca8962e086e1b936596e9946fb5$</string>
            <key>textureFileName</key>
            <string>u1076e-joe-bul.png</string>
        </dict>
    </dict>
</plist>
