<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1004h-sally-bul_122x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{4,403},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_122x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{134,353},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_122x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{264,262},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_126x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{4,147},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_126x124_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{134,225},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_126x124_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{4,275},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_126x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,125}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{280,133},{126,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_127x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{283,4},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_127x125_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{149,96},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_130x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{149,4},{130,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_141x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,139}</string>
                <key>spriteSourceSize</key>
                <string>{141,139}</string>
                <key>textureRect</key>
                <string>{{4,4},{141,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{260,469},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_45x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,95}</string>
                <key>spriteSourceSize</key>
                <string>{45,95}</string>
                <key>textureRect</key>
                <string>{{338,391},{45,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{260,391},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_84x246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,246}</string>
                <key>spriteSourceSize</key>
                <string>{84,246}</string>
                <key>textureRect</key>
                <string>{{414,4},{84,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_97x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{410,254},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1004h-sally-bul_99x99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{390,351},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1004h-sally-bul.png</string>
            <key>size</key>
            <string>{511,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f3fe17d880806691a2902419aa8c88:7f61a09c39406a12aa59354c2ce3e5b9:9741588bf57884e0ce05845cc8218857$</string>
            <key>textureFileName</key>
            <string>u1004h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
