<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u40009-moon-bul_64x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,24}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u40009-moon-bul.png</string>
            <key>size</key>
            <string>{68,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:421990cf1af14ec741d90aee421684c8:482acb73b2d78980a02f6ad483627a31:6710b551f13ed5d836e9711ae8c19c94$</string>
            <key>textureFileName</key>
            <string>u40009-moon-bul.png</string>
        </dict>
    </dict>
</plist>
