<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u54-styne-body_105x87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 87}</string>
			<key>spriteSourceSize</key>
			<string>{105, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 96}, {105, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_105x94.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 94}</string>
			<key>spriteSourceSize</key>
			<string>{105, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {105, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_16x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {12, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 11}</string>
			<key>spriteSourceSize</key>
			<string>{16, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 0}, {16, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_20x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {18, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 11}</string>
			<key>spriteSourceSize</key>
			<string>{20, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 170}, {20, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_22x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 20}</string>
			<key>spriteSourceSize</key>
			<string>{22, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 148}, {22, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_24x5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 5}</string>
			<key>spriteSourceSize</key>
			<string>{24, 5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 247}, {24, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_26x21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 21}</string>
			<key>spriteSourceSize</key>
			<string>{26, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 230}, {26, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_27x15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {25, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 15}</string>
			<key>spriteSourceSize</key>
			<string>{27, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 131}, {27, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_27x20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 20}</string>
			<key>spriteSourceSize</key>
			<string>{27, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 109}, {27, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_27x24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {25, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 24}</string>
			<key>spriteSourceSize</key>
			<string>{27, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 230}, {27, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_31x17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 17}</string>
			<key>spriteSourceSize</key>
			<string>{31, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 87}, {31, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_31x18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 18}</string>
			<key>spriteSourceSize</key>
			<string>{31, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 0}, {31, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_33x11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 11}</string>
			<key>spriteSourceSize</key>
			<string>{33, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{204, 66}, {33, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_33x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {33, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 12}</string>
			<key>spriteSourceSize</key>
			<string>{33, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 87}, {33, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_36x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {36, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 49}</string>
			<key>spriteSourceSize</key>
			<string>{36, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 183}, {36, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_37x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 60}</string>
			<key>spriteSourceSize</key>
			<string>{37, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 185}, {37, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_38x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{38, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 163}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_39x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 44}</string>
			<key>spriteSourceSize</key>
			<string>{39, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{204, 20}, {39, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_39x72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 72}</string>
			<key>spriteSourceSize</key>
			<string>{39, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 109}, {39, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_43x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {41, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 55}</string>
			<key>spriteSourceSize</key>
			<string>{43, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 106}, {43, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_44x55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {42, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 55}</string>
			<key>spriteSourceSize</key>
			<string>{44, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 30}, {44, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_49x77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 77}</string>
			<key>spriteSourceSize</key>
			<string>{49, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 30}, {49, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_67x43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 43}</string>
			<key>spriteSourceSize</key>
			<string>{67, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 185}, {67, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_89x28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {87, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 28}</string>
			<key>spriteSourceSize</key>
			<string>{89, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 0}, {89, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u54-styne-body_9x9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 230}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>hd-u54-styne</string>
		<key>textureFileName</key>
		<string>u54-styne-body.16.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>