<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1310u-st-bul_128x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{4,4},{126,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_14x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{608,232},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{192,156},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{610,212},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{304,224},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{588,204},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_20x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{586,230},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_20x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{192,176},{18,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_22x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{562,218},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_22x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,50}</string>
                <key>textureRect</key>
                <string>{{512,170},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{486,178},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_24x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{562,164},{22,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_24x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,56}</string>
                <key>textureRect</key>
                <string>{{536,164},{22,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_24x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,62}</string>
                <key>spriteSourceSize</key>
                <string>{24,64}</string>
                <key>textureRect</key>
                <string>{{166,156},{22,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{502,132},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{664,160},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{530,222},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{588,164},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{498,222},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_30x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,62}</string>
                <key>textureRect</key>
                <string>{{670,4},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_32x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{670,66},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{530,110},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{426,214},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_34x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{462,214},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_34x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{214,206},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_42x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{620,160},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_42x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{618,186},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{328,152},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_44x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{324,200},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{166,222},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_48x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,110}</string>
                <key>spriteSourceSize</key>
                <string>{48,112}</string>
                <key>textureRect</key>
                <string>{{620,4},{46,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_52x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{214,150},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{54,110}</string>
                <key>textureRect</key>
                <string>{{66,58},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{54,122}</string>
                <key>textureRect</key>
                <string>{{564,4},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{250,224},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{564,128},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{374,176},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{268,188},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{430,178},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{370,212},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_54x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{446,132},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_58x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,102}</string>
                <key>spriteSourceSize</key>
                <string>{58,106}</string>
                <key>textureRect</key>
                <string>{{504,4},{56,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_58x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{268,152},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_60x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,104}</string>
                <key>textureRect</key>
                <string>{{442,4},{58,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_60x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,116}</string>
                <key>spriteSourceSize</key>
                <string>{60,118}</string>
                <key>textureRect</key>
                <string>{{4,58},{58,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_64x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{376,100},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_68x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{376,138},{66,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_70x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{370,4},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{122,82},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{92,170},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_72x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{72,92}</string>
                <key>textureRect</key>
                <string>{{222,4},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_72x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{296,4},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_74x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{620,118},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_86x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,18}</string>
                <key>spriteSourceSize</key>
                <string>{86,20}</string>
                <key>textureRect</key>
                <string>{{442,110},{84,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_86x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{4,178},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_86x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{134,4},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_88x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,50}</string>
                <key>textureRect</key>
                <string>{{196,98},{86,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1310u-st-bul_88x50_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,50}</string>
                <key>textureRect</key>
                <string>{{286,100},{86,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1310u-st-bul.png</string>
            <key>size</key>
            <string>{704,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f93bf294327645e05807d8b52b7e40:64e5e7acd40a6a76378463d017e703b9:9b46f07956ead4721db80c51cf37aeb3$</string>
            <key>textureFileName</key>
            <string>u1310u-st-bul.png</string>
        </dict>
    </dict>
</plist>
