<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1254h-sally-bul3_109x218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,218}</string>
                <key>spriteSourceSize</key>
                <string>{109,218}</string>
                <key>textureRect</key>
                <string>{{68,290},{109,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_130x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{272,4},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_146x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,70}</string>
                <key>spriteSourceSize</key>
                <string>{146,70}</string>
                <key>textureRect</key>
                <string>{{181,380},{146,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_14x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,72}</string>
                <key>spriteSourceSize</key>
                <string>{14,72}</string>
                <key>textureRect</key>
                <string>{{398,305},{14,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_197x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,86}</string>
                <key>spriteSourceSize</key>
                <string>{197,86}</string>
                <key>textureRect</key>
                <string>{{181,290},{197,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_199x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,139}</string>
                <key>spriteSourceSize</key>
                <string>{199,139}</string>
                <key>textureRect</key>
                <string>{{68,147},{199,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_200x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,139}</string>
                <key>spriteSourceSize</key>
                <string>{200,139}</string>
                <key>textureRect</key>
                <string>{{68,4},{200,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_24x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,63}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{382,238},{24,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_32x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,69}</string>
                <key>spriteSourceSize</key>
                <string>{32,69}</string>
                <key>textureRect</key>
                <string>{{370,68},{32,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_40x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,112}</string>
                <key>spriteSourceSize</key>
                <string>{40,112}</string>
                <key>textureRect</key>
                <string>{{271,147},{40,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{279,454},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_48x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,98}</string>
                <key>spriteSourceSize</key>
                <string>{48,98}</string>
                <key>textureRect</key>
                <string>{{4,409},{48,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_60x401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,401}</string>
                <key>spriteSourceSize</key>
                <string>{60,401}</string>
                <key>textureRect</key>
                <string>{{4,4},{60,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_63x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,106}</string>
                <key>spriteSourceSize</key>
                <string>{63,106}</string>
                <key>textureRect</key>
                <string>{{331,380},{63,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_94x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{315,200},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_94x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{181,454},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_94x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,68}</string>
                <key>textureRect</key>
                <string>{{272,68},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-bul3_96x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,55}</string>
                <key>spriteSourceSize</key>
                <string>{96,55}</string>
                <key>textureRect</key>
                <string>{{315,141},{96,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1254h-sally-bul3.png</string>
            <key>size</key>
            <string>{416,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d42cceb8184a049bf99bd049f5ce1ad4:a52d286c15bf44e3ddeb36abdaddeab4:6fb4bb61da9fadadfa4053ecc34545d9$</string>
            <key>textureFileName</key>
            <string>u1254h-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
