<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1254h-sally-body_100x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{292,189},{100,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_115x113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,113}</string>
                <key>spriteSourceSize</key>
                <string>{115,113}</string>
                <key>textureRect</key>
                <string>{{4,290},{115,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_120x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{4,407},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_126x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{292,4},{126,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_126x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{292,4},{126,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{464,404},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_12x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{448,397},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{484,384},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_14x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{444,240},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{488,86},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{464,384},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_16x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{488,38},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_16x20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{488,62},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_16x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{488,4},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_18x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{414,429},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_18x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{426,397},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{432,268},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_22x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{22,10}</string>
                <key>textureRect</key>
                <string>{{200,440},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_22x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{436,427},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{388,431},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_22x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{226,387},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{352,343},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{440,333},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_24x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{360,431},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_24x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{358,365},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_26x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{170,440},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_284x282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,282}</string>
                <key>spriteSourceSize</key>
                <string>{284,282}</string>
                <key>textureRect</key>
                <string>{{4,4},{284,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{360,399},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_30x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{392,397},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_31x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{31,93}</string>
                <key>textureRect</key>
                <string>{{221,290},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{462,252},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{386,364},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{423,364},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{433,300},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{470,285},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{470,318},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_33x29_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{468,351},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{354,305},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{392,304},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{128,440},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{226,419},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{462,218},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_40x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{268,419},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_40x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{388,268},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{462,174},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_44x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{396,240},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_44x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{392,336},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_44x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{312,417},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_44x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{310,365},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_46x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{458,146},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{458,108},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{256,365},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_62x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{422,4},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_62x62_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{392,108},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_62x62_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{396,174},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_92x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,20}</string>
                <key>textureRect</key>
                <string>{{256,341},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_92x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,54}</string>
                <key>textureRect</key>
                <string>{{292,247},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{256,305},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{128,402},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{390,70},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{123,362},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,68}</string>
                <key>textureRect</key>
                <string>{{123,290},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_94x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,68}</string>
                <key>textureRect</key>
                <string>{{292,54},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1254h-sally-body_96x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{96,59}</string>
                <key>textureRect</key>
                <string>{{292,126},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1254h-sally-body.png</string>
            <key>size</key>
            <string>{508,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb12ed905d50f7c3f7dd0f1b6f896e9:42be385ba2f0cff9598636d6f33eadf9:94d549fd262f837a3a6ec72e0e5e9cbc$</string>
            <key>textureFileName</key>
            <string>u1254h-sally-body.png</string>
        </dict>
    </dict>
</plist>
