<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91053-guru-bul_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{4,111},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91053-guru-bul_102x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{4,217},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91053-guru-bul_106x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{106,103}</string>
                <key>textureRect</key>
                <string>{{4,4},{106,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91053-guru-bul_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{48,315},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91053-guru-bul_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{4,315},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91053-guru-bul_80x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,34}</string>
                <key>textureRect</key>
                <string>{{4,355},{80,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91053-guru-bul.png</string>
            <key>size</key>
            <string>{114,393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3fb26685ef2cbdcf09d73e40cc34a2:7cf82a73ed915ccdabb68ae01d52b162:25a4194078185ee20eca60f8fd329b61$</string>
            <key>textureFileName</key>
            <string>u91053-guru-bul.png</string>
        </dict>
    </dict>
</plist>
