<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1110u-cony-bul_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{104,2},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_16x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{96,48},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_16x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,46}</string>
                <key>spriteSourceSize</key>
                <string>{16,46}</string>
                <key>textureRect</key>
                <string>{{78,48},{16,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{96,80},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{52,70},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{78,2},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_48x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{2,70},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_74x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,32}</string>
                <key>spriteSourceSize</key>
                <string>{74,32}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1110u-cony-bul_74x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,32}</string>
                <key>spriteSourceSize</key>
                <string>{74,32}</string>
                <key>textureRect</key>
                <string>{{2,36},{74,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1110u-cony-bul.png</string>
            <key>size</key>
            <string>{118,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78df6aae7abb453f93245218eaf70e43:025d66bcf6df3fee80d6da4b9586d10b:666fc83b2037d3d29bb5ebc72e5cd453$</string>
            <key>textureFileName</key>
            <string>u1110u-cony-bul.png</string>
        </dict>
    </dict>
</plist>
