<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1098u-moon-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{662,260},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_10x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{224,480},{10,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{272,218},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x14_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{596,494},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x14_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{610,494},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{717,166},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{722,316},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{682,440},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_12x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{446,486},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_183x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{532,2},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_204x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{272,152},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_232x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,32}</string>
                <key>spriteSourceSize</key>
                <string>{232,32}</string>
                <key>textureRect</key>
                <string>{{2,446},{232,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_258x148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,148}</string>
                <key>spriteSourceSize</key>
                <string>{258,148}</string>
                <key>textureRect</key>
                <string>{{272,2},{258,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_260x210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,210}</string>
                <key>spriteSourceSize</key>
                <string>{260,210}</string>
                <key>textureRect</key>
                <string>{{2,234},{260,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_268x230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,230}</string>
                <key>spriteSourceSize</key>
                <string>{268,230}</string>
                <key>textureRect</key>
                <string>{{2,2},{268,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{624,488},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{236,446},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{654,442},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{717,46},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{717,86},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{717,126},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{588,414},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{596,454},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x38_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{616,408},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{717,2},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{158,480},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_28x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{682,404},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_28x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{624,448},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{664,356},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{408,318},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{124,480},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{712,398},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{712,434},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{682,470},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{630,356},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{304,461},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{694,350},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{554,414},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{596,358},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_32x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{490,306},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_34x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{188,482},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{86,480},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_36x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{644,404},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{264,461},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{706,278},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{662,278},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_42x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{42,90}</string>
                <key>textureRect</key>
                <string>{{680,186},{42,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_44x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{628,316},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_44x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{550,464},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_46x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{674,316},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{580,316},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_46x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{46,84}</string>
                <key>textureRect</key>
                <string>{{338,370},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_48x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{440,308},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_48x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{424,218},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{498,464},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{446,434},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{438,380},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{544,360},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{394,448},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_50x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{386,370},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{490,360},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_52x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{478,152},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_54x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{524,312},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{498,414},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_54x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{338,456},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_56x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{350,318},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_56x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{474,226},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_60x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{600,260},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_66x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{532,260},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{532,186},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{606,186},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_72x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{264,361},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_72x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{350,218},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_82x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,28}</string>
                <key>spriteSourceSize</key>
                <string>{82,28}</string>
                <key>textureRect</key>
                <string>{{2,480},{82,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1098u-moon-body_84x125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,125}</string>
                <key>spriteSourceSize</key>
                <string>{84,125}</string>
                <key>textureRect</key>
                <string>{{264,234},{84,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1098u-moon-body.png</string>
            <key>size</key>
            <string>{746,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c5976d1e7054091b322213b735a8e3:0280a99d57d55343f354541fef06fae9:1b08d5b5da12869b8dffcb47e54bf4cf$</string>
            <key>textureFileName</key>
            <string>u1098u-moon-body.png</string>
        </dict>
    </dict>
</plist>
