<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1551u-lf-bul3_120x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{215,168},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_122x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,106}</string>
                <key>textureRect</key>
                <string>{{339,168},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{4,206},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_172x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,160}</string>
                <key>spriteSourceSize</key>
                <string>{172,160}</string>
                <key>textureRect</key>
                <string>{{204,4},{172,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_196x198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,198}</string>
                <key>spriteSourceSize</key>
                <string>{196,198}</string>
                <key>textureRect</key>
                <string>{{4,4},{196,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{149,206},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1551u-lf-bul3_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{380,4},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1551u-lf-bul3.png</string>
            <key>size</key>
            <string>{475,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd2dec7c0a391d1a94da5dfcf2cee4f:42d387514789593a505324da58cb23e0:57ded07afbe2aeafd72257ef86fd832b$</string>
            <key>textureFileName</key>
            <string>u1551u-lf-bul3.png</string>
        </dict>
    </dict>
</plist>
