<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1037h-zang-bul3_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1037h-zang-bul3.png</string>
            <key>size</key>
            <string>{104,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0777c5dd38880b8793dd1a28996475b3:f67eb6acf0a6ed591c120d2bd5e5e2b8:a6e597760336bde585aed2d51515699a$</string>
            <key>textureFileName</key>
            <string>u1037h-zang-bul3.png</string>
        </dict>
    </dict>
</plist>
