<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1070h-xelloss-bul3_118x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{28,288},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_126x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{28,158},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{184,4},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{28,4},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_20x418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,418}</string>
                <key>spriteSourceSize</key>
                <string>{20,418}</string>
                <key>textureRect</key>
                <string>{{4,4},{20,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{82,410},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{158,242},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{28,410},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_52x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{150,382},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1070h-xelloss-bul3_90x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{150,288},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1070h-xelloss-bul3.png</string>
            <key>size</key>
            <string>{244,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cb9352e1bd2fb6cbb8e9f74a22b5e8:88d0cae51ec53afcc30ec04c7f223bd3:7320df733f7a4ead61d5aa9c66631fcb$</string>
            <key>textureFileName</key>
            <string>u1070h-xelloss-bul3.png</string>
        </dict>
    </dict>
</plist>
