<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1453e-ka-bul_78x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{4,4},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1453e-ka-bul.png</string>
            <key>size</key>
            <string>{86,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f90143fff7b1f22f22ed92d57b110df5:8db172833f37aacf9234a3cec497ce66:be5e0ea7a4c4f1639ac087f8fd2a6f96$</string>
            <key>textureFileName</key>
            <string>u1453e-ka-bul.png</string>
        </dict>
    </dict>
</plist>
