<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u3017e-leonard-body_110x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{236,196},{108,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_110x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{236,4},{108,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_110x94_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,94}</string>
                <key>textureRect</key>
                <string>{{236,100},{108,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{574,224},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_14x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{656,182},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{556,164},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_18x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{674,154},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{328,226},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{672,184},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_20x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{624,158},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_20x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{634,192},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_20x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{656,214},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_228x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{228,232}</string>
                <key>spriteSourceSize</key>
                <string>{228,234}</string>
                <key>textureRect</key>
                <string>{{4,4},{228,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{270,226},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_24x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{572,164},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_24x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{598,158},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{642,116},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_24x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{668,116},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_26x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{606,192},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_26x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{606,220},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{644,154},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_32x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{294,226},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_32x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{236,226},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{572,198},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{394,146},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_38x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{394,82},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_40x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{556,122},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_40x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{528,180},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_42x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{598,120},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_42x96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{42,96}</string>
                <key>textureRect</key>
                <string>{{348,82},{42,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_44x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,22}</string>
                <key>textureRect</key>
                <string>{{528,224},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_52x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{348,182},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_56x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{470,182},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_56x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{498,122},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_62x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{568,64},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_63x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{568,4},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{430,128},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{635,4},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{635,60},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x54_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{430,72},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x54_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{402,182},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x54_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{500,66},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_66x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{500,4},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_70x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{426,4},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{348,4},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u3017e-leonard-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{588,224},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u3017e-leonard-body.png</string>
            <key>size</key>
            <string>{703,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a4eb7d9090b594446ed73bfb012e24:2cac095966659c8756900c88e3a7613f:7ce0393ba52eb39d6f6427f3564e1842$</string>
            <key>textureFileName</key>
            <string>u3017e-leonard-body.png</string>
        </dict>
    </dict>
</plist>
