<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1419e-moon-bul_85x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,47}</string>
                <key>textureRect</key>
                <string>{{4,4},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1419e-moon-bul.png</string>
            <key>size</key>
            <string>{93,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e755d9f2af16b1bc4ffa0cd63210d85:346f6e8adfa1f09185a8b47f4c73b680:86c01ede3cd09da5d6278d7dc3b8b12c$</string>
            <key>textureFileName</key>
            <string>u1419e-moon-bul.png</string>
        </dict>
    </dict>
</plist>
